<!-- Views -->
<div class="views">

<!-- Your main view, should have "view-main" class -->
<div class="view view-main">

    <!--<span ng-include src="'views/parts/global/header.html'"></span>-->

    <!-- Top Navbar-->
    <div class="navbar vpink-navbar-logo">
        <div class="navbar-inner">
            <div class="left"><a href="#" class="back link"> <img src="images/vpink.jpg"></a></div>
            <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
            <div class="center sliding"> </div>
            <div class="right"> </div>
        </div>
    </div>

    <!-- Sliders -->
    <div class="pages navbar-through toolbar-through">
        <div data-page="slider-nested" class="page vpink-page no-toolbar">
            <div class="page-content vpink-page-content">
                <div class="ks-slider-custom">

                    <!-- Slider horizontal -- Categoria 1 -->
                    <!--<div data-pagination=".slider-pagination-h" data-paginationHide="false" class="slider-container slider-init ks-demo-slider">-->
                    <div  data-paginationHide="false" class="slider-container slider-init ks-demo-slider">
                        <div class="slider-pagination slider-pagination-h catalog-slider"></div>

                        <div class="slider-wrapper">
                            <div class="slider-slide" ng-repeat="section in sections" ng-class="{selected: selectedSection == section}" ng-click="selectSection(section)">

                                <div class="navbar vpink-catalog-1">
                                    <div class="navbar-inner">
                                        <div class="left"><a href="#" class="back link"><i class="icon icon-back-white"></i></a></div>
                                        <div class="center sliding">{{section}}</div>
                                        <div class="right"><a href="#" class="forward link"><i class="icon icon-forward-white"></i></a></div>
                                    </div>
                                </div>


                                <!-- Slider vertical -- Categoria 2 -->
                                <!--<div data-pagination=".slider-pagination-v" data-direction="vertical" data-paginationHide="true" class="slider-container slider-init ks-demo-slider">-->
                                <div data-direction="vertical" data-paginationHide="true" class="slider-container slider-init ks-demo-slider">
                                    <div class="slider-pagination slider-pagination-v"></div>
                                    <div class="slider-wrapper">

                                        <div class="slider-slide">

                                            <div class="navbar vpink-catalog-2">
                                                <div class="navbar-inner">
                                                    <div class="center sliding">Botanical Effects</div>
                                                    <div class="right">
                                                        <a href="#" class="back link"><i class="icon icon-back-white down"></i></a>
                                                        <a href="#" class="forward link"><i class="icon icon-forward-white up"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Slider vertical -- Produto -->
                                            <!--<div data-pagination=".slider-pagination-v" data-direction="vertical" data-paginationHide="true" class="slider-container slider-init ks-demo-slider">-->
                                            <div data-direction="vertical" data-paginationHide="true" class="slider-container slider-init ks-demo-slider">
                                                <div class="slider-pagination slider-pagination-v"></div>
                                                <div class="slider-wrapper">

                                                    <div class="slider-slide">Produto 1

                                                        <div class="sidebar-menu-scroll">
                                                            <div class="sidebar-menu1">
                                                                <ul class="nav nav-list nav-list-black">
                                                                    <li class="menu-black" ng-repeat="section in sections" ng-class="{selected: selectedSection == section}" ng-click="selectSection(section)">
                                                                        <a class="hover-state-pointer">{{section}}</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="sidebar-menu">
                                                                <ul class="nav nav-list">
                                                                    <!--<li spy="{{'cat' + $index}}" ng-class="line.color" ng-repeat="line in lines">-->
                                                                    <li id="{{'cat' + $index}}" ng-class="line.color" ng-repeat="line in lines">
                                                                        <a class="hover-state-pointer">{{line.name}}</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="slider-slide">Produto 2</div>
                                                    <div class="slider-slide">Produto 3</div>
                                                </div>
                                            </div>


                                        </div>


                                        <div class="slider-slide">

                                            <div class="navbar vpink-catalog-2">
                                                <div class="navbar-inner">
                                                    <div class="left"><a href="#" class="back link"><i class="icon icon-back-white"></i></a></div>
                                                    <div class="center sliding">Sinais Moderados</div>
                                                    <div class="right"><a href="#" class="link next-catalog"></a></div>
                                                </div>
                                            </div>



                                            <div data-pagination=".slider-pagination-v" data-direction="vertical" data-paginationHide="true" class="slider-container slider-init ks-demo-slider">
                                                <div class="slider-pagination slider-pagination-v"></div>
                                                <div class="slider-wrapper">

                                                    <div class="slider-slide">Produto 1</div>
                                                    <div class="slider-slide">Produto 2</div>
                                                    <div class="slider-slide">Produto 3</div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>

                            </div>




                            <div class="slider-slide">

                                <div class="navbar vpink-catalog-1">
                                    <div class="navbar-inner">
                                        <div class="left"><a href="#" class="back link"><i class="icon icon-back-white"></i></a></div>
                                        <div class="center sliding">Cuidados com a Pele</div>
                                        <div class="right"><a href="#" class="forward link"><i class="icon icon-forward-white"></i></a></div>
                                    </div>
                                </div>


                                <!-- Slider vertical -- Categoria 2 -->
                                <div data-pagination=".slider-pagination-v" data-direction="vertical" data-paginationHide="true" class="slider-container slider-init ks-demo-slider">
                                    <div class="slider-pagination slider-pagination-v"></div>
                                    <div class="slider-wrapper">

                                        <div class="slider-slide">

                                            <div class="navbar vpink-catalog-2">
                                                <div class="navbar-inner">
                                                    <div class="center sliding">Sinais Moderados</div>
                                                    <div class="right">
                                                        <a href="#" class="back link"><i class="icon icon-back-white down"></i></a>
                                                        <a href="#" class="forward link"><i class="icon icon-forward-white up"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Slider vertical -- Produto -->
                                            <div data-pagination=".slider-pagination-v" data-direction="vertical" data-paginationHide="true" class="slider-container slider-init ks-demo-slider">
                                                <div class="slider-pagination slider-pagination-v"></div>
                                                <div class="slider-wrapper">

                                                    <div class="slider-slide">Produto 1</div>
                                                    <div class="slider-slide">Produto 2</div>
                                                    <div class="slider-slide">Produto 3</div>
                                                </div>
                                            </div>


                                        </div>


                                        <div class="slider-slide">

                                            <div class="navbar vpink-catalog-2">
                                                <div class="navbar-inner">
                                                    <div class="left"><a href="#" class="back link"><i class="icon icon-back-white"></i></a></div>
                                                    <div class="center sliding">Sinais Avançados</div>
                                                    <div class="right"><a href="#" class="link next-catalog"></a></div>
                                                </div>
                                            </div>



                                            <div data-pagination=".slider-pagination-v" data-direction="vertical" data-paginationHide="true" class="slider-container slider-init ks-demo-slider">
                                                <div class="slider-pagination slider-pagination-v"></div>
                                                <div class="slider-wrapper">

                                                    <div class="slider-slide">Produto 1</div>
                                                    <div class="slider-slide">Produto 2</div>
                                                    <div class="slider-slide">Produto 3</div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>

                            </div>


                            <!--<div class="slider-slide">-->
                            <!--<div data-pagination=".slider-pagination-v" data-direction="vertical" data-paginationHide="true" class="slider-container slider-init ks-demo-slider">-->
                            <!--<div class="slider-pagination slider-pagination-v"></div>-->
                            <!--<div class="slider-wrapper">-->
                            <!--<div class="slider-slide">Vertical Slide 1</div>-->
                            <!--<div class="slider-slide">Vertical Slide 2</div>-->
                            <!--<div class="slider-slide">Vertical Slide 3</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->

                            <div class="slider-slide">Maquiagem</div>
                            <div class="slider-slide">SPA e Fragrâncias</div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
</div>