<div class="navbar-mobile navbar navbar-inverse" ng-controller="HeaderCtrl">
	<div class="navbar-inner">

		<a class="brand" href="#"><img src="images/vpink.jpg" /></a>
		<nav id="topMenuHome">
            <ul class="nav">
              <li class="bag pull-right" ng-click='checkout(false)'><span>{{order.items | count: 'qty'}}</span></li>
              <li class="header-hour" ng-controller="DevelopmentHeaderCtrl" style="position: relative;">
                  <div>{{now.time}}</div><br />

                  <div class="header-date dropdown-toggle" data-toggle="dropdownmenu">{{now.date}}</div>
              </li>
		<li class="loading-icon-holder"><img class="loading-icon" src="images/loading-20-pink.gif" ng-click="updateCache()"/></li>

        <li>
            <a class="last-header hover-state-pointer" ng-click="logout()">Sair</a>
        </li>
        </nav>
    </li>
</ul>


</div>

</div>
