<!--<div class="left-payment">-->
    <div class="page-title">
        <!--<span class="new-col-2 text-center">Item</span>-->
        <!--<span class="new-col-10">Produto/C&oacute;digo</span>-->
        <!--<span class="new-col-3 currency">Vr Unit.</span>-->
        <span class="mob-col-60 text-left">Pedido de Venda</span>
        <span class="mob-col-40 text-right">Qtde/Total R$</span>
        <!--<span class="new-col-3 text-center">Qtde</span>-->
        <!--<span class="new-col-3 currency">Subtotal</span>-->
    <!--<span class="new-col-3 currency">-->
      <!--<button class="btn btn-small btn-ok btn-discount" ng-class="{'invisible' : total.discount == 0 }" type="button" ng-click="openOrderDiscountDialog()">Desc</button>-->
    <!--</span>-->
    </div>


    <div class="content-scroll new-scroll-area pedido-venda-scroll">
        <div class="new-body-row" ng-repeat="item in items | orderBy:'idx'" ng-click="addToBasket(item)">
            <span class="new-col-2 text-center" ng-show="item.idx <= 8">{{ '0' + (item.idx + 1)}}</span>
            <span class="new-col-2 text-center" ng-show="item.idx > 8">{{item.idx + 1}}</span>
            <span class="new-col-10">{{item.title}} &nbsp;<span class="code-product">{{item.uniqueName}}</span></span>
            <span class="new-col-3 currency">{{(item.price || item.amount) | currency: ''}}</span>
            <span class="new-col-3 text-center">{{item.qty}}</span>
            <span class="new-col-3 currency">{{item.qty*(item.price || item.amount || 0) | currency:''}}</span>
            <span class="new-col-3 currency" ng-class="{'invisible' : total.discount == 0 }">{{(item.itemDiscount || item.orderDiscount || 0) | currency:''}}</span>
        </div>
    </div>


    <div class="summary">
        <div class="mob-col-20 negrito padding-top-2">Total:</div>
        <!--<span class="new-col-3 currency">{{total.order.getAvgUnitPrice() | currency:''}}</span>-->
        <div class="mob-col-30">
            <span class="">Qtde: </span>
            <span class="quantity-value">{{total.order.unit}}</span>
        </div>
        <div class="mob-col-50 negrito text-right">
            <small>R$</small>
            <span class="total-value">
		        {{total.order.amount | currency:''}}
            </span>
        </div>
        <!--<span class="new-col-3 currency" ng-class="{'invisible' : total.discount == 0 }">{{total.discount | currency:''}}</span>-->
    </div>

    <div class="modal-foot effect7" fast-click>
        <button ng-click='cancel()' class="btn btn-cancel btn-large btn-login"  type="submit">Cancelar</button>
        <button ng-click="selectPaymentMethod('step2')" class="btn btn-ok btn-large btn-login pull-right" type="submit">Prosseguir</button>
    </div>