/* CUSTOM VPINK */

.div-master{
    height: 100%;
}

.container-mobile{
    font-family: Tahoma, Helvetica, Arial, 'Helvetica Neue', sans-serif;
}

.navbar-mobile{
    background-color: #fff;
    border: none;

    margin-top: 15px;
    margin-bottom: 15px;
}

.header-hour{
    text-align: right;
    font-size: large;
}

.navbar.vpink-navbar-logo{
    height: 61px;
    background: #ffffff;
    border-bottom: none;
}

.vpink-page{
    background-color: #ffffff;
}

.page-content.vpink-page-content{
    padding-top: 61px;
}

.toolbar.tabbar.vpink-tabbar-menu{

    border-top: none;
    background-color: #ffffff;
}

.toolbar.tabbar.vpink-tabbar-menu > .toolbar-inner{
    background-color: #AF3067;
    background-clip: content-box;

    padding: 0 10px;

    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
}

.vpink-bottom-menu{

    background-image: url("../images/bottom-menu.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 35%;
}

.list-block.vpink-list-block{
    margin: 15px 0;
}

.list-block.vpink-list-block ul{
    background: transparent;
    border: none;
}

.list-block .item-inner{
    border-bottom: 1px dashed #c8c7cc;
}

.list-block .item-content{
    padding-right: 15px;
    text-decoration: none;
}

.list-block .item-title{
    font-size: large;
}



.bag:hover {
    cursor: pointer
}
.bag {
    background: url(../../images/vpurse.gif) no-repeat;
    display: inline-block;
    width: 58px;
    text-align: center;
    padding: 38px 0px 0 0px;
    -webkit-tap-highlight-color: transparent;
    font-size: 15px;
    position: relative;
    vertical-align: text-bottom;
}
.bag span{
    padding: 0 2px;
    border: 1px solid #999;
    border-radius: 4px;
    min-width: 20px;
    max-width: 20px;
    background-color: #fff;
    font-size: 12px;
    margin-left: 36px;
    text-align: center;
    display: block;
    margin-top: 5px;
    height: 18px;
    line-height: 18px;
}

.hover-state-pointer:hover {
    cursor: pointer
}


/* TAB BAR ICONS */
i.icon-1 {
    width: 30px;
    height: 30px;
    background-image: url("../images/settings.png");
}
i.icon-2 {
    width: 25px;
    height: 30px;
    background-image: url("../images/info.png");
}

i.icon-3 {
    width: 30px;
    height: 30px;
    background-image: url("../images/chat.png");
}

i.icon-4 {
    width: 25px;
    height: 30px;
    background-image: url("../images/media.png");
}


/* Catalog sliders config */
.vpink-catalog-1{
    height: 44px;
    background: #2B2B2B;
    color: #fff;
    font-size: large;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.vpink-catalog-2{
    height: 44px;
    background: #7BA752;
    color: #fff;
    font-size: large;


    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.icon-back-white.down{
    transform:rotate(270deg);
    -ms-transform:rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -webkit-transform:rotate(270deg);
}

.icon-forward-white{
    width: 12px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 20'><path d='M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z' fill='%23fff'/></svg>");

    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform:rotate(360deg);
    -webkit-transform:rotate(180deg);
}
.icon-forward-white.up{
    transform:rotate(92deg);
    -ms-transform:rotate(92deg);
    -moz-transform: rotate(92deg);
    -o-transform: rotate(92deg);
    -webkit-transform:rotate(92deg);
}


.vpink-catalog-2 .navbar-inner .right{
    margin-right: 13px;
}

.vpink-catalog-2 .navbar-inner .right a{
    float: left;
    position: absolute;
    margin-left: auto;
    height: auto;
}

.vpink-catalog-2 .navbar-inner .right .back{
    top: 0;
}

.vpink-catalog-2 .navbar-inner .right .forward{
    bottom: 0;
}

/*.next-catalog {*/
    /*padding-right: 35px;*/
    /*background: no-repeat -webkit-calc(100% - 5px) center;*/
    /*background: no-repeat -moz-calc(100% - 5px) center;*/
    /*background: no-repeat calc(100% - 5px) center;*/
    /*background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 60 120' xmlns='http://www.w3.org/2000/svg'><path d='m60 61.5-38.25 38.25-9.75-9.75 29.25-28.5-29.25-28.5 9.75-9.75z' fill='%23c7c7cc'/></svg>");*/
    /*background-size: 15px 30px;*/
/*}*/