<div class="catalog-block" ng-class="blockStyle">
    <div class="box">
        <div class="product-content">
            <div class="product-image">
                <img ng-src="images/catalog/products/{{product.image}}" alt="" />
            </div>
            <div class="product-title">{{product.title}}</div>
            <div class="product-text">{{product.description}}</div>
        </div>
        <div class="product-footer">
            <div class="product-divider">{{product.extra}}</div>
            <div class="product-bottom">
                <span class="product-currency">R$</span><span class="product-price"> {{product.price | currency:''}}</span><span ng-click='add(product)'
                    class="product-addbtn"></span>
            </div>
        </div>
    </div>
</div>