.form-add-email {
	padding: 40px 30px 30px 30px;
	border-radius: 0 0 6px 6px;
	box-shadow: 0px 10px 50px 10px #999;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 111px;
	margin-left: -215px;
	width:370px
}
