.modal-add-customer-tel{
	 position: absolute;
     top: 80px;
     left: 50%;
     z-index: 1050;
     margin-left: -205px;
     background-color: white;
     border: none;
     border-radius: 4px;
     box-shadow: -5px -5px 100px 10px #525151;
	width:410px;
}

.modal-add-customer-email{
	 position: absolute;
     top: 80px;
     left: 50%;
     z-index: 1050;
     margin-left: -205px;
     background-color: white;
     border: none;
     border-radius: 4px;
     box-shadow: -5px -5px 100px 10px #525151;
	width:410px;
}
.modal-add-customer-email form{
	margin-bottom: 0px;
}
.modal-add-customer-email .input-append {
	width:342px;
}


/*dialogs*/
.customer-tel-type {
	width: 150px;
}
.ic-sort-triangle:hover {
	cursor: pointer;
}
.row-data-dialog {
	border-bottom: 1px solid #ccc;
	display: inline-block;
	width: 100%
}
/*forms*/
.lbl-city, .lbl-complement {
	margin-left: 10px;
}
.lbl-tels {
	margin-left: -15px
}
.input-city, .input-complement {
	border: solid;
	margin: 0 10px 0 10px;
	width: 381px
}
.control-group {
	margin-bottom: 0
}
.form-container {
	border-radius: 6px;
	margin: -9px 10px 0 10px;
	border: 1px solid #e0e0e0;
	background: #fff;
	padding: 10px 15px 0 15px
}
/*inputs custom*/
.input-width-emails {
	width: 445px;
}
.input-width-tels {
	width: 295px;
	margin-left: -15px;
}
.input-width-tels input, .input-width-emails input {
	cursor: default !important;
}
.input-cep, .input-address-number {
	width: 70px
}
.select-width-01 {
	width: 60px
}
.select-width-02 {
	width: 84px
}

/*panel footer*/
.panel-footer-new-customer {
	height: 40px;
}

.panel-footer-new-customer .btn {

	text-shadow: none;
	border: none;
	margin-top: 7px;
}
.panel-footer-new-customer .btn:hover {
	background: #dc9390;
}
.panel-footer-new-customer .btn:first-child {
	float: left;
	margin-bottom: 15px
}
.panel-footer-new-customer .btn:last-child {
	float: right;
	margin-bottom: 15px
}


.marginl5{
	margin-left:5px;
}

.input-block-level {
	margin-bottom:10px;
}