/*AGENDA*/
.form-agenda{
	border-radius: 6px;
	margin: -9px 10px 0 10px;
	border: 1px solid #e0e0e0;
	background: #fff;
	padding: 10px 15px 0 15px;
	width: 970px;
	display: block;
	position: relative;
	/*bottom: 12px;
	top: 90px;*/
	min-height: 665px;
}

#calendar {
	/*width: 900px;*/
	margin: 0 auto;
}

.col1{
	width: 60%;
	display: inline-block;
	float:left;
}
.col2{
	width: 12%; 
	display: inline-block;
	float:left;
	margin-left: 15px;
	border-right: 1px solid #e7e7e7;
	height: 585px;
	overflow: hidden;
}
.col3{
	width: 25%; 
	display: inline-block; 
	float:right;
}

.grid-contatos, .grid-indice{display: inline-block;float:left;}

.grid-contatos{
	width: 210px; 	 
	max-height: 535px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.grid-indice{margin-left:15px;}

.grid-contatos-row{
	margin: 5px 0;
	padding-bottom: 8px;
	border-bottom: 1px solid #e7e7e7;
}
.grid-contatos-col1{
	display: inline-block; 
	text-align:center;
	vertical-align:middle;
}
.grid-contatos-col1 input[type="checkbox"]{margin:0 !important;}
.grid-contatos-col2{
	display: inline-block; 
	text-align:center;
	vertical-align:middle;
}
.grid-contatos-col3{
	font-weight:bold;
	display: inline-block; 
	text-align:center;
	vertical-align:middle;
	padding-top: 5px;
	font-size: 13px;
}

.grid-indice-link{
	color:#64ba48;
	font-weight:bold;
	display: block; 
}

.col1 h2, .titulo-contatos{font-size:18px;font-weight:bold;}
.titulo-contatos{margin-bottom: 30px;}