/*cart*/
.footer-cart{
    width:17%;
    position: fixed;
    z-index: 999;
    bottom:0;
    background:#fff;
    height:50px;
	border-top: 1px dotted #ccc;
	display: inline-block;
}
.footer-cart-pages{
    width:17%;
    position: fixed;
    z-index: 999;
    bottom:0;
    background:#fff;
    height:50px;
	border-top: 1px dotted #ccc;
	display: inline-block;
	left:800px;
}
.img-catalog-basket2 img {
	text-align:center;
	vertical-align:center;
	display:block;
	margin:auto auto;
}
.img-catalog-basket2 {
	max-width: 200px;
	float:left;
	display:inline-block;
}
/*.footer-cart {
	position: fixed;
	z-index: 999;
	bottom: 0;
	background: #fff;
	height: 50px;
	border-top: 1px dotted #ccc;
}*/
.footer-cart .total-value , .footer-cart-pages .total-value{
    position:absolute;
    z-index: 9999;
    left:768px;
    top:10px;
}
.footer-cart .total-value span , .footer-cart-pages .total-value span{
	font-weight:bold
}
.footer-cart .btn , .footer-cart-pages .btn{
    text-shadow:none;
    border:none;
    margin-top:10px;
}
.footer-cart .btn:hover , .footer-cart-pages .btn:hover{
    background:#dc9390;
}
.footer-cart .btn:first-child , .footer-cart-pages .btn:first-child{
    float:left;
    margin-left:10px;
}
.footer-cart .btn:last-child , .footer-cart-pages .btn:last-child{
    float:right;
    margin-right:10px;
}
.low-status{
    color:#d34343
}
.wrapper-qtde {
	display: inline-block;
	width: 460px;
}
.wrapper-qtde2 {
	display: inline-block;
	width: 120px;
	float:right;
	/*margin-right:20px;*/
}

.total-price-add-to-basket {
	width: 125px;
}
/*.price-add-to-basket {
	font-size: 24px;
	text-align: center;
	color: #b77a78;
	padding-left: 12px;
	margin-bottom: 10px;
	width: 100px;
}*/
.form-add-to-basket .line-gradient-01 {
	padding: 20px 0 20px 0;
}

/*.form-add-to-basket .wrapper-qtde {
	float: right;
	margin: 30px;
}*/
.form-add-to-basket {
	/*width: 360px;*/
	padding: 40px 30px 30px 30px;
	border-radius: 0 0 4px 4px;
	box-shadow: 0px 10px 50px 10px #999;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 111px;
	/*margin-left: -180px*/
}
.total-basket-popup-big { width:160px; margin:0 auto;}
.txt-row-price {
	display: inline-block;
	width: 200px
}
.txt-row-price div{
	width: 70px;
    margin:auto;
    text-align:right;
}
.img-row-delete {
	display: inline-block;
	width: 20px;
	margin-left: 10px;
}
.input-qty {
	display:block;
	width: auto;
}
.txt-row-status {
	width: 120px;
	display: inline-block;
}
.txt-row-status div{
    max-width:95px;
    margin:auto;
    text-align:center
}
.thumb-row-cart img {
	max-width: 90px;
	max-height: 90px;
	min-width: 90px;
	min-height: 90px;
	padding: 5px;
}
.txt-row-description {
	display: inline-block;
	width: 400px
}
.row-cart {
	border-radius: 6px;
	margin: 0 10px 10px 10px;
	height: 100px;
	border: 1px solid #e0e0e0;
	background: #fff;
	vertical-align: middle;
}

.row-cart span {
	siplay: inline-block;
	vertical-align: middle;
}
.table th, .table td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: middle;
	/* border-top: 1px solid #dddddd; */
}

.cart-scroll-content {
	overflow-y: auto;
	position: fixed;
	height: 100%;
	width: 1024px;
	left: 50%;
    top:80px;
	margin-left: -512px;
	-webkit-overflow-scrolling: touch;
}

/*.label-input div:first-child {
	display: block;
	text-align: center;
}
.input-qty2 {
	margin:0 0 0 12px;
}*/
.label-input {
	display: inline-block;
	/*margin: 0 0 0 20px*/
vertical-align: middle;
}
.title-row-cart {
	font-weight: bold;
    display: inline-block;
    width:400px;
}
.ic-arrow-left {
	width:37.5px;
	height:35px;
	line-height:35px;
	text-align: center;
    display: inline-block;
}
.row-input-products-grid .ic-arrow-left, .row-input-products-grid .ic-arrow-right{
	width:33px;
	height:44px;
vertical-align: middle;
}
.row-input-products-grid .qty{
	width:40px;
	height:44px;
}
.ic-arrow-left2 {
	float: left;
}
.ic-arrow-right {
	width:37.5px;
	height:35px;
	line-height:35px;
	text-align: center;
    display: inline-block;
}
.ic-arrow-right2 {
	float: right;
	position:relative;
}
.ic-arrow-left:hover, .ic-arrow-right:hover, .img-row-delete:hover {
	cursor:pointer
}
.qty{/*.input-row-qtde-cart input {*/
	width: 35px;
	height: 35px;
	text-align: center;
	font-size:20px;
	display: inline-block;
	line-height: 35px;
	color: #555555;
	vertical-align: middle;
}

.margint14{
	margin-top:14px;
}