/* -- CAT�LOGO -- */
/*font colors
.green {
	color: #5d9732;
}*/
/*navegação no menu de linhas*/
.nav .active a, .nav .active a:hover{
	background: #ebebeb;
	color: #000;
	/*background: #000;
	color: #fff;*/
	text-shadow: none;
}
/*.nav .black.active a {
	background: #000000;
	color: #fff;
	text-shadow: none;
}
	.nav .black.active a:hover {background: #000000;}

.nav .light-blue.active a {
	background: #7b84ad;
	color: #fff;
	text-shadow: none;
}
	.nav .light-blue.active a:hover {background: #7b84ad;}

.nav .green.active a {
	background: #7ba752;
	color: #fff;
	text-shadow: none;
}
	.nav .green.active a:hover {background: #7ba752;}

.nav .light-gray.active a {
	background: #9e9e9e;
	color: #fff;
	text-shadow: none;
}
	.nav .light-gray.active a:hover {background: #9e9e9e;}

.nav .light-green.active a {
	background: #abbb5e;
	color: #fff;
	text-shadow: none;
}
	.nav .light-green.active a:hover {background: #abbb5e;}

.nav .dark-magenta.active a {
	background: #c93a7c;
	color: #fff;
	text-shadow: none;
}
	.nav .dark-magenta.active a:hover {background: #c93a7c;}

.nav .light-orange.active a {
	background: #dbb79d;
	color: #000;
	text-shadow: none;
}
	.nav .light-orange.active a:hover {background: #dbb79d;}

.nav .light-magenta.active a {
	background: #deb4b8;
	color: #000;
	text-shadow: none;
}
	.nav .light-magenta.active a:hover {background: #deb4b8;}

.nav .light-lila.active a {
	background: #dec7cb;
	color: #fff;
	text-shadow: none;
}
	.nav .light-lila.active a:hover {background: #dec7cb;}

.nav .light-pink.active a {
	background: #dfc3b7;
	color: #fff;
	text-shadow: none;
}
	.nav .light-pink.active a:hover {background: #dfc3b7;}

.nav .orange.active a {
	background: #fa974e;
	color: #fff;
	text-shadow: none;
}
	.nav .orange.active a:hover {background: #fa974e;}

.nav .pink.active a {
	background: #ff0066;
	color: #fff;
	text-shadow: none;
}
	.nav .pink.active a:hover {background: #ff0066;}

.nav .yellow-gray.active a {
	background: #d8d5b4;
	color: #000;
	text-shadow: none;
}
	.nav .yellow-gray.active a:hover {background: #d8d5b4;}

.nav .dark-yellow-gray.active a {
	background: #b0b78d;
	color: #fff;
	text-shadow: none;
}
	.nav .dark-yellow-gray.active a:hover {background: #b0b78d;}
	
.nav .soft-green.active a {
	background: #b7e171;
	color: #fff;
	text-shadow: none;
}
	.nav .soft-green.active a:hover {background: #b7e171;}*/

/*font colors*/
.color-white {color: #fff;}
.color-black {color: #333;}
.color-light-blue{color:#7b84ad;}
.color-green{color:#7ba752;}
.color-light-gray{color:#9e9e9e;}
.color-light-green{color:#abbb5e;}
.color-light-orange{color:#dbb79d;}
.color-light-magenta{color:#deb4b8;}
.color-light-lila{color:#dec7cb;}
.color-light-pink{color:#dfc3b7;}
.color-orange{color:#fa974e;}
.color-pink{color:#ff0066;}
.color-dark-yellow-gray{color:#b0b78d;}
.color-yellow-gray{color:#d8d5b4;}
.color-soft-green{color:#b7e171;}
.color-medium-yellow-gray{color:#c9c797;} /*olhos, sombrancelhas*/
.color-medium2-yellow-gray{color:#bebc83;} /*pó mineral*/
.color-soft-pink{color:#e194b6;} /*acessórios*/
.color-soft-lila{color:#caa5ac;} /*cuidados personalizados*/
.color-soft-orange{color:#d8b194;} /*bases, rosto*/
.color-dark-magenta{color:#c93a7c;} /*MK at play, lábios*/
.color-soft-black{color:#3a3a3a;} /*iluminador*/

/*fundo dos títulos*/
.bg-black {background-color: #000;}
.bg-light-blue{background-color:#7b84ad;}
.bg-green{background-color:#7ba752;}
.bg-light-gray{background-color:#9e9e9e;}
.bg-light-green{background-color:#abbb5e;}
.bg-dark-magenta{background-color:#c93a7c;}
.bg-yellow-gray{background-color:#d8d5b4;}
.bg-light-orange{background-color:#dbb79d;}
.bg-light-magenta{background-color:#deb4b8;}
.bg-light-lila{background-color:#dec7cb;}
.bg-light-pink{background-color:#dfc3b7;}
.bg-orange{background-color:#fa974e;}
.bg-pink{background-color:#ff0066;}
.bg-dark-yellow-gray{background-color:#b0b78d;}
.bg-yellow-gray{background-color:#d8d5b4;}
.bg-soft-green{background-color:#b7e171;}
.bg-medium-yellow-gray{background-color:#c9c797;}
.bg-medium2-yellow-gray{background-color:#bebc83;}
.bg-soft-pink{background-color:#e194b6;}
.bg-soft-lila{background-color:#caa5ac;}
.bg-soft-orange{background-color:#d8b194;}
.bg-soft-black{background-color:#3a3a3a;}

/* div de catalogo comum */
.catalog-block {
	display: inline-block;
	margin: 0 0 10px 10px;
	float: left;
}
	/* altura do bloco h03 */
	.catalog-block.h03 {
		height: 320px;
	}	
		/* altura do conteudo do bloco h03 */
		.catalog-block.h03 .product-content {
			height: 234px;
		}		
	/* altura do bloco h02 */
	.catalog-block.h02 {
		height: 210px;
	}	
		/* altura do conteudo do bloco h02 */
		.catalog-block.h02 .product-content {
			height: 124px;
		}		
		/* imagem do bloco h02 */
		.catalog-block.h02 .product-image {
			float: right;
			padding-top: 4px;
		}
		/* texto do bloco h02 + w06 */
		.catalog-block.h02.w06 .product-text {
			width: 275px;
		}		
	/* largura do bloco w06 */
	.catalog-block.w06 {
		width: 394px;
	}
	.catalog-block.w06 .product-title {
		width:320px;
/*		display:block;
		float:left;*/
	}
	.line-info {
		width: 24px;
		float: right;
		padding: 8px 0 0 0;
	}
		/* linhas divisorias do bloco w06*/
		.catalog-block.w06.product-bg-black .product-divider {
			/*background-image: url('../images/line-gradient-products-394-black.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #000000 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#000000), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#000000 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#000000 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#000000 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#000000 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w06.product-bg-light-blue .product-divider {
			/*background-image: url('../images/line-gradient-products-394-light-blue.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #7b84ad 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#7b84ad), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#7b84ad 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#7b84ad 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#7b84ad 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#7b84ad 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w06.product-bg-green .product-divider {
			/*background-image: url('../images/line-gradient-products-394-green.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #7ba752 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#7ba752), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#7ba752 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#7ba752 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#7ba752 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#7ba752 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w06.product-bg-light-gray .product-divider {
			/*background-image: url('../images/line-gradient-products-394-light-gray.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #9e9e9e 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#9e9e9e), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#9e9e9e 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#9e9e9e 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#9e9e9e 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#9e9e9e 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}		
		.catalog-block.w06.product-bg-light-green .product-divider {
			/*background-image: url('../images/line-gradient-products-394-light-green.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #abbb5e 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#abbb5e), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#abbb5e 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#abbb5e 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#abbb5e 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#abbb5e 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w06.product-bg-dark-magenta .product-divider {
			/*background-image: url('../images/line-gradient-products-394-dark-magenta.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #c93a7c 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#c93a7c), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#c93a7c 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#c93a7c 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#c93a7c 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#c93a7c 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w06.product-bg-light-orange .product-divider {
			/*background-image: url('../images/line-gradient-products-394-light-orange.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #dbb79d 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#dbb79d), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#dbb79d 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#dbb79d 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#dbb79d 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#dbb79d 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w06.product-bg-light-magenta .product-divider {
			/*background-image: url('../images/line-gradient-products-394-light-magenta.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #deb4b8 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#deb4b8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#deb4b8 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#deb4b8 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#deb4b8 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#deb4b8 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w06.product-bg-light-lila .product-divider {
			/*background-image: url('../images/line-gradient-products-394-lilas.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #dec7cb 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#dec7cb), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#dec7cb 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#dec7cb 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#dec7cb 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#dec7cb 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w06.product-bg-light-pink .product-divider {
			/*background-image: url('../images/line-gradient-products-394-light-pink.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #dfc3b7 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#dfc3b7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#dfc3b7 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#dfc3b7 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#dfc3b7 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#dfc3b7 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w06.product-bg-orange .product-divider {
			/*background-image: url('../images/line-gradient-products-394-orange.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #fa974e 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#fa974e), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#fa974e 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#fa974e 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#fa974e 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#fa974e 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w06.product-bg-pink .product-divider {
			/*background-image: url('../images/line-gradient-products-394-pink.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #ff0066 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#ff0066), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#ff0066 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#ff0066 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#ff0066 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#ff0066 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w06.product-bg-yellow-gray .product-divider {
			/*background-image: url('../images/line-gradient-products-394-yellow-gray.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #d8d5b4 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#d8d5b4), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#d8d5b4 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#d8d5b4 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#d8d5b4 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#d8d5b4 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}		
		.catalog-block.w06.product-bg-dark-yellow-gray .product-divider {
			/*background-image: url('../images/line-gradient-products-394-yellow-gray.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #b0b78d 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#b0b78d), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#b0b78d 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#b0b78d 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#b0b78d 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#b0b78d 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}		
		.catalog-block.w06.product-bg-soft-green .product-divider {
			/*background-image: url('../images/line-gradient-products-394-yellow-gray.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #b7e171 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#b7e171), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#b7e171 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#b7e171 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#b7e171 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#b7e171 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}			
		.catalog-block.w06.product-bg-medium-yellow-gray .product-divider {
			/*background-image: url('../images/line-gradient-products-394-yellow-gray.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #c9c797 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#c9c797), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#c9c797 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#c9c797 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#c9c797 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#c9c797 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}			
		.catalog-block.w06.product-bg-medium2-yellow-gray .product-divider {
			/*background-image: url('../images/line-gradient-products-394-yellow-gray.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #bebc83 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#bebc83), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#bebc83 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#bebc83 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#bebc83 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#bebc83 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}			
		.catalog-block.w06.product-bg-soft-pink .product-divider {
			/*background-image: url('../images/line-gradient-products-394-yellow-gray.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #e194b6 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#e194b6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#e194b6 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#e194b6 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#e194b6 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#e194b6 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}			
		.catalog-block.w06.product-bg-soft-lila .product-divider {
			/*background-image: url('../images/line-gradient-products-394-yellow-gray.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #caa5ac 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#caa5ac), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#caa5ac 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#caa5ac 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#caa5ac 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#caa5ac 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}				
		.catalog-block.w06.product-bg-soft-orange .product-divider {
			/*background-image: url('../images/line-gradient-products-394-yellow-gray.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #d8b194 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#d8b194), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#d8b194 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#d8b194 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#d8b194 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#d8b194 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}				
		.catalog-block.w06.product-bg-soft-black .product-divider {
			/*background-image: url('../images/line-gradient-products-394-yellow-gray.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #3a3a3a 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#3a3a3a), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#3a3a3a 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#3a3a3a 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#3a3a3a 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#3a3a3a 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}	
		
	/* largura do bloco w03 */
	.catalog-block.w03 {
		width: 192px;
		float: left;
	}
	.catalog-block.w03 .product-title {
		width:150px;
		display:block;
		float:left;
	}
		/* linhas divisorias do bloco w03*/
		.catalog-block.w03.product-bg-black .product-divider {
			/*background-image: url('../images/line-gradient-01-black.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #000000 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#000000), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#000000 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#000000 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#000000 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#000000 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w03.product-bg-light-blue .product-divider {
			/*background-image: url('../images/line-gradient-01-light-blue.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #7b84ad 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#7b84ad), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#7b84ad 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#7b84ad 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#7b84ad 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#7b84ad 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w03.product-bg-green .product-divider {
			/*background-image: url('../images/line-gradient-01-green.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #7ba752 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#7ba752), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#7ba752 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#7ba752 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#7ba752 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#7ba752 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w03.product-bg-light-gray .product-divider {
			/*background-image: url('../images/line-gradient-01-light-gray.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #9e9e9e 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#9e9e9e), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#9e9e9e 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#9e9e9e 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#9e9e9e 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#9e9e9e 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w03.product-bg-light-green .product-divider {
			/*background-image: url('../images/line-gradient-01-light-green.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #abbb5e 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#abbb5e), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#abbb5e 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#abbb5e 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#abbb5e 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#abbb5e 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w03.product-bg-dark-magenta .product-divider {
			/*background-image: url('../images/line-gradient-01-dark-magenta.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #c93a7c 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#c93a7c), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#c93a7c 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#c93a7c 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#c93a7c 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#c93a7c 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w03.product-bg-light-orange .product-divider {
			/*background-image: url('../images/line-gradient-01-light-orange.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #dbb79d 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#dbb79d), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#dbb79d 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#dbb79d 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#dbb79d 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#dbb79d 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w03.product-bg-light-magenta .product-divider {
			/*background-image: url('../images/line-gradient-01-light-magenta.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #deb4b8 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#deb4b8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#deb4b8 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#deb4b8 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#deb4b8 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#deb4b8 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w03.product-bg-light-lila .product-divider {
			/*background-image: url('../images/line-gradient-01-lilas.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #dec7cb 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#dec7cb), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#dec7cb 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#dec7cb 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#dec7cb 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#dec7cb 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w03.product-bg-light-pink .product-divider {
			/*background-image: url('../images/line-gradient-01-light-pink.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #dfc3b7 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#dfc3b7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#dfc3b7 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#dfc3b7 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#dfc3b7 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#dfc3b7 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w03.product-bg-orange .product-divider {
			/*background-image: url('../images/line-gradient-01-orange.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #fa974e 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#fa974e), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#fa974e 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#fa974e 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#fa974e 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#fa974e 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w03.product-bg-pink .product-divider {
			/*background-image: url('../images/line-gradient-01-pink.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #ff0066 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#ff0066), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#ff0066 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#ff0066 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#ff0066 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#ff0066 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}		
		.catalog-block.w03.product-bg-yellow-gray .product-divider {
			/*background-image: url('../images/line-gradient-products-394-yellow-gray.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #d8d5b4 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#d8d5b4), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#d8d5b4 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#d8d5b4 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#d8d5b4 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#d8d5b4 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}		
		.catalog-block.w03.product-bg-dark-yellow-gray .product-divider {
			/*background-image: url('../images/line-gradient-products-394-yellow-gray.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #b0b78d 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#b0b78d), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#b0b78d 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#b0b78d 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#b0b78d 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#b0b78d 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}		
		.catalog-block.w03.product-bg-soft-green .product-divider {
			/*background-image: url('../images/line-gradient-products-394-yellow-gray.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #b7e171 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#b7e171), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#b7e171 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#b7e171 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#b7e171 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#b7e171 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}		
		.catalog-block.w03.product-bg-medium-yellow-gray .product-divider {
			/*background-image: url('../images/line-gradient-products-394-yellow-gray.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #c9c797 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#c9c797), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#c9c797 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#c9c797 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#c9c797 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#c9c797 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}			
		.catalog-block.w03.product-bg-medium2-yellow-gray .product-divider {
			/*background-image: url('../images/line-gradient-products-394-yellow-gray.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #bebc83 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#bebc83), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#bebc83 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#bebc83 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#bebc83 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#bebc83 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}			
		.catalog-block.w03.product-bg-soft-pink .product-divider {
			/*background-image: url('../images/line-gradient-products-394-yellow-gray.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #e194b6 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#e194b6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#e194b6 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#e194b6 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#e194b6 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#e194b6 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}			
		.catalog-block.w03.product-bg-soft-lila .product-divider {
			/*background-image: url('../images/line-gradient-products-394-yellow-gray.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #caa5ac 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#caa5ac), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#caa5ac 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#caa5ac 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#caa5ac 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#caa5ac 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}				
		.catalog-block.w03.product-bg-soft-orange .product-divider {
			/*background-image: url('../images/line-gradient-products-394-yellow-gray.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #d8b194 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#d8b194), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#d8b194 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#d8b194 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#d8b194 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#d8b194 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}				
		.catalog-block.w03.product-bg-soft-black .product-divider {
			/*background-image: url('../images/line-gradient-products-394-yellow-gray.png');*/
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #3a3a3a 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#3a3a3a), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#3a3a3a 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#3a3a3a 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#3a3a3a 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#3a3a3a 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}	
		
		/* barra ultima oportunidade*/
		.last-opportunity .product-opportunity{
			background: url('../images/last-opportunity-banner-v2.png') no-repeat top left  !important;
			font-size:12px;
			padding:12px 0 0 10px;
			width:191px !important;
			height:51px !important;
			color: #fff !important;
			z-index:44;
		}		
		.last-opportunity .line-back {
			height: 54px;
			display: block;
			margin-top: -42px;
		}
		
		/*adds*/
		.catalog-block.product-bg-black .product-addbtn {
			background-color: #000;
			background-image: url('../images/plus-w.png');
		}		
		.catalog-block.product-bg-light-blue .product-addbtn {
			background-color: #7b84ad;
			background-image: url('../images/plus-w.png');
		}	
		.catalog-block.product-bg-green .product-addbtn {
			background-color: #7ba752;
			background-image: url('../images/plus-w.png');
		}		
		.catalog-block.product-bg-light-gray .product-addbtn {
			background-color: #9e9e9e;
			background-image: url('../images/plus-w.png');
		}	
		.catalog-block.product-bg-light-green .product-addbtn {
			background-color: #abbb5e;
			background-image: url('../images/plus-w.png');
		}		
		.catalog-block.product-bg-dark-magenta .product-addbtn {
			background-color: #c93a7c;
			background-image: url('../images/plus-w.png');
		}		
		.catalog-block.product-bg-light-orange .product-addbtn {
			background-color: #dbb79d;
			background-image: url('../images/plus-w.png');
		}	
		.catalog-block.product-bg-light-magenta .product-addbtn {
			background-color: #deb4b8;
			background-image: url('../images/plus-w.png');
		}	
		.catalog-block.product-bg-light-lila .product-addbtn {
			background-color: #dec7cb;
			background-image: url('../images/plus-w.png');
		}	
		.catalog-block.product-bg-light-pink .product-addbtn {
			background-color: #dfc3b7;
			background-image: url('../images/plus-w.png');
		}	
		.catalog-block.product-bg-orange .product-addbtn {
			background-color: #fa974e;
			background-image: url('../images/plus-w.png');
		}		
		.catalog-block.product-bg-pink .product-addbtn {
			background-color: #ff0066;
			background-image: url('../images/plus-w.png');
		}		
		.catalog-block.product-bg-yellow-gray .product-addbtn {
			background-color: #d8d5b4;
			background-image: url('../images/plus-w.png');
		}	
		.catalog-block.product-bg-dark-yellow-gray .product-addbtn {
			background-color: #b0b78d;
			background-image: url('../images/plus-w.png');
		}	
		.catalog-block.product-bg-soft-green .product-addbtn {
			background-color: #b7e171;
			background-image: url('../images/plus-w.png');
		}	
		.catalog-block.product-bg-medium-yellow-gray .product-addbtn {
			background-color: #c9c797;
			background-image: url('../images/plus-w.png');
		}	
		.catalog-block.product-bg-medium2-yellow-gray .product-addbtn {
			background-color: #bebc83;
			background-image: url('../images/plus-w.png');
		}		
		.catalog-block.product-bg-soft-pink .product-addbtn {
			background-color: #e194b6;
			background-image: url('../images/plus-w.png');
		}		
		.catalog-block.product-bg-soft-lila .product-addbtn {
			background-color: #caa5ac;
			background-image: url('../images/plus-w.png');
		}		
		.catalog-block.product-bg-soft-orange .product-addbtn {
			background-color: #d8b194;
			background-image: url('../images/plus-w.png');
		}		
		.catalog-block.product-bg-soft-black .product-addbtn {
			background-color: #3a3a3a;
			background-image: url('../images/plus-w.png');
		}	
		
		/* textos coloridos */
		.catalog-block.product-bg-bege .color-text {
			color: #eecfbd;
		}		
		
	/* box comum (borda, sombra, fundo) */
	.catalog-block .box {
		border-radius: 6px;
		box-shadow: -1px 1px 8px 1px #e0e0e0;
		background: #ffffff; /*#fdfeff*/
		width: 100%;
		height: 100%;
	}	
	/* conteudo comum */
	.catalog-block .product-content{
		clear: both;
		width: 100%;
		overflow-y: hidden;
	}	
	/* footer comum */
	.catalog-block .product-footer{
		clear: both;
		width: 100%;
		height: 60px;
	}	
	/* imagem comum */
	.catalog-block .product-image{
		text-align: center;
		padding-top: 10px;
	}	
	/* imagem comum */
	.catalog-block .product-image img{
		max-width: 90px;
		max-height: 90px;
		margin-right: 8px;
	}	
	/* titulo comum */
	.catalog-block .product-title{
		font-weight: bold;
		padding: 10px 2px 0 10px;
	}	
	/* texto comum */
	.catalog-block .product-text{
		padding: 10px;
		overflow: hidden;
		font-size: 13px;
		float:left;
	}	
	/* linha divisoria comum */
	.catalog-block .product-divider{
		width: 100%;
		height: 1px;
		margin-top: 10px;
	}	
		/* last opportunity comum */
		.catalog-block.last-opportunity .product-divider{
			height: 1px !important;
			z-index: 6;
			position: relative;
			top: -22px;
		}
	/* inferior comum */
	.catalog-block .product-bottom{
		padding: 18px 20px 10px 20px;
	}	
	/* moeda comum */
	.catalog-block .product-currency{
		display: inline-block;
		float: left;
		vertical-align: bottom;
	}	
	/* preco comum */
	.catalog-block .product-price{
		display: inline-block;
		float: left;
		margin-left: 6px;
		font-size: 18px;
	}	
	/* botao add comum */
	.catalog-block .product-addbtn{
		display: inline-block;
		float: right;
		width: 24px;
		height: 24px;
		background-image: url('../images/plus.png');
		border-radius: 50%;
		cursor: pointer;
	}	
	/* titulo do catalogo comum */
	.catalog-block .catalog-title{
		text-align: center;
		padding-top: 14px;
		font-size: 26px;
		height: 21px;
	}	
	/* imagem do catalogo comum */
	.catalog-block .catalog-image {
		max-width: 223px;
		margin: auto;
		padding-top: 14px;
	}

	
/*best sellers*/
.best-sellers{
	width: 785px;
	margin: 10px 0 0 5px;
	padding: 0 13px 0 5px;
	border-radius: 6px;
	background: #fff;
	min-height: 969px;
}
.best-sellers-title{
	display: block;
	width: 565px;
	margin:13px 0 13px 0;
	font-size: 25px;
	line-height:40px;
	z-index:99;
	letter-spacing: 5px;
	background: transparent url(../images/catalog/best-sellers/best-sellers.png) no-repeat top right;
	background-size:85px 84px;
	z-index:99;
}
.big{font-size: 40px; line-height:40px;}
.bold{font-weight: bold;}

.best-sellers-col-left, .best-sellers-col-right{
	display: inline-block;
}
	
.best-sellers-col-left{
	width: 300px;
	float:left;
	border-right: 1px solid #5B5B5B;
}
.best-sellers-col-right{
	width: 488px;
	float:right;
}
.best-sellers-col-left-item{
	display: block;
	margin: 10px 0 30px 0;
	min-height: 55px;
	font-weight: bold;
	cursor: pointer;
}
.best-sellers-col-left-item .weight{
	font-weight: normal !important;
}
.best-sellers-col-left-item .number{
	width: 25px;
	height: 25px;
	vertical-align: middle;
	line-height: 25px;
	border-radius: 50%;
	background-color:#ecbab9;
	text-align:center;
	font-weight: bold;
	display: inline-block;
	margin:4px 5px 5px 0;
	float: left;
}
.best-sellers-col-left-item  .descript{
	display: inline-block;
	width: 260px;
	margin-right: 5px;
	float: right;
}
.best-sellers-col-right-item{
	display: block;
	margin-bottom: 10px;
	cursor: pointer;
}
/*PARA IMAGENS COM NUMERACAO SEPARADA
.best-sellers-col-right-item .number{
	width:150px;
	height:150px;
	vertical-align: middle;
	font-size:150px;
	text-align:center;
	line-height:150px;
	position: absolute;
	font-weight: 100 !important;
	color: rgba(236, 186, 185, 0.5);
margin-left: -25px;
}
.best-sellers-col-right-item  .descript{
	position: absolute;
	max-width:200px;
	max-height:150px;
	text-align:right;
}*/
.best-sellers-col-right-item  .descript{
	position: absolute;
}
.img1{
	top: 108px;
	left: 323px;
	width: 108px;
}
.img2{
	top: 189px;
	left: 474px;
	width: 122px;
}
.img3{
	top: 57px;
	left: 611px;
	width: 186px;
}
.img4{
	top: 394px;
	left: 676px;
	width: 108px;
}
.img5{
	top: 466px;
	left: 533px;
	width: 92px;
}
.img6{
	top: 360px;
	left: 311px;
	width: 195px;
}
.img7{
	top: 556px;
	left: 341px;
	width: 145px;
}
.img8{
	top: 738px;
	left: 357px;
	width: 127px;
}
.img9{
	top: 648px;
	left: 538px;
	width: 118px;
}
.img10{
	top: 806px;
	left: 570px;
	width: 200px;
}