/* -- CAT�LOGO -- */
/*font colors
.green {
	color: #5d9732;
}*/

/*navegação no menu de linhas*/
.nav .bege.active a {
	background: #e6d6c0;
	color: #333;
	text-shadow: none;
}
	.nav .bege.active a:hover {background: #e6d6c0;}
	
.nav .pink.active a {
	background: #ff11a0;
	color: #fff;
	text-shadow: none;
}
	.nav .pink.active a:hover {background: #ff11a0;}
	
.nav .green.active a {
	background: #5d9732;
	color: #fff;
	text-shadow: none;
}
	.nav .green.active a:hover {background: #5d9732;}
	
.nav .light-green.active a {
	background: #abbb5e;
	color: #fff;
	text-shadow: none;
}
	.nav .light-green.active a:hover {background: #abbb5e;}
	
.nav .gray.active a {
	background: #9e9e9e;
	color: #fff;
	text-shadow: none;
}
	.nav .gray.active a:hover {background: #9e9e9e;}
	
.nav .dark-gray.active a {
	background: #717578;
	color: #fff;
	text-shadow: none;
}
	.nav .dark-gray.active a:hover {background: #717578;}

.nav .dark-magenta.active a {
	background: #c93a7c;
	color: #fff;
	text-shadow: none;
}
	.nav .dark-magenta.active a:hover {background: #c93a7c;}

.nav .light-blue.active a {
	background: #7b84ad;
	color: #fff;
	text-shadow: none;
}
	.nav .light-blue.active a:hover {background: #7b84ad;}

.nav .orange.active a {
	background: #e98a6c;
	color: #fff;
	text-shadow: none;
}
	.nav .orange.active a:hover {background: #e98a6c;}

/*font colors*/
.color-white {
	color: #fff
}
.color-black {
	color: #333
}
.color-bege {
	color: #e6d6c0;
}
.color-pink {
	color: #e2a9a8;
}
.color-green {
	color: #5d9732;
}
.color-light-green {
	color: #abbb5e;
}
.color-gray {
	color: #9e9e9e;
}
.color-dark-gray {
	color: #717578;
}
.color-dark-magenta{
	color: #c93a7c;
}
.color-light-blue {
	color: #7b84ad;
}
.color-orange {
	color: #e98a6c;
}

/*fundo dos títulos*/
.bg-bege {
	background-color: #eecfbd;
}
.bg-pink {
	background-color: #ff11a0;
}
.bg-green {
	background-color: #7ba752
}
.bg-light-green {
	background-color: #abbb5e
}
.bg-gray {
	background-color: #9e9e9e
}
.bg-dark-gray {
	background-color: #717578
}
/*.bg-blue-gray {
	background-color: #676d79
}*/
.bg-dark-magenta{
	background-color: #c93a7c;
}
.bg-light-blue {
	background-color: #7b84ad
}
.bg-orange {
	background-color: #e98a6c
}

/*menu states colors
.nav-list > .active-bege > a, .nav-list > .active-bege > a:hover, .nav-list > .active-bege > a:focus {
	color: white;
	text-shadow: none;
	background-color: #e6d6c0;
	border-bottom: 1px dotted #d5d5d5;
}
.nav-list > .active-green > a, .nav-list > .active-green > a:hover, .nav-list > .active-green > a:focus {
	color: white;
	text-shadow: none;
	background-color: #5d9732;
	border-bottom: 1px dotted #d5d5d5;
}
.nav-list > .active-orange-01 > a, .nav-list > .active-orange-01 > a:hover, .nav-list > .active-orange-01 > a:focus {
	color: white;
	text-shadow: none;
	background-color: #5d9732;
	border-bottom: 1px dotted #d5d5d5;
}
.nav-list > .active-orange-02 > a, .nav-list > .active-orange-02 > a:hover, .nav-list > .active-orange-02 > a:focus {
	color: white;
	text-shadow: none;
	background-color: #e7890e;
	border-bottom: 1px dotted #d5d5d5;
}
.nav-list > .active-gray-01 > a, .nav-list > .active-gray-01 > a:hover, .nav-list > .active-gray-01 > a:focus {
	color: #333;
	text-shadow: none;
	background-color: #dddddd;
	border-bottom: 1px dotted #d5d5d5;
}
.nav-list > .active-gray-02 > a, .nav-list > .active-gray-02 > a:hover, .nav-list > .active-gray-02 > a:focus {
	color: white;
	text-shadow: none;
	background-color: #aeaeae;
	border-bottom: 1px dotted #d5d5d5;
}
.nav-list > .active-lilas > a, .nav-list > .active-lilas > a:hover, .nav-list > .active-lilas > a:focus {
	color: white;
	text-shadow: none;
	background-color: #baa3f1;
	border-bottom: 1px dotted #d5d5d5;
}*/

/* div de cat�logo comum */
.catalog-block {
	display: inline-block;
	margin: 0 0 10px 10px;
	float: left;
}
	/* altura do bloco h03 */
	.catalog-block.h03 {
		height: 320px;
	}	
		/* altura do conte�do do bloco h03 */
		.catalog-block.h03 .product-content {
			height: 249px;
		}		
	/* altura do bloco h02 */
	.catalog-block.h02 {
		height: 210px;
	}	
		/* altura do conte�do do bloco h02 */
		.catalog-block.h02 .product-content {
			height: 139px;
		}		
		/* imagem do bloco h02 */
		.catalog-block.h02 .product-image {
			float: right;
			padding-top: 40px;
		}
		/* texto do bloco h02 + w06 */
		.catalog-block.h02.w06 .product-text {
			width: 275px;
		}		
	/* largura do bloco w06 */
	.catalog-block.w06 {
		width: 394px;
	}	
		/* linha divis�ria do bloco w06 bege */
		.catalog-block.w06.product-bg-bege .product-divider {
			background-image: url('../images/line-gradient-products-394-bege.png');
		}		
		/* linha divis�ria do bloco w06 pink */
		.catalog-block.w06.product-bg-pink .product-divider {
			background-image: url('../images/line-gradient-products-394-pink.png');
		}		
		/* linha divis�ria do bloco w06 verde */
		.catalog-block.w06.product-bg-green .product-divider {
			background-image: url('../images/line-gradient-products-394-green.png');
		}		
		/* linha divis�ria do bloco w06 verde claro */
		.catalog-block.w06.product-bg-light-green .product-divider {
			background-image: url('../images/line-gradient-products-394-green.png');
		}		
		/* linha divis�ria do bloco w06 cinza */
		.catalog-block.w06.product-bg-gray .product-divider {
			background-image: url('../images/line-gradient-products-394-gray.png');
		}		
		/* linha divis�ria do bloco w06 cinza escuro */
		.catalog-block.w06.product-bg-dark-gray .product-divider {
			background-image: url('../images/line-gradient-products-394-gray.png');
		}		
		/* linha divis�ria do bloco w06 azul/cinza
		.catalog-block.w06.product-bg-blue-gray .product-divider {
			background-image: url('../images/line-gradient-products-394-gray.png');
		}*/	
		/* linha divis�ria do bloco w06 magenta escuro*/
		.catalog-block.w06.product-bg-dark-magenta .product-divider {
			background-image: url('../images/line-gradient-products-394-pink.png');
		}
		/* linha divis�ria do bloco w06 azul claro */
		.catalog-block.w06.product-bg-light-blue .product-divider {
			background-image: url('../images/line-gradient-products-394-lilas.png');
		}		
		/* linha divis�ria do bloco w06 laranja */
		.catalog-block.w06.product-bg-orange .product-divider {
			background-image: url('../images/line-gradient-products-394-orange.png');
		}		
		
	/* largura do bloco w03 */
	.catalog-block.w03 {
		width: 192px;
		float: left;
	}		
		/* linha divis�ria do bloco w03 bege */
		.catalog-block.w03.product-bg-bege .product-divider {
			background-image: url('../images/line-gradient-01-bege.png');
		}		
		/* linha divis�ria do bloco w03 pink */
		.catalog-block.w03.product-bg-pink .product-divider {
			background-image: url('../images/line-gradient-01-pink.png');
		}		
		/* linha divis�ria do bloco w03 verde */
		.catalog-block.w03.product-bg-green .product-divider {
			background-image: url('../images/line-gradient-01-green.png');
		}		
		/* linha divis�ria do bloco w03 verde claro */
		.catalog-block.w03.product-bg-light-green .product-divider {
			background-image: url('../images/line-gradient-01-green.png');
		}		
		/* linha divis�ria do bloco w03 cinza */
		.catalog-block.w03.product-bg-gray .product-divider {
			background-image: url('../images/line-gradient-01-gray.png');
		}		
		/* linha divis�ria do bloco w03 cinza escuro */
		.catalog-block.w03.product-bg-dark-gray .product-divider {
			background-image: url('../images/line-gradient-01-gray.png');
		}		
		/* linha divis�ria do bloco w03 azul/cinza 
		.catalog-block.w03.product-bg-blue-gray .product-divider {
			background-image: url('../images/line-gradient-01-gray.png');
		}*/
		/* linha divis�ria do bloco w03 magenta escuro */
		.catalog-block.w03.product-bg-dark-magenta .product-divider {
			background-image: url('../images/line-gradient-01-pink.png');
		}		
		/* linha divis�ria do bloco w03 azul claro */
		.catalog-block.w03.product-bg-light-blue .product-divider {
			background-image: url('../images/line-gradient-01-lilas.png');
		}		
		/* linha divis�ria do bloco w03 laranja */
		.catalog-block.w03.product-bg-orange .product-divider {
			background-image: url('../images/line-gradient-01-orange.png');
		}	
		
		/* barra ultima oportunidade*/
		.last-opportunity .product-divider{
			background-image: none !important;
			background-color: #DA5149 !important;
			color: #fff !important;
		}		
		
		/* add do bloco bege */
		.catalog-block.product-bg-bege .product-addbtn {
			background-color: #eecfbd;
		}		
		/* add do bloco pink */
		.catalog-block.product-bg-pink .product-addbtn {
			background-color: #ff11a0;
			background-image: url('../images/plus-w.png');
		}		
		/* add do bloco verde */
		.catalog-block.product-bg-green .product-addbtn {
			background-color: #7ba752;
			background-image: url('../images/plus-w.png');
		}		
		/* add do bloco verde claro */
		.catalog-block.product-bg-light-green .product-addbtn {
			background-color: #abbb5e;
			background-image: url('../images/plus-w.png');
		}		
		/*add do bloco cinza */
		.catalog-block.product-bg-gray .product-addbtn {
			background-color: #9e9e9e;
			background-image: url('../images/plus-w.png');
		}		
		/*add do bloco cinza escuro */
		.catalog-block.product-bg-dark-gray .product-addbtn {
			background-color: #717578;
			background-image: url('../images/plus-w.png');
		}		
		/*add do bloco azul/cinza 
		.catalog-block.product-bg-blue-gray .product-addbtn {
			background-color: #676d79;
			background-image: url('../images/plus-w.png');
		}*/
		/*add do bloco magenta escuro*/
		.catalog-block.product-bg-dark-magenta .product-addbtn {
			background-color: #c93a7c;
			background-image: url('../images/plus-w.png');
		}
		/*add do bloco azul claro */
		.catalog-block.product-bg-light-blue .product-addbtn {
			background-color: #7b84ad;
			background-image: url('../images/plus-w.png');
		}		
		/*add do bloco laranja */
		.catalog-block.product-bg-orange .product-addbtn {
			background-color: #e98a6c;
			background-image: url('../images/plus-w.png');
		}		
		
		/* texto colorido do bloco bege */
		.catalog-block.product-bg-bege .color-text {
			color: #eecfbd;
		}		
		/* texto colorido do bloco pink */
		.catalog-block.product-bg-pink .color-text {
			color: #ff11a0;
		}		
		/* texto colorido do bloco verde */
		.catalog-block.product-bg-green .color-text {
			color: #7ba752;
		}		
		/* texto colorido do bloco verde claro */
		.catalog-block.product-bg-light-green .color-text {
			color: #abbb5e;
		}		
		/* texto colorido do bloco cinza */
		.catalog-block.product-bg-gray .color-text {
			color: #9e9e9e;
		}		
		/* texto colorido do bloco cinza escuro */
		.catalog-block.product-bg-dark-gray .color-text {
			color: #717578;
		}		
		/* texto colorido do bloco azul/cinza
		.catalog-block.product-bg-blue-gray .color-text {
			color: #676d79;
		}*/	
		/* texto colorido do bloco magenta escuro*/
		.catalog-block.product-bg-dark-magenta .color-text {
			color: #c93a7c;
		}
		/* texto colorido do bloco azul claro */
		.catalog-block.product-bg-light-blue .color-text {
			color: #7b84ad;
		}		
		/* texto colorido do bloco laranja */
		.catalog-block.product-bg-orange .color-text {
			color: #e98a6c;
		}			
		
	/* box comum (borda, sombra, fundo) */
	.catalog-block .box {
		border-radius: 6px;
		box-shadow: -1px 1px 8px 1px #e0e0e0;
		background: #fdfeff;
		width: 100%;
		height: 100%;
	}	
	/* conte�do comum */
	.catalog-block .product-content{
		clear: both;
		width: 100%;
		overflow-y: hidden;
	}	
	/* footer comum */
	.catalog-block .product-footer{
		clear: both;
		width: 100%;
		height: 60px;
	}	
	/* imagem comum */
	.catalog-block .product-image{
		text-align: center;
		padding-top: 10px;
	}	
	/* imagem comum */
	.catalog-block .product-image img{
		max-width: 90px;
		max-height: 90px;
	}	
	/* t�tulo comum */
	.catalog-block .product-title{
		font-weight: bold;
		padding: 10px 10px 0 10px;
	}	
	/* texto comum */
	.catalog-block .product-text{
		padding: 10px;
		overflow: hidden;
	}	
	/* linha divis�ria comum */
	.catalog-block .product-divider{
		width: 100%;
		height: 1px;
		margin-top: 10px;
	}	
		/* last opportunity comum */
		.catalog-block.last-opportunity .product-divider{
			padding: 5px 0px 5px 0px;
			text-align: center;
			margin-top: -18px;
			font-size: 120%;
			height: auto;
			clear: both;
		}
	/* inferior comum */
	.catalog-block .product-bottom{
		padding: 18px 20px 10px 20px;
	}	
	/* moeda comum */
	.catalog-block .product-currency{
		display: inline-block;
		float: left;
		vertical-align: bottom;
	}	
	/* pre�o comum */
	.catalog-block .product-price{
		display: inline-block;
		float: left;
		margin-left: 6px;
		font-size: 18px;
	}	
	/* bot�o add comum */
	.catalog-block .product-addbtn{
		display: inline-block;
		float: right;
		width: 24px;
		height: 24px;
		background-image: url('../images/plus.png');
		border-radius: 50%;
		cursor: pointer;
	}	
	/* t�tulo do cat�logo comum */
	.catalog-block .catalog-title{
		text-align: center;
		padding-top: 14px;
		font-size: 26px;
		height: 21px;
	}	
	/* imagem do cat�logo comum */
	.catalog-block .catalog-image {
		max-width: 223px;
		margin: auto;
		padding-top: 14px;
	}

/*best sellers*/
.best-sellers{
	width:798px;
	margin: 10px 13px 0 10px;
}
.best-sellers-title{
	display: block;
	width: 565px;
	margin:13px 0 13px 0;
	font-size: 25px;
	line-height:40px;
	z-index:99;
	letter-spacing: 5px;
	background: transparent url(../images/catalog/best-sellers/best-sellers.png) no-repeat top right;
	background-size:85px 84px;
}
.big{font-size: 40px; line-height:40px;}
.bold{font-weight: bold;}

.best-sellers-col-left, .best-sellers-col-right{
	display: inline-block;
}
	
.best-sellers-col-left{
	width: 300px;
	float:left;
	border-right: 1px solid #5B5B5B;
}
.best-sellers-col-right{
	width: 488px;
	float:right;
}
.best-sellers-col-left-item{
	display: block;
	margin: 10px 0 30px 0;
	min-height: 55px;
	font-weight: bold
}
.best-sellers-col-left-item .weight{
	font-weight: normal !important;
}
.best-sellers-col-left-item .number{
	width: 25px;
	height: 25px;
	vertical-align: middle;
	line-height: 25px;
	border-radius: 50%;
	background-color:#ecbab9;
	text-align:center;
	font-weight: bold;
	display: inline-block;
	margin:4px 5px 5px 0;
	float: left;
}
.best-sellers-col-left-item  .descript{
	display: inline-block;
	width: 260px;
	margin-right: 5px;
	float: right;
}
.best-sellers-col-right-item{
	display: block;
	margin-bottom: 10px;
	min-height: 43px;
}
/*PARA IMAGENS COM NUMERACAO SEPARADA
.best-sellers-col-right-item .number{
	width:150px;
	height:150px;
	vertical-align: middle;
	font-size:150px;
	text-align:center;
	line-height:150px;
	position: absolute;
	font-weight: 100 !important;
	color: rgba(236, 186, 185, 0.5);
margin-left: -25px;
}
.best-sellers-col-right-item  .descript{
	position: absolute;
	max-width:200px;
	max-height:150px;
	text-align:right;
}*/
.best-sellers-col-right-item  .descript{
	position: absolute;
	z-index:-1;
}
.img1{
	top: 108px;
	left: 323px;
	width: 108px;
}
.img2{
	top: 189px;
	left: 474px;
	width: 122px;
}
.img3{
	top: 57px;
	left: 611px;
	width: 186px;
}
.img4{
	top: 394px;
	left: 676px;
	width: 108px;
}
.img5{
	top: 466px;
	left: 533px;
	width: 92px;
}
.img6{
	top: 360px;
	left: 311px;
	width: 195px;
}
.img7{
	top: 556px;
	left: 341px;
	width: 145px;
}
.img8{
	top: 738px;
	left: 357px;
	width: 127px;
}
.img9{
	top: 648px;
	left: 538px;
	width: 118px;
}
.img10{
	top: 806px;
	left: 570px;
	width: 200px;
}