/*HEADING*/
.heading-gradient {
	position: absolute;
	top: -45px;
	left: 0;
	right: 0;
	border-radius: 4px 4px 0 0;
	padding: 10px;
	color: #fff;
	font-size: 18px;
	padding: 15px 0 15px 30px;
	background: #000 url(../images/heading-gradient-bg.png) repeat-y;
}
.form-add-email, .form-add-tel, .form-add-to-basket, .form-choose-customer, .form-delivery-details-modal, .form-input-products, .form-payment-credit-card, .form-payment-advance-money, .form-payment-check, .form-payment-exchange-modal {
	padding: 40px 30px 30px 30px;
	border-radius: 0 0 4px 4px;
	box-shadow: 0px 10px 50px 10px #999;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 111px;
}

/*form add email*/
.form-add-email, .form-add-tel {
	margin-left: -215px;
	width: 370px
}
/*add to basket dialog*/
.price-add-to-basket {
	font-size: 24px;
	text-align: center;
	color: #b77a78;
	padding-left: 12px;
	margin-bottom: 10px;
	width: 100px;
}
.total-price-add-to-basket {
	width: 125px;
}
.rose-color {
	color: #b77a78;
}
.form-add-to-basket {
	width: 360px;
	margin-left: -210px
}
.form-add-to-basket .line-gradient-01 {
	padding: 20px 0 20px 0;
}
.form-add-to-basket .img-catalog-02 img {
	width: 180px;
	float: left;
	margin-bottom: 10px;
}
.form-add-to-basket .wrapper-qtde {
	float: right;
	margin: 30px;
}
/*choose customer*/
.form-choose-customer {
	width: 310px;
	margin-left: -185px
}
.form-payment-credit-card .btn-plus-payment-credit-card {
	margin-top: 25px;
}
.btn:hover {
	background: #e2a9a8 !important;
}

/*delivery details*/
.ic-calendar{
	position:relative;
	top:28px
}
.form-delivery-details-modal {
	width: 572px;
	margin-left: -316px;
}
.form-delivery-details-modal .combo-width-delivery-details {
	width: 430px
}
.btn-plus-pink {
	position: relative;
	top: 25px
}
.form-delivery-details-modal .btn-plus-delivery-details {
	margin-top: 25px;
}
.btn:hover {
	background: #e2a9a8 !important;
}

.btn-plus-delivery-details {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.row-grid-delivery-details  .btn {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}

/*input products*/
.form-input-products {
	width: 472px;
	margin-left: -266px
}
.btn-plus-pink {
	position: relative;
	top: 25px
}
.form-input-products .btn-plus-input-products {
	margin-top: 25px;
}
.btn:hover {
	background: #e2a9a8 !important;
}
.form-input-products .combo-width {
	width: 282px;
}
.btn-plus-input-products {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.row-input-products-grid  .btn {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}

.total-value-total-count {
	margin-top: 10px;
	text-align: right;
	white-space: nowrap;
}
.total-items {
	margin-top: 10px;
	text-align: right;
	white-space: nowrap;
}

.total-products {
	margin-top: 10px;
	text-align: right;
	white-space: nowrap;
}
.total-value-total-count strong {
	white-space: nowrap;
}

.total-value-input-products strong {
	white-space: nowrap;
}
.total-value-input-products {
	float: right;
	margin-top: 10px;
	text-align: right;
	white-space: nowrap;
}
/* input money*/

.modal .dropdown-menu .divider {
	display: none;
}

.modal .dropdown-menu .btn-group {
	display: none;
}

.modal .dropdown-menu .btn-success {
	display: none;
}

.input-cta {
	width: 76px
}
.input-money-payment {
	width: 98px;
	border: 1px solid #e0e0e0 !important;
}
.combo-width-1 {
	width: 75px;
}
.combo-width {
	width: 309px;
}

.form-payment-credit-card {
	width: 472px;
	margin-left: -266px
}
.btn-plus-pink {
	position: relative;
	top: 25px
}
.form-payment-credit-card .btn-plus-payment-credit-card {
	margin-top: 25px;
}
.btn:hover {
	background: #e2a9a8 !important;
}
.form-payment-credit-card .combo-width-1 {
	width: 96px;
}
.form-payment-credit-card .combo-width {
	width: 230px;
}
.btn-plus-payment-credit-card {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.row-payment-credit-card-grid  .btn {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}

.total-value-payment-credit-card {
	float: right;
	margin-top: 20px;
	text-align: right;
}

/*advance money*/
.form-payment-advance-money {
	width: 472px;
	margin-left: -266px
}
.btn-plus-pink {
	position: relative;
	top: 25px
}
.form-payment-advance-money .btn-plus-payment-credit-card {
	margin-top: 25px;
}
.btn:hover {
	background: #e2a9a8 !important;
}
.form-payment-advance-money .combo-width {
	width: 250px;
}
.btn-plus-payment-credit-card {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.row-payment-advance-money  .btn {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}

.total-value-advance-money {
	float: right;
	margin-top: 20px;
	text-align: right;
}
/*payment check*/
.form-payment-check .btn-plus-payment-check {
	margin-top: 25px;
}

.row-payment-check-grid .btn {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.row-payment-check-grid .btn:hover {
	background: #e2a9a8;
	text-shadow: none;
	border: none;
	height: 30px
}
.btn-plus-payment-check {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.btn-plus-payment-check:hover {
	background: #e2a9a8;
}

.rose-color {
	color: #b77a78;
}
.form-payment-check {
	margin-left: -317px;
	width: 574px
}

.form-payment-check .line-gradient-01 {
	padding: 20px 0 20px 0;
}

.total-value-payment-check {
	float: right;
	margin-top: 20px;
	text-align: right;
}
/*payment credit card*/
.form-payment-credit-card {
	width: 472px;
	margin-left: -266px
}
.btn-plus-pink {
	position: relative;
	top: 25px
}
.form-payment-credit-card .btn-plus-payment-credit-card {
	margin-top: 25px;
}
.btn:hover {
	background: #e2a9a8 !important;
}
.form-payment-credit-card .combo-width-1 {
	width: 96px;
}
.form-payment-credit-card .combo-width {
	width: 230px;
}
.btn-plus-payment-credit-card {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.row-payment-credit-card-grid  .btn {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}

.total-value-payment-credit-card {
	float: right;
	margin-top: 20px;
	text-align: right;
}
/*product exchange*/
.form-payment-exchange-modal {
	width: 472px;
	margin-left: -266px
}
.form-payment-exchange-modal .combo-width-product-exchange {
	width: 330px
}
.btn-plus-pink {
	position: relative;
	top: 25px
}
.form-payment-exchange-modal .btn-plus-payment-product-exchange {
	margin-top: 25px;
}
.btn:hover {
	background: #e2a9a8 !important;
}
.form-payment-exchange-modal .combo-width {
	width: 250px;
}
.btn-plus-payment-product-exchange {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.row-payment-grid-product-exchange  .btn {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}

.total-value-product-exchange {
	float: right;
	margin-top: 20px;
	text-align: right;
}

.modal-container {
	border: 3px solid #fff;
	border-radius: 4px;
}
.modal-header {
	padding: 4px 10px;
	border-bottom: 1px solid #eee;
	border-radius: 4px 4px 0 0;
	background: #ecbab9;
}
.modal-header .ic-close {
	display: inline-block;
	background: url(../images/ic-close.png) no-repeat;
	width: 22px;
	height: 22px;
	position: absolute;
	right: 10px;
	top: 12px;
}
.modal-header .ic-close:hover {
	cursor: pointer
}
