/*-------------------------
  new stuff to make our lives easer, or not.
 ---------------------------*/
 .fake-input{
     border-radius: 4px;
     border: 1px #ccc solid;
     padding: 4px;
     height: 20px;
     font-size: 16px;
     cursor: pointer;
 }

 div.zoom{
 	width: 230px;
 	height: 230px;
 }
 .zoom img{
 	margin: auto;
 }
 
 /* modal structure */
 .modal-head{
     border-radius: 4px 4px 0 0;
     width: 100%;
     color: #fff;
     font-size: 16px;
     white-space: pre-wrap;
     padding: 10px;
     background: #000;
     font-family: "Quicksand-Regular", Helvetica, Arial,"Helvetica Neue", sans-serif;
     text-align:center;
     -moz-box-sizing:    border-box;
     -webkit-box-sizing: border-box;
     box-sizing:        border-box;
 }
 
 .modal-body{
     padding: 20px 20px 0px 20px;
     width: 100%;
     display: inline-table;
     -moz-box-sizing:    border-box;
     -webkit-box-sizing: border-box;
     box-sizing:        border-box;
 }
 
 .modal-foot{
     padding: 0px 20px 20px 20px;
     width: 100%;
     -moz-box-sizing:    border-box;
     -webkit-box-sizing: border-box;
     box-sizing:        border-box;   
 }
 .modal-foot hr{
 	margin: 10px 0px 20px 0px;
 }
 
 .modal-body .numpad-holder{
     float: left;
     display: block;
 }
 
 /* numpad */
 .modal-numpad{
     position: absolute;
     top: 80px;
     left: 50%;
     z-index: 1050;
     width: 336px;
     margin-left: -320px;
     background-color: white;
     border: none;
     border-radius: 4px;
     box-shadow: -5px -5px 100px 10px #525151;
 }
 .modal-numpad input{
     width: 282px;
     height: 40px;
 }
 
 .modal-add-basket-details-dialog{
     position: absolute;
     top: 80px;
     left: 50%;
     z-index: 1050;
     width: 820px;
     margin-left: -410px;
     background-color: white;
     border: none;
     border-radius: 4px;
     box-shadow: -5px -5px 100px 10px #525151;
 }
 
 .modal-add-basket-dialog {
     position: absolute;
     top: 80px;
     left: 50%;
     z-index: 1050;
     width: 420px;
     margin-left: -210px;
     background-color: white;
     border: none;
     border-radius: 4px;
     box-shadow: -5px -5px 100px 10px #525151;
 }

 .modal-add-basket-dialog-body .info{
     width: 120px;
 }
 .modal-add-basket-dialog-body .info .info-item{
     width: 100%;
     margin-top: 25px;
 }
 
 /*
	all this at modal-body, maybe should be at some more restricted class....
 */

 .modal-body .img-holder{    
     text-align:center;
     vertical-align:center;
     display:block;
     margin:auto;
     float: left;
 }
 .modal-body .info{
     text-align:center;
     display:block;
     float: left;
 }
  
 .modal-body .info small{
     font-size: 12px;
     text-align: center;
     color: #333;
 }
 .modal-body .info .info-label{
     margin-bottom: 5px;
 }
 .modal-body .info .price{
     font-size: 19px;
     text-align: center;
     color: #333;
 }
 .modal-body .info .discount span{
     display: block;
 }
 .modal-body .info .discount .fake-input{
     width: 60px;
     margin: auto;
 }
 
 .modal-body .info .price small{
     display: inline-block;
     padding-right: 6px;
 }
 
 .modal-body .info .total span{
     display: block;
 }
 .modal-body .info .total .total-value{
     font-size: 19px;
     text-align: center;
     color: #333;
 }
 .modal-body .info .total .total-value{
     font-size: 19px;
     text-align: center;
     color: #333;
 }
 .modal-body .info .quantity .quantity-value{
     font-size: 19px;
     text-align: center;
     color: #333;
 }
 
 .modal-body .info .line-gradient{
     margin-top: 30px;
     width: 100%;
 }
 .modal-body .info .stock{
     margin-top: 10px;
     color: #aaa;
 }
 
 .modal-add-basket-details-dialog-body .skus{
     width: 530px;
     float: left;
     margin: 0px 15px 2px 2px;
 }
 .modal-add-basket-details-dialog-body .info{
     width: 230px;
 }
 .modal-add-basket-details-dialog-body .info .info-item{
     float: left;
     margin-top: 25px;
 }
 .modal-add-basket-details-dialog-body .info .info-label{
     width: 100%;
     display: inline-block;
 }
.modal-add-basket-details-dialog-body .quantity .info-label,
.modal-add-basket-details-dialog-body .total 	.info-label{
	margin-bottom: 10px;
}


 .modal-add-basket-details-dialog-body .quantity{
     width: 25%;
     display: inline-block;
 }
 .modal-add-basket-details-dialog-body .total{
     width: 45%;
     display: inline-block;
 }
 .modal-add-basket-details-dialog-body .discount{
     width: 30%;
     display: inline-block;
 }
 
 /*-------------------------
  end of the new stuff
 ---------------------------*/
 
 
 

/*HEADING*/
.heading-gradient {
	position: absolute;
	top: -40px;
	left: 0;
	right: 0;
	border-radius: 4px 4px 0 0;
	color: #fff;
	font-size: 16px;
	white-space: pre-wrap;
	padding: 10px;
	background: #000;
	font-family: "Quicksand-Regular", Helvetica, Arial,"Helvetica Neue", sans-serif;
	text-align:center;
}
.form-confirmation-dialog, 
.form-add-email,
.form-add-tel,
.form-add-to-basket,
.form-add-to-basket2,
.form-choose-customer,
.form-delivery-details-modal,
.form-input-products,
.form-input-receivable-dialog,
.form-payment-credit-card,
.form-payment-advance-money,
.form-payment-check,
.form-payment-exchange-modal {
	padding: 22px;
	border-radius: 0 0 4px 4px;	
	box-shadow: -5px -5px 100px 10px #525151;/*box-shadow: 0px 10px 50px 10px #999;*/
	background: #fff;
	position: absolute;
	left: 50%;
	top: 78px;
}

/*form add email*/
.form-add-to-basket .form-add-email, .form-add-to-basket .form-add-tel {
	margin-left: -215px;
	width: 370px;
}

.form-add-email, .form-add-tel {
	margin-left: -207px;
	width: 370px;
}

/*add to basket dialog details*/

.form-add-to-basket .quantidade{
	margin-left:5px;
	width:40%;
	float:left;
	margin-top: 25px;
}
.form-add-to-basket .preco{
	margin-right:5px;
	width:52%;
	float:right;
	margin-top: 25px;
}
.form-add-to-basket .label-input-qtde {
	width:auto;
	text-align: center;
	display: block;
	margin:2px 0 10px 0;
}
.form-add-to-basket .price-popup-sub {
	color:#343434;
	font-size:19px;
}
.form-add-to-basket .total-price-add-to-basket {
	width: 150px;
	text-align:center;
	margin-top:24px
}
.form-add-to-basket .price-popup-small {
	font-size:14px;
	width: 18px;
	position:relative;
	top:-2px;
}
.form-add-to-basket .qty-value{/*.input-row-qtde-cart input {*/
	width: 100% !important;
	height: 35px;
	text-align: center;
	font-size:20px;
	display: inline-block;
	line-height: 35px;
	color: #555555;
	vertical-align: middle;
}

/*add to basket dialog*/
.form-add-to-basket2 .price-add-to-basket {
	font-size: 19px;
	text-align: center;
	color: #333;
	margin-bottom: 20px;
	/*padding-left: 12px;
	width: 120px;*/
}
.form-add-to-basket2 .label-input-qtde {
	width:auto;
	text-align: center;
	display: block;
	margin:2px 0 13px 0;
}
.form-add-to-basket2 .price-popup-sub {
	color:#343434;
	font-size:19px;
}
.form-add-to-basket2 .total-price-add-to-basket {
	width: 150px;
	text-align:center;
	margin-top:24px
}
.form-add-to-basket2 .price-popup-small {
	font-size:14px;
	/*display: block;
	float: left;*/
	margin: 1px 2px 0 6px;
	width: 18px;
}
.form-add-to-basket2 .price-popup-total {
	font-size:14px;
	margin: 50px 0 -20px 0;
	height: 20px;
	display: block;
}
.line-type-info {
	width:100%;
	height:20px;
	color:#C8C8C8;
	text-align:center;
	position: relative;
	top: 8px;
}
.line-gradient {
	/*width:150px;*/
	height:1px;
	display:block;
	background: #eee;
	background: -moz-linear-gradient(left,  #ffffff 0%, #dddddd 20%, #eeeeee 86%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(20%,#dddddd), color-stop(86%,#eeeeee), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(left,  #ffffff 0%,#dddddd 20%,#eeeeee 86%,#ffffff 100%);
	background: -o-linear-gradient(left,  #ffffff 0%,#dddddd 20%,#eeeeee 86%,#ffffff 100%);
	background: -ms-linear-gradient(left,  #ffffff 0%,#dddddd 20%,#eeeeee 86%,#ffffff 100%);
	background: linear-gradient(to right,  #ffffff 0%,#dddddd 20%,#eeeeee 86%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
	margin:33px auto 5px auto;
}
.quantity-products-basket {
	width:auto;
	color:#999 !important;
	font-size:16px;
	text-align:center;
}
.quantity-products-basket span{
	font-size:15px;
}
span.zoom {
	margin:20px 0;	
	width: 223px;
	height: 223px;
}
.rose-color {
	color: #b77a78;
}
.form-add-to-basket {
	width: 780px;
	margin-left: -410px
}
.form-add-to-basket2 {
	width: 360px;
	margin-left: -210px
}
.form-add-to-basket .line-gradient-01, .form-add-to-basket2 .line-gradient-01  {
	padding: 20px 0 20px 0;
}
.form-add-to-basket .img-catalog-02 img, .form-add-to-basket2 .img-catalog-02 img {
	width: 180px;
	float: left;
	margin-bottom: 10px;
}
.form-add-to-basket .wrapper-qtde {
	float: left;
	margin: 0px 15px 2px 2px;
}
.form-add-to-basket .wrapper-size { width:530px !important}
.form-add-to-basket2 .wrapper-qtde {
	float: right;
	margin: 5px 20px 2px 20px;
}
.img-catalog-basket {
	float:right;
	width: 230px;
}

/*choose customer*/
.form-choose-customer {
	width: 360px;
	margin-left: -185px
}
.form-payment-credit-card .btn-plus-payment-credit-card {
	margin-top: 25px;
}
/*.btn:hover {
	background: #e2a9a8 !important;
}*/

/*delivery details*/
.form-delivery-details-modal .input-qty {
	margin: 5px 12px 0 17px
}
.form-delivery-details-modal .ic-calendar {
	position: relative;
	top: 28px
}
.form-previous-entries .ic-calendar {
	position: relative;
	top: 3px
}
.form-delivery-details-modal {
	width: 572px;
	margin-left: -316px;
}
.form-delivery-details-modal .combo-width-delivery-details {
	width: 380px;
}
.btn-plus-pink {
	position: relative;
	top: 25px
}
.form-delivery-details-modal .btn-plus-delivery-details {
	margin-top: 25px;
}
/*.btn:hover {
	background: #e2a9a8 !important;
}*/

.btn-plus-delivery-details {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.row-grid-delivery-details  .btn {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}

.form-input-receivable-dialog {
	width: 340px;
	margin-left: -266px
}

/*input products*/
.form-input-products {
	width: 472px;
	margin-left: -266px
}
.btn-plus-pink {
	position: relative;
	top: 25px
}
.form-input-products .btn-plus-input-products {
	margin-top: 25px;
}
/*.btn:hover {
	background: #e2a9a8 !important;
}*/
.form-input-products .combo-width {
	width: 282px;
}
.btn-plus-input-products {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.row-input-products-grid  .btn {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}

.total-value-total-count {
	text-align: right;
	white-space: nowrap;
}
.total-value-total-count, .total-items, .total-products{
	line-height:20px
}
.total-items {
	margin-top: 10px;
	text-align: right;
	white-space: nowrap;
}

.total-products {
	text-align: right;
	white-space: nowrap;
}
.total-value-total-count strong {
	white-space: nowrap;
}

.total-value-input-products strong {
	white-space: nowrap;
}
.total-value-input-products {
	float: right;

	text-align: right;
	white-space: nowrap;
}
/* input money*/

.modal .dropdown-menu .divider {
	display: none;
}

.modal .dropdown-menu .btn-group {
	display: none;
}

.modal .dropdown-menu .btn-success {
	display: none;
}

.input-cta {
	width: 80px
}
.input-money-payment {
	width: 111px;
	margin:0px 0 0 0;
	border: 1px solid #eee !important;
}
input.sub-total-payment {
	background-color:#fff;
	border:0;
	font-size:18px;
}
.input-name-payment {
	width: 270px;
	border: 1px solid #fff !important;
	margin: 0px 0 0 -10px;
	text-align:left;
}
.combo-width-1 {
	width: 75px;
}
.combo-width {
	width: 360px;
}

.form-payment-credit-card {
	width: 472px;
	margin-left: -266px
}
.btn-plus-pink {
	position: relative;
	top: 25px
}
.form-payment-credit-card .btn-plus-payment-credit-card {
	margin-top: 25px;
}
/*.btn:hover {
	background: #e2a9a8 !important;
}*/
.form-payment-credit-card .combo-width-1 {
	width: 96px;
}
.form-payment-credit-card .combo-width {
	width: 230px;
}
.btn-plus-payment-credit-card {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.row-payment-credit-card-grid  .btn {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}

.total-value-payment-credit-card {
	float: right;
	margin-top: 20px;
	text-align: right;
}

/*advance money*/
.form-payment-advance-money {
	width: 472px;
	margin-left: -266px
}
.btn-plus-pink {
	position: relative;
	top: 25px
}
.form-payment-advance-money .btn-plus-payment-credit-card {
	margin-top: 25px;
}

.form-payment-advance-money .combo-width {
	width: 250px;
}
.btn-plus-payment-credit-card {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.row-payment-advance-money  .btn {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}

.total-value-advance-money {
	float: right;
	margin-top: 20px;
	text-align: right;
}
/*confirmation dialog*/
.form-confirmation-dialog {
	margin-left: -205px;
	width: 360px
}
.form-confirmation-dialog p {
	text-align:center;
}
/*payment check*/
.form-payment-check .btn-plus-payment-check {
	margin-top: 25px;
}

.row-payment-check-grid .btn {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.row-payment-check-grid .btn:hover {
	background: #e2a9a8;
	text-shadow: none;
	border: none;
	height: 30px
}
.btn-plus-payment-check {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.btn-plus-payment-check:hover {
	background: #e2a9a8;
}

.rose-color {
	color: #b77a78;
}
.form-payment-check {
	margin-left: -317px;
	width: 574px
}

.form-payment-check .line-gradient-01 {
	padding: 20px 0 20px 0;
}

.total-value-payment-check {
	float: right;
	margin-top: 20px;
	text-align: right;
}
/*payment credit card*/
.form-payment-credit-card {
	width: 472px;
	margin-left: -266px
}
.btn-plus-pink {
	position: relative;
	top: 25px
}
.form-payment-credit-card .btn-plus-payment-credit-card {
	margin-top: 25px;
}

.form-payment-credit-card .combo-width-1 {
	width: 96px;
}
.form-payment-credit-card .combo-width {
	width: 230px;
}
.btn-plus-payment-credit-card {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.row-payment-credit-card-grid  .btn {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}

.total-value-payment-credit-card {
	float: right;
	margin-top: 20px;
	text-align: right;
}
/*product exchange*/
.form-payment-exchange-modal {
	width: 472px;
	margin-left: -266px
}
.form-payment-exchange-modal .combo-width-product-exchange {
	width: 330px
}
.btn-plus-pink {
	position: relative;
	top: 25px
}
.form-payment-exchange-modal .btn-plus-payment-product-exchange {
	margin-top: 25px;
}
/*.btn:hover {
	background: #e2a9a8 !important;
}*/
.form-payment-exchange-modal .combo-width {
	width: 250px;
}
.btn-plus-payment-product-exchange {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.row-payment-grid-product-exchange  .btn {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}

.total-value-product-exchange {
	float: right;
	margin-top: 20px;
	text-align: right;
}

.modal-container {
	border: 3px solid #fff;
	border-radius: 4px;
}
.modal-header {
	padding: 4px 10px;
	border-bottom: 1px solid #eee;
	border-radius: 4px 4px 0 0;
	background: #ecbab9;
}
.modal-header .ic-close {
	display: inline-block;
	background: url(../images/ic-close.png) no-repeat;
	width: 22px;
	height: 22px;
	position: absolute;
	right: 10px;
	top: 12px;
}
.modal-header .ic-close:hover {
	cursor: pointer
}

/*change pass dialog*/

.change-pass-dialog-btns {
	width: 100%;
	height:50px;
	margin: auto;
	margin-top: 15px;
	border-top: 1px dotted #ccc;
	padding-top: 20px;
}

.change-pass-dialog-btn-area {
	width: 50%;
	float: left;
	text-align: center;
}

.change-pass-dialog-left-btns  button {
	margin-left: 50px;
}