/*FORM PARTIAL DELIVERY*/
.form-financial .panel-top {
	margin-top: 5px;
	
}
.form-financial .panel-top .combo-width{
	width:220px
}
.form-financial {
	border-radius: 6px;
	margin: -9px 10px 0 10px;
	border: 1px solid #e0e0e0;
	background: #fff;
	padding: 10px 15px 0 15px;
	width: 970px;
	/*position: fixed;
	top: 90px;
	bottom: 20px*/
	display: block;
	position: relative;
}
.scroll-financial {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
	width: 970px;
	height:300px;
	top: 2px;
	bottom: 45px;
	display: block;
}

.btn-plus-pink {
	position: relative;
	top: 25px
}

.filter-bar {
	padding: 10px;
	padding-bottom: 0px;
	margin-bottom: 5px;
	width: 950px;	
}

.txtpad {
	padding-top: 5px;
}

.calendar-financial{
	display: block;
	margin-top: 4px;
}

.form-financial .btn:hover {
	background: #111 !important;
	color:#fff !important;
}

.row-financial  .btn {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.total-value-financial {
	float: right;
	margin-top: 20px;
	text-align: right;
}

.bread-crumbs {
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	font-size: 16px;
	color:#e5b1b0;
	font-weight:bold;
}

.bread-crumbs .principal {
	color: #000/*#ccc*/;
}

.bread-crumbs .crumbs {
	color:#ccc;
	font-weight: normal;
}

.bread-crumbs .icons{
	padding: 0px 5px 0px 5px;
}

/*cadastrar contas a pagar*/

/*inputs custom*/
.input-width-bills{
	width: 96%;
}
.expense .row-fluid .btn-open{
	margin-top: 22px;
	width:120px;
	float: right;
}