* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

.error {
	color: #ff2839;
	margin-top: 20px
}

/*input focus*/
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background-color: white;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0) !important;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0) !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0) !important;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s !important;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s !important;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s !important;
	transition: border linear 0.2s, box-shadow linear 0.2s !important;
}
/*input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}*/

/*menu states*/
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: #fff;
}

.nav-list-black > li > a:hover, .menu-black > li > a:focus {
	text-decoration: none;
	background-color: #555;
}

.nav li:first-child.active a {
	border-radius: 4px 4px 0 0;
	text-shadow: none;
	color: #333;
}
.nav-list-black li.selected  {
	list-style-image:url(../images/cat-li-menu.png);
	list-style-position:inside;
}
.nav-list-black li.selected  a {
	background-color:#555;
}
.nav-list-black > li > a:hover, .menu-black > li > a:focus {
	background-color:#555;
}
li.menu-black:last-child a:hover {
	background-color:#555;
}
.nav li:last-child.active a {
	border-radius: 0 0 4px 4px;
	text-shadow: none;
	color: #333;
}
	
.last-first-menu { margin-right:50px; }

.t-center {
	text-align:center;
}
.t-right {
	text-align:right !important;
}
.t-left {
	text-align:left;
}

.modal {
	position: absolute;
	top: 40px;
	left: 50%;
	z-index: 1050;
	width: 560px;
	margin-left: -280px;
	background-color: white;
	border: none;
	border: none;
	*border: none;
	/* IE6-7 */
	-webkit-border-radius: none;
	-moz-border-radius: none;
	border-radius: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-background-clip: none;
	-moz-background-clip: none;
	background-clip: none;
	outline: none;
}
.rose-color {
	color: #b77a78;
}
.total-price-add-to-basket {
	width: 125px;
}
.price-add-to-basket {
	font-size: 24px;
	text-align: center;
	color: #b77a78;
	padding-left: 12px;
	margin-bottom: 10px;
	width: 100px;
}
.form-add-to-basket .line-gradient-01 {
	padding: 20px 0 20px 0;
}

.form-add-to-basket .wrapper-qtde {
	float: right;
	margin: 30px;
}
.form-add-to-basket {
	width: 360px;
	padding: 40px 30px 30px 30px;
	border-radius: 0 0 4px 4px;
	box-shadow: 0px 10px 50px 10px #999;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 111px;
	margin-left: -180px
}
.block-product-01 {
	height: 249px;
	clear: both
}
.block-product-02 {
	height: 60px;
	clear: both
}
.block-product-04 {
	clear: both;
	height: 238px
}
.block-product-05 {
	clear: both;
	height: 28px
}
.block-product-06 {
	clear: both;
	height: 128px
}

.footer-product-right-01 .bottom-products-right {
	padding: 10px 20px 10px 20px;
}
.footer-product-right-02 .bottom-products-right {
	padding: 18px 20px 10px 20px;
}
.footer-product-right-03 .bottom-products-right {
	padding: 25px 20px 10px 20px;
}
.footer-product-right-03 .divider {
	margin: 10px 0 10px 0;
	clear: both;
	float: left
}
.footer-product-right {
	clear: both;
}
.footer-product-right-01 .divider {
	margin-top: 10px
}
.footer-product-right-02 .last-oportunitie {
	margin-top: -8px;
	font-size:120%;
	clear: both
}
/*alpha dialog*/
.modal-backdrop, .modal-backdrop.fade.in {
	opacity: 0.2;
	filter: alpha(opacity=80);
}
/*btns*/
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	color: #ffffff;
	background-color: #000;
	*background-color: #000;
}
/*icons input calendar*/
[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	*margin-right: .3em;
	line-height: 14px;
	/*vertical-align: text-top;*/
	background-image: url("../images/glyphicons-halflings.png");
	/*background-position: 14px 14px;*/
	background-repeat: no-repeat;
	margin-top: 1px;
}
/*heading dialogs*/
.heading-gradient {
	position: absolute;
	top: -45px;
	left: 0;
	right: 0;
	border-radius: 4px 4px 0 0;
	padding: 10px;
	color: #fff;
	font-size: 18px;
	/*text-transform: uppercase;*/
	padding: 15px 0 15px 30px;
	background: #000 url(../images/heading-gradient-bg.png) repeat-y;
}

/*main container*/
body {
	background: #fdfdfd;
  margin: 0;
  font-family: Helvetica, Arial,"Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.last-oportunitie {
	padding: 5px;
	text-align: center;
}

.container {
	width: 1024px;
	position: relative;
	left: 50%;
	margin-left: -512px;
}
/*btn forms*/
.container .add-on {
	/*background: #ecbab9;*/
	text-shadow: none;
	color: #333;
}
.container .add-on:hover {
	background: #dc9390;
	cursor: pointer
}
.panel-footer-new-customer .btn:hover {
	background: #dc9390;
}
/*form login*/
.remember-pass input[type="checkbox"] {
	float: left;
	margin: 4px 5px 0 0px;
}
.remember-pass {
	padding: 10px;
}
.link-forgot-pass {
	margin-top: 25px;
}
.link-forgot-pass a {
	color: #333
}
.bg-login-right {
	background: url(../images/bg-right-mary.png);
	width: 603px;
	height: 569px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.bg-login-left {
	background: url(../images/bg-left-mary.png);
	width: 420px;
	height: 623px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.bg-login-center {
	background: url(../images/bg-center-mary.png);
	width: 458px;
	height: 418px;
	position: absolute;
	top: 5px;
	left: 48%;
	margin-left: -229px;
}
.btn-login:hover {
	background: #e2a9a8
}

.btn-large {
	padding: 11px 19px;
	font-size: 17.5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.btn {
	border: none;
	text-shadow: none;
	color: #fff;
	font-size: 16px;
	min-width: 86px;
	max-width: 300px;
	padding: 8px;
	white-space: nowrap;
	overflow: hidden;
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.btn-ok{
	background: #5d9732;
}
.btn-cancel {
	background: #333;
}
.btn-open{
	background: #AEAEAE;
}
.btn-ok:hover{
	background: #48841c !important;
}
.btn-cancel:hover {
	background: #000 !important;
}
.btn-open:hover{
	background: #48841c !important;
}
.dropdown-menu .btn {
	background: #fff;
	color: #333;
	font-size: 14px;
	min-width: 50px;/*36px;
	max-width: 300px;*/
	padding: 10px;/*5px;*/
	white-space: nowrap;
	border: 1px solid #ccc
}
.dropdown-menu .btn:hover {
	background: #F2F2F2 !important; /*#ecbab9 !important;*/
}
.bg-login {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #faeae9
}
.lbl-top {
	display: inline-block;
	vertical-align: top
}
.form-signin {
	width: 360px;
	padding: 40px 30px 30px 30px;
	border-radius: 0 0 4px 4px;
	box-shadow: 0px 10px 50px 10px #999;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 111px;
	margin-left: -180px
}
.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin-heading {
	background: #000;
	position: absolute;
	top: -60px;
	left: 0;
	right: 0;
	border-radius: 4px 4px 0 0;
	color: #fff;
	height: 66px
}
.form-signin-heading img {
	margin:18px 14px 14px 14px;
}
.form-signin input[type="text"], .form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}
/*end form login*/
.margin-row {
	margin-bottom: 10px
}
.nav {
	font-size: 14px;
}
.nav .dropdown {
	float:right !important;
	font-size: 14px;
	margin:-5px 0 0 2px;
}
.nav .dropdown ul li a {
	padding: 10px 10px 10px 10px;
}
.nav .dropdown ul li {
	border-bottom: 1px dotted #ccc
}
.nav .dropdown ul li:last-child {
	border-bottom: 1px solid transparent
}
.sidebar-menu .nav {
	font-size: 100%;
}
.sidebar-menu1 .nav {
	font-size: 100%;
}
.menu-black a{
	background-color:#000;
	color: #fff;
}
li.menu-black {
	text-indent:10px;
}
.nav-list-black li.selected {
	text-indent:-6px;
}
li.menu-black:last-child a {
	border-radius: 0 0 4px 4px;
	/*text-shadow: none;
	background-color:#000;
	color: #fff;*/
}
.nav .bege.active a {
	background: #e6d6c0;
	color: #333;
	text-shadow: none;
}
.header-hour {	margin:0 0 0 16px !important; }
.header-hour div{
	font-size:18px;
	color:#CCC;
	height:20px;
	margin-left:5px;
	text-align:center;
}
div.header-date {
	font-size:14px;
	color:#CCC;
	margin-top:-20px;
}
.header-basket {
	margin-left:37px;
}
.bag:hover {
	cursor: pointer
}
.bag {
	background: url(../images/bag.png) no-repeat;
	display: inline-block;
	width: 42px;
	height: 36px;
	margin: 0px 1px 0 0;
	text-align: center;
	padding-top: 15px;
	-webkit-tap-highlight-color: transparent;
	font-size:15px;
}
/*nav header*/

.hover-state-pointer:hover {
	cursor: pointer
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
	color: #333;
	text-decoration: none !important;
	background-color: none !important;
	background-image: none !important;
	background: none !important;
	filter: none !important;
}
.navbar .dropdown .dropdown-menu {
	margin: 0 0 0 -154px;
	width:200px;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
	color: #ffffff;
	background-color: transparent;
}
.navbar .nav > li > a {
	float: none;
	padding: 10px 15px 10px 0;
	color: #777777;
	text-decoration: none;
	text-shadow: 0 1px 0 #ffffff;
}
#topMenuHome {
	margin: 18px auto 0 290px;
}
nav ul li {
	margin-right:25px;
	/*border-bottom:1px solid #F99;*/
}

.container .navbar .nav {
	float: none;
	margin: 18px auto 0 auto;
}

.text-product {
	padding: 10px;
	max-height: 30px;
	overflow: hidden;
}
.text-product2 {
	padding: 10px;
	max-height: 30px;
	overflow: hidden;
}
.text-product3 {
	margin-left: 10px;
	max-height: 20px;
	overflow: hidden;
}
.title-catalog-1 {
	font-size: 32px;
	display: block;
	line-height: 41px;
	padding-left: 10px;
	color: #fff;
	margin: 10px 0 0 10px;
	border-radius: 4px;
	box-shadow: -1px 1px 8px 1px #e0e0e0;
	text-shadow: #999 2px 1px;
	width: 789px
}
.title-catalog {
	font-size: 32px;
	display: block;
	line-height: 41px;
	padding-left: 10px;
	color: #fff;
	margin: 0 0 0 10px;
	border-radius: 4px;
	box-shadow: -1px 1px 8px 1px #e0e0e0;
	text-shadow: #999 2px 1px;
	width: 789px
}
.title-products {
	padding: 10px 10px 0 10px;
}
.title-products {
	font-weight: bold
}
.block-06 .text-product {
	display: inline-block;
	float: left;
	width: 200px
}

.img-catalog-01 {
	padding-top: 6px
}
/*line*/
.line-gradient-01 {
	text-align: center;
}
/* img-catalog-01 */
.img-catalog-01 {
	max-width: 223px;
	margin: auto;
}
/* img-catalog-02 */
.img-catalog-02 {
	text-align: center;
	padding-top: 10px
}
.img-catalog-02 img {
	max-width: 90px;
	max-height: 90px;
}
.img-catalog-basket img {
	max-width: 190px;
	/*max-height: 90px;*/
}
.img-catalog-basket2 img {
	max-width: 200px;
}
.col-right .img-catalog-02 img {
	max-width: 90px;
	max-height: 90px;
}
/*font colors*/
.green {
	color: #5d9732;
}

/*title*/
.title-01 {
	text-align: center;
	padding-top: 14px;
	font-size: 26px
}
.box-catalog {
	border-radius: 6px;
	box-shadow: -1px 1px 8px 1px #e0e0e0;
	background: #fdfeff;
}
/*2 columns*/
.col-left {
	float: left;
	width: 404px;
	margin-top: 10px;
}
.col-right {
	float: left;
	width: 404px;
	margin-top: 10px;
}
/*side bar*/
.sidebar-menu, .sidebar-menu1 {
	box-shadow: -1px 1px 8px 1px #e0e0e0;
	border-radius: 4px;
	width: 180px;
	background: #fdfeff;
	float: right;
	margin: 0 23px 10px 0;
	position: relative;
	/*overflow-y: auto;
	max-height: 409px;*/
	clear:both;
}
.sidebar-menu1 {margin-top:-7px !important;}
/*.sidebar-menu1 {
	box-shadow: -1px 1px 8px 1px #e0e0e0;
	border-radius: 4px;
	width: 180px;
	background: #fdfeff;
	float: right;
	margin-top: -8px;
	margin-right: 23px;
	position: relative;
	clear:both;
}*/
.banner-side-bar {
	box-shadow: -1px 1px 8px 1px #e0e0e0;
	border-radius: 4px;
	padding: 10px;
	margin-top: 11px;
	height: 450px;
	display: inline-block;
	background: #fdfeff;
	float: right;
	clear: both;
	margin-right: 23px;
}
.banner-side-bar img {
	max-width: 160px
}

.nav-list > li > a {
	padding: 3px 15px;
	color: #666666;
	padding: 10px;
}
.nav-list > li.menu-black > a {
	/*padding: 3px 15px;
	padding: 10px;*/
	color: #fff;
	text-shadow:none;
}
.nav-list li a {
	display: block;
	border-bottom: 1px solid #d5d5d5;
	-webkit-tap-highlight-color: transparent;
}

.nav-list  li:last-child a {
	border-bottom: none;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	color: white;
	background-color: transparent;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	color: #ecbab9;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	-webkit-tap-highlight-color: transparent;
}
.container .navbar-inner {
	height: 68px;
	padding-left: 0px;
	padding-right: 10px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	*zoom: 1;
	background: #000;
}
.container .navbar .brand {
	float: left;
	display: block;
	padding: 20px 0 0 40px;
}

.home-scroll-content {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	width: 1024px;
	position: fixed;
	top: 70px;
	bottom: 10px;
}
.btn-clear-form {
	padding: 28px 6px 1px 2px;
	height: 30px
}

.btn-clear-form .btn-clear {
	display: inline-block;
	float: right;
	width: 24px;
	height: 24px;
	background-image: url(../images/x-char-w.png);
	border-radius: 50%;
	margin:0 5px 0 5px;
}
.btn-clear-form .btn-plus2 {
	display: inline-block;
	float: right;
	width: 24px;
	height: 24px;
	background-image: url(../images/plus-w.png);
	border-radius: 50%;
	margin:0 5px 0 5px;
}

/*footer*/
.footer {
	background: #000000;
	width: 1024px;
	position: fixed;
	left: 50%;
	margin-left: -512px;
	bottom: -2px;
	border-top: 0px solid #fff;
	box-shadow: 0px 0px 10px 0px #666;
}
.footer a:active {
	text-decoration: none
}
/*footer  products left*/
.bottom-products-left {
	padding: 10px 20px 10px 20px;
	height: 30px
}
.bottom-products-left .price {
	display: inline-block;
	float: left;
}
.bottom-products-left .btn-plus {
	display: inline-block;
	float: right;
	width: 24px;
	height: 24px;
	background-image: url(../images/plus.png);
	border-radius: 50%
}
.bottom-products-left .btn-plus2 {
	display: inline-block;
	float: right;
	width: 24px;
	height: 24px;
	background-image: url(../images/plus-w.png);
	border-radius: 50%
}
}
.bottom-products-left .btn-plus:hover, .bottom-products-left .btn-plus2:hover {
	cursor: pointer
}

.bottom-products-right .price {
	display: inline-block;
	float: left;
	vertical-align:bottom;
}
.bottom-products-right .price-number {
	display: inline-block;
	float: left;
	margin-left:6px;
	font-size:18px;
}
.bottom-products-left .price-number {
	display: inline-block;
	float: left;
	margin-left:6px;
	font-size:18px;
}
.img-catalog-basket img {
	text-align:center;
	vertical-align:center;
	display:block;
	margin:20px;
}
.img-catalog-basket2 img {
	text-align:center;
	vertical-align:center;
	display:block;
	margin:auto auto;
}

.bottom-products-right .btn-plus {
	display: inline-block;
	float: right;
	width: 24px;
	height: 24px;
	background-image: url(../images/plus.png);
	border-radius: 50%
}
.bottom-products-right .btn-plus2 {
	display: inline-block;
	float: right;
	width: 24px;
	height: 24px;
	background-image: url(../images/plus-w.png);
	border-radius: 50%
}
.bottom-products-right .btn-plus:hover, .bottom-products-right .btn-plus2:hover {
	cursor: pointer
}
/*nav-footer*/
.nav-footer .link-footer {
	-webkit-tap-highlight-color: transparent;
}
.nav-footer .link-footer:link {
	display: inline-block;
	height: 25px;
	width: 195px;
	border-right: 1px solid #fff;
	padding: 5px 0 0 0;
	color: #fff !important;
}

.nav-footer .link-footer:hover {
	background: #e2a9a8;
	text-decoration: none;
	color: #333 !important;
	cursor: pointer;
	border-right: 1px solid #fff;
}

.nav-footer .link-footer:visited {
	text-decoration: none;
	color: #fff;
	background: #e2a9a8;
	-webkit-tap-highlight-color: transparent;
}
ul.nav-footer {
	padding: 0;
	margin: 0;
	width: 590px;
	margin: auto;
}

ul.nav-footer li {
	display: inline-block;
	width: 192px;
	text-align: center;
}
ul.nav-footer li:first-child {
	border-left: 1px solid #fff;
}

input.ng-invalid-required.ng-dirty, .failed input.ng-invalid-required, .failed textarea.ng-invalid-required, .failed .ng-invalid-required .select2-choice {
	color: #b94a48;
	border-color: #ee5f5b !important;
}

/* SCROLL */
::-webkit-scrollbar {
    width: 5px;
} 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
} 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(85,85,85,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(85,85,85,0.4); 
}

.left-payment{
	/*padding-left: 8px;*/
}


/*breadcrumbs*/

.bread-crumbs {
	margin: 5px 0 20px 0;
	border-bottom: 1px solid #ccc;
	padding: 5px 0 5px 5px !important;
	font-size: 16px;
	color:#e5b1b0;
	font-weight:bold;
	height: 35px !important;
}

	.bread-crumbs .principal {
		color: #000/*#ccc*/;
	}

	.bread-crumbs .crumbs {
		color:#ccc;
		font-weight: normal;
	}

	.bread-crumbs .icons{
		padding: 0px 5px 0px 5px;
	}

/*menu do breadcrumbs*/

.menu-level{	
	margin: 0 !important;
	padding: 0 !important;
	/*margin-left: 50px !important;*/
}

.menu-level .btn{	
	font-weight: normal !important;
	margin-top:-9px;
}

.btn-option {
	color: #333 !important;
	background: none !important;
	background-color: #fff !important;
	border-color: #adadad;
	text-shadow: none;
	outline: 0;
	border: 1px solid #cccccc;
}

.btn-option:hover, .btn-option:active, .active {
	color: #333 !important;
	background: none !important;
	background-color: #ebebeb !important;
	border-color: #adadad !important;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125) !important;
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125) !important;
}

.filter-bar-check{
	line-height: 38px !important;
}
#filter-bar-checkbox{
	margin: 0 !important;
}

.home-scroll-content>div{
	margin-bottom:-10px;
}