/*FORM PARTIAL DELIVERY*/
.form-inventory {
	border-radius: 6px;
	margin: -9px 10px 0 10px;
	border: 1px solid #e0e0e0;
	background: #fff;
	padding: 10px 15px 0 15px;
	position: fixed;
	width: 970px;
	top: 90px;
	bottom: 12px
}
.scroll-inventory {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: fixed;
	width: 970px;
	top: 138px;
	bottom: 45px
}

.btn-plus-pink {
	position: relative;
	top: 25px
}

.btn:hover {
	background: #e2a9a8 !important;
}
.form-inventory .combo-width {
	width: 250px;
}
.row-inventory  .btn {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.total-value-inventory {
	float: right;
	margin-top: 20px;
	text-align: right;
}

