@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
    
    input[type="text"]{
    	color:#000;
    }
    input[disabled]{
    	opacity: 1;
    }

    .scroll-title-compensator{
        padding-right: 0px;
    }

    .order-table-sum{
        padding-right: 0px;
    }
    .order-table-header{
        padding-right: 0px;   
    }


}