/*FORM PARTIAL DELIVERY*/
.form-container-partial-delivery {
	border-radius: 6px;
	margin: -9px 10px 0 10px;
	border: 1px solid #e0e0e0;
	background: #fff;
	padding: 10px 15px 0 15px;
	position: fixed;
	width: 970px;
	top: 90px;
	bottom: 20px
}
.scroll-partial-delivery {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: fixed;
	width: 970px;
	top: 138px;
	bottom: 45px
}
.form-partial-delivery {
	width: 472px;
	padding: 40px 30px 30px 30px;
	border-radius: 0 0 4px 4px;
	box-shadow: 0px 10px 50px 10px #999;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 111px;
	margin-left: -267px
}
.btn-plus-pink {
	position: relative;
	top: 25px
}

.btn:hover {
	background: #e2a9a8 !important;
}
.form-partial-delivery .combo-width {
	width: 250px;
}
.row-partial-delivery  .btn {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.total-value-partial-delivery {
	float: right;
	margin-top: 20px;
	text-align: right;
}

