/*FORM PARTIAL DELIVERY*/
.partial-delivery .title-partial-delivery {
	font-size: 16px;
	font-weight: bold;
}
.partial-delivery .form-panel button {
	position: absolute;
	bottom: 15px;
	min-width: 365px !important;
}
.partial-delivery .form-container-partial-delivery-1 {
	border-radius: 6px;
	margin: -9px 10px 0 10px;
	border: 1px solid #e0e0e0;
	background: #fff;
	padding: 10px 15px 0 15px;
	position: fixed;
	width: 560px;
	top: 90px;
	bottom: 20px
}
.partial-delivery .form-container-partial-delivery-2 {
	border-radius: 6px;
	margin: -9px 10px 0 10px;
	border: 1px solid #e0e0e0;
	background: #fff;
	padding: 10px 15px 0 15px;
	position: fixed;
	width: 365px;
	top: 90px;
	bottom: 20px;
	margin-left: 90px
}
.partial-delivery .scroll-partial-delivery-1 {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	width: 560px;
	heigth: 250px;
	/*position: fixed;
	top: 330px;
	bottom: 37px*/
}
.partial-delivery .scroll-partial-delivery-2 {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	width: 365px;
	heigth: 400px;
	/*position: fixed;
	top: 163px;
	bottom: 85px*/
}

.partial-delivery .btn-plus-pink {
	position: relative;
	top: 25px
}

.partial-delivery .btn:hover {
	background: #e2a9a8 !important;
}
.partial-delivery .form-partial-delivery .combo-width {
	width: 250px;
}
.partial-delivery .row-partial-delivery-1  .btn {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.partial-delivery .total-value-partial-delivery {
	float: right;
	margin-top: 20px;
	text-align: right;
}

