.container-payment {
	margin: 0 10px;
	position: relative;
	top: -10px
}
.container-data {
	/*width:100%;
	height: 90%;
	position: relative;
	display:block;*/
}
.row-right-payment .lbl-money3 {
	color:rgba(0, 0, 0, 0.5);
}
.row-right-payment .lbl-moneyt {
	color:red;
}
.row-right-payment:hover {
	cursor: pointer;
}
.panel-payment-footer-left {
	/*position:absolute;
	bottom:0;
	top:523px;
	display:inline-block;
	margin:28px 0 14px 4px;
	display: block;*/
	width: 100px;
	float:left;
}
.panel-payment-footer-right {
	/*position:absolute;
	bottom:0;
	top:523px;
	right:0;
	display:inline-block;
	margin:28px 10px 14px 0;*/
	width: 100px;
	float:right;
}
.panel-payment-footer-right  .btn {
	float: right
}
.container-payment .btn:hover {
	background: #dc9390;
	cursor: pointer;
}
.col-payment-right {
	/*background-color:#eee;*/
}
.right-column-height {
	height:400px;
}

.btns-right-payment .row-right-payment {
	border-radius: 4px;
	border: 1px solid #e0e0e0;
	margin: 5px 0 0 4px;
	padding: 8px 5px 8px 12px;
	background-color:#FFF;
	min-height:20px;
	width:91%;
}
.row-right-payment-client {
	min-height:40px !important;
}
.row-right-payment2 {
	border-radius: 4px;
	border: 1px solid #e0e0e0;
	margin: 5px 0 18px 5px;
	padding: 8px 5px 8px 12px;
	background-color:#FFF;
	min-height:20px;
	width:91%;
}
.row-right-payment2 span {
	margin: 16px 0 0 -3px;
}
.payment-resume div {
	/*line-height: 30px*/
}
.red-color {
	color: #ff2839;
	/*border: 1px solid #eee;
	background-color: #f2f2f2;
	border-radius: 4px;
	margin: 5px;
	padding: 5px;
	float: right;
	display: inline-block;*/
}
.green-color {
	color: #5D9732;
}
.payment-resume .lbl-resume {
	float: left;
	margin-left: 5px;
}
.payment-resume .values-resume {
	float: right;
	text-align: right;
	margin-right: 10px;
	font-size:18px
}
.btns-right-payment .btn-price-payment {
	float: right;
	width: 115px;
	text-align: right;
	border: 1px solid #eee;
	background-color:#f2f2f2;
	border-radius: 4px;
	padding: 4px;
	margin-top: -4px;
	height: 18px
}
.btn-sub-payment {
	float: right;
	width: 110px;
	text-align: right;
	border: 1px solid #fff;
	background-color:#fff;
	border-radius: 4px;
	padding: 4px;
	margin-top: -4px !important;
	height: 18px;
	font-size:18px;
}
.btns-right-payment .btn-price-payment-input-block {
	float: right;
	border-radius: 6px;
	margin: -5px 5px 0 5px;
	width: 278px;
	color: #777;
}
.btn-price-payment-input-block2 {
	float: right;
	text-align: right;
	border-radius: 6px;
	margin-top: -5px;
	width:186px;
}

.label-form-client {
	display:block;
	float:left;
	font-size:12px;
	margin:-6px 0 -2px -2px;
}
.payment-resume {
	border-radius: 4px;
	color: #333;
	padding: 10px;
	width: 288px;
	/*height:10px;*/
	font-size:16px;
}
.customer-info {
	border-radius: 4px;
	color: #fff;
	padding: 10px 10px 10px 10px;
	width: 68%;
	position: absolute;
	top: 400px;
	color: #333;
	height:90px
}
.payment-right-column {
	background-color:#f8f8f8;
	display:block;
	margin-right:2px;
	height:100%;
}
.lbl-money {
	display:inline-block;
	width:80px;
}
.lbl-money4 {
	color:rgba(0, 0, 0, 0.5);
}
.lbl-phone-client {
	color:rgba(0, 0, 0, 0.5);
	margin:-6px 3px 0 10px;
	float:right;
}
.right-column-payment {
	padding:8px;
}
.lbl-money2 {
	font-size:16px;
}
/*scroll left*/
.left-payment .content-scroll {
	height: 260px;
	overflow-y: auto;
	/*position:absolute;*/
	-webkit-overflow-scrolling: touch;
}
.left-payment .header, .left-payment .content-scroll div {
	border-bottom: 1px dotted #ccc;
	line-height: 40px;
}
.left-payment .header2 {
	line-height: 20px;
	margin-top: 13px;
	font-size:12px;
	font-weight:bold;
	border-bottom: 1px solid #e0e0e0
}
.left-payment .header .col-1, .left-payment .header2 .col-1 {
	width: 40px;
	display: inline-block;
	font-weight: bold;
	text-align:left;
}
.left-payment .header .col-2, .left-payment .header2 .col-2 {
	width: 360px;
	display: inline-block;
	text-align: left;
	font-weight: bold
}
.left-payment .header .col-3, .left-payment .header2 .col-3 {
	width: 100px;
	display: inline-block;
	text-align: center;
	font-weight: bold
}
.left-payment .header .col-4, .left-payment .header2 .col-4 {
	width: 50px;
	display: inline-block;
	text-align: right;
	font-weight: bold;
}
.left-payment .header .col-5, .left-payment .header2 .col-5 {
	width: 73px;
	display: inline-block;
	text-align: right;
	font-weight: bold;
	margin-left:5px;
}
.left-payment .content-scroll .col-1 {
	width: 40px;
	display: inline-block;
	line-height: 20px;
	white-space:nowrap
}
.left-payment .content-scroll .col-2 {
	width: 360px;
	display: inline-block;
	text-align: left;
}
.left-payment .content-scroll .col-3 {
	width: 100px;
	display: inline-block;
	text-align: center;
}
.left-payment .content-scroll .col-4 {
	width: 60px;
	display: inline-block;
	text-align: center;
}
.left-payment .content-scroll .col-5 {
	width: 70px;
	display: inline-block;
	text-align: right;
}

.left-payment .col-s1 {
	width: 40px;
	display: inline-block;
}
.left-payment .col-s2 {
	width: 70px;
	display: inline-block;
}
.left-payment .col-s3 {
	width: 110px;
	display: inline-block;
}
.left-payment .col-s4 {
	width: 220px;
	display: inline-block;
}
.left-payment .col-s5 {
	width: 300px;
	display: inline-block;
}
.payment-check-fields {
	margin:0 0 0 60px;
}
/* end scroll left*/
#combo-parcelas{
	width:80px;
	position: relative;
	display: block;
}
.txt-info-customer {
	line-height: 30px;
	margin-left: 10px
}
.title-left {
	border-radius: 4px;
	background: #333;
	padding: 10px 0 10px 0;
}
.title-left div {
	text-align: center;
	vertical-align: middle;
	color: #fff;
	font-size:120%;
}
.title-right {
	border-radius: 4px;
	background: #333;
	color: #fff;
	padding: 10px 0 10px 0;
}
.title-right div {
	text-align: center;
	vertical-align: middle;
	font-size:120%;
}
.container-payment .table th, .table {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: middle;
	border-top: none;
}
.container-payment .table th, .table  tr td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: middle;
	border-top: 1px solid #e0e0e0;
}
.input-name-payment {
	width:264px;
}
.sub-total-payment {
	width:170px;
}

/* ---- */

.payment-btns {
	width: 90%;
	height:50px;
	margin: auto;
	margin-top: 65px;
	border-top: 1px dotted #ccc;
	padding-top: 10px;
}

.payment-btn-area {
	width: 50%;
	float: left;
	text-align: center;
}

.payment-left-btns {
	width: 500px;
	/*float:right;
	text-align: right;*/
	height:50px;
	/*border-top: 1px dotted #ccc;*/
	padding-top: 10px;
	
}

.payment-left-btns  button {
	margin-left: 50px;
}

#marginl0{
	margin-left: 10px;
}
.payment-left-btns-area {
	width: 671px;
	height: 60px;
	float: left;
	margin-top: -79px;
	position: relative;
	border-top: 1px dotted #ccc;
}

.display-none {
	display: none;
}

.col-check-s1 {
	width: 35px;
}
.col-check-s2 {
	width: 76px;
}
.col-check-s3 {
	width: 75px;
}
.col-check-s4 {
	width: 95px;
}
.col-check-s5 {
	width: 75px;
}
.col-check-s6 {
	width: 105px;
}
.col-check-s7 {
	width: 95px;
}

#div-overlay {
	position: absolute;
	top: 0px;
	left: 686px;
	width: 329px;
	height: 556px;
	background-color: #eee;
	opacity:0.96;
	z-index:10;
}

/*.blur{
	-webkit-filter: blur(2px);
}*/
/****** PAYMENT KEYBOARD *******/
#keyNum {
	width:290px;
	height:auto;
	background:#eee;
	float:right;
	position:absolute;
	margin:0 0 0 11px;
	top:218px;
	z-index:11;
}
/*.keyboard-display {
	display:block;
	width:289px;
	height:60px;
	background:url(../images/keyboard/visor.png) no-repeat top left;
	margin:0 0 10px 0;
}*/
#keyNum .l1 {display:block; margin:0 0 6px 2px;}
#keyNum .l2 {display:block; margin:0 0 6px 2px;}
#keyNum .l3 {display:block; margin:0 0 6px 2px; width:216px; float:left;}
#keyNum .l4 {display:block; margin:0 0 6px 2px;}
#keyNum .btn-ok { float:right; display:block; margin:0 5px 0 0;}
#keyNum span img {cursor:pointer;}

div.up-field-payment {
	position:absolute !important;
	width:284px !important;
	height:22px !important;
	z-index:15 !important;
}
div.controls input  {
	margin:0 5px 0 -5px;
	}
.marginr10{
	margin-right:10px;
}
.w120 {
	width:120px !important;
}
.w200 {
	width:200px !important;
}