.form-payment-advance-money {
	width: 472px;
	padding: 40px 30px 30px 30px;
	border-radius: 0 0 4px 4px;
	box-shadow: 0px 10px 50px 10px #999;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 111px;
	margin-left: -267px
}
.btn-plus-pink {
	position: relative;
	top: 25px
}
.form-payment-advance-money .btn-plus-payment-credit-card {
	margin-top: 25px;
}
.btn:hover {
	background: #e2a9a8 !important;
}
.form-payment-advance-money .combo-width {
	width: 250px;
}
.btn-plus-payment-credit-card {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.row-payment-advance-money  .btn {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
/*grid payment credit card*/
.grid-payment-advance-money {
	border-radius: 6px 6px 0 0;
}
.scroll-payment-grid-advance-money {
	height: 200px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.grid-payment-advance-money .header {
	background: #ecbab9;
	border-radius: 4px
}
.grid-payment-advance-money .header span, .grid-payment-advance-money .scroll-payment-grid-advance-money  span {
	display: inline-block;
	line-height: 40px;
}
.grid-payment-advance-money .scroll-payment-grid-advance-money .row-payment-advance-money {
	border-bottom: 1px solid #ccc
}
.grid-payment-advance-money .header .col-1 {
	width: 40px;
}
.grid-payment-advance-money .header .col-1 input[type="checkbox"] {
	margin-top: -3px
}
.grid-payment-advance-money .header .col-1 div {
	margin-left: 20px
}
.grid-payment-advance-money .header .col-2 {
	width: 160px;
	text-align: left
}
.grid-payment-advance-money .header .col-3 {
	width: 70px;
	text-align: center;
}
.grid-payment-advance-money .header .col-4 {
	width: 160px;
	display: inline-block;
	text-align: left;
	}
	.grid-payment-advance-money .header .col-4 div{
	margin-right: 20px;
}
.row-payment-advance-money .col-1 {
	width: 40px;
}
.row-payment-advance-money .col-1 input[type="checkbox"] {
	margin-top: -3px
}
.row-payment-advance-money .col-1 div {
	margin-left: 20px;
}
.grid-payment-advance-money .col-2 {
	width: 160px;
	text-align: left
}
.grid-payment-advance-money .col-3 {
	width: 70px;
	text-align: center
}
.grid-payment-advance-money .col-4 {
	width: 160px;
	float: left;
	text-align: left;
}
.grid-payment-advance-money .col-4 div {
	margin-right: 20px
}
.row-payment-advance-money .col-3 div {
	text-align: right
}
.row-payment-advance-money .col-4 {
	float: right;
	margin-right: 5px
}
/*end grid payment credit card*/
.total-value-advance-money {
	float: right;
	margin-top: 20px;
	text-align: right;
}