.form-payment-check .btn-plus-payment-check {
	margin-top: 25px;
}
.header .row-payment-check-grid {
	margin-left: 20px
}
.row-payment-check-grid .btn {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.row-payment-check-grid .btn:hover {
	background: #e2a9a8;
	text-shadow: none;
	border: none;
	height: 30px
}
.btn-plus-payment-check {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.btn-plus-payment-check:hover {
	background: #e2a9a8;
}
/*grid payment check*/
.scroll-payment-grid {
	height: 200px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.grid-payment-check .header {
	background: #ecbab9;
	border-radius: 4px
}
.grid-payment-check .header span, .grid-payment-check .scroll-payment-grid  span {
	display: inline-block;
	line-height: 40px;
}
.grid-payment-check .scroll-payment-grid .row-payment-check-grid {
	border-bottom: 1px solid #e0e0e0
}
.scroll-payment-grid .row-payment-check-grid {
	margin-left: 20px
}
.grid-payment-check .header .col-1 {
	width: 70px;
}
.grid-payment-check .header .col-2 {
	width: 70px;
}
.grid-payment-check .header .col-3 {
	width: 70px
}
.grid-payment-check .header .col-4 {
	width: 70px
}
.grid-payment-check .header .col-5 {
	width: 100px
}
.grid-payment-check .header .col-6 {
	width: 75px;
	text-align: right
}
.scroll-payment-grid .col-1 {
	width: 75px
}
.scroll-payment-grid .col-2 {
	width: 75px
}
.scroll-payment-grid .col-3 {
	width: 75px
}
.scroll-payment-grid .col-4 {
	width: 75px
}
.scroll-payment-grid .col-5 {
	width: 100px
}
.scroll-payment-grid .col-6 {
	width: 90px;
}
.scroll-payment-grid .col-6 {
	text-align: right;
	width: 75px
}
.scroll-payment-grid .col-7 {
	margin-left: 30px
}

/*end grid payment check*/
.rose-color {
	color: #b77a78;
}
.form-payment-check {
	padding: 40px 30px 30px 30px;
	border-radius: 0 0 4px 4px;
	box-shadow: 0px 10px 50px 10px #999;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 111px;
	margin-left: -317px;
	width: 574px
}

.form-payment-check .line-gradient-01 {
	padding: 20px 0 20px 0;
}

.total-value-payment-check {
	float: right;
	margin-top: 20px;
	text-align: right;
}