.container-payment {
	margin: 0 10px;
	position: relative;
	top: -10px
}
.container-data {
	/*width:100%;
	height: 90%;
	position: relative;
	display:block;*/
}
.row-right-payment .lbl-money3 {
	color:rgba(0, 0, 0, 0.5);
}
.row-right-payment .lbl-moneyt {
	color: rgba(0, 0, 0, 0.5);
}
.row-right-payment:hover {
	cursor: pointer;
}
.panel-payment-footer-left {
	/*position:absolute;
	bottom:0;
	top:523px;
	display:inline-block;
	margin:28px 0 14px 4px;
	display: block;*/
	width: 100px;
	float:left;
}
.panel-payment-footer-right {
	/*position:absolute;
	bottom:0;
	top:523px;
	right:0;
	display:inline-block;
	margin:28px 10px 14px 0;*/
	width: 100px;
	float:right;
}
.panel-payment-footer-right  .btn {
	float: right
}
.container-payment .btn:hover {
	background: #dc9390;
	cursor: pointer;
}
.col-payment-right {
	/*background-color:#eee;*/
}
.right-column-height {
	height:400px;
}

.btns-right-payment .row-right-payment {
	border-radius: 4px;
	border: 1px solid #e0e0e0;
	margin: 5px 0 0 4px;
	padding: 8px 5px 8px 12px;
	/*padding: 8px;*/
	background-color:#FFF;
	min-height:20px;
	width:91%;
}
.row-right-payment-client {
	min-height:40px !important;
}
.row-right-payment2 {
	border-radius: 4px;
	border: 1px solid #e0e0e0;
	margin: 5px 1px 18px 5px;
	padding: 8px 8px 8px 9px;
	background-color: #FFF;
	min-height: 20px;
	width: 91%;
}
.row-right-payment2 span {
	/*margin: 16px 0 0 -3px;*/
}
.payment-resume div {
	/*line-height: 30px*/
}
.qty-values{
	padding-left: 3px;
margin-top: 5px;
}
.red-color {
	color: #ff2839;
	/*border: 1px solid #eee;
	background-color: #f2f2f2;
	border-radius: 4px;
	margin: 5px;
	padding: 5px;
	float: right;
	display: inline-block;*/
}
.green-color {color: #5D9732;}
.big-font {font-size:26px;}
.payment-resume .lbl-resume {
	float: left;
	margin-left: 5px;
}
.payment-resume .values-resume {
	float: right;
	text-align: right;
	margin-right: 13px;
	font-size:18px;
}
.btns-right-payment .btn-price-payment {
	float: right;
	width: 115px;
	text-align: right;
	border: 1px solid #eee;
	background-color:#f2f2f2;
	border-radius: 4px;
	padding: 4px;
	margin-top: -4px;
	height: 18px;
	overflow:hidden;
}

.btn-sub-payment {
	float: right;
	width: 110px;
	text-align: right;
	border: 1px solid #fff;
	background-color:#fff;
	border-radius: 4px;
	/*padding: 4px;
	margin-top: -4px !important;*/
	padding: 0 -1px 4px 4px;
	height: 18px;
	font-size:18px;
}
.btns-right-payment .btn-price-payment-input-block {
	float: right;
	border-radius: 6px;
	/*margin: -5px -4px 0 5px; /*margin: -5px 5px 0 5px;/
	padding-left: 5px;
	width: 278px;*/	
	padding: 0 6px 4px 6px !important;
	color: #777;
}
.btn-price-payment-input-block2 {
	float: right;
	text-align: right;
	border-radius: 6px;
	margin-top: -5px;
	width:186px;
}

.label-form-client {
	display:block;
	float:left;
	font-size:12px;
	margin:-6px 0 -2px 0;/**/
}
.label-form-client2 {
	display:block;
	float:left;
	font-size:14px;
	margin:-6px 0 -2px -2px;
}
.payment-resume {
	border-radius: 4px;
	color: #333;
	padding: 10px;
	width: 288px;
	/*height:10px;*/
	font-size:16px;
}
.customer-info {
	border-radius: 4px;
	color: #fff;
	padding: 10px 10px 10px 10px;
	width: 68%;
	position: absolute;
	top: 400px;
	color: #333;
	height:90px
}
.payment-right-column {
	background-color:#f8f8f8;
	display:block;
	margin-right:2px;
	min-height:548px;
	/*para alinhar a base
		height:100%;	
		position: fixed;
		bottom: 25px;
		top: 80px;*/
}
.lbl-money {
	display:inline-block;
	width:80px;
}
.lbl-money4 {
	color:rgba(0, 0, 0, 0.5);
}
.lbl-phone-client {
	color:rgba(0, 0, 0, 0.5);
	margin:-6px 3px 0 10px;/**/
	float:right;
}
.lbl-name-client{
	width: 270px;
	border: 1px solid #fff !important;
	margin: 10px 0 0 -7px;
	text-align: left;
	height: 14px !important;
}
.right-column-payment {
	padding:8px;
}
.lbl-money2 {
	font-size:16px;
}
/*scroll left*/
.left-payment .content-scroll {
	min-height: 180px;
	max-height: 458px;
	overflow-y: auto;
	/*position:absolute;*/
	-webkit-overflow-scrolling: touch;
}
.left-payment .header, .left-payment .content-scroll div {
	border-bottom: 1px dotted #ccc;
	line-height: 40px;
}
.left-payment .header2 {
	line-height: 20px;
	margin-top: 13px;
	font-size:14px;
	font-weight:bold;
	border-bottom: 1px solid #e0e0e0
}
.left-payment .header .col-1, .left-payment .header2 .col-1 {
	width: 40px;
	display: inline-block;
	font-weight: bold;
	text-align:left;
}
.left-payment .header .col-2, .left-payment .header2 .col-2 {
	width: 360px;
	display: inline-block;
	text-align: left;
	font-weight: bold
}
.left-payment .header .col-3, .left-payment .header2 .col-3 {
	width: 100px;
	display: inline-block;
	text-align: right;
	font-weight: bold
}
.left-payment .header .col-4, .left-payment .header2 .col-4 {
	width: 40px;
	display: inline-block;
	text-align: right;
	font-weight: bold;
}
.left-payment .header .col-5, .left-payment .header2 .col-5 {
	width: 73px;
	display: inline-block;
	text-align: right;
	font-weight: bold;
	margin-left:5px;
}
.left-payment .content-scroll .col-1 {
	width: 40px;
	display: inline-block;
	line-height: 20px;
	vertical-align: top;
}
.left-payment .content-scroll .col-2 {
	width: 360px;
	/*padding: 5px 0 5px 0;*/
	display: inline-block;
	line-height: 20px;
	vertical-align: top;
}
.left-payment .content-scroll .col-3 {
	width: 100px;
	text-align: right;
	display: inline-block;
	line-height: 20px;
	vertical-align: top;
}
.left-payment .content-scroll .col-4 {
	width: 50px;
	display: inline-block;
	line-height: 20px;
	vertical-align: top;
	text-align: center;
}
.left-payment .content-scroll .col-5 {
	width: 70px;
	text-align: right;
	display: inline-block;
	line-height: 20px;
	vertical-align: top;
}

.left-payment .col-s1 {
	width: 40px;
	display: inline-block;
}
.left-payment .col-s2 {
	width: 70px;
	display: inline-block;
}
.left-payment .col-s3 {
	width: 110px;
	display: inline-block;
}
.left-payment .col-s4 {
	width: 220px;
	display: inline-block;
}
.left-payment .col-s5 {
	width: 300px;
	display: inline-block;
}
.payment-check-fields {
	/*margin:0 0 0 40px;*/
}
.payment-voucher-fields {
	margin:0 0 0 10px;
}
/* end scroll left*/
#combo-parcelas{
	width:80px;
	position: relative;
	display: block;
}
.txt-info-customer {
	line-height: 30px;
	margin-left: 10px
}
.title-left {
	border-radius: 4px;
	background: #333;
	padding: 10px 0 10px 0;
}
.title-left div {
	text-align: center;
	vertical-align: middle;
	color: #fff;
	font-size:120%;
}
.title-right {
	border-radius: 4px;
	background: #333;
	color: #fff;
	padding: 10px 0 10px 0;
}
.title-right div {
	text-align: center;
	vertical-align: middle;
	font-size:120%;
}
.container-payment .table th, .table {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: middle;
	border-top: none;
}
.container-payment .table th, .table  tr td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: middle;
	border-top: 1px solid #e0e0e0;
}
.sub-total-payment {
	width:170px;
}

/* ---- */
.payment-left{
	display:block;
}

.payment-btns {
	height: 50px;
	margin: auto;
	margin-top: 10px;
	border-top: 1px dotted #ccc;
	padding-top: 10px;
	/*para alinhar a base
		width: 307px; /*width: 90%;/
		position: fixed;
		bottom: 25px;*/
}

.payment-btn-area {
	width: 50%;
	float: left;
	text-align: center;
}

.payment-left-btns {
	float: right;
	width: 671px;
	text-align: right;	
	height:50px;
	padding-top: 10px;
}

.payment-left-btns  button {
	margin: 0 25px 0 25px;
}

#btn-payment-voltar{
	margin-left: 10px; /*25px -> padrao*/
	float: left;
}
#btn-payment-pendente{
	margin-right: 0px; /*25px -> padrao*/
	float: right;
}

.payment-left-btns-area {	
	/*float: left;
	margin-top: -79px;*/
	display: block;
	height: 60px;
	border-top: 1px dotted #ccc;
	/*para alinhar a base
		position: fixed;
		bottom: 25px;*/
}

.col-check-s1 {
	width: 57px; /*35px*/
	text-align:center;
}
.col-check-s2 {
	width: 60px;/*76px*/
	text-align:center;
}
.col-check-s3 {
	width: 67px;/*75px*/
	text-align:center;
}
.col-check-s4 {
	width: 121px; /*95px*/
	text-align:center;
}
.col-check-s5 {
	width: 88px; /*75px*/
	text-align:center;
}
.col-check-s6 {
	width: 80px; /*105px*/
	text-align:center;
}
.col-check-s7 {
	width: 93px; /*95px*/
	text-align:center;
}
.w110{
	width: 110px !important;
}
.col-check-s8 {
	width: 30px; /*35px*/
	text-align:right;
	margin-left:10px;
}
.w130{
	width: 130px;
}

.payment-check-fields .control-label{
	text-align:center !important;
}

#div-overlay {
	position: absolute;
	top: 0px;
	left: 686px;
	width: 329px;
	height: 556px;
	background-color: #eee;
	opacity:0.96;
	z-index:10;
}

/*.blur{
	-webkit-filter: blur(2px);
}*/
/****** PAYMENT KEYBOARD *******/
#keyNum .dinheiro {
width: 290px;
height: 400px;
background: #fff;
float: right;
position: absolute;
padding: 10px;
margin: 24px 0 40px -5px;
/*top: 218px;*/	
z-index: 11;
border-radius: 4px;
}
#keyNum_quad{
width: 310px;
height: 55px; /*500px*/
background: #F8F8F8;
position: absolute;
top: -58px;
left: 0px;
z-index: 10;
}
#keyNum{
width: 290px;
height: 290px; /*500px*/
background: #fff;
float: right;
position: absolute;
padding: 5px;
margin: 23px 0 40px 0;
top: 218px;
z-index: 11;
border-radius: 4px;
}
/*.keyboard-display {
	display:block;
	width:289px;
	height:60px;
	background:url(../images/keyboard/visor.png) no-repeat top left;
	margin:0 0 10px 0;
}*/
#keyNum .l1 {display:block; margin:0 0 6px 2px;}
#keyNum .l2 {display:block; margin:0 0 6px 2px;}
#keyNum .l3 {display:block; margin:0 0 6px 2px; width:216px; float:left;}
#keyNum .l4 {display:block; margin:0 0 6px 2px;}
#keyNum .btn-ok { float:right; display:block; margin:0 5px 0 0;}
#keyNum span img {cursor:pointer;}

/*div.up-field-payment {
	position:absolute !important;
	height:22px !important;
	z-index:15 !important;
	/*width:284px !important;
	margin-top: -20px !important;/
	width: 273px !important;
	margin: -45px 0 0 5px !important;
	border-radius: 0 0 4px 4px !important;
}*/

/*div.controls input  {
	margin:0 5px 0 -5px;
}*/
.marginr10{
	margin-right:10px;
}
.marginl8{
	margin-left:8px !important;
}
.margint5{
	margin-top: 5px;
}
.margintn69{
	margin-top: -69px;
}
.w120 {
	width:120px !important;
}
.w200 {
	width:200px !important;
}
.btn-payments-right {
	width:80%;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
.paddingr10{
	padding-right:10px;
}
.text-right{
	text-align:right;
}
.payment-total, .check-total{
	background-color: #f2f2f2;
	height: 20px; /*height: 18px;*/
	margin-top: -20px;
	width: 601px;
	padding: 5px 0 5px 0;
	border-radius: 4px;
}

.payment-total span{
	padding-left:5px; /*5*/
	font-weight:bold;
	margin-right: 12px;
}

.check-total span{
	padding-left:12px; /*5*/
	font-weight:bold;
	margin-right: 12px;
}

.title-gopay{
	background-color: #f2f2f2;
	height: 18px;
	width: 496px;
	padding: 5px 0 5px 0;
	border-radius: 4px;
}
.title-gopay span{
	padding-left:12px; /*5*/
	font-weight:bold;
	margin-right: 12px;
}

.parc {
	width:40px !important;
}
.banco, .agencia {
	width:50px !important;
}
.conta {
	width:110px !important;
}
.cheque, .vencto {
	width:70px !important;
}
.parc, .banco, .agencia, .conta, .cheque, .vencto, .check-value{
	float: right;
	text-align: center;
	border: 1px solid #eee;
	background-color: #f2f2f2;
	border-radius: 4px;
	padding: 4px 7px 4px 5px; /*padding: 4px 10px 4px 4px;*/
	height: 20px; /*height: 18px;*/
	overflow:hidden;
}
.check-value {
	width: 87px;
	text-align: right !important;
	overflow:hidden;
}
.qntty{
	display: inline-block;
	margin: -1px;
	padding: 0;
	width: 87px;
	font-size: 14px;
}

/*.payment-right-totals-border{border-bottom: 1px solid #e0e0e0; height: 16px;}*/

.menu-level-payment{
	margin-bottom:35px;
	display: block;
}

.menu-level-payment .btn{	
	font-weight: normal !important;
	margin-top:10px;
}

.menu-level-payment .btn-option {
	width: 199px;
}

.display-block{
	display:block;
}

.credit-card-parcelas{
	width:120px;
	text-align:center;
}
.credit-card-valor{
	text-align:center;
}

.input-large{
	height: 40px !important;
	line-height: 40px;
}
.input-large-add{
	width: 3px !important;
	height: 38px !important;
	line-height: 38px !important;
	padding: 0px !important;
}
.input-large-value{
	height: 30px !important;
	line-height: 30px;
}
.payment-coupon-fields .control-label, .payment-check-fields .control-label{
	margin-left:5px;
}
.w424{
width: 424px;
}
.w126{
	width:126px !important;
}
.w200{
	width:200px !important;
}

.w423{
width: 423px !important;
}
.w428{
width: 428px !important;
}

.w441{
width: 441px !important;
}

.w213{
width: 213px !important;
}

.w326{
	width:326px !important;
}

.w160{
	width:160px !important;
}
.w85{
	width:85px !important;
}

.text-center{
	text-align:center !important;
}

.w490{
	width:490px !important;
}
.margint2{
	margin-top: 2px;
}
.marginl10{
	margin-left:10px !important;
}
.paddingl5{
	padding-left:5px !important;
}
.padding28{
	padding-left:28px !important;
}
.paddingl10{
	padding-left:10px !important;
}
.paddingl20{
	padding-left:20px !important;
}
.no-padding{
	padding: 0 !important;
}
.paddingt3{
	padding-top:3px !important;
}
.marginb25{
	margin-bottom:25px;
}
.code-product{
	color: rgba(0, 0, 0, 0.5);
	display: inline-block;
	width:150px;
	font-size: 12px;
	position:relative;
	top:-3px;
	/*padding-left:10px;*/
}

.credit-card-value{	
	padding-left: 15px !important;
	width: 114px !important;
}

/*-------------exchange------------*/

.grid-payment-exchange .col-s1 {
	width: 60px; /*35px*/
	text-align:center;
	display: inline-block;
	line-height: 40px;
}

.grid-payment-exchange .col-s2 {
	width: 297px;/*400px*/
	text-align:left;
	display: inline-block;
	line-height: 40px;
}
.grid-payment-exchange .col-s3 {
	width: 90px;/*75px*/
	text-align:center;
	display: inline-block;
	line-height: 40px;
}
.grid-payment-exchange .col-s4{
	width: 90px;/*75px*/
	text-align:center;
	display: inline-block;
	line-height: 40px;
}
.control-label-exchange{
	width:375px; /*400px*/
}

.exchange-initial .header-exchange{
	border-radius: 4px;
	background: #333;
	color: #fff;
	font-weight:normal;
}
.exchange-initial .header-exchange, .exchange-edit .header-exchange{
	border-radius: 4px;
	border: none !important;
	margin-top: 0;
}

.subtitle-header-exchange{
	margin: 0 !important;
	background-color: #f2f2f2;
	border-radius: 4px;
	border-bottom:0 !important;
}

.subtitle2-header-exchange{
	margin: 0 !important;
	font-weight:bold;
}

.grid-payment-exchange-edit .col-s1 {
	width: 315px; /*35px*/
	text-align: left;
	display: inline-block;
	line-height: 40px;
	padding-left:5px;
}
.grid-payment-exchange-edit .col-s2 {
	width: 87px;/*76px*/
	text-align:left;
	display: inline-block;
	line-height: 40px;
}
.grid-payment-exchange-edit .col-s3 {
	width: 110px;/*75px*/
	text-align:center;
	display: inline-block;
	line-height: 40px;
}
.grid-payment-exchange-edit .col-s4{
	width: 110px;/*75px*/
	text-align:center;
	display: inline-block;
	line-height: 40px;
}

.grid-payment-exchange-edit .col-s1-list {
	width: 305px;
	text-align: left;
	display: inline-block;
	line-height: 40px;
	padding-left: 15px;
}
.grid-payment-exchange-edit .col-s2-list {
	width: 87px;/*76px*/
	text-align:left;
	display: inline-block;
	line-height: 40px;
}
.grid-payment-exchange-edit .col-s3-list {
	width: 110px;/*75px*/
	text-align:center;
	display: inline-block;
	line-height: 40px;
}
.grid-payment-exchange-edit .col-s4-list{
	width: 110px;/*75px*/
	text-align:center;
	display: inline-block;
	line-height: 40px;
}
.col-s3-list input ,
.col-s4-list input {
	margin: 0 !important;
	width:90px;
}

.grid-payment-exchange-edit .scroll-payment-grid {
	min-height: 205px !important;
	max-height: 432px !important;
}
.grid-payment-exchange .scroll-payment-grid {
	min-height: 125px !important;
	max-height: 432px !important;
}

/*-------------coupon------------*/
.payment-coupon-fields .filter-bar {padding:0 !important;}

.coupon-fields1{
	min-width: 400px; /*322px;*/
}
.coupon-fields2{
	min-width: 208px; /*100px;*/
}

.grid-payment-coupon .control-label-coupon{
	width:400px;
}
.grid-payment-coupon .row-input-products-grid .ic-arrow-left, .grid-payment-coupon .row-input-products-grid .ic-arrow-right{
	width:33px;
	/*height:44px;*/
	vertical-align: middle;
}
.grid-payment-coupon .row-input-products-grid .qty{
	width:40px;
	/*height:44px;*/
}

/*Grid Emitir*/
/*.grid-payment-coupon{ margin-top:25px;}*/

.grid-payment-coupon .header-coupon{
	border-radius: 4px;
	background: #333;
	color: #fff;
	font-weight:normal;
	border-radius: 4px;
	border: none !important;
	margin-top: 0;
}

.grid-payment-coupon .col-s1 {
	width: 175px; /*35px*/
	display: inline-block;
	vertical-align: middle;
}
.grid-payment-coupon .subtitle2-header-coupon .col-s1 div, .grid-payment-coupon .header-coupon .col-s1 div, .grid-payment-coupon .grid-payment-coupon .col-s1 div, .row-payment-grid-product-coupon .col-s1 div{
	margin-left:60px;
}
.grid-payment-coupon-history .header-coupon .col-s1 div, .grid-payment-coupon-history  .grid-payment-coupon .col-s1 div{
	margin-left:0;
}

.grid-payment-coupon .col-s2 {
	width: 200px;/*76px*/
	display: inline-block;
	vertical-align: middle;
	text-align:center;
}
.grid-payment-coupon .col-s3 {
	width: 100px;/*75px*/
	display: inline-block;
	line-height: 40px;
	vertical-align: middle;
	text-align:center;
}
.grid-payment-coupon .col-s4{
	width: 150px;/*75px*/
	display: inline-block;
	vertical-align: middle;
	text-align:right;
}
.grid-payment-coupon .col-s4 .check-value{width: 115px;}
.subtitle2-header-coupon {border:none !important;}

.subtitle-header-coupon{
	margin: 0 !important;
	background-color: #f2f2f2;
	border-radius: 4px;
	border-bottom:0 !important;
}

.grid-payment-coupon .subtitle2-header-coupon .col-s4 	div,.grid-payment-coupon .header-coupon .col-s4 div, .grid-payment-coupon .subtitle-header-coupon .col-s4 div{
	width: 142px;
}

.coupon-value{
	margin-left: 10px !important;
	text-align:right;
	width: 35px;
	display: inline-block;
}
/*Grid Historico

.grid-payment-coupon-history .header-coupon{
	border-radius: 4px;
	background: #333;
	color: #fff;
	font-weight:normal;
	border-radius: 4px;
	border: none !important;
	margin-top: 0;
}

.grid-payment-coupon-history .col-s1 {
	width: 80px; /*35px/
	display: inline-block;
	vertical-align: middle;
	text-align:center;
}

.grid-payment-coupon-history .col-s2 {
	width: 85px;/*76px/
	display: inline-block;
	vertical-align: middle;
}
.grid-payment-coupon-history .col-s3 {
	width: 230px;/*75px/
	display: inline-block;
	line-height: 40px;
	vertical-align: middle;
}
.grid-payment-coupon-history .col-s4{
	width: 100px;/*75px/
	display: inline-block;
	vertical-align: middle;
	text-align:center;
}
.grid-payment-coupon-history .col-s5{
	width: 100px;/*75px/
	display: inline-block;
	vertical-align: middle;
	text-align:center;
}*/