/*FORM PARTIAL DELIVERY*/
.form-previous-entries .panel-top {
	margin-top: 5px;
	
}
.form-previous-entries .panel-top .combo-width{
	width:220px
}
.form-previous-entries {
	border-radius: 6px;
	margin: -9px 10px 0 10px;
	border: 1px solid #e0e0e0;
	background: #fff;
	padding: 10px 15px 0 15px;
	/*position: fixed;
	top: 90px;
	bottom: 20px;*/
	width: 970px;
	display: block;
	position: relative;
}
.scroll-previous-entries {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	/*position: fixed;
	width: 970px;
	top: 183px;
	bottom: 45px*/
	position: relative;
	width: 970px;
	max-height:370px;
	top: 0px;
	bottom: 45px
	
}

.btn-plus-pink {
	position: relative;
	top: 25px
}

/*.btn-ok:hover {
	background: #5d9732 !important;
	color:white
}*/

.form-previous-entries .combo-width {
	width: 277px !important;
}
.row-previous-entries  .btn {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 30px
}
.total-value-previous-entries {
	float: right;
	margin-top: 20px;
	text-align: right;
}
