/*FORM PRODUCTS TO BUY*/
/*PEDIDO DE COMPRA*/

/*im very sory for this....*/
.width970{
	width: 970px;
}


.form-products-to-buy {
	border-radius: 6px;
	margin: -9px 10px 0 10px;
	border: 1px solid #e0e0e0;
	background: #fff;
	padding: 10px 15px 0 15px;
	position: fixed;
	width: 970px;
	display: block;
	position: relative;
	min-height: 655px;
}

.btn-plus-pink {
	position: relative;
	top: 25px
}

/*.btn:hover {
	background: #e2a9a8 !important;
}*/

.form-products-to-buy .combo-width {
	width: 250px;
}

.products-to-buy-left{
	display: block;
	float:left;
	width:68%;
}
.products-to-buy-right{
	display: block;
	float:left;
	width:30%;
}

.menu-level-products-to-buy{	
	margin: 0 !important;
	padding: 0 !important;
	/*margin-left: 50px !important;*/
}

.menu-level-products-to-buy .btn{	
	font-weight: normal !important;
	margin-bottom:10px;
}

.row-products-to-buy  .btn {
	background: #ecbab9;
	text-shadow: none;
	border: none;
	height: 25px
}
.total-value-products-to-buy {
	/*float: right;*/
	text-align: right;
}

.details-products-to-buy{
	border-radius: 4px;
	border: 1px solid #e0e0e0;
	margin: auto;
	/*margin-top: 30px;
	margin-bottom: 20px;*/
	background-color: #FFF
}

.details-products-to-buy-item-total{
	/*color:#ff2839;*/
	font-size: 16px;
	font-weight: bolder;
	/*padding: 15px 0 15px 0;*/
	display: block;
	width: 300px;
}

.details-order-number{
	/*float:right;*/
	text-align: right;
	padding-right: 8px;
}

.details-products-to-buy-item{
	/*padding: 8px 5px 8px 12px;*/
	display: block;
	min-height:20px;
}
.details-products-to-buy-item .section, .grid-payment-products-to-buy-edit .section{
	display: block;			
	margin: 5px 0 5px 4px;
	font-weight:bold;
	height:22px;
	line-height:22px
}
.details-products-to-buy-item .item{
	display: inline-block;		
	margin: 5px 0 5px 0;
	width:  100%; /*290px;*/
}

.w595{
	width: 595px;
}
.w350{
	width: 350px;
}

.form-products-to-buy .lbl-money {
	display:inline-block;
	width: 165px;
	margin-left: 5px;
	height:22px;
	line-height:22px
}
.form-products-to-buy .btn-price-payment {
	width: 110px;
	text-align: right;
	border: 1px solid #eee;
	background-color: #f2f2f2;
	border-radius: 4px;
	margin-right: 5px;
	display: inline-block;
	height:20px;
	line-height:20px;
}


.form-products-to-buy .controls input {
	margin: 0 5px 0 5px;
}

.col-details-products-to-buy-item{
	/*display:inline-block;*/
	margin: 0 0 10px 10px;
	width: 295px; /*150px;*/
	border-radius: 4px;
	border: 1px solid #e0e0e0;
}

.row-details-products-to-buy-item{
	display:inline-block;
}

.btns-details-products-to-buy-item{ 
	display:block;
	height: 60px;
}

.btns-details-products-to-buy-item .btn{ 
	margin: 10px 5px 0 5px !important;
}

.border-none{
	border: none;
}

.marginr20{
	margin-right:20px !important;
}

.marginl93{
	margin-left: 93px !important;
}

.btns-details-products-to-buy-item .btn{	
	margin-top:-5px;
}

/*.btn-option:hover, .btn-option:active, .active {
	color: #333 !important;
	background: none !important;
	background-color: #ebebeb !important;
	border-color: #adadad !important;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125) !important;
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125) !important;
}*/

/*.products-to-buy-btns {
	width: 354px;
	margin: auto;
	/*margin: 20px 0 20px 1px;/
}

.products-to-buy-btn-area {
	margin-left: 17%;
	float: left;
	text-align: center;
}*/

#products-to-buyForm{
	margin-bottom:0;
}

.font-bold{font-weight:bold;}



/*-------------grid step1------------*/

.step1 .grid-payment-products-to-buy .col-s1 {
	width: 60px; /*35px*/
	text-align:center;
	display: inline-block;
	line-height: 40px;
}

.step1 .grid-payment-products-to-buy .col-s2 {
	width: 400px;/*76px*/
	text-align:left;
	display: inline-block;
	line-height: 40px;
}
.step1 .grid-payment-products-to-buy .col-s3{
	width: 400px;/*76px*/
	text-align:center;
	display: inline-block;
	line-height: 40px;
	margin-left:10px;
}
.step1 .grid-payment-products-to-buy .col-s4 {
	width: 90px;/*75px*/
	text-align:center;
	display: inline-block;
	line-height: 40px;
}
.step1 .grid-payment-products-to-buy .col-s5{
	width: 90px;/*75px*/
	text-align:center;
	display: inline-block;
	line-height: 40px;
}
.step1 .control-label-products-to-buy{
	width:400px;
}

.step1 .products-to-buy-initial .header-products-to-buy{
	border-radius: 4px;
	background: #333;
	color: #fff;
	font-weight:normal;
}
.step1 .products-to-buy-initial .header-products-to-buy, .products-to-buy-edit .header-products-to-buy{
	border-radius: 4px;
	border: none !important;
	margin-top: 0;
}

.step1 .title-header-products-to-buy{
	margin: 0 !important;
	background-color: #333333;
	color: #fff;
	border-radius: 4px;
	border-bottom:0 !important;
}
.step1 .section-header-products-to-buy{
	margin: 0 !important;
	background-color: #bbb;
	color: #000;
	border-radius: 4px;
	border-bottom:0 !important;
}
.step1 .subtitle-header-products-to-buy{
	margin: 0 !important;
	background-color: #dadada;
	border-radius: 4px;
	border-bottom:0 !important;
	font-weight: bold;
}

.step1 .products-to-buy-filter {
	margin: -3px 0 0 0 !important;
	width: 80%;
	height: 15px !important;
}

.section-header-products-to-buy .closeimg{
	background: #fff url('com/images/select_close.png') no-repeat 97% 7px;
}

.step1 .row-payment-grid-product-products-to-buy{
	margin: 5px 0 5px 0;
	display: block;
	font-weight: normal;
	border-bottom: 1px dotted #ccc;
}

.step1 .row-payment-grid-product-products-to-buy .input-qty {
	margin-top: -5px;
}

.step1 .grid-payment-products-to-buy-edit .col-s1 {
	width: 285px; /*35px*/
	text-align: left;
	display: inline-block;
	line-height: 40px;
	padding-left:5px;
}
.step1 .grid-payment-products-to-buy-edit .col-s2 {
	width: 60px;
	text-align:right;
	display: inline-block;
	line-height: 40px;
}
.step1 .grid-payment-products-to-buy-edit .col-s3 {
	width: 80px;
	text-align:center;
	display: inline-block;
	line-height: 40px;
}
.step1 .grid-payment-products-to-buy-edit .col-s4{
	width: 85px;
	text-align:center;
	display: inline-block;
	line-height: 40px;
}
.step1 .grid-payment-products-to-buy-edit .col-s5 {
	width: 120px;/*75px*/
	text-align:center;
	display: inline-block;
	line-height: 40px;
}

.step1 .grid-payment-products-to-buy-edit .col-s1-list {
	width: 285px;
	text-align: left;
	display: inline-block;
	padding-left: 5px;
	min-height:40px;
	vertical-align:top;
}
.p-title {
	display:inline-block;
	width:73%;
	float:left;
}
.p-points {
	display:inline-block;
	width:22%;
	float:left;
	padding: 0 0 0 5px;
	color:#999;
}
.step1 .grid-payment-products-to-buy-edit .col-s2-list {
	width: 60px;
	text-align:right;
	display: inline-block;
	min-height:40px;
	vertical-align:top;
}
.step1 .grid-payment-products-to-buy-edit .col-s3-list {
	width: 80px;
	text-align:center;
	display: inline-block;
	min-height:40px;
	vertical-align:top;
}
.step1 .grid-payment-products-to-buy-edit .col-s4-list{
	width: 85px;
	text-align:center;
	display: inline-block;
	min-height:40px;
	vertical-align:top;
	color: #b53c34;
}
.step1 .grid-payment-products-to-buy-edit .col-s5-list {
	width: 120px;/*75px*/
	text-align:center;
	display: inline-block;
	min-height:40px;
	vertical-align:top;
}
.step1 .col-s4-list input ,
.step1 .col-s5-list input {
	margin: 0 !important;
	width:90px;
}

.step1 .grid-payment-products-to-buy-edit .scroll-payment-grid {
	max-height: 445px !important;
}
.step1 .grid-payment-products-to-buy .scroll-payment-grid {
	min-height: 125px !important;
	max-height: 432px !important;
}

/*-------------end grid step1------------*/

/*-------------grid step2------------*/

.step2 .grid-payment-products-to-buy .col-s1 {
	width: 60px; /*35px*/
	text-align:center;
	display: inline-block;
	line-height: 40px;
}

.step2 .grid-payment-products-to-buy .col-s2 {
	width: 400px;/*76px*/
	text-align:left;
	display: inline-block;
	line-height: 40px;
}
.step2 .grid-payment-products-to-buy .col-s3{
	width: 400px;/*76px*/
	text-align:center;
	display: inline-block;
	line-height: 40px;
	margin-left:10px;
}
.step2 .grid-payment-products-to-buy .col-s4 {
	width: 90px;/*75px*/
	text-align:center;
	display: inline-block;
	line-height: 40px;
}
.step2 .grid-payment-products-to-buy .col-s5{
	width: 90px;/*75px*/
	text-align:center;
	display: inline-block;
	line-height: 40px;
}
.step2 .control-label-products-to-buy{
	width:400px;
}

.step2 .products-to-buy-initial .header-products-to-buy{
	border-radius: 4px;
	background: #333;
	color: #fff;
	font-weight:normal;
}
.step2 .products-to-buy-initial .header-products-to-buy, .products-to-buy-edit .header-products-to-buy{
	border-radius: 4px;
	border: none !important;
	margin-top: 0;
}

.step2 .title-header-products-to-buy{
	margin: 0 !important;
	background-color: #333333;
	color: #fff;
	border-radius: 4px;
	border-bottom:0 !important;
}
.step2 .section-header-products-to-buy{
	margin: 0 !important;
	background-color: #7F7F7F;
	color: #fff;
	border-radius: 4px;
	border-bottom:0 !important;
}
.step2 .subtitle-header-products-to-buy{
	margin: 0 !important;
	background-color: #f2f2f2;
	border-radius: 4px;
	border-bottom:0 !important;
	font-weight: bold;
}
.step2 .grid-payment-products-to-buy-edit .section {
	display: block;
	font-weight: bold;
	border-bottom: solid 1px #f2f2f2;
	line-height: 40px;
	min-height: 40px;
}

.step2 .products-to-buy-filter {
	margin: -3px 0 0 0 !important;
	width: 80%;
	height: 15px !important;
}

.step2 .row-payment-grid-product-products-to-buy{margin: 7px 0 7px 0;}

.step2 .row-payment-grid-product-products-to-buy .input-qty {
	margin-top: -5px;
}

.step2 .grid-payment-products-to-buy-edit .col-s1 {
	width: 385px;
	text-align: left;
	display: inline-block;
	line-height: 40px;
	padding-left:5px;
}
.step2 .grid-payment-products-to-buy-edit .col-s2{
	width: 80px;
	text-align:center;
	display: inline-block;
	line-height: 40px;
}
.step2 .grid-payment-products-to-buy-edit .col-s3{
	width: 85px;
	text-align:center;
	display: inline-block;
	line-height: 40px;
}
.step2 .grid-payment-products-to-buy-edit .col-s4{
	width: 85px;/*75px*/
	text-align:center;
	display: inline-block;
	line-height: 40px;
}

.step2 .grid-payment-products-to-buy-edit .col-s1-list {
	width: 385px;
	text-align: left;
	display: inline-block;
	padding-left: 5px;
	min-height:40px;
	vertical-align:top;
}
.step2 .grid-payment-products-to-buy-edit .col-s2-list {
	width: 80px;
	text-align:center;
	display: inline-block;
	min-height:40px;
	vertical-align:top;
}
.step2 .grid-payment-products-to-buy-edit .col-s3-list{
	width: 85px;
	text-align:center;
	display: inline-block;
	min-height:40px;
	vertical-align:top;
}
.step2 .grid-payment-products-to-buy-edit .col-s4-list {
	width: 85px;/*75px*/
	text-align:center;
	display: inline-block;
	min-height:40px;
	vertical-align:top;
}

/*.step2 .grid-payment-products-to-buy-edit .col-s4-list div{font-size: 20px;}*/

.step2 .col-s3-list input ,
.step2 .col-s4-list input {
	margin: 0 !important;
	width:90px;
}

.step2 .grid-payment-products-to-buy-edit .scroll-payment-grid {
	max-height: 445px !important;
}
.step2 .grid-payment-products-to-buy .scroll-payment-grid {
	min-height: 125px !important;
	max-height: 432px !important;
}

/*-------------end grid step2------------*/

/*------------- Confirmar pedido  ------- */
.conf-order-panel {
	/*width:60%;
	border:1px solid #ddd;
	margin: 30px auto;*/
	border-radius:4px;
}
span.title-order-panel {
	margin-bottom: 4px;
	background-color: #333333;
	color: #fff;
	border-radius: 4px;
	border-bottom:0 !important;
	clear:both;
	display:block;
	padding:0 8px;
	line-height: 40px;
}
.text-order-panel {
	clear:both;
	display:block;
	padding:4px 8px 4px 8px;
}
.text-order-panel span, .title-order-panel span{
	display:inline-block;
}
.conf-order-panel span .col-1{
	width:50%;
	padding:8px 0 8px 0;
}
.conf-order-panel span .col-1 input[type="radio"]{margin: 0 5px 0 0;}
.conf-order-panel span .col-2{
	width:20%;
	padding:8px 0 8px 8px;
}
.conf-order-panel span .col-3 {
	width:20%;
	padding:8px 0 8px 8px;
}


.conf-nf-panel {
	width: 57%;
	border:1px solid #ddd;
	border-radius:4px;
	margin: 30px auto;
}
.conf-nf-panel span .col-1, .conf-nf-panel span .col-2 {
	width:49%;
}

.input-nf-panel {
	background-color:#C9C9C9;
	width:80%;
	margin: 0;
}
.center-align {
	width:57%;
	margin:10px auto;
	display:block;
}
.row-last-payments {
	width:56%;
	display:block;
	margin:10px auto;
}
div.row-last-payments .col-1, div.row-last-payments .col-2, div.row-last-payments .col-3, div.row-last-payments .col-4 {
	width:23%;
	display:inline-block;
	padding:2px;
}
.step1 .grid-pending-products-to-buy-edit .col-s1 {
	width: 10%;
	text-align: left;
	display: inline-block;
	line-height: 30px;
	padding-left:5px;
	vertical-align:top;
}
.step1 .grid-pending-products-to-buy-edit .col-s2 {
	width: 10%;
	text-align:center;
	display: inline-block;
	line-height: 30px;
	vertical-align:top;
}
.step1 .grid-pending-products-to-buy-edit .col-s3 {
	width: 10%;
	text-align:center;
	display: inline-block;
	line-height: 30px;
	vertical-align:top;
}
.step1 .grid-pending-products-to-buy-edit .col-s4{
	width: 36%;
	text-align:left;
	display: inline-block;
	line-height: 30px;
	vertical-align:top;
}
.step1 .grid-pending-products-to-buy-edit .col-s5 {
	width: 7%;
	text-align:center;
	display: inline-block;
	line-height: 30px;
	vertical-align:top;
}
.step1 .grid-pending-products-to-buy-edit .col-s6 {
	width: 6%;
	text-align:center;
	display: inline-block;
	line-height: 30px;
	vertical-align:top;
}
.step1 .grid-pending-products-to-buy-edit .col-s7{
	width: 5%;
	text-align:center;
	display: inline-block;
	line-height: 30px;
	vertical-align:top;
}
.step1 .grid-pending-products-to-buy-edit .col-s8 {
	width: 9%;
	text-align:center;
	display: inline-block;
	line-height: 30px;
	vertical-align:top;
}
.small-text {
	font-size: 11px;
	display: block;
	width: 90%;
	clear: both;
	height: 20px;
	vertical-align: top;
	line-height: 10px;
	color:#A0A0A0;
}
div.products-to-buy-edit .grid-payment-products-to-buy-edit  .scroll-payment-grid2 {
	max-height:313px !important;
	margin-bottom:20px;
}
.step5 div.products-to-buy-edit .grid-payment-products-to-buy-edit  .scroll-payment-grid2 {
	max-height:326px !important;
	margin-bottom:15px;
}
.details-stock-subtitle {
	border-radius: 4px;
	background: #DADADA; /*#F2F2F2*/
	color: #333;
	min-height: 20px;
	/*padding: 8px 5px 8px 12px;*/
	font-weight: bold;
}
.step1 .grid-pending-products-to-buy-edit .col-1 {
	width: 10%;
	text-align: left;
	display: inline-block;
	line-height: 30px;
	padding-left:10px;
	vertical-align:top;
}
.step1 .grid-pending-products-to-buy-edit .col-2 {
	width: 30%;
	text-align:center;
	display: inline-block;
	line-height: 30px;
	vertical-align:top;
}
.step1 .grid-pending-products-to-buy-edit .col-3 {
	width: 14%;
	text-align:center;
	display: inline-block;
	line-height: 30px;
	vertical-align:top;
}
.step1 .grid-pending-products-to-buy-edit .col-4{
	width: 12%;
	text-align:left;
	display: inline-block;
	line-height: 30px;
	vertical-align:top;
}
.step1 .grid-pending-products-to-buy-edit .col-5 {
	width: 12%;
	text-align:center;
	display: inline-block;
	line-height: 30px;
	vertical-align:top;
}
.step1 .grid-pending-products-to-buy-edit .col-6 {
	width: 15%;
	text-align:center;
	display: inline-block;
	line-height: 30px;
	vertical-align:top;
}


.step4 .control-label-products-to-buy{
	width:400px;
}

.step4 .products-to-buy-initial .header-products-to-buy{
	border-radius: 4px;
	background: #333;
	color: #fff;
	font-weight:normal;
}
.step4 .products-to-buy-initial .header-products-to-buy, .products-to-buy-edit .header-products-to-buy{
	border-radius: 4px;
	border: none !important;
	margin-top: 0;
}

.step4 .title-header-products-to-buy{
	margin: 0 !important;
	background-color: #333333;
	color: #fff;
	border-radius: 4px;
	border-bottom:0 !important;
}
.step4 .section-header-products-to-buy{
	margin: 0 !important;
	background-color: #bbb;
	color: #000;
	border-radius: 4px;
	border-bottom:0 !important;
}
.step4 .subtitle-header-products-to-buy{
	margin: 0 !important;
	background-color: #dadada;
	border-radius: 4px;
	border-bottom:0 !important;
	font-weight: bold;
}

.step4 .products-to-buy-filter {
	margin: -3px 0 0 0 !important;
	width: 80%;
	height: 15px !important;
}

.step4 .row-pending-product-products-to-buy{
	margin: 5px 0 5px 0;
	display: block;
	font-weight: normal;
	border-bottom: 1px dotted #ccc;
}

.step4 .grid-pending-products-to-buy-edit .col-s1 {
	width: 11%;
	text-align: left;
	display: inline-block;
	line-height: 40px;
	padding-left:5px;
	vertical-align:top;
}
.step4 .grid-pending-products-to-buy-edit .col-s2 {
	width: 15%;
	text-align:center;
	display: inline-block;
	line-height: 40px;
	vertical-align:top;
}
.step4 .grid-pending-products-to-buy-edit .col-s3 {
	width: 10%;
	text-align:center;
	display: inline-block;
	line-height: 40px;
	vertical-align:top;
}
.step4 .grid-pending-products-to-buy-edit .col-s4{
	width: 25%;
	text-align:left;
	display: inline-block;
	line-height: 40px;
	vertical-align:top;
}
.step4 .grid-pending-products-to-buy-edit .col-s5 {
	width: 6%;
	text-align:center;
	display: inline-block;
	line-height: 40px;
	vertical-align:top;
}
.step4 .grid-pending-products-to-buy-edit .col-s6 {
	width: 5%;
	text-align:center;
	display: inline-block;
	line-height: 40px;
	vertical-align:top;
}
.step4 .grid-pending-products-to-buy-edit .col-s7{
	width: 4%;
	text-align:center;
	display: inline-block;
	line-height: 40px;
	vertical-align:top;
}
.step4 .grid-pending-products-to-buy-edit .col-s8 {
	width: 18%;
	text-align:center;
	display: inline-block;
	line-height: 40px;
	vertical-align:top;
}
	

.step5 .control-label-products-to-buy{
	width:400px;
}

.step5 .products-to-buy-initial .header-products-to-buy{
	border-radius: 4px;
	background: #333;
	color: #fff;
	font-weight:normal;
}
.step5 .products-to-buy-initial .header-products-to-buy, .products-to-buy-edit .header-products-to-buy{
	border-radius: 4px;
	border: none !important;
	margin-top: 0;
}

.step5 .title-header-products-to-buy{
	margin: 0 !important;
	background-color: #333333;
	color: #fff;
	border-radius: 4px;
	border-bottom:0 !important;
}
.step5 .section-header-products-to-buy{
	margin: 0 !important;
	background-color: #bbb;
	color: #000;
	border-radius: 4px;
	border-bottom:0 !important;
}
.step5 .subtitle-header-products-to-buy{
	margin: 0 !important;
	background-color: #dadada;
	border-radius: 4px;
	border-bottom:0 !important;
	font-weight: bold;
}

.step5 .row-pending-product-products-to-buy{
	/*margin: 5px 0 5px 0;*/
	display: block;
	font-weight: normal;
	border-bottom: 1px dotted #ccc;
}

.step5 .grid-pending-products-to-buy-edit .col-1 {
	width: 10%;
	text-align: left;
	display: inline-block;
	line-height: 40px;
	padding-left:10px;
	vertical-align:top;
}
.step5 .grid-pending-products-to-buy-edit .col-2 {
	width: 30%;
	text-align:center;
	display: inline-block;
	line-height: 40px;
	vertical-align:top;
}
.step5 .grid-pending-products-to-buy-edit .col-3 {
	width: 14%;
	text-align:center;
	display: inline-block;
	line-height: 40px;
	vertical-align:top;
}
.step5 .grid-pending-products-to-buy-edit .col-4{
	width: 12%;
	text-align:left;
	display: inline-block;
	line-height: 40px;
	vertical-align:top;
}
.step5 .grid-pending-products-to-buy-edit .col-5 {
	width: 12%;
	text-align:center;
	display: inline-block;
	line-height: 40px;
	vertical-align:top;
}
.step5 .grid-pending-products-to-buy-edit .col-6 {
	width: 15%;
	text-align:center;
	display: inline-block;
	line-height: 40px;
	vertical-align:top;
}
.margint20{margin-top:20px;}
.margint30{margin-top:30px;}