.products-delivery-page .new-scrollpanel{
	height: calc(100% - 124px);
}
.products-delivery-page .new-body{
	height: calc(100% - 74px);
}
.product-delivery-itens .new-scrollpanel{
	height: calc(100% - 91px);
}