.receivable-details .date-field{
	cursor:pointer;
}

.btn-red{
	background-color:#AD1919;
	height: 36px;
border-radius: 4px;
border: none;
line-height: 9px;
color: #fff;
box-sizing: border-box;
cursor: pointer;
display: block;
float: right;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 16px;
font-weight: normal;
height: 36px;
letter-spacing: normal;
line-height: 20px;
margin-bottom: 0px;
margin-left: 10px;
margin-right: 0px;
margin-top: 23px;
max-width: 300px;
min-width: 86px;
outline-style: none;
padding-bottom: 8px;
padding-left: 10px;
padding-right: 10px;
padding-top: 8px;
text-align: center;
vertical-align: middle;
width: 86px;
}
.btn-red:focus{
	background-color:#8D1919;
}
.btn-red:hover{
	background-color:#8D1919;
}



/* the value of col-5 is wrong!!!! need to fix at new-grid*/
.new-col-5-correct{
	 float:left;
    padding-left:5px;
    padding-right:5px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    display:block;  
    width: 20.8%;
}
.new-col-15{
	width: 62.4%;
	min-height: 1px;
}
.new-col-15 .padding-left-0{
	padding-left: 0px;
}
.new-col-15 .padding-right-0{
	padding-right: 0px;
}


.receivable-check .new-scrollpanel.with-buttons {
	height:calc(100% - 240px);
}
.receivable-check .new-scrollpanel.without-buttons {
	height:calc(100% - 199px);
}

.receivable-details{
}

.receivable-details .date-field{
	width: 100%;
}

.receivable-page .new-scrollpanel{

}

.receivable-page .receivable-body{
	height: calc(100% - 76px);
}

.receivable-page .page-closed-details{
	height: calc(100% - 162px);
}
.receivable-page .page-open-details{
	height: calc(100% - 356px);
}
.receivable-page .page-open-check-details{
	height: calc(100% - 381px);
}

.receivable-list{

}

.receivable-page .select2-container{
	width: 100%;
}

.margin-right-10{
	margin-right: 10px;
}

.margin-left-10{
	margin-left: 10px;
}

.margin-top-20{
	margin-top: 23px;
}



.receivable-buttom-height{
	height: 65px;
}

/*.form-receivable .panel-top .combo-width{
	width:220px;
}
.form-receivable {
	border-radius: 6px;
	margin: -9px 10px 0 10px;
	border: 1px solid #e0e0e0;
	background: #fff;
	padding: 10px 15px 0 15px;
	width: 970px;
	
	display: block;
	position: relative;
}
.scroll-receivable {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
	width: 970px;
	height:300px;
	top: 2px;
	bottom: 45px;
	display: block;
}

.filtro{
	text-align: right !important;
	padding-right: 4px;
	width: 50px;
	display: inline-block;
	float: left;
}

.marginl0{margin-left: 0 !important;}

.receivable-write-left{
	display: inline-block;
	width: 60% !important;
	float:left;
}

.receivable-write-right{
	display: inline-block;
	width: 340px !important;
	float:left;
	padding: 0 0 10px 48px;
}

.scroll-input-receivable-dialog-grid input{
	padding: 10px 0 10px 0 !important;
	margin: 0 !important;
	border: none !important;
}

.scroll-input-receivable-dialog-grid .value{text-align:right; width:88px;}
*/