.receivable-check .new-scrollpanel.with-buttons {
	height:calc(100% - 240px);
}
.receivable-check .new-scrollpanel.without-buttons {
	height:calc(100% - 199px);
}

.receivable-details{
}

.receivable-details .date-field{
	width: 100%;
}

.receivable-page .new-scrollpanel{

}

.receivable-page .receivable-body{
	height: calc(100% - 76px);
}

.receivable-page .page-closed-details{
	height: calc(100% - 124px);
}
.receivable-page .page-open-details{
	height: calc(100% - 318px);
}
.receivable-page .page-open-check-details{
	height: calc(100% - 381px);
}

.receivable-list{

}

.receivable-page .select2-container{
	width: 100%;
}

.margin-right-10{
	margin-right: 10px;
}

.margin-left-10{
	margin-left: 10px;
}


/*.form-receivable .panel-top .combo-width{
	width:220px;
}
.form-receivable {
	border-radius: 6px;
	margin: -9px 10px 0 10px;
	border: 1px solid #e0e0e0;
	background: #fff;
	padding: 10px 15px 0 15px;
	width: 970px;
	
	display: block;
	position: relative;
}
.scroll-receivable {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
	width: 970px;
	height:300px;
	top: 2px;
	bottom: 45px;
	display: block;
}

.filtro{
	text-align: right !important;
	padding-right: 4px;
	width: 50px;
	display: inline-block;
	float: left;
}

.marginl0{margin-left: 0 !important;}

.receivable-write-left{
	display: inline-block;
	width: 60% !important;
	float:left;
}

.receivable-write-right{
	display: inline-block;
	width: 340px !important;
	float:left;
	padding: 0 0 10px 48px;
}

.scroll-input-receivable-dialog-grid input{
	padding: 10px 0 10px 0 !important;
	margin: 0 !important;
	border: none !important;
}

.scroll-input-receivable-dialog-grid .value{text-align:right; width:88px;}
*/