.receivable-details .date-field{
	cursor:pointer;
}

.receivable-list-page{
	height: 100%;
}

.btn-red{
	background-color:#AD1919;
	height: 36px;
border-radius: 4px;
border: none;
line-height: 9px;
color: #fff;
box-sizing: border-box;
cursor: pointer;
display: block;
float: right;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 16px;
font-weight: normal;
height: 36px;
letter-spacing: normal;
line-height: 20px;
margin-bottom: 0px;
margin-left: 10px;
margin-right: 0px;
margin-top: 23px;
max-width: 300px;
min-width: 86px;
outline-style: none;
padding-bottom: 8px;
padding-left: 10px;
padding-right: 10px;
padding-top: 8px;
text-align: center;
vertical-align: middle;
width: 86px;
}
.btn-red:focus{
	background-color:#8D1919;
}
.btn-red:hover{
	background-color:#8D1919;
}



/* the value of col-5 is wrong!!!! need to fix at new-grid*/
.new-col-5-correct{
	 float:left;
    padding-left:5px;
    padding-right:5px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    display:block;  
    width: 20.8%;
}
.new-col-15{
	width: 62.4%;
	min-height: 1px;
}
.new-col-15 .padding-left-0{
	padding-left: 0px;
}
.new-col-15 .padding-right-0{
	padding-right: 0px;
}


.receivable-check .new-scrollpanel.with-buttons {
	height:calc(100% - 240px);
}
.receivable-check .new-scrollpanel.without-buttons {
	height:calc(100% - 199px);
}

.receivable-details{
	margin-left: -5px;
	margin-right: -5px;
}

.receivable-details .date-field{
	width: 100%;
}

.receivable-page .new-scrollpanel{

}

.receivable-page .receivable-body{
	height: calc(100% - 76px);
}

.receivable-page .page-closed-details{
	height: calc(100% - 162px);
}
.receivable-page .page-open-details{
	height: calc(100% - 272px);
}
.receivable-page .page-open-check-details{
	height: calc(100% - 381px);
}

.receivable-list{

}

.receivable-page .select2-container{
	width: 100%;
}

.margin-right-10{
	margin-right: 10px;
}

.margin-left-10{
	margin-left: 10px;
}

.margin-top-20{
	margin-top: 23px;
}



.receivable-buttom-height{
	height: 65px;
}

.select-width-old-receivable {
	width:100%;
}

/* OLD STUFF NECESSARY from old order-list.css and old new-calendar.css (but for some purpose used here too) */
.new-calendar label {display:inline;}
.new-calendar label img{margin-top:3px;vertical-align:top;}
.new-header .title{
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin:0px;
    display:block;
    float: left;
    margin-top: 10px;
}
.new-calendar{
	margin-bottom: 10px;
	margin-right: 30px;
	float:left;
	display:block;
}
.new-calendar .text-over{
	display: block;
	margin-top: 8px;
	margin-right: 5px;
}
.new-calendar .date-field{cursor:pointer;}
.w75{width:75px;}
.row-selected{
	background-color: #f8c6da;
	border-radius: 4px;
	border: 0;
}