@media (max-width: 1024px) and (max-height: 768px) {

	/*PRODUCTS TO BUY*/
	.grid-products-to-buy .header .col-1 {
		white-space: nowrap;
	}
	.grid-products-to-buy .header .col-2 {
		white-space: nowrap;
	}
	.grid-products-to-buy .header .col-3 {
		white-space: nowrap;
	}
	.grid-products-to-buy .header .col-4 {
		white-space: nowrap;
	}
	/*PREVIOUS ENTRIES*/
	.grid-previous-entries .header .col-5 div {
		text-align: right;
		margin-right: 25px
	}
	/*FINANCIAL*/
	.grid-financial .header .col-5 div {
		text-align: right;
		margin-right: 25px
	}
	.input-search {
		position: relative;
		left: 3px
	}
	/*PENDIG DELIVERY*/
	.grid-2 .grid-pending-delivery .header .col-5 {
		margin-right: 0px !important
	}
	/*CATALOG*/
	.footer {
		font-weight: bold;
	}
	/*ORDER LIST*/
	.scroll-order-list .col-5 div {
		position:relative;
		right: 16px!important;
		text-align: right
	}
	/*PARTIAL DELIVERY*/
	.grid-partial-delivery-1 .col-5 div {
		margin-left: 30px !important;
		text-align: center
	}
	.grid-partial-delivery-1 .header .col-5 div {
		margin-left: 20px !important;
	}
	/*END PARTIAL DELIVERY*/

	.navbar .nav {
		font-size: 11px;
		font-weight: bold;
	}
	.panel-payment-footer-right {
		position: absolute;
		bottom: 0;
		top: 523px;
		width: 500px !important;
		display: inline-block;
		left: 501px !important;
	}
	.form-payment-credit-card {
		margin-left: -268px !important;
	}
	.combo-width-1 {
		width: 75px;
	}
	.input-width-tels input {
		width: 298px !important;
	}
	.panel-payment-footer-right {
		position: absolute;
		bottom: 0;
		top: 532px;
		width: 200px;
		right: 22px !important
	}

	.form-payment-check .btn-plus-payment-check {
		margin-top: 25px;
		position: relative;
		right: 16px
	}

	.form-payment-check .btn-plus-payment-check {
		margin-left: 15px !important;
	}
	/*add new customer*/
	.panel-footer-new-customer {
		margin-right: 6px;
	}
	/*nav header*/
	.navbar .nav > li > a {
		float: none;
		padding: 10px 10px 10px 0;
		color: #777777;
		text-decoration: none;
		text-shadow: 0 1px 0 #ffffff;
	}
	/*inputs custom*/
	.input-width-emails {
		width: 447px !important;
	}
	.input-width-tels {
		width: 284px !important;
	}
	.input-cep, .input-address-number {
		width: 130px
	}
	.select-width-01 {
		width: 60px
	}
	.select-width-02 {
		width: 145px
	}

	.bg-login-center {
		background: url(../images/bg-center-mary.png);
		width: 458px;
		height: 418px;
		position: absolute;
		top: 20px;
		left: 48%;
		margin-left: -229px;
	}
	.col-left {
		float: left;
		width: 405px !important;
	}
	.col-right {
		float: right;
		width: 420px !important;
	}
	/*home scroll content*/
	.home-scroll-content {
		width: 825px;
		height: 670px !important;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		position: absolute !important;
		top: 80px;
		bottom: 40px;
	}

	/*side bar*/
	.sidebar-menu {
		float: right;
		box-shadow: -1px 1px 8px 1px #e0e0e0;
		border-radius: 4px;
		width: 195px !important;
		background: #fdfeff;
		float: right;
		margin-top: -8px;
		margin-right: 10px !important;
		position: relative;
	}
	.banner-side-bar {
		width: 175px !important;
		margin-right: 10px !important;
	}

	.bottom-side-bar {
		box-shadow: -1px 1px 8px 1px #e0e0e0;
		border-radius: 4px;
		padding: 18px !important;
		margin-top: 10px;
		height: 140px;
		display: inline-block;
		background: #fdfeff;
		float: right;
		clear: both;
		margin-right: 10px !important;
	}

	.nav-list > li > a {
		padding: 3px 15px;
		border-bottom: 1px dotted #d5d5d5;
		color: #666666;
		padding: 10px
	}

	.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
		color: white;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
		background-color: #5d9732;
		border-bottom: 1px dotted #d5d5d5;
	}

	.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
		color: white;
		background-color: transparent;
	}
	.navbar-inverse .brand, .navbar-inverse .nav > li > a {
		color: #ecbab9;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	}
}
