/* muda a altura do scroll da página */
.best-sellers-scroll-height {height:calc(100% - 80px);}


#sacred .main-best-sellers {
    min-height:670px;
    width:785px;
    margin:10px 0 0 5px;
    padding:0 13px 0 5px;
    border-radius:6px;
    position:relative;
}
    #sacred .main-best-sellers .bs-title {
        margin:3px 0 0 12px;
        position:absolute;
        width: 783px;
        border-bottom: #ddd solid 1px;
        padding-bottom: 12px;
    }
    #sacred .main-best-sellers .bs-title .big{
        font-size: 30px;
        color:#666;
    }
    #sacred .main-best-sellers .bs-title .small{
        font-size: 20px;
        color:#999;
    }

    #sacred .main-best-sellers .bs-container {}

    #sacred .main-best-sellers .bs-product{
        position: absolute;

    }
    #sacred .main-best-sellers .bs-product img{
        cursor: pointer;
    }
    #sacred .main-best-sellers .bs-product .bs-text{
        position: absolute;
        cursor: pointer;
    }

    #sacred .main-best-sellers .bs-product .bs-text .description{
        color: #666;
    }
    #sacred .main-best-sellers .bs-product .bs-text .price{
        color: #2dcb73;
        font-size:18px;
        font-weight: bold;
    }

/* para todos os itens */
#sacred .main-best-sellers img {float:left;}
#sacred .main-best-sellers .bs-product, #sacred .main-best-sellers .bs-item1, #sacred .main-best-sellers .bs-item2 {position:absolute;}
#sacred .main-best-sellers .bs-item1:hover, #sacred .main-best-sellers .bs-item2:hover {cursor:pointer;}

.bs-text b{
    font-size: 15px;
}

/* para cada item individualmente */
#sacred .main-best-sellers .bs-product1 {
    height:192px;
    width:420px;
    top:120px;
    left:0px;
}
#sacred .main-best-sellers .bs-product1 img{
    width:198px;
}
#sacred .main-best-sellers .bs-product1 .bs-text{
    top: 55px;
    left: 196px;

}

#sacred .main-best-sellers .bs-product2 {
    height:192px;
    width:390px;
    top:124px;
    left:290px;
}
#sacred .main-best-sellers .bs-product2 img{
    width:211px;
}
#sacred .main-best-sellers .bs-product2 .bs-text{
    top: 40px;
    left: 216px;

}

#sacred .main-best-sellers .bs-product3 {
    height:192px;
    width:352px;
    top:110px;
    left:450px;
}

#sacred .main-best-sellers .bs-product3 img{
   width:201px;
   float: right;
}

#sacred .main-best-sellers .bs-product3 .bs-text{
    top: 102px;
    right: 187px;
    text-align: right;
}

#sacred .main-best-sellers .bs-product4 {
    height:192px;
    width:375px;
    top:460px;
    left:415px;
}

#sacred .main-best-sellers .bs-product4 img{
    float: right;
}

#sacred .main-best-sellers .bs-product4 .bs-text{
    top: 50px;
    right: 155px;
    text-align: right;
}

#sacred .main-best-sellers .bs-product5 {
    height:192px;
    width:566px;
    top:630px;
    left:60px;
}

#sacred .main-best-sellers .bs-product5 img{
    width:225px;
    float: right;
}

#sacred .main-best-sellers .bs-product5 .bs-text{
    top: 102px;
    right: 227px;
    text-align: right;

}