#sacred .pre-show-details-icon{
	margin-right: 0px;
}

#sacred .sacred-order-list-page .show-details-icon{
	margin-top: 25px;
	margin-left: 25px;
	float: left;
}
#sacred .sacred-order-list-page .details .row{
	margin-bottom: 10px;
}