#sacred .sacred-purchase-order-page .page-body-full{
	height:100%;
}

#sacred .purchase-order-pending-products-part .grid-scroll{
	height:calc(100% - 1px);
}

/* ticket part */
#sacred .sacred-purchase-order-page .purchase-order-ticket-part1 .grid-scroll{
	height:calc(100% - 178px);
}

#sacred .sacred-purchase-order-page .purchase-order-ticket-part2 .grid-scroll{
	height:calc(100% - 178px);
}

#sacred .right-holder{
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	margin-bottom: 10px;
}

#sacred .right-holder .discount-notice{
	margin: 8px;
	color: #FF9D00;
	letter-spacing: -0.5px;
	text-align: center;
}

#sacred .right-holder .content .title{
	display: block;
	margin: 5px 0 0 4px;
	font-weight: bold;
	height: 22px;
	line-height: 22px;
}

#sacred .right-holder .content .item{
	display: inline-block;
	width: 100%;
}

#sacred .right-holder .content .tag{
	width: 100%;
	margin-left: 5px;
	height: 22px;
	line-height: 22px;
}

#sacred .right-holder .content .value{
	width: 100%;
	text-align: right;
	border: 1px solid #eee;
	background-color: #f2f2f2;
	border-radius: 4px;
	margin-right: 5px;
	float: right;
	padding-right: 5px;
	height: 20px;
	line-height: 20px;
}