/*
* sacred-form.css is the priest of the information. It listens every one that needs.
* (this stylesheet have all the styles for make a form wort with a generic page)
*/

#sacred input.input-header{
	height: 30px;
	width: 100%;
}

#sacred .input-header.without-label{
	margin-top:19px;
}

#sacred .labeless-force-align{
	margin-top: 20px;
}

#sacred .checkbox-line {
	margin-top:23px;
}

#sacred .checkbox-line input {
	vertical-align:0;
}

#sacred .grid-body input[type=checkbox] {
	margin-top:-2px;
}