/* modal structure */
.modal-head{
	border-radius: 4px 4px 0 0;
	width: 100%;
	color: #fff;
	font-size: 16px;
	padding: 10px;
	background: #000;
	font-family: "Quicksand-Regular", Helvetica, Arial,"Helvetica Neue", sans-serif;
	text-align:center;
	box-sizing: border-box;
}

.modal-body{
	padding: 20px 20px 0px 20px;
	width: 100%;
	display: block;
	box-sizing: border-box;
}

.modal-foot{
	padding: 0px 20px 20px 20px;
	width: 100%;
	float: left;
	box-sizing: border-box;   
}
.modal-foot hr{
	margin: 10px 0px 10px 0px;
}

.modal,
.modal-small,
.modal-medium,
.modal-big{
	position: absolute;
	top: 40px;
	left: 50%;
	z-index: 1050;
	background-color: white;
	border: none;
	border: none;
	border-radius: none;
	box-shadow: none;
	background-clip: none;
	outline: none;
	border-radius: 4px;
}

/* modal sizes. for now, we only have three, plus the taylor maded ones...*/
.modal-small{
	margin-left: -192px;
	width: 384px;
}

.modal-medium{
	margin-left: -256px;
	width: 512px;
}

.modal-big{
	margin-left: -384px;
	width: 768px;
}

/*just to make the dialog looks like the older one in size*/
.modal-add-basket-dialog-body .fields{
	margin: 15px 0;
}

.modal-body .form{
	margin-bottom: 0px;
}

/* input with (+) */
#sacred .modal-body .input-append .add-on {
	height:30px;
}
#sacred .modal-body .input-append input {
	width:98%;
}

/* scroll box for phones and emails */
.scroll-box {
	width:100%;
	height:80px;
	border:1px solid #ccc;
	display:inline-block;
	border-radius:6px;
	padding:10px;
	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
	overflow-x:hidden;
}



/* purchase-order */
#sacred .form .inline-date input#dateNf {
	width:87px;
}