/* muda a altura do scroll da página */
.best-sellers-scroll-height {height:calc(100% - -80px);}


#sacred .main-best-sellers {
    min-height:670px;
    width:785px;
    margin:10px 0 0 5px;
    padding:0 13px 0 5px;
    border-radius:6px;
    position:relative;
}
    #sacred .main-best-sellers .bs-title {
        margin:3px 0 0 12px;
        position:absolute;
        width: 783px;
        border-bottom: #ddd solid 1px;
        padding-bottom: 12px;
    }
    #sacred .main-best-sellers .bs-title .big{
        font-size: 30px;
        color:#666;
    }
    #sacred .main-best-sellers .bs-title .small{
        font-size: 20px;
        color:#999;
    }

    #sacred .main-best-sellers .bs-container {}

    #sacred .main-best-sellers .bs-product{
        position: absolute;

    }
    #sacred .main-best-sellers .bs-product img{
        cursor: pointer;
    }
    #sacred .main-best-sellers .bs-product .bs-text{
        position: absolute;
        cursor: pointer;
    }

    #sacred .main-best-sellers .bs-product .bs-text .description{
        color: #666;
    }
    #sacred .main-best-sellers .bs-product .bs-text .price{
        color: #2dcb73;
        font-size:18px;
        font-weight: bold;
    }

/* para todos os itens */
#sacred .main-best-sellers img {float:left;}
#sacred .main-best-sellers .bs-product, #sacred .main-best-sellers .bs-item1, #sacred .main-best-sellers .bs-item2 {position:absolute;}
#sacred .main-best-sellers .bs-item1:hover, #sacred .main-best-sellers .bs-item2:hover {cursor:pointer;}



/* para cada item individualmente */
#sacred .main-best-sellers .bs-product1 {
    height:192px;
    width:390px;
    top:100px;
    left:0px;
}
#sacred .main-best-sellers .bs-product1 img{
    width:250px;
}
#sacred .main-best-sellers .bs-product1 .bs-text{
    top: 102px;
    left: 174px;

}

#sacred .main-best-sellers .bs-product2 {
    height:192px;
    width:390px;
    top:280px;
    left:250px;
}
#sacred .main-best-sellers .bs-product2 img{
    width:225px;
}
#sacred .main-best-sellers .bs-product2 .bs-text{
    top: 162px;
    left: 160px;

}

#sacred .main-best-sellers .bs-product3 {
    height:192px;
    width:352px;
    top:345px;
    left:626px;
}
#sacred .main-best-sellers .bs-product3 img{
   width:225px;
}
#sacred .main-best-sellers .bs-product3 .bs-text{
    top: 102px;
    left: 165px;
}

#sacred .main-best-sellers .bs-product4 {
    height:192px;
    width:416px;
    top:100px;
    left:501px;
}
#sacred .main-best-sellers .bs-product4 img{
    width:225px;
}
#sacred .main-best-sellers .bs-product4 .bs-text{
    top: 102px;
    left: 205px;

}