/*
* sacred-form.css is the priest of the information. It listens every one that needs.
* (this stylesheet have all the styles for make a form wort with a generic page)
*/

#sacred input.input-header{
	height: 30px;
	width: 100%;
}

#sacred .without-label{
	margin-top:19px;
}

#sacred .labeless-force-align{
	margin-top: 20px;
}

#sacred .checkbox-line {
	margin-top:23px;
}

#sacred .checkbox-line input {
	vertical-align:0;
}

#sacred .grid-body input[type=checkbox] {
	margin-top:-2px;
}

/* for form pages */

#sacred .form .form-line {
	margin-bottom:10px;
}

#sacred .form .form-line input[text],
#sacred .form .form-line select,
#sacred .form .form-line .select2-container {
	width:100%;
	min-height:30px;
}

#sacred .date-day, #sacred .date-month {
	display:block;
	float:left;
	width:65px!important;
	margin-right:5px;
}
#sacred .date-year {
	display:block;
	float:left;
	width:95px!important;
}