#sacred .pre-show-details-icon{
	margin-right: 0px;
}

#sacred .sacred-order-list-page .show-details-icon{
	margin-top: 25px;
	margin-left: 25px;
	float: left;
}
#sacred .sacred-order-list-page .details .row{
	margin-bottom: 10px;
}

#sacred .select-client{
	width: 100%;
}

#sacred .order-scroll-closed{
	height: calc(100% - 103px);
}

#sacred .order-scroll-openned{
	height: calc(100% - 183px);
}