#sacred .sacred-target-page .content-header label {
	margin-bottom:0;
}

#sacred .sacred-target-page .calendar {
	margin-right:39px;
}

#sacred .sacred-target-page .content-header select {
	width:155px;
}
#sacred .sacred-target-page .content-header .select2-default {
	height:31px;
	line-height:31px;
}

#sacred .sacred-target-page .grid-body {
	width:100%;
}

#sacred .sacred-target-page .grid-item {
	line-height:33px;
}


#sacred .sacred-target-page .grid-scroll {
	height:calc(100% - 97px);
}
#sacred .sacred-target-page .buttons-holder,
#sacred .sacred-target-list-page .buttons-holder {
	margin-top:10px;
}
#sacred .sacred-target-list-page .grid-scroll {
	height:calc(100% - 28px);
}


#sacred .sacred-target-page .page-body-include {
	height:100%;
}

#sacred .sacred-target-page .gauge-canvas text,
#sacred .sacred-target-page .goal-tip text,
#sacred .sacred-target-page .snapshot-tip text {
	font-size:10px;
	color:#fff!important;
}

#sacred .sacred-target-page .goal-tip rect,
#sacred .sacred-target-page .goal-tip path {
	fill:#5892ce;
}
#sacred .sacred-target-page .snapshot-tip rect,
#sacred .sacred-target-page .snapshot-tip path {
	fill:#ab147a;
}