/*-------------voucher------------*/
.voucher-fields .filter-bar {padding:0 !important;}

.voucher-fields1{
	min-width: 400px; /*322px;*/
}
.voucher-fields2{
	min-width: 208px; /*100px;*/
}

.filter-voucher{
	width: 313px;
}
.marginln{
margin-left: -38px !important;
}

.grid-voucher .control-label-voucher{
	width:400px;
}
.grid-voucher .row-input-products-grid .ic-arrow-left, .grid-voucher .row-input-products-grid .ic-arrow-right{
	width:33px;
	/*height:44px;*/
	vertical-align: middle;
}
.grid-voucher .row-input-products-grid .qty{
	width:40px;
	/*height:44px;*/
}

/*Grid Em aberto*/
.grid-voucher{ margin-top:25px;}

.grid-voucher .header-voucher{
	border-radius: 4px;
	background: #333;
	color: #fff;
	font-weight:normal;
	border-radius: 4px;
	border: none !important;
	margin-top: 0;
}
.grid-voucher .col-s1 {
	width: 80px;
	display: inline-block;
	line-height: 40px;
	vertical-align: middle;
	text-align:center;
}
.grid-voucher-history .header-voucher .col-s1 div, .grid-voucher-history  .grid-voucher .col-s1 div{
	margin-left:0;
}

.grid-voucher .col-s2 {
	width: 120px;
	display: inline-block;
	line-height: 40px;
	vertical-align: middle;
	text-align:center;
}
.grid-voucher .col-s3 {
	width: 150px;
	display: inline-block;
	line-height: 40px;
	vertical-align: middle;
	text-align:center;
}
.grid-voucher .col-s4{
	width: 150px;
	display: inline-block;
	line-height: 40px;
	vertical-align: middle;
	text-align:center;
}
/*.grid-voucher .col-s5 {
	width: 120px;
	display: inline-block;
	line-height: 40px;
	vertical-align: middle;
	text-align:center;
}*/
.grid-voucher .col-s5{ /*s6*/
	width:450px;
	display: inline-block;
	line-height: 40px;
	vertical-align: middle;
}

.grid-voucher div div input{
	margin-top: 7px;
}
.subtitle2-header-voucher {border:none !important;}

.subtitle-header-voucher{
	margin: 0 !important;
	background-color: #f2f2f2;
	border-radius: 4px;
	border-bottom:0 !important;
}

/*Grid Historico*/

.grid-voucher-history .header-voucher{
	border-radius: 4px;
	background: #333;
	color: #fff;
	font-weight:normal;
	border-radius: 4px;
	border: none !important;
	margin-top: 0;
}

.grid-voucher-history .col-s1 {
	width: 120px;
	display: inline-block;
	vertical-align: middle;
	text-align:center;
}

.grid-voucher-history .col-s2 {
	width: 150px;
	display: inline-block;
	vertical-align: middle;
	text-align:center;
}
.grid-voucher-history .col-s3 {
	width: 150px;
	display: inline-block;
	line-height: 40px;
	vertical-align: middle;
	text-align:center;
}
.grid-voucher-history .col-s4{
	width: 150px;
	display: inline-block;
	vertical-align: middle;
	text-align:center;
}
.grid-voucher-history .col-s5{
	width: 384px;
	display: inline-block;
	vertical-align: middle;
}