.warm-up-calendar-to-close-right .dropdown-menu{
	left: 447px !important;
}
.name-cutter{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.warm-up .new-header .title .name {
	float:left;
}
.warm-up .new-header .title .new-calendar {
	margin:-6px 0 0 20px;
}

.warm-up-stock-part {
  height: calc(100% - 15px);
}

.warm-up-stock-part .step1 {
  height: 100%;
}

.warm-up-stock-part .payment-btn-area {
  margin-top:10px;
  width:100%;
}

.warm-up-stock-part .code-product {
  display: block;
}

.warm-up-stock-part .new-body-header {
  margin-top:55px;
}

.warm-up{
	border-radius: 6px;
	border: 1px solid #e0e0e0;
	width: 970px;
	display: block;
	position: relative;
	margin: -9px 10px 0 10px;
	padding: 10px 15px 0 15px;
  height: calc(100% - 103px);
}

.warm-up-finances-part, .warm-up-third-part {
  height: 100%;
}

.warm-up-finances-part .new-scrollpanel {
  height: calc(100% - 228px);
}

.warm-up-stock-part .new-scrollpanel {
  height: calc(100% - 179px);
}


.close-button{
	width: 25px;
	height: 25px;
}

.warm-up-header{
	width: 100%;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 0px 10px 0px;
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing:        border-box;
}
.warm-up-body{
	margin: 0px 10px;
  height: calc(100% - 59px);
}

.warm-up-calendar{
	margin-bottom: 10px;
}


.warm-up-calendar label{
	display: inline;
}

.warm-up-calendar .text{
	display: block;
	float: left;
	margin-top: 8px;
	margin-right: 5px;
}


.warm-up-calendar label img{
	margin-top: 3px;
	vertical-align: top;
}

.warm-up-body-header{
	background-color: rgb(51, 51, 51);
	border-radius: 4px;
	color: rgb(255, 255, 255);
	display: block;
	font-family: Helvetica, Arial, 'Helvetica Neue', sans-serif;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	margin-top: 5px;
	width: 100%;
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing:        border-box;
}


.text-right{
	text-align: right;
}

.warm-up-body-row{
	border-bottom: 1px solid #666;
	border-bottom: 1px rgb(204, 204, 204) dotted;
	width: 100%;
	font-family: Helvetica, Arial, 'Helvetica Neue', sans-serif;
	line-height: 40px;
	height: 40px;
	display: inline-table;
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing:        border-box;
}
.warm-up-body-subtitle{
	border-radius: 4px;
	margin-top: 3px;
	border-bottom: 1px solid #666;
	border-bottom: 1px rgb(204, 204, 204) dotted;
	width: 100%;
	font-family: Helvetica, Arial, 'Helvetica Neue', sans-serif;
	line-height: 40px;
	height: 40px;
	display: inline-table;
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing:        border-box;
	background:#ccc;
	color:#222;
	font-weight:bold;
}
.finances-cards-part .warm-up-body-subtitle .new-col-18 {
	margin-right:-6px;
}
.finances-check-part .warm-up-body-subtitle .new-col-18 {
	margin-right:-2px;
}
.warm-up-btn-holder button{
	margin-left: 10px;
}


.warm-up-body-row-form .warm-up-calendar input{
	width: 100%;
  box-sizing: border-box;
  margin: 0px;
  height: 30px;
}

.warm-up-body-row-form .select2-container{
	width: 100%;
}




.warm-up-body-row input{
	margin-bottom:3px; 
}

.warm-up-body-row input.currency{
	margin-bottom:3px; 
	text-align: right;
}

.warm-up-stock-part .product-header-order .products-to-buy-filter {
	margin:0!important;
}

.warm-up-section .input-append {
  width:100%;
}


.warm-up-section{
	margin-bottom:20px;
	margin-top:-5px;
}

.warm-up-finances-part .warm-up-body-row-form {
	margin-top:5px;
}
.warm-up-finances-part .warm-up-body-row-form .combo-width {
	width:183px;
}
.warm-up-finances-part .finances-check-part, .warm-up-finances-part .finances-cards-part {
	height:100%;
}
.warm-up-finances-part .new-btn-holder {
	margin-top:-58px;
}
.warm-up-finances-part .new-scrollpanel .new-col-1 img {
	cursor:pointer;
}
.finances-cards-part .new-col-17 {
	width:70.4%;
}
.finances-check-part .new-col-17 {
	width:70.7%;
}


.warm-up-check-wrapper,
.warm-up-creditcard-wrapper {
  height:100%;
}
