<div id="sacred">
	<div class="container">

		<div ng-include src="'views/parts/global/header.html'"></div>

		<div class="page sacred-products-delivery-page" >

			<div class="page-header">
				<div class="row">
					<div class="col-10">
						<div class="title">Entrega de Produtos</div>
					</div>
					<div class="col-14">
						<div class="btn-group pull-right page-button" ng-init="selected='toBeDelivered'">
							<a class="btn btn-option" ng-class="{active: selected=='toBeDelivered'}" ng-click="selected='toBeDelivered'">Pedidos a Entregar</a>
							<a class="btn btn-option" ng-class="{active: selected=='delivered'}" ng-click="selected='delivered'">Pedidos Entregues</a>
						</div>
					</div>
				</div>
			</div>

			<div class="page-body" ng-switch="selected">
				<div class="content" ng-switch-when="toBeDelivered">
					<div ng-include class="include-div" src="'views/incubated/sacred-products-delivery-delivery.html'"></div>
				</div>
				
				<div class="content" ng-switch-when="delivered">
					<div ng-include class="include-div" src="'views/incubated/sacred-products-delivery-delivered.html'"></div>
				</div>
			</div>
		</div>
	</div>
</div>