<div class="title-left">
	<div>
		RESUMO DA VENDA
	</div>
	
</div>


<div class="left-payment">
	<div class="header">
		<span class="col-1">Produto</span><span class="col-2">Qtde</span><span class="col-3">Valor</span>
	</div>
	
	<div class="content-scroll">
		<div ng-repeat="product in dataProvider.products | filter: filterQty | obInject:'mul':'qty':'price':'subtotal'">
			<span class="col-1">{{product.title | truncate: 40}}</span>
			<span class="col-2">{{product.qty}}</span><span class="col-3">{{product.subtotal | currency:''}}</span>
		</div>
	</div>
	<div class="header2">
		<span class="col-1">{{productsCount}} itens</span><span class="col-2">Total</span><span class="col-3">{{productsTotal | currency:''}}</span>
	</div>
</div>


<div class="customer-info">
	<div class="txt-info-customer">
		{{customer.name}}
		<br />
		{{customer.email}}
		<br />
		<span ng-repeat="phone in customer.phones">{{phone}}</span>
	</div>
</div>
<span class="panel-payment-footer-left">
		<button ng-click='closeDialog()' class="btn" type="submit">Cancelar</button>
</span>