<div class="title-right">
					<div>
						RECEBIMENTO
					</div>
					
				</div>
				<div class="btns-right-payment">
					<div class="row-right-payment">
				<div class="btn-payments-left">
					<span class="container-money-payment">
						<span class="label-money">DINHEIRO</span>
					</span>
					<span class="btn-price-payment-input-block input-block-level">
						<input class="input-money-payment text-right" id="appendedInput" type="text" ng-model="cash" currency recall>
					</span>
				</div>
					</div>
					<div ng-click='openDialogCheck()' class="row-right-payment">
						<span class="lbl-money">CHEQUE ( {{payments.checks.length}} )</span><span class=""><span class="btn-price-payment">{{payments.checksTotal | currency:''}}</span></span>
					</div>
					<div ng-click='openDialogCreditCard()' class="row-right-payment">
						<span class="lbl-money">CART&Atilde;O ( {{payments.creditCards.length}} )</span><span class=""><span class="btn-price-payment">{{payments.creditCardsTotal | currency:''}}</span></span>
					</div>
					<div class="row-right-payment" ng-click='openDialogProductExchange()'>
						<span class="lbl-money">TROCA  ( 0 produto )</span><span class=""><span class="btn-price-payment"></span></span>
					</div>
					<div class="row-right-payment" ng-click='openDialogAdvanceMoney()'>
						<span class="lbl-money">ADIANTAMENTO ( 00,00 )</span><span class=""><span class="btn-price-payment">0,00</span></span>
					</div>
					<div class="row-right-payment">
						<span class="lbl-money">CUPOM PROMOCIONAL ( 00,00 )</span><span class=""><span class="btn-price-payment">0,00</span></span>
					</div>
				</div>
				<div class="payment-resume">
					<div class="lbl-resume">
						<div>
							TOTAL RECEBIDO
						</div>
						<div>
							TOTAL DO PEDIDO
						</div>
						<div class="red-color">
							TROCO
						</div>
					</div>
					<div class="values-resume">
						<div>
							{{payments.total | currency:''}}
						</div>
						<div>
							{{productsTotal | currency }}
						</div>
						<div class="red-color">
							{{(productsTotal - (payments.total - cash)) | currency:''}}
						</div>
					</div>
				</div>
				<span class="panel-payment-footer-right">
					<button ng-click='confirm()' class="btn " type="submit">Confirmar</button>
				</span>