<div class="title-left">
	<div>
        Emiss&atilde;o de cupom promocional
	</div>
</div>


<div class="left-payment" ng-switch="couponSelected" ng-controller="PaymentCouponCtrl">	
	
	<!---EMITIR
	<div class="row-fluid payment-coupon-fields" ng-switch-when="new">-->
	<div class="row-fluid payment-coupon-fields">
        <form>
			<div class="controls-row">
				<div class="control-group lbl-top">				   
					<div class="grid-payment-coupon">
						<div class="header header2 subtitle2-header-coupon">
							<div class="row-payment-grid">
								<span class="col-s1">
									<div>R$ Cupom</div>
								</span>
								<span class="col-s2">
									<div>Qtde.</div>
								</span>
								<span class="col-s3">
									<div>&nbsp;</div>
								</span>
								<span class="col-s4">
									<div class="text-right">Valor</div>
								</span>
							</div>
						</div>
						<div class="header header2 subtitle-header-coupon">
							<div class="row-payment-grid">
								<span class="col-s1">
									<div>&nbsp;</div>
								</span>
								<span class="col-s2">
									<div>&nbsp;</div>
								</span>
								<span class="col-s3">
									<div class="text-right">
										Total
									</div>
								</span>
								<span class="col-s4">
									<div>{{ total | currency: '' }}</div>
								</span>
							</div>
						</div>
						<div class="scroll-payment-grid">
							<div class="row-payment-grid-product-coupon" ng-repeat="item in list">
								<span class="col-s1">
									<div>
										R$<span class="coupon-value">{{item.amount | currency: ''}}</span>
									</div>
								</span>
								<span class="col-s2">
									<div><input-qty ng-model="item.qty" min="0"></input-qty></div>
								</span>
								<span class="col-s3">
									<div>&nbsp;</div>
								</span>
								<span class="col-s4">
									<div class="text-right">
										<span name="amount" class="check-value" id="valor">{{item.total | currency: ''}}</span>
									</div>
								</span>
							</div>
						</div>
					</div>				
				</div>
				
			</div>
		</form>
	
		<div class="payment-left-btns-area">
			<div class="payment-left-btns">
				<button class="btn btn-cancel btn-large btn-login btn-payment-creditcard" type="submit" ng-click="cancelPayments()">
					Cancelar
				</button>
				<button class="btn btn-ok btn-large btn-login pull-right btn-payment-creditcard" type="submit" ng-click="confirmCoupons()" >
					Confirmar
				</button>
			</div>
		</div>
	</div>
</div>
