<div class="title-left">
	<div>
        Contas a receber
	</div>
</div>


<div class="left-payment" ng-switch="receivableSelected" ng-controller="PaymentOnCuffCtrl">	
	<br/>
	<div class="row-fluid payment-receivable-fields marginl112">
        <form>
			<div class="row-fluid">
				<span class="span8 w428">
					<div class="control-group">
						<label class="control-label">Cliente</label>
						<input class="input-block-level input-large" type="text" value="{{customer.name}}" readonly>
					</div>
				</span>
			</div>
			<div class="row-fluid">
				<span class="span2 w85">
					<div class="control-group">
						<label class="control-label text-center">Nro Parc.</label>
							<input class="input-block-level input-large text-center" id="installment" type="text" ng-model="installmentQty" maxlength="2" tnt-input ng-change="computeInstallments()" recall />
					</div>
				</span>	
				<span class="span3">
					<div class="control-group">
						<label class="control-label text-center">1.Vencto</label>
							<input id="vencto" class="date-field input-block-level input-large text-center" type="text" ng-model="dueDate" min="dateMin" maxlength="8" datepicker-popup="dd/MM/yy" tnt-input show-weeks="false" />
					</div>
				</span>	
				<span class="span3 w160">
					<div class="control-group">
						<label class="control-label text-right marginr7">Valor total</label>
						<input id="amount" class="input-block-level input-large text-right" type="text" ng-model="amount" readonly currency />
					</div>
				</span>	
			</div>
			
			<div class="controls-row">
				<div class="control-group lbl-top">				   
					<div class="grid-payment-receivable">
						<div class="header header2 subtitle2-header-receivable">
							<div class="row-payment-grid">
								<span class="col-s1">
									<div>Parcela</div>
								</span>
								<span class="col-s2">
									<div>Vencto</div>
								</span>
								<span class="col-s3">
									<div class="control-label marginr7">Valor</div>
								</span>
							</div>
						</div>
						<div class="scroll-payment-grid">
							<div class="row-payment-grid-product-receivable" ng-repeat="payment in payments" ng-click="selectInstallment(payment.installment)">
								<span class="col-s1">
									<div>
										<span name="installment" class="item">{{payment.installment}}</span>
									</div>
								</span>
								<span class="col-s2">
									<div>
										<input id="{{'dueDate' + $index}}" name="" class="item w138 text-center" ng-model="payment.dueDate"  maxlength="8" datepicker-popup="dd/MM/yy" tnt-input show-weeks="false"></input>
									</div>
								</span>
								<span class="col-s3">
									<div>
										<input id="{{'amount' + $index}}" name="" class="item w146 text-right" ng-model="payment.amount" ng-change="valueCheck($index)" tnt-input currency></input>
									</div>
								</span>
							</div>
						</div>
					</div>				
				</div>				
			</div>
			
		</form>
	</div>
	
		<div class="payment-left-btns-area">
			<div class="payment-left-btns">
				<button class="btn btn-cancel btn-large btn-login btn-payment-creditcard" type="submit" ng-click="cancelPayments()">
					Cancelar
				</button>
				<button class="btn btn-ok btn-large btn-login pull-right btn-payment-creditcard" type="submit" ng-click="confirmOnCuffPayment()" >
					Confirmar
				</button>
			</div>
		</div>
</div>
