<div class="title-left">
    <div>Pagamento com cart&atilde;o de cr&eacute;dito</div>
</div>

<div class="left-payment payment-credit-card" ng-controller="PaymentCreditCardCtrl">
	
	<!-- Full form (with merchant & internet connection) -->
	<form name="creditCardForm" ng-switch on="formType" >

		<div class="title-left">FORMA DE PAGAMENTO</div>

		<div ng-switch-when="full">
			<div class="row-fluid margint7">
				<span class="new-col-16">
					<div class="control-group margint7">
						<label class="control-label">N&uacute;mero do cart&atilde;o</label>
						<input class="input-block-level payment-input-large" id="creditCardNumber1" name="number" type="text" ng-model="creditCard.number" credit-card="{{creditCardMask}}" tnt-input required maxlength="19">
					</div>
				</span>	
				<span class="new-col-8">
					<div class="control-group margint7">
						<label class="control-label">CVV</label>
						<input class="input-block-level payment-input-large" type="text" id="cardVerificationValue1" name="cvv" ng-model="creditCard.cvv" tnt-input required number minlength="{{creditCardCvvLength}}" maxlength="{{creditCardCvvLength}}">
					</div>
				</span>
			</div>
			
			<div class="row-fluid margint11">
				<span class="new-col-4">
					<div class="control-group">
						<label class="control-label">Data de validade</label>					
						<!-- <select ui-select2="select2Options" name="cardExpirationMonth" class="payment-input-large select-h38 padding0 validade-cartao" ng-model="creditCard.expirationMonth" tnt-select2 required> -->
						<select name="cardExpirationMonth" class="payment-input-large select-h38 padding0 validade-cartao" ng-model="creditCard.expirationMonth" required>
							<option ng-repeat="month in months" value="{{month.id}}">{{month.id}}</option>
						</select>
					</div>
				</span>
				<span class="new-col-4">
					<div class="control-group">
						<label class="control-label">&nbsp;</label>					
						<!-- <select ui-select2="select2Options" name="cardExpirationYear" class="payment-input-large select-h38 padding0 validade-cartao" ng-model="creditCard.expirationYear" tnt-select2 required> -->
						<select name="cardExpirationYear" class="payment-input-large select-h38 padding0 validade-cartao" ng-model="creditCard.expirationYear" required>
							<option ng-repeat="year in cardExpirationYears" value="{{year}}">{{year}}</option>
						</select>
					</div>
				</span>
				<span class="new-col-4">
					<div class="control-group">
						<label class="control-label">Nro parcelas</label>					
						<!-- <select ui-select2="select2Options" name="installment" class="parcelas-cartao select-h38" ng-model="creditCard.installment" tnt-select2 required> -->
						<select name="installment" class="payment-input-large parcelas-cartao select-h38" ng-model="creditCard.installment" required>
							<option ng-repeat="installment in installments" value="{{installment}}">{{installment}}</option>
						</select>
					</div>
				</span>	
				<span class="new-col-12">
					<div class="control-group">
						<label class="control-label">Valor R$</label>
						<input class="input-block-level payment-input-large text-right" type="text" id="cardAmount1" name="amount" ng-model="creditCard.amount" currency tnt-input required amount="0" maxlength="11">
					</div>
				</span>	
			</div>
		</div>	
			
		<!-- Partial form (without merchant) -->
		<div ng-switch-when="partial">
			<div class="row-fluid margint7">
				<span class="new-col-11">
					<div class="control-group">
						<label class="control-label">Bandeira do cart&atilde;o</label>						
						<!-- <select ui-select2="select2Options" name="cardFlag" id="creditCardFlag" class="bandeira-cartao select-h38" ng-model="creditCard.flag" required tnt-select2> -->
						<select name="cardFlag" id="creditCardFlag" class="payment-input-large bandeira-cartao select-h38" ng-model="creditCard.flag" required>
							<option ng-repeat="cardFlag in cardFlags" value="{{cardFlag}}">{{cardFlag}}</option>
						</select>
					</div>
				</span>
				<span class="new-col-11">
					<div class="control-group">
						<label class="control-label">Código autorizaç&atilde;o</label>	
						<input class="input-block-level payment-input-large" id="autorizationCode" name="number" type="text" ng-model="creditCard.autorization"  tnt-input required maxlength="10">					
					</div>
				</span>
				<span class="new-col-4">
					<div class="control-group">
						<label class="control-label">Nro parcelas</label>					
						<!-- <select ui-select2="select2Options" name="installment" class="parcelas-cartao select-h38" ng-model="creditCard.installment" tnt-select2 required> -->
						<select name="installment" class="payment-input-large parcelas-cartao select-h38" ng-model="creditCard.installment" required>
							<option value="">Nro parcelas</option>
							<option ng-repeat="installment in installments" value="{{installment}}">{{installment}}</option>
						</select>
					</div>
				</span>	
				<span class="new-col-9">
					<div class="control-group">
						<label class="control-label">Valor R$</label>
						<input class="input-block-level payment-input-large text-right" type="text" id="cardAmount2" ng-model="creditCard.amount" currency tnt-input required amount="0" maxlength="11">
					</div>
				</span>	
			</div>
		</div>
	
		<!-- Minimal form (without internet connection) -->
		<div ng-if="false">
			<div class="row-fluid margint7">
				<span class="new-col-8">
					<div class="control-group">
						<label class="control-label">Valor R$</label>
						<input class="input-block-level payment-input-large text-right" type="text" id="cardAmount3" ng-model="creditCard.amount" currency tnt-input required amount="0" maxlength="11">
					</div>
				</span>	
			</div>
		</div>

		<div class="error" style="display:none;">Erro ao inserir dados, contate o suporte informando o código </div>

	</form>

	<div class="payment-btn-holder" fast-click>
		<button class="btn btn-cancel btn-large pull-left" type="button" ng-click="cancelPayments()"> Cancelar </button>
        <spinner-button class="new-button new-button-ok pull-right" spinner-promise = "confirmCreditCardPayment()" type="button">
            Confirmar
        </spinner-button>
	</div>

</div>