<div class="title-left">
	<div>
        Emissão de vale cupom
	</div>
</div>
<div class="left-payment" ng-controller="PaymentCheckCtrl">
	<br/>
	<div class="row-fluid payment-voucher-fields">
        <form name="exchangeForm">
				<div class="controls-row">
					<div class="control-group lbl-top">
						<label class="control-label w200">Cliente</label>
						<span class="btn-price-payment-input-block input-block-level">
                            <input class="input" readonly id="appendedInput" type="text" value="{{customer.name}}" />
                        </span>
					</div>
                    <div class="control-group lbl-top">
						<label class="control-label">Telefone</label>
                            <!--<span class="input-block-level" ng-show="customer.phones"> {{customer.phones[0].number | phone}}</span>-->
                            <input class="input marginr" id="appendedInput" type="text" value="{{customer.phones[0].number | phone}}" />
					</div>
					<div class="control-group lbl-top">
						<div class="control-group lbl-top">
							<label class="control-label" >Valor</label>
							<div class="controls2">
								<input name="amount" class="input-small text-right" ng-model="exchange.amount" type="tel" currency recall>
							</div>
						</div>
					</div>
					<div class="control-group lbl-top" >
						
					</div>
				</div>
			</form>
	</div>
</div>