<div class="title-left">
	<div>
        Contas a receber
	</div>
</div>
<div class="left-payment" ng-switch="receivableSelected" ng-controller="PaymentOnCuffCtrl">	
	<br/>
	<div class="row-fluid payment-receivable-fields marginl112">
        <form>
			<div class="row-fluid">
				<span class="span8 w428">
					<div class="control-group">
						<label class="control-label">Cliente</label>
						<input class="input-block-level payment-input-large" type="text" value="{{onCuff.customer.name}}" readonly>
					</div>
				</span>
			</div>
			<div class="row-fluid">
				<span class="span2 w85">
					<div class="control-group">
						<label class="control-label text-center">Nro Parc.</label>
							<input
								class="input-block-level payment-input-large text-center"
								id="installment" 
								type="text" 
								ng-model="onCuff.numberOfInstallments" 
								maxlength="2" 
								tnt-input 
								recall />
					</div>
				</span>	
				<span class="span3">
					<div class="control-group">
						<label class="control-label text-center">1.Vencto</label>
							<input 
								class="date-field input-block-level payment-input-large text-center" 
								id="vencto" 
								type="text" 
								datepicker-popup="dd/MM/yyyy"
								min="TODAY" 
								show-weeks="false" 
								ng-model="dueDate" 
								maxlength="8" 
								tnt-input
								readonly 								
							/>
					</div>
				</span>	
				<span class="span3 w160">
					<div class="control-group">
						<label class="control-label text-right marginr7">Valor total</label>
						<input 
							class="input-block-level payment-input-large text-right" 
							id="amount" 
							type="text" 
							ng-model="amount" 
							currency  
							readonly
						/>
					</div>
				</span>	
			</div>
			
			<div class="controls-row">
				<div class="control-group lbl-top">				   
					<div class="grid-payment-receivable">
						<div class="header header2 subtitle2-header-receivable">
							<div class="row-payment-grid">
								<span class="col-s1">
									<div>Parcela</div>
								</span>
								<span class="col-s2">
									<div>Vencto</div>
								</span>
								<span class="col-s3">
									<div class="control-label marginr7">Valor</div>
								</span>
							</div>
						</div>
						<div class="scroll-payment-grid">
							<div class="row-payment-grid-product-receivable" ng-repeat="installment in onCuff.installments" ng-click="selectInstallment(installment.number)">
								<span class="col-s1">
									<div>
										<span name="installment" class="item payment-input-large">{{installment.number}}</span>
									</div>
								</span>
								<span class="col-s2">
									<div>
										<input 
											class="item w138 text-center payment-input-large"
											id="{{'dueDate' + $index}}"
											datepicker-popup="dd/MM/yyyy" 
											show-weeks="false" 
											ng-model="installment.dueDate"
											tnt-input  
											maxlength="8" 
											readonly
										/>
									</div>
								</span>
								<span class="col-s3">
									<div>
										<input 
											id="{{'amount' + $index}}" 
											name="" 
											class="item w146 text-right payment-input-large" 
											ng-model="installment.amount" 
											ng-change="recalcInstallments($index)"
											recall 
											tnt-input 
											currency
										/>
									</div>
								</span>
							</div>
						</div>
					</div>				
				</div>				
			</div>
			
		</form>
	</div>
	
		<div class="payment-left-btns-area">
			<div class="payment-left-btns">
				<button class="btn btn-cancel btn-large btn-login btn-payment-creditcard" type="submit" ng-click="cancelPayments()">
					Cancelar
				</button>
				<button class="btn btn-ok btn-large btn-login pull-right btn-payment-creditcard" type="submit" ng-click="confirmOnCuffPayment()" >
					Adicionar
				</button>
			</div>
		</div>
</div>
