<div class="title-right">
	<div>
		Recebimento
	</div>
</div>
<div class="btns-right-payment right-column-payment">
  	<div class="row-right-payment row-right-payment-client" ng-click="openDialogChooseCustomer()">
		<div class="btn-payments-left">
		    <span class="label-form-client">Cliente</span>
		    <span class="lbl-phone-client" ng-show="customer.phones"> {{customer.phones[0].number | phone}}</span><br/>
		    <span class="btn-price-payment-input-block input-block-level">
		        <input class="input-name-payment text-right" id="appendedInput" type="text" value="{{customer.name}}" readonly/>
		    </span>
		</div>
	</div>
	<div class="row-right-payment2">
		<span class="lbl-money2 display-block">
			<strong class="lbl-money">Subtotal</strong>
			<span class="lbl-money4">&nbsp;</span>
			<span class="btn-sub-payment">{{items | filter:inBasketFilter | sum:'price':'qty' | currency: '' }}</span>
		</span>				
		<span class="lbl-money2 display-block">
			<span class="lbl-money4 qntty"> ({{orderItemsQty}}) itens</span>
			<span class="lbl-money4 qntty"> ({{orderUnitsQty}}) unid.</span>
		</span>
	</div>
	<div class="row-right-payment" ng-class="{'up-field-payment': selectedPaymentMethod=='money'}" ng-click="selectPaymentMethod('money')">
	    <div class="btn-payments-left">
	        <span class="container-money-payment">
	            <span class="label-money">Dinheiro</span>
	        </span>
	        <span class=""> 
	        	<!--btn-price-payment-input-block2 input-block-level-->
	            <!--<input class="input-money-payment text-right" id="appendedInput" type="tel" ng-model="payment.cash.amount" currency recall>-->
				<span class="btn-price-payment">{{payments | paymentType:'cash' | sum:'amount' | currency:''}}</span>
	        </span>
	    </div>
	</div>
	<div class="row-right-payment" ng-click="selectPaymentMethod('check')">
		<span class="lbl-money">Cheque</span><span class="lbl-money3">({{payments | paymentType:'check' | count:'id'}})</span>
		<span class="">
			<span class="btn-price-payment">{{payments | paymentType:'check' | sum:'amount' | currency:''}}</span>
		</span>
	</div>
	<div class="row-right-payment" ng-click="selectPaymentMethod('creditcard')">
		<span class="lbl-money">Cart&atilde;o</span><span class="lbl-money3">({{payments | paymentType:'creditcard' | count:'id'}})</span>
		<span class="">
			<span class="btn-price-payment">{{payments | paymentType:'creditcard' | sum:'amount' | currency:''}}</span>
		</span>
	</div>
	<div class="row-right-payment" ng-click="selectPaymentMethod('exchange')">
		<span class="lbl-money red-color">Troca</span><span class="lbl-moneyt">({{payments | paymentType:'exchange' | count:'id'}})</span>
		<span class="red-color">
			<span class="btn-price-payment">{{payments | paymentType:'exchange' | sum:'amount' | currency:''}}</span>
		</span>
	</div>
	<div class="row-right-payment">
		<span class="lbl-money">Vale/Cupom</span>&nbsp;<span><img src="images/alert-sign-small-v3.png" alt="Ver cupons" style="display: none"></span> 
        <span class="btn-price-payment btn-price-payment2" ng-show="((payments | sum: 'amount') - (items | filter: inBasketFilter | sum: 'price': 'qty')) > 0">{{((payments | sum: 'amount') - (items | filter: inBasketFilter | sum: 'price': 'qty')) | currency:''}}</span>
        <span class="btn-price-payment btn-price-payment2" ng-hide="((payments | sum: 'amount') - (items | filter: inBasketFilter | sum: 'price': 'qty')) > 0">0,00</span>
	</div>
    <div class="payment-resume">
        <div class="lbl-resume">
            <div class="red-color" ng-show="((payments | sum: 'amount') - (items | filter: inBasketFilter | sum: 'price': 'qty')) < 0">
                Faltam
            </div>
            <div class="red-color" ng-show="((payments | sum: 'amount') - (items | filter: inBasketFilter | sum: 'price': 'qty')) == 0">
                Diferen&ccedil;a
            </div>
            <div class="red-color" ng-show="((payments | sum: 'amount') - (items | filter: inBasketFilter | sum: 'price': 'qty')) > 0">
                Troco
            </div>
        </div>
        <div class="values-resume">
            <div class="red-color" ng-show="((payments | sum: 'amount') - (items | filter: inBasketFilter | sum: 'price': 'qty')) <= 0">
                {{((items | filter: inBasketFilter | sum: 'price': 'qty') - (payments | sum: 'amount')) | currency: '' }}
            </div>
            <div class="red-color" ng-show="((payments | sum: 'amount') - (items | filter: inBasketFilter | sum: 'price': 'qty')) > 0">
                {{((payments | sum: 'amount') - (items | filter: inBasketFilter | sum: 'price': 'qty')) | currency: '' }}
            </div>
        </div>
	</div>
	<br />
	<div class="row-right-payment">
		<span class="lbl-money2">Emitir vale/cupom </span><span class=""><span class="btn-price-payment btn-price-payment2">0,00</span></span>
	</div>

	<div class="payment-btns">
		<div class="payment-btn-area">
			<button ng-click="cancel()" class="btn btn-cancel" type="submit" ng-show="selectedPaymentMethod=='none'" ng-disabled="((payments | sum: 'amount') - (items | filter: inBasketFilter | sum: 'price': 'qty')) != 0">Cancelar</button>
		</div>
		<div class="payment-btn-area">
			<button ng-click="confirm()" class="btn btn-ok" type="submit" ng-show="selectedPaymentMethod=='none'" ng-disabled="((payments | sum: 'amount') - (items | filter: inBasketFilter | sum: 'price': 'qty')) != 0">Confirmar</button>
		</div>
	</div>
	<!--<span class="panel-payment-footer-left">
		<button ng-click="cancel()" class="btn btn-cancel" type="submit">Cancelar</button>
	</span>
	<span class="panel-payment-footer-right">
		<button ng-click="confirm()" class="btn btn-ok" type="submit" ng-disabled="!isPaymentValid()">Confirmar</button>
	</span>
	<div class="right-column-height">&nbsp;</div>-->
	<div id="keyNum" class="numeric-keyboard" ng-show="selectedPaymentMethod=='money'" > 
	    <span class="l1"><img src="images/keyboard/n7.png" width="68" height="68" alt="7" ng-click="pushMoneyDigit('7')"/> <img src="images/keyboard/n8.png" width="68" height="68" alt="8" ng-click="pushMoneyDigit('8')"/> <img src="images/keyboard/n9.png" width="68" height="68" alt="9" ng-click="pushMoneyDigit('9')"/> <img src="images/keyboard/btn-back.png" width="67" height="68" alt="backspace" ng-click="removeMoneyDigit()"/></span>
	    <span class="l2"><img src="images/keyboard/n4.png" width="68" height="68" alt="4" ng-click="pushMoneyDigit('2')"/> <img src="images/keyboard/n5.png" width="68" height="68" alt="5" ng-click="pushMoneyDigit('5')"/> <img src="images/keyboard/n6.png" width="68" height="68" alt="6" ng-click="pushMoneyDigit('6')"/> <img src="images/keyboard/btn-clear.png" width="67" height="68" alt="clear" ng-click="clearMoney()"/></span>
	    <span class="l3"><img src="images/keyboard/n1.png" width="68" height="68" alt="1" ng-click="pushMoneyDigit('1')"/> <img src="images/keyboard/n2.png" width="68" height="68" alt="2" ng-click="pushMoneyDigit('2')"/> <img src="images/keyboard/n3.png" width="68" height="68" alt="3" ng-click="pushMoneyDigit('3')"/></span> <span class="btn-ok"><img src="images/keyboard/btn-ok.png" width="67" height="142" alt="ok" ng-click="selectPaymentMethod('none')"/></span><br />
	    <span class="l4"><img src="images/keyboard/n0.png" width="68" height="68" alt="0" ng-click="pushMoneyDigit('0')"/> <img src="images/keyboard/n00.png" width="68" height="68" alt="00" ng-click="pushMoneyDigit('00')"/> <img src="images/keyboard/comma.png" width="68" height="68" alt="comma" /> </span>
	</div>
</div>
<div id="div-overlay" ng-show="selectedPaymentMethod!='none'"></div>
