<div class="title-left">
    <div>
        ADIANTAMENTO
    </div>
</div>
<div class="left-payment">
   <br />
	<div class="row-fluid">

		<div class="grid-payment-advance-money">
			<div class="header2">
				<div class="row-payment-advance-money">
					<span class="col-1">
						<div>
							&nbsp;
						</div>
					</span>
						<span class="col-s3">
						<div>
							Forma Pgto
						</div>
					</span>
						<span class="col-s4">
						<div>Vr. Pgto</div>
						</span>
					<span class="col-s4"><div>Obs</div></span>
					
				</div>
			</div>
			<div class="scroll-payment-grid-advance-money">
				<div class="row-payment-advance-money">
					<span class="col-1">
						<div>
							<input type="checkbox" />
						</div>
					</span>
					<span class="col-s3">
						<div>
							Dinheiro
						</div>
					</span>
					<span class="col-s4">
						<div>
							810,00
						</div>
					</span>
					<span class="col-s4">
						<div >
							Pagamento em dolar
						</div>
					</span>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="total-value-advance-money">
				<div>
					<strong>Valor Total:</strong> 166,00
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="error" style="display:none">
				Erro ao inserir dados, contate o suporte informando o código
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<hr />
	<button ng-click='closeDialog()' class="btn btn-cancel btn-large btn-login" type="submit">
		Cancelar
	</button>
	<button ng-click='closeDialog()' class="btn btn-ok btn-large btn-login pull-right" type="submit">
		Confirmar
	</button>
</div>
