<div class="title-left">
	<div>
        Pagamento em cheque
	</div>
</div>
<div class="left-payment" ng-controller="PaymentCheckCtrl">
	<br/>
	<div class="row-fluid payment-check-fields">
		<form name="checkForm">
			<div class="control-group lbl-top">
				<label class="control-label">Parc</label>
				<!--<div class="controls">
					<input name="parc" id="parc" class="input-mini parc text-center" type="text" maxlength="3" ng-model="check.installments" required recall>
				</div>-->
				<span class="parc" id="parc" tnt-input>{{check.amount | currency: ''}}</span>
			</div>
			<div class="control-group lbl-top">
				<label class="control-label">Banco</label>
				<!--<div class="controls">
					<input name="bank" id="banco" class="input-mini banco text-center" type="text" maxlength="3" placeholder="" ng-model="check.bank" required recall onkeyup="checkInputKeyUp(this)">
				</div>-->
				<span class="banco" id="banco" tnt-input>{{check.amount | currency: ''}}</span>
			</div>
			<div class="control-group lbl-top">
				<label class="control-label">Agência</label>
				<!--<div class="controls">
					<input name="agency" id="agencia" class="input-mini agencia text-center" type="text" maxlength="4" placeholder="" ng-model="check.agency" required recall onkeyup="checkInputKeyUp(this)">
				</div>-->
				<span class="agencia" id="agencia" tnt-input>{{check.amount | currency: ''}}</span>
			</div>
			<div class="control-group lbl-top">
				<label class="control-label">Conta</label>
				<!--<div class="controls">
					<input name="account" id="conta" class="input-cta conta text-center" type="text" maxlength="10" ng-model="check.account" required recall onkeyup="checkInputKeyUp(this)">
				</div>-->
				<span class="conta" id="conta" tnt-input>{{check.amount | currency: ''}}</span>
			</div>
			<div class="control-group lbl-top">
				<label class="control-label">Cheque</label>
				<!--<div class="controls">
					<input name="number" id="cheque" class="input-mini cheque text-center" type="text" maxlength="6" ng-model="check.number" required recall onkeyup="checkInputKeyUp(this)">
				</div>-->
				<span class="cheque" id="cheque" tnt-input>{{check.amount | currency: ''}}</span>
			</div>
			<div class="control-group lbl-top">
				<label class="control-label">Vencto.</label>
				<!--<div class="controls">
					<input type="text" id="vencto" class="date-field input-small vencto text-center" maxlength="10" datepicker-popup="dd/MM/yy" show-weeks="false" ng-model="check.duedate" required readonly onkeyup="checkInputKeyUp(this)">
				</div>-->
				<span class="vencto" id="vencto" tnt-input>{{check.amount | currency: ''}}</span>
			</div>
			<div class="control-group lbl-top">
				<label class="control-label">Valor</label>
				<span class="check-value" id="valor" tnt-input>{{check.amount | currency: ''}}</span>
			</div>
			<div class="control-group lbl-top">
				<div class="controls">
					<div class="btn-clear-form">
						<span class="btn-plus2 bg-green hover-state-pointer" ng-click="addCheck(check)"></span>
					</div>
				</div>
			</div>
			<!--<div class="control-group lbl-top" ng-click="clearCheck()">
	        	<div class="btn-clear-form">
					<span class="btn-clear bg-gray-02 hover-state-pointer"></span>
				</div>
			</div>-->
		</form>
	</div>
	
	
	<div class="row-fluid check-total">
		<span>Total</span><span class="float-right marginr10">{{payments | paymentType:'check' | sum: 'amount' | currency: ''}}</span>
	</div>
	
	<div class="row-fluid">
		<div class="grid-payment-check">
			<div class="header header2">
				<div class="row-payment-check-grid">
					<span class="col-check-s1">
						<div>Parc</div>
					</span> 
					<span class="col-check-s2">
						<div>Banco</div>
					</span> 
					<span class="col-check-s3">
						<div>Agência</div>
					</span>
					<span class="col-check-s4">
						<div>Conta</div>
					</span> 
					<span class="col-check-s5">
						<div>Cheque</div>
					</span>
					<span class="col-check-s6">
						<div>Vencto.</div>
					</span>
					<span class="col-check-s7 w110">
						<div>Valor</div>
					</span>
					<span class="col-7">
						<div></div>
					</span>
				</div>
			</div>
	        <!-- ROW 1 Example -->
			<div class="scroll-payment-grid">
				<div class="row-payment-check-grid" ng-repeat="payment in payments | paymentType:'check' | orderBy:'data.duedate':true" ng-click="edit(payment)">
					<span class="col-check-s1">
						<div ng-show="payment.data.installmentId<=9">{{'00'+payment.data.installmentId}}</div>
						<div ng-show="payment.data.installmentId>9 && payment.data.installmentId<=99" >{{'0'+payment.data.installmentId}}</div>
						<div ng-show="payment.data.installmentId>99">{{payment.data.installmentId}}</div>
					</span>
	               	<span class="col-check-s2">
	               		<div>{{payment.data.bank}}</div>
	               	</span>
	             	<span class="col-check-s3">
	             		<div>{{payment.data.agency}}</div>
	             	</span>
	                <span class="col-check-s4">
	                	<div>{{payment.data.account}}</div>
	                </span>
	                <span class="col-check-s5">
	                	<div>{{payment.data.number}}</div>
	                </span>
					<span class="col-check-s6">
						<div>{{payment.data.duedate | date:'dd/MM/yy'}}</div>
					</span>
	                <span class="col-check-s7 t-right">
	                	<div>{{payment.amount | currency:''}}</div>
	                </span>
	                <span class="col-check-s8">
	                	<div class="hover-state-pointer">
							<img src="images/del-pink.png" alt="" ng-click="removeCheck(payment)" />
						</div>
	                </span>
				</div>
			</div>
    	</div>
	</div>
	<!--<div class="row-fluid">
		<div class="total-value-payment-check">
			<div>
				<strong>Valor Total:</strong>{{payments | paymentType:'check' | sum: 'amount' | currency: ''}}
			</div>
		</div>
	</div>-->
	
	<div class="payment-left-btns-area">
		<div class="payment-left-btns">
			<button class="btn btn-cancel btn-large btn-login btn-payment-check" ng-click="cancelPayments()">
				Cancelar
			</button>
			<button class="btn btn-ok btn-large btn-login pull-right btn-payment-check" ng-click="confirmPayments()">
				Confirmar
			</button>
		</div>
	</div>
</div>
