<div class="payment-left-discount">
	<div class="title-left">
		<div>Abatimento de Vale/Cupom</div>
	</div>
	<div class="left-payment" ng-controller="PaymentDiscountCtrl">
		<br />
		
		<div class="scroll-payment-grid">
		<!--Vale credito-->
		<div class="discount-initial">
			<div class="row-fluid">
				<div class="grid-payment-discount">
					<div class="header header2 subtitle-header-discount">
						<div class="row-payment-grid">
							<span class="col-s1">
								<div>Data</div>
							</span>
							<span class="col-s2">
								<div>Vale Cr&eacute;dito</div>
							</span> 					
							<span class="col-s4">
								<div>Valor</div>
							</span>
						</div>
					</div>
					
					<div class="row-payment-grid-product-discount">
						<div class="row-payment-grid-product-discount" ng-repeat="discount in discounts.cred">
							<span class="col-s1">
								<div>{{discount.created | date:'dd/MM/yy'}}</div>
							</span>
							<span class="col-s2">
								<div>{{discount.amount | currency: ''}}</div>
							</span> 					
							<span class="col-s4">
								<div>
									<input type="checkbox" ng-model="checkBox.cred[$index]" ng-change="checkBoxCtrl($index, 'cred')">
									<input id="{{'amountCred'+$index}}" type="text" name="" ng-change="updateAmount($index, 'cred')" ng-model="discount.myInput" class="check-value" tnt-input currency/>
								</div>
							</span>
						</div>
					</div>
						
				</div>
			</div>
		</div>
		<br/>


		<!--Vale presente-->
		<div class="discount-initial">
			<div class="row-fluid">
				<div class="grid-payment-discount">
					<div class="header header2 subtitle-header-discount">
						<div class="row-payment-grid">
							<span class="col-s1">
								<div>Data</div>
							</span>
							<span class="col-s2">
								<div>Vale Presente</div>
							</span> 					
							<span class="col-s4">
								<div>Valor</div>
							</span>
						</div>
					</div>
					
					
					<div class="row-payment-grid-product-discount">
						<div class="row-payment-grid-product-discount" ng-repeat="discount in discounts.gift">
							<span class="col-s1">
								<div>{{discount.created | date:'dd/MM/yy'}}</div>
							</span>
							<span class="col-s2">
								<div>{{discount.amount | currency: ''}}</div>
							</span> 					
							<span class="col-s4">
								<div>
									<input type="checkbox" ng-model="checkBox.gift[$index]" ng-change="checkBoxCtrl($index, 'gift')">
									<input id="{{'amountGift'+$index}}" type="text" name="" ng-change="updateAmount($index, 'gift')" ng-model="discount.myInput"class="check-value" tnt-input currency/>
								</div>
							</span>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<br/>


		<!--Vale presente-->
		<div class="discount-initial">
			<div class="row-fluid">
				<div class="grid-payment-discount">
					<div class="header header2 subtitle-header-discount">
						<div class="row-payment-grid">
							<span class="col-s1">
								<div>Data</div>
							</span>
							<span class="col-s2">
								<div>Cupom Promocional</div>
							</span> 					
							<span class="col-s4">
								<div>Valor</div>
							</span>
						</div>
					</div>
					
					
					<div class="row-payment-grid-product-discount">
						<div class="row-payment-grid-product-discount" ng-repeat="discount in discounts.coupon">
							<span class="col-s1">
								<div>{{discount.created | date:'dd/MM/yy'}}</div>
							</span>
							<span class="col-s2">
								<div>{{discount.amount | currency: ''}}</div>
							</span> 					
							<span class="col-s4">
								<div>
									<input type="checkbox" ng-model="checkBox.coupon[$index]" ng-change="checkBoxCtrl($index, 'coupon')">
									<input id="{{'amountCoupon'+$index}}" value="0" type="text" name="" ng-change="updateAmount($index, 'coupon')" ng-model="discount.myInput" class="check-value" tnt-input currency/>
								</div>
							</span>
						</div>
					</div>
						
				</div>
			</div>			
		</div>	
		</div>	
			

			<div class="payment-left-btns-area">
				<div class="payment-left-btns">
					<button
						class="btn btn-cancel btn-large btn-login btn-payment-discount"
						type="submit" ng-click="cancelDiscounts()">Cancelar</button>
					<button
						class="btn btn-ok btn-large btn-login pull-right btn-payment-discount"
						type="submit" ng-click="confirmDiscounts()">Confirmar</button>
				</div>
			</div>
		</div>
		

	</div>
</div>