<div class="left-payment">
	<div class="new-body-header">
		<span class="new-col-2 text-center">Item</span>
		<span class="new-col-10">Produto/C&oacute;digo</span>
		<span class="new-col-3 currency">Vr Unit.</span>
		<span class="new-col-3 text-center">Qtde</span>
		<span class="new-col-3 currency">Subtotal</span>
		<span class="new-col-3 currency" ng-click="openOrderDiscountDialog()">Desc</span>
	</div>

	<div class="new-body-row-summary">
	    <span class="new-col-2 text-center">{{total.order.qty}}</span>
		<span class="new-col-10">Total</span>
	    <span class="new-col-3 currency">{{total.order.getAvgUnitPrice() | currency:''}}</span>
	    <span class="new-col-3 text-center">{{total.order.unit}}</span>
	    <span class="new-col-3 currency">{{total.order.amount | currency:''}}</span>
	    <span class="new-col-3 currency">{{total.discount | currency:''}}</span>
	</div>

	<div class="content-scroll">
		<div class="new-body-row" ng-repeat="item in items | orderBy:'idx'" ng-click="addToBasket(item)">
			<span class="new-col-2 text-center" ng-show="item.idx <= 8">{{ '0' + (item.idx + 1)}}</span>
			<span class="new-col-2 text-center" ng-show="item.idx > 8">{{item.idx + 1}}</span>
			<span class="new-col-10">{{item.title}} &nbsp;<span class="code-product">{{item.uniqueName}}</span></span>
			<span class="new-col-3 currency">{{(item.price || item.amount) | currency: ''}}</span>
			<span class="new-col-3 text-center">{{item.qty}}</span>
			<span class="new-col-3 currency">{{item.qty*(item.price || item.amount || 0) | currency:''}}</span>
      		<span class="new-col-3 currency">{{(item.itemDiscount || item.orderDiscount || 0) | currency:''}}</span>
		</div>
	</div>
</div>
	
