<div class="container">

	<form class="form-payment-exchange-modal" name="exchangeForm">
		<span class="heading-gradient">TROCA DE PRODUTO</span>

		<div class="row-fluid">

			<div class="controls-row">

				<div class="control-group lbl-top">
					<label class="control-label">Selecione um Produto</label>
					<select class="combo-width-product-exchange" ui-select2 ng-model="product.id" data-placeholder="" required>
						<option ng-repeat="products in dataProvider.products" value="{{products.id}}">{{products.title}}</option>
					</select>
				</div>
				<div class="control-group lbl-top">
					<div class="control-group lbl-top">
						<label class="control-label" >Valor</label>
						<div class="controls">
							<input class="input-small text-right" ng-model="product.price" type="text" currency required>
						</div>
					</div>
				</div>
				<div class="control-group lbl-top" >
					<div ng-click="addExchangeProduct(product)" class="controls">
						<span class="btn-plus-pink hover-state-pointer"><img src="images/btn-plus-pink.png" alt="" /></span>
					</div>
				</div>

			</div>
			<div class="grid-payment-product-exchange">
				<div class="header">
					<div class="row-payment-grid-product-exchange">
						<span class="col-1">
							<div>
								Produto
							</div></span><span class="col-2">
							<div>
								Valor
							</div></span><span class="col-4"><div></div></span>
					</div>
				</div>
				<div class="scroll-payment-grid">
					<div ng-repeat="product in productList" class="row-payment-grid-product-exchange">
						<span class="col-1">
							<div>
								{{product.title}}
							</div></span><span class="col-2">
							<div>
								{{product.price | currency:""}}
							</div></span><span class="col-4">
							<div ng-click="remove(product)" class="hover-state-pointer"><img src="images/del-pink.png" alt="" />
							</div></span>
					</div>
				</div>

			</div>

			<div class="row-fluid">
				<div class="total-value-product-exchange">
					<div>
						<span><strong>Valor Total:</strong> {{productList | sum:'price' | currency:""}}</span>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="error" style="display:none">
					Erro ao inserir dados, contate o suporte informando o código
				</div>
			</div>

		</div>
		<div class="clearfix"></div>
		<hr />
		<button ng-click='closeDialog()' class="btn btn-large btn-login" type="submit">
			Cancelar
		</button>
		<button ng-click='submitDialog()' class="btn btn-large btn-login pull-right" type="submit">
			Confirmar
		</button>

	</form>

</div>
