<div class="title-left">
	<div>
        Emissão de vale cupom
	</div>
</div>
<div class="left-payment" ng-controller="PaymentCheckCtrl">
	<br/>
	<div class="row-fluid payment-voucher-fields">
        <form name="exchangeForm">
				<div class="controls-row">
					<div class="control-group lbl-top">
						<select ui-select2 name="product" class="combo-width-product-exchange mw220" ng-model="exchange.productId" ng-click="setAmount(exchange.productId)">								
							<option value="">Selecione o tipo</option>
							<option ng-repeat="product in products" value="{{product.id}}">{{product.title}}</option>
						</select>
					</div>
				</div>
				<br/>
				<div class="controls-row">
					<div class="control-group lbl-top">
						<label class="control-label w200">Cliente</label>
						<span class="btn-price-payment-input-block input-block-level">
                            <input class="input" readonly id="appendedInput" type="text" value="{{customer.name}}" />
                        </span>
					</div>
                    <div class="control-group lbl-top">
						<label class="control-label">Telefone</label>
                            <!--<span class="input-block-level" ng-show="customer.phones"> {{customer.phones[0].number | phone}}</span>-->
                            <input class="input marginr" id="appendedInput" type="text" value="{{customer.phones[0].number | phone}}" />
					</div>
					<div class="control-group lbl-top">
						<div class="control-group lbl-top">
							<label class="control-label">Valor</label>
							<div class="controls2">
								<input name="amount" class="input-small text-right" ng-model="exchange.amount" type="tel" currency recall>
							</div>
						</div>
					</div>
					<div class="control-group lbl-top">
					</div>
				</div>
			</form>
	</div>
	
	<div class="payment-left-btns-area">
		<div class="payment-left-btns">
			<button class="btn btn-cancel btn-large btn-login btn-payment-creditcard" type="submit" ng-click="cancelPayments()">
				Cancelar
			</button>
			<button class="btn btn-ok btn-large btn-login pull-right btn-payment-creditcard" type="submit" ng-click="confirmPayments()" >
				Confirmar
			</button>
		</div>
	</div>
</div>