<div class="title-left">
	<div>
		RESUMO DA VENDA
	</div>
</div>
<div class="left-payment">
	<div class="header">
		<span class="col-1">Item</span>
		<span class="col-2">Produto/Código</span>
		<span class="col-3">Vr Unitário</span>
		<span class="col-4">Qtde</span>
		<span class="col-5">Vr Total</span>
	</div>
	<div class="content-scroll">
		<div ng-repeat="item in items | filter: inBasketFilter">
			<span class="col-1" ng-show="$index < 9">{{ '0' + ($index + 1)}}</span>
			<span class="col-1" ng-show="$index >= 9">{{$index + 1}}</span>
			<span class="col-2">{{item.title}}</span>
			<span class="col-3">{{item.price | currency:''}}</span>
			<span class="col-4">{{item.qty}}</span>
			<span class="col-5">{{item.qty*item.price | currency:''}}</span>
		</div>
	</div>

</div>
