<div>

	<form class="form-add-to-basket2">	
	<span class="heading-gradient">Formas de pagamento</span>
	
	<div class="conf-order-panel">
		<span class="title-order-panel"> 
			<span class="col-1">Forma Pgto</span>
			<span class="col-2">Valor R$</span>
			<span class="col-3">Vencto</span>
		</span>
		<span class="text-order-panel"> 
			<span class="col-1"><input type="radio" name="group1" value="boleto">Boleto Banc&aacute;rio</span>
			<span class="col-2">340,00</span>
			<span class="col-3">24/02/2014</span>
		</span>
		<span class="text-order-panel"> 
			<span class="col-1"><input type="radio" name="group1" value="deposito">Dep&oacute;sito Identificado</span>
			<span class="col-2">100,00</span>
			<span class="col-3">24/02/2014</span>
		</span>
		<span class="text-order-panel"> 
			<span class="col-1"><input type="radio" name="group1" value="transferencia">Transf. Eletr&ocirc;nica</span>
			<span class="col-2">100,00</span>
			<span class="col-3">24/02/2014</span>
		</span>
		<span class="text-order-panel"> 
			<span class="col-1"><input type="radio" name="group1" value="debito">D&eacute;bito em conta</span>
			<span class="col-2">100,00</span>
			<span class="col-3">24/02/2014</span>
		</span>
		<span class="text-order-panel"> 
			<span class="col-1"><input type="radio" name="group1" value="credito">Cart&atilde;o de cr&eacute;dito</span>
			<span class="col-2">100,00</span>
			<span class="col-3">24/02/2014</span>
		</span>
		<div class="clearfix"></div>
		<hr />
		<div class="payment-btn-area">
			<button class="btn btn-cancel" type="submit" >Cancelar</button>
		</div>
		<div class="payment-btn-area">
			<button class="btn btn-ok" type="submit" >Voltar</button>
		</div>
	</div>
	
	</form>
</div>