<div class="row-fluid step4 width970">	
	<div class="products-to-buy-edit">	
		<div class="row-fluid">
			<div class="grid-payment-products-to-buy-edit">
			 	              
				<div class="grid-pending-products-to-buy-edit">
					<div class="steptitle-header-products-to-buy">
						<div class="row-payment-grid">
	                             	<span class="stepcol col-10perc">
								<div>Data</div>
							</span>
							<span class="stepcol col-10perc">
								<div>Pedido</div>
							</span>
							<span class="stepcol col-10perc">
								<div>NFe</div>
							</span>
							<span class="stepcol col-35perc stepcolleft">
								<div>Produto/C&oacute;digo</div>
							</span>
							<span class="stepcol col-10perc">
								<div>Pts.</div>
							</span>
							<span class="stepcol col-10perc">
								<div>P.Unit</div>
							</span>
							<span class="stepcol col-10perc">
								<div>Pend./Qtde.</div>
							</span>
						</div>
					</div>	
	
					<div class="scroll-payment-grid scroll-payment-grid2">
						<span ng-repeat="purchaseOrder in pending.purchaseOrders">
							<span ng-repeat="item in purchaseOrder.items">  
								<div class="row-pending-product-products-to-buy">
									<span class="stepcol col-10perc">
										<div>{{purchaseOrder.created | date:'dd/MM/yyyy'}}</div>
									</span>
									<span class="stepcol col-10perc">
										<div>{{purchaseOrder | uuidCode}}</div>
									</span>
									<span class="stepcol col-10perc">
										<div>12345138</div>
									</span>
	                                <span class="stepcol col-35perc stepcolleft">
										<div class="p-title">{{item.title}}</div>
										<div class="small-text">cod.: {{item.uniqueName}}</div>
									</span>
									<span class="stepcol col-10perc">
										<div class="p-points">{{item.points}}</div>
									</span>
									<span class="stepcol col-10perc">
										<div>{{item.price | currency: ''}}</div>
									</span>
									<span class="stepcol col-10perc">
										<div>{{item.qty}}</div>
									</span>
								</div>
							</span>												
						</span>
					</div><!--fim scroll-->
				</div>
			</div>
		</div>	
	</div>
</div>
