<div>
	<span class="heading-gradient">Dados da Nota Fiscal</span>
	<div>
		<div class="conf-nf-panel">
	   		<span class="title-order-panel"> 
	        	<span class="col-1">Dados da Nota Fiscal</span>
	            <span class="col-2">Pedido de Compra</span>
			</span>
	        <span class="text-order-panel"> 
	        	<span class="col-1">Informar a data NFe</span>
	            <span class="col-2"><input id="i1" type="text" name="i1" class="input-nf-panel" ng-model="nfe.date" /></span>
			</span>
			<span class="text-order-panel"> 
				<span class="col-1">Valor total da NFe</span>
				<span class="col-2"><input id="i2" type="text" name="i2" class="input-nf-panel" ng-model="nfe.total" currency /></span>
			</span>
			<span class="text-order-panel"> 
				<span class="col-1" >Informar o Vr Frete</span>
				<span class="col-2"><input id="i3" type="text" name="i3" class="input-nf-panel" ng-model="nfe.shipping" currency /></span>
			</span>
			<span class="text-order-panel"> 
				<span class="col-1">Cr&eacute;dito de b&ocirc;nus utilizado</span>
				<span class="col-2"><input id="i4" type="text" name="i4" class="input-nf-panel" ng-model="nfe.bonus" currency /></span>
			</span>
		</div>
	<div>
	<div class="payment-btn-area">
		<button class="btn btn-cancel margint30" type="submit" ng-click="cancel()">Cancelar</button>
	</div>
	<div class="payment-btn-area">
		<button class="btn btn-ok margint30" type="submit" ng-disabled="nfe.disable" ng-click="back()">Confirmar</button>
	</div>
</div>
