<div class="row-fluid step4">	
	<div class="products-to-buy-edit">	
		<div class="row-fluid">
			<div class="grid-payment-products-to-buy-edit">
			 	              
				<div class="grid-pending-products-to-buy-edit">
					<div class="header header2 title-header-products-to-buy">
						<div class="row-payment-grid">
	                             	<span class="col-s1">
								<div>Data</div>
							</span>
							<span class="col-s2">
								<div>Pedido</div>
							</span>
							<span class="col-s3">
								<div>NFe</div>
							</span>
							<span class="col-s4">
								<div>Produto/C&oacute;digo</div>
							</span>
							<span class="col-s5">
								<div>P.Unit</div>
							</span>
							<span class="col-s8">
								<div>Pend./Qtde.</div>
							</span>
						</div>
					</div>	
	
					<div class="scroll-payment-grid scroll-payment-grid2">
						<span ng-repeat="sessions in stockReport">									
							<span ng-repeat="lines in sessions"> 
								<div class="row-pending-product-products-to-buy" >
									<span class="col-s1">
										<div class="p-title">24/01/2014</div>
									</span>
									<span class="col-s2">
										<div>012-14</div>
									</span>
									<span class="col-s3">
										<div>12345138</div>
									</span>
	                                         <span class="col-s4">
										<div class="p-title">{{product.title}}</div>&nbsp;<div class="p-points">{{product.points}} pts</div>
										<div class="small-text">cod.: {{product.SKU}}</div>
									</span>
									<span class="col-s5">
										<div>{{product.cost | currency: ''}}</div>
									</span>
									<span class="col-s8">
										<div>{{1}}</div>
									</span>
								</div>
							</span>												
						</span>
					</div><!--fim scroll-->
				</div>
			</div>
		</div>	
	</div>
</div>