<div>
	<form class="form-add-to-basket2">	
	<span class="heading-gradient">Formas de pagamento</span>
	
	<div class="conf-order-panel">
		<span class="title-order-panel"> 
			<span class="col-1">Forma Pgto</span>
			<span class="col-2">Valor R$</span>
			<span class="col-3">Vencto</span>
		</span>
		<span class="text-order-panel"> 
			<span class="col-1">
				<input type="radio" name="group1" value="boleto" ng-model="payment.method">Boleto Banc&aacute;rio</span>
			<span class="col-2">{{payment.amount | currency: ''}}</span>
			<span class="col-3">{{payment.duedate | date: 'dd/MM/yyyy'}}</span>
		</span>
		<span class="text-order-panel"> 
			<span class="col-1"><input type="radio" name="group1" value="deposito" ng-model="payment.method">Dep&oacute;sito Identificado</span>
			<span class="col-2">{{payment.amount | currency: ''}}</span>
			<span class="col-3">{{payment.duedate | date: 'dd/MM/yyyy'}}</span>
		</span>
		<span class="text-order-panel"> 
			<span class="col-1"><input type="radio" name="group1" value="transferencia" ng-model="payment.method">Transf. Eletr&ocirc;nica</span>
			<span class="col-2">{{payment.amount | currency: ''}}</span>
			<span class="col-3">{{payment.duedate | date: 'dd/MM/yyyy'}}</span>
		</span>
		<span class="text-order-panel"> 
			<span class="col-1"><input type="radio" name="group1" value="debito" ng-model="payment.method">D&eacute;bito em conta</span>
			<span class="col-2">{{payment.amount | currency: ''}}</span>
			<span class="col-3">{{payment.duedate | date: 'dd/MM/yyyy'}}</span>
		</span>
		<span class="text-order-panel"> 
			<span class="col-1"><input type="radio" name="group1" value="credito" ng-model="payment.method">Cart&atilde;o de cr&eacute;dito</span>
			<span class="col-2">{{payment.amount | currency: ''}}</span>
			<span class="col-3">{{payment.duedate | date: 'dd/MM/yyyy'}}</span>
		</span>
		<div class="clearfix"></div>
		<hr />
		<div class="payment-btn-area">
			<button class="btn btn-cancel" type="submit" ng-click="cancel()">Cancelar</button>
		</div>
		<div class="payment-btn-area">
			<button class="btn btn-ok" type="submit" ng-disabled="payment.method==''" ng-click="confirm()">Confirmar</button>
		</div>
	</div>
	
	</form>
</div>