<div class="row-fluid step2">	
	<div class="products-to-buy-edit">	
		<div class="row-fluid">
			<div class="grid-payment-products-to-buy-edit">
				<div class="header header2 title-header-products-to-buy">
					<div class="row-payment-grid">
						<span class="col-s1">
							<div>Produto/C&oacute;digo</div>
						</span>
						<span class="col-s2">
							<div>P.Unit</div>
						</span>
						<span class="col-s3">
							<div>Qtde m&iacute;n.</div>
						</span>
						<span class="col-s4">
							<div>Qtde.</div>
						</span>
					</div>
				</div>							
				<div class="scroll-payment-grid">	<!--scroll-->
					<div class="section">Timewise</div>
					<div class="row-payment-grid-product-products-to-buy">
						<span class="col-s1-list">
							<div>Black Diamonds Desodorante Col&ocirc;nia - 60ml</div>
							<div class="code-product">cod.: 01-2390348</div>
						</span>
						<span class="col-s2-list">
							<div>15 pts</div>
						</span>
						<span class="col-s3-list">
							<div>50,00</div>
						</span>
						<span class="col-s4-list">
							<div>1</div>
						</span>
					</div>
					<div class="row-payment-grid-product-products-to-buy">
						<span class="col-s1-list">
							<div>Black Diamonds Desodorante Col&ocirc;nia - 60ml</div>
							<div class="code-product">cod.: 01-2390348</div>
						</span>
						<span class="col-s2-list">
							<div>15 pts</div>
						</span>
						<span class="col-s3-list">
							<div>50,00</div>
						</span>
						<span class="col-s4-list">
							<div>1</div>
						</span>
					</div>
					<div class="section">Olhos</div>
					<div class="row-payment-grid-product-products-to-buy">
						<span class="col-s1-list">
							<div>Black Diamonds Desodorante Col&ocirc;nia - 60ml</div>
							<div class="code-product">cod.: 01-2390348</div>
						</span>
						<span class="col-s2-list">
							<div>15 pts</div>
						</span>
						<span class="col-s3-list">
							<div>50,00</div>
						</span>
						<span class="col-s4-list">
							<div>1</div>
						</span>
					</div>
					<div class="row-payment-grid-product-products-to-buy">
						<span class="col-s1-list">
							<div>Black Diamonds Desodorante Col&ocirc;nia - 60ml</div>
							<div class="code-product">cod.: 01-2390348</div>
						</span>
						<span class="col-s2-list">
							<div>15 pts</div>
						</span>
						<span class="col-s3-list">
							<div>50,00</div>
						</span>
						<span class="col-s4-list">
							<div>1</div>
						</span>
					</div>
					
				</div><!--fim scroll-->
			</div>
		</div>	
	</div>
</div>