<div class="row-fluid step1 step3">


	<!-------- Parte 1 ------------>
	<div class="products-to-buy-edit" ng-if="ticket.selectedPart=='part1'">
		<div class="row-fluid">
			<div class="grid-payment-products-to-buy-edit">
				<div class="control-group lbl-top">
					
						<span class="menu-level">
							<div class="btn-group btn-group-sm">
								<a class="btn btn-option" ng-class="{active: ticket.tab=='open'}" ng-click="changeTab('open')">Pedidos em Aberto</a> 
								<a class="btn btn-option" ng-class="{active: ticket.tab=='all'}" ng-click="changeTab('all')">Todos os Pedidos</a> 								
							</div>
						</span>
					
					
					
					<label class="control-label">&nbsp;
					
					
					</label>
				</div>
				<div class="grid-pending-products-to-buy-edit width970">
					<div class="step3title-header-products-to-buy">
						<div class="row-payment-grid height40">
	                             	<span class="col-s1">
								<div class="height40">Data</div>
							</span>
							<span class="col-s2">
								<div class="height40">Hora</div>
							</span>
							<span class="col-s3">
								<div></div>
							</span>
							<span class="col-s4">
								<div class="height40">Codigo do Pedido</div>
							</span>
							<span class="col-s5">
								<div></div>
							</span>
							<span class="col-s6">
								<div class="height40">Valor</div>
							</span>
							<span class="col-s7">
								<div></div>
							</span>
							<span class="col-s8">
								<div>Status</div>
							</span>
						</div>
					</div>	
	
					<div class="scroll-payment-grid max-height-500-overrule">
							<span ng-repeat="purchaseOrder in ticket.purchaseOrders | filter:filterOrders | orderBy:'-created'"> 
								<div class="row-pending-product-products-to-buy height40 add-dotted-line make-clickable" ng-click="openDialog(purchaseOrder)">
									<span class="col-s1 lineheight20-overrule">
										<div class="p-title">{{purchaseOrder.created | date:'dd/MM/yyyy'}}</div>
									</span>
									<span class="col-s2 lineheight20-overrule">
										<div>{{purchaseOrder.created | date:'HH:mm'}}</div>
									</span>
									<span class="col-s3 lineheight20-overrule">
										<div></div>
									</span>
	                                <span class="col-s4 lineheight20-overrule">
										<div class="p-title" ng-if="purchaseOrder.extNumber">{{purchaseOrder.extNumber}}</div>
										<div class="small-text" ng-if="purchaseOrder.extNumber">{{purchaseOrder | uuidCode}}</div>
										<div class="p-title" ng-if="!purchaseOrder.extNumber">{{purchaseOrder | uuidCode}}</div>
									</span>
									<span class="col-s5 lineheight20-overrule">
										<div></div>
									</span>
									<span class="col-s6 lineheight20-overrule">
										<div>{{purchaseOrder.amount | currency:''}}</div>
									</span>
									<span class="col-s7 lineheight20-overrule">
										<div></div>
									</span>
									<span class="col-s8 lineheight20-overrule">
										<div ng-if="purchaseOrder.received">Entregue</div>
										<div ng-if="!purchaseOrder.received">Em Aberto</div>
									</span>
								</div>
							</span>												
					</div><!--fim scroll-->
				</div>
			</div>
		</div>
	</div>
	<!-------- FIM Parte 1 -------->
	<!-------- Parte 2 ------------>
	<div class="grid-pending-products-to-buy-edit width970" ng-if="ticket.selectedPart=='part2'">
		<div class="step3title-header-products-to-buy width970">
			<div class="row-payment-grid width970">
				<span class="step3col col-10perc">
					<div>Data</div>
				</span> <span class="step3col col-8perc">
					<div>Pedido</div>
				</span> <span class="step3col col-10perc">
					<div>NFe</div>
				</span> <span class="step3col col-30perc step3colleft">
					<div>Produto/C&oacute;digo</div>
				</span> 
				
				</span> <span class="step3col col-5perc">
					<div>Pts</div>
				</span>
				
				<span class="step3col col-10perc">
					<div>P.Unit</div>
				</span> 
				
				<span class="step3col col-5perc">
					<div>Qtde</div>
				</span> 
				
				<span class="step3col col-5perc">
					<div>Ok</div>
				</span> 
				
				<span class="step3col col-input-qty">
					<div>Pend./Qtde.</div>
				</span>
			</div>
		</div>

		<div class="scroll-payment-grid scroll-payment-grid2 max-height-480-overrule min-height-reset marginBottom width970">
			<span ng-repeat="item in purchaseOrder.items">
				<div class="row-pending-product-products-to-buy add-dotted-line">
					<span class="step3col col-10perc">
						<div class="p-title">{{purchaseOrder.created | date:'dd/MM/yyyy'}}</div>
					</span> 
					
					<span class="step3col col-8perc">
						<div class="p-title">{{purchaseOrder.nfe.order}}</div>
						<div class="small-text">{{purchaseOrder | uuidCode}}</div>
					</span> 
					
					<span class="step3col col-10perc">
						<div>{{purchaseOrder.nfe.number}}</div>
					</span> 
					
					<span class="step3col col-30perc step3colleft">
						<div class="p-title">{{item.title}}</div>
						<div class="small-text">{{item.uniqueName}}</div>
					</span> 
						
					<span class="step3col col-5perc">
							{{item.points}}
						</span>
						
						<span class="step3col col-10perc">
							<div>{{item.cost | currency: ''}}</div>
						</span> <span class="step3col col-5perc">
							<div>{{item.qty}}</div>
						</span> 
						<span class="step3col col-5perc">
							<div>
								<input type="checkbox" ng-model="ticket.checkBox[item.id]">
							</div>
						</span> 
						<span class="step3col col-input-qty">
							<input-qty ng-model="ticket.watchedQty[item.id]" min="0" max="{{item.qty}}"></input-qty>
							
						</span>
					</div>
			</span>
		</div>
		<!--fim scroll-->
		<div class="payment-btn-area width970">
			<button class="btn btn-cancel pull-left margin-left" type="submit" ng-click="cancel()">Cancelar</button>
		
			<button class="btn btn-ok pull-right margin-right" ng-disabled="disableButton()" type="submit" ng-click="confirm()">Confirmar</button>
		</div>
	</div>
</div>
</div>
</div>
