<div class="row-fluid step1">


	<!-------- Parte 1 ------------>
	<div class="products-to-buy-edit" ng-if="ticket.selectedPart=='part1'">
		<div class="row-fluid">
			<div class="grid-payment-products-to-buy-edit">
				<div class="control-group lbl-top">
					
						<span class="menu-level">
							<div class="btn-group btn-group-sm" >
								<a class="btn btn-option" ng-click="changeTab('open')">Pedidos em Aberto</a> 
								<a class="btn btn-option" ng-click="changeTab('all')">Todos os Pedidos</a> 
								
							</div>
						</span>
					
					
					
					<label class="control-label">&nbsp;
					
					
					</label>
				</div>
				<div class="grid-pending-products-to-buy-edit width970">
					<div class="header header2 title-header-products-to-buy">
						<div class="row-payment-grid height40">
	                             	<span class="col-s1">
								<div class="height40">Data</div>
							</span>
							<span class="col-s2">
								<div class="height40">Hora</div>
							</span>
							<span class="col-s3">
								<div></div>
							</span>
							<span class="col-s4">
								<div class="height40" >Codigo do Pedido</div>
							</span>
							<span class="col-s5">
								<div></div>
							</span>
							<span class="col-s6">
								<div class="height40">Valor</div>
							</span>
							<span class="col-s7">
								<div></div>
							</span>
							<span class="col-s8">
								<div></div>
							</span>
						</div>
					</div>	
	
					<div class="scroll-payment-grid max-height-500-overrule">
							<span ng-repeat="purchaseOrder in ticket.purchaseOrders | orderBy:'-created'"> 
								<div class="row-pending-product-products-to-buy add-dotted-line make-clickable" ng-click="openDialog(purchaseOrder)" ng-if="filterOrders(purchaseOrder)">
									<span class="col-s1">
										<div class="p-title">{{purchaseOrder.created | date:'dd/MM/yyyy'}}</div>
									</span>
									<span class="col-s2">
										<div>{{purchaseOrder.created | date:'HH:mm'}}</div>
									</span>
									<span class="col-s3">
										<div></div>
									</span>
	                                <span class="col-s4">
										<div>{{purchaseOrder | uuidCode}}</div>
									</span>
									<span class="col-s5">
										<div></div>
									</span>
									<span class="col-s6">
										<div>{{purchaseOrder.amount | currency:''}}</div>
									</span>
									<span class="col-s7">
										<div></div>
									</span>
									<span class="col-s8">
										<div></div>
									</span>
								</div>
							</span>												
					</div><!--fim scroll-->
				</div>
			</div>
		</div>
	</div>
	<!-------- FIM Parte 1 -------->
	<!-------- Parte 2 ------------>
	<div class="grid-pending-products-to-buy-edit width970" ng-if="ticket.selectedPart=='part2'">
		<div class="header header2 title-header-products-to-buy width970">
			<div class="row-payment-grid width970">
				<span class="col-s1">
					<div>Data</div>
				</span> <span class="col-s2">
					<div>Pedido</div>
				</span> <span class="col-s3">
					<div>NFe</div>
				</span> <span class="col-s4">
					<div>Produto/C&oacute;digo</div>
				</span> <span class="col-s5">
					<div>P.Unit</div>
				</span> <span class="col-s6">
					<div>Qtde</div>
				</span> <span class="col-s7">
					<div>Ok</div>
				</span> <span class="col-s8">
					<div>Pend./Qtde.</div>
				</span>
			</div>
		</div>

		<div class="scroll-payment-grid scroll-payment-grid2 max-height-480-overrule min-height-reset marginBottom width970">
			<span ng-repeat="item in purchaseOrder.items">
					<div class="row-pending-product-products-to-buy add-dotted-line">
						<span class="col-s1">
							<div class="p-title">{{purchaseOrder.created | date:'dd/MM/yyyy'}}</div>
						</span> 
						<span class="col-s2">
							<div>{{purchaseOrder | uuidCode}}</div>
						</span> 
						<span class="col-s3">
							<div>{{item.nfe}}</div>
						</span> 
						<span class="col-s4">
							<div class="p-title">{{item.title}}</div>&nbsp;
							<div class="p-points">{{item.points}} pts</div>
							<div class="small-text">cod.: {{item.SKU}}</div>
						</span> 
						<span class="col-s5">
							<div>{{item.cost | currency: ''}}</div>
						</span> <span class="col-s6">
							<div>{{item.qty}}</div>
						</span> 
						<span class="col-s7">
							<div>
								<input type="checkbox" ng-model="ticket.checkBox[item.id]">
							</div>
						</span> 
						<span class="col-input-qty">
							<input-qty ng-model="ticket.watchedQty[item.id]" min="0" max="{{item.qty}}"></input-qty>
							
						</span>
					</div>
			</span>
		</div>
		<!--fim scroll-->
		<div class="payment-btn-area width970">
			<button class="btn btn-cancel pull-left margin-left" type="submit" ng-click="cancel()">Cancelar</button>
		
			<button class="btn btn-ok pull-right margin-right" ng-disabled="disableButton()" type="submit" ng-click="confirm()">Confirmar</button>
		</div>
	</div>
</div>
</div>
</div>
