<div id="sacred">
  <div class="container">

    <div ng-include src="'views/parts/global/header.html'"></div>

    <div class="page sacred-card-config-page">

      <div class="page-header">
        <div class="row">
          <div class="col-10">
            <div class="title">Configuração de Cartões</div>
          </div>
        </div>
      </div>

      <div class="page-body">
        <div class="content">

          <div class="content-body">

          <div class="row">
            <div class="col-24">Recebimento por Cartão</div>
          </div>

          <div class="row">&nbsp;</div>


            <div class="row">

              <div class="col-12">
                <div class="modal-head">
                  Cartão de Crédito
                </div>

                <div class="modal-body">
                  <form class="form" name="">

                    <div class="fields">
                      <div class="form-line"> 
                        <div class="row">
                          <div class="col-16">
                            <label class="inline-label">Prazo de Vencimento:<label>
                          </div>
                          <div class="col-4">
                            <input name="ccDaysToExpire" maxlength="3" ng-model="cardConfig.ccDaysToExpire" type="text" autofocus>
                          </div>
                          <div class="col-4">
                            <label class="inline-label">dias</label>
                          </div>
                        </div>
                      </div>

                      <div class="form-line"> 
                        <div class="row">
                          <div class="col-8">
                            <label class="inline-label">Taxa Operadora: </label>
                          </div>
                          <div class="col-8 text-right">
                            <label class="inline-label">Pagamento à Vista</label>
                          </div>
                          
                          <div class="col-4">
                            <input name="ccOpRate1Installment" maxlength="5" ng-model="cardConfig.ccOpRate1Installment" type="text">
                          </div>
                          <div class="col-4">
                            <label class="inline-label">%</label>
                          </div>
                        </div>
                      </div>

                      <div class="form-line"> 
                        <div class="row">
                          <div class="col-8">
                            <label class="inline-label"></label>
                          </div>
                          <div class="col-8 text-right">
                            <label class="inline-label">Pagamento 2 a 6x</label>
                          </div>
                          
                          <div class="col-4">
                            <input name="ccOpRate26Installment" maxlength="5" ng-model="cardConfig.ccOpRate26Installment" type="text">
                          </div>
                          <div class="col-4">
                            <label class="inline-label">%</label>
                          </div>
                        </div>
                      </div>

                      <div class="form-line"> 
                        <div class="row">
                          <div class="col-8">
                            <label class="inline-label"></label>
                          </div>
                          <div class="col-8 text-right">
                            <label class="inline-label">Pagamento 7 a 12x</label>
                          </div>
                          
                          <div class="col-4">
                            <input name="ccOpRate712Installment" maxlength="5" ng-model="cardConfig.ccOpRate712Installment" type="text">
                          </div>
                          <div class="col-4">
                            <label class="inline-label">%</label>
                          </div>
                        </div>
                      </div>

                      

                      
                    </div>

                  </form>
                </div>
              </div>
              
              <div class="col-12">
                <div class="modal-head">
                  Cartão de Débito
                </div>

                <div class="modal-body">
                  <form class="form" name="">

                    <div class="fields">
                      <div class="form-line"> 
                        <div class="row">
                          <div class="col-16 text-right">
                            <label class="inline-label">Prazo de Vencimento:<label>
                          </div>
                          <div class="col-4">
                            <input name="dcDaysToExpire" maxlength="3" ng-model="cardConfig.dcDaysToExpire" type="text">
                          </div>
                          <div class="col-4">
                            <label class="inline-label">dias</label>
                          </div>
                        </div>
                      </div>

                      <div class="form-line"> 
                        <div class="row">
                          <div class="col-16 text-right">
                            <label class="inline-label">Taxa Operadora:<label>
                          </div>
                          <div class="col-4">
                            <input name="dcOpRate" maxlength="5" ng-model="cardConfig.dcOpRate" type="text">
                          </div>
                          <div class="col-4">
                            <label class="inline-label">%</label>
                          </div>
                        </div>
                      </div>
                    </div>

                  </form>
                </div>
              </div>
            </div>

            <hr/>

            <div class="row">
              <div class="col-24">Pagamento por Cartão (Utilizado na Compra)</div>
            </div>

            <div class="row">&nbsp;</div>

            <div class="row">

              <div class="col-12">
                <div class="modal-head">
                  Cartão de Crédito
                </div>

                <div class="modal-body">
                  <form class="form" name="">

                    <div class="fields">
                      <div class="form-line"> 
                        <div class="row">
                          <div class="col-9 text-right">
                            <label class="inline-label">Dia Fechamento: <label>
                          </div>
                          <div class="col-12">
                      <select name="ccClosingDateDay" class="date-day" ng-model="ccClosingDate.day">
                        <option value="{{day}}" ng-selected="{{day == ccClosingDate.day && true || false }}" ng-repeat="day in ccClosingDateProvider.days">{{day}}</option>
                      </select>
                      <select name="ccClosingDateMonth" class="date-month" ng-model="ccClosingDate.month" tabindex="4">
                        <option value="{{month.id}}" ng-selected="{{month.id == ccClosingDate.month && true || false }}" ng-repeat="month in ccClosingDateProvider.months">{{month.id}}</option>
                      </select>
                      <select name="ccClosingDateYear" class="date-year" ng-model="ccClosingDate.year" tabindex="4">
                        <option value="{{year}}" ng-selected="{{year == ccClosingDate.year && true || false }}" ng-repeat="year in ccClosingDateProvider.years">{{year}}</option>
                      </select>
                          </div>
                          <div class="col-3">
                            
                          </div>
                        </div>
                      </div>

                      <div class="form-line"> 
                        <div class="row">
                          <div class="col-9 text-right">
                            <label class="inline-label">Dia Vencimento: <label>
                          </div>
                          <div class="col-12">
                      <select name="ccExpirationDateDay" class="date-day" ng-model="ccExpirationDate.day">
                        <option value="{{day}}" ng-selected="{{day == ccExpirationDate.day && true || false }}" ng-repeat="day in ccExpirationDateProvider.days">{{day}}</option>
                      </select>
                      <select name="ccExpirationDateMonth" class="date-month" ng-model="ccExpirationDate.month" tabindex="4">
                        <option value="{{month.id}}" ng-selected="{{month.id == ccExpirationDate.month && true || false }}" ng-repeat="month in ccExpirationDateProvider.months">{{month.id}}</option>
                      </select>
                      <select name="ccExpirationDateYear" class="date-year" ng-model="ccExpirationDate.year" tabindex="4">
                        <option value="{{year}}" ng-selected="{{year == ccExpirationDate.year && true || false }}" ng-repeat="year in ccExpirationDateProvider.years">{{year}}</option>
                      </select>
                          </div>
                          <div class="col-3">
                            
                          </div>
                        </div>
                      </div>

                      
                    </div>

                  </form>
                </div>
              </div>
              
              
            </div>
            

          </div><!-- // form -->
          <button id="btn-confirm" class="new-button new-button-ok pull-right" tabindex="16" ng-click="confirm()" type="button">Salvar</button>
        </div>

      </div>
    </div><!-- // page-body -->
  </div>
</div>
</div>