<div class="details" ng-hide="hideOptions" ng-init="startHideOption()">
	<div class="row">
		
		<div class="col-8">
			<div class="summarizer">
				<div class="summarizer-label" ng-show="total.cash.amount >= 0">Dinheiro</div>
				<div class="summarizer-label" ng-hide="total.cash.amount >= 0">Troco (-)</div>
				<div class="summarizer-value" ng-show="total.cash.amount >= 0">{{total.cash.amount |currency:''}}</div>
				<div class="summarizer-value" ng-hide="total.cash.amount >= 0">-{{(-1)*total.cash.amount |currency:''}}</div>
			</div>
		</div>
		<div class="col-8">
			<div class="summarizer">
				<div class="summarizer-label">Cartão</div>
				<div class="summarizer-value">{{(total.creditCard.amount + total.noMerchantCc.amount)| currency:''}}</div>
				<small ng-show="(total.creditCard.qty + total.noMerchantCc.qty) !== 0">({{total.creditCard.qty + total.noMerchantCc.qty}})</small>
			</div>
		</div>
		<div class="col-8">
			<div class="summarizer">
				<div class="summarizer-label">Vale/Cupom</div>
				<div class="summarizer-value">{{total.voucher.amount | currency:''}}</div>
			</div>
		</div>
		
	</div>

	<div class="row">
		
		<div class="col-8">
			<div class="summarizer">
				<div class="summarizer-label">Cheque</div>
				<div class="summarizer-value">{{total.check.amount |currency:''}}</div>
				<small ng-show="total.check.qty !== 0">({{total.check.qty}})</small>
			</div>
		</div>
		<div class="col-8">
			<div class="summarizer">
				<div class="summarizer-label">Troca</div>
				<div class="summarizer-value">{{total.exchange.amount | currency:''}}</div>
				<small ng-show="total.exchange.qty !== 0">({{total.exchange.qty}})</small>
			</div>
		</div>
		<div class="col-8">
			<div class="summarizer">
				<div class="summarizer-label">Contas a Receber</div>
				<div class="summarizer-value">{{total.onCuff.amount | currency:''}}</div>
			</div>
		</div>
		
	</div>
</div>
