<div class="container">
	<form class="form-add-to-basket">
		<span class="heading-gradient">{{product.title}}</span>
		<span class="wrapper-qtde">
			<div class="price-add-to-basket"><span class="price-popup-small">R$</span> {{product.price | currency:''}}</div> 
			<input-qty ng-model="qty" min="1"></input-qty>
			<div class="price-add-to-basket"><span class="price-popup-small">Total</span><br /><span class="price-popup-small">R$</span> {{product.price * qty | currency:''}}</div>
            <div class="line-gradient">&nbsp;</div>
            <div class="quantity-products-basket">em estoque <span>{{product.inventory}}</span></div>
		</span>
		<div class="img-catalog-basket">
			<img ng-src="{{product.image}}" alt="" />
		</div>
		<div class="clearfix"></div>
		<hr />
		<button ng-click='cancel()' class="btn btn-cancel btn-large btn-login"
			type="submit">Cancelar</button>
		<button ng-click='addToBasket()' class="btn btn-ok btn-large btn-login pull-right"
			type="submit">Adicionar</button>
	</form>
</div>
