<script>
	var initMagnifier = function () {
	 $('#magnifier').zoom({magnify: 2});
	};
</script>

<div class="modal-head">{{product.title}}</div>
<div class="modal-body modal-add-basket-details-dialog-body">
	<div class="skus">
		<div class="new-body-header">
			<div class="new-col-10">
				Op&ccedil;&otilde;es
			</div>

			<div class="new-col-4 text-center">
				Estoque
			</div>

			<div class="new-col-4 currency">
				Pre&ccedil;o
			</div>

			<div class="new-col-6 text-center">
				Qtde
			</div>
		</div>
		<div class="new-scroll-area" fast-click>
			<div class="new-body-row" ng-repeat="item in grid">
				<div class="new-col-10 product-name">
					<img ng-if="item.image" once-src="getImageData(item.SKU)" alt="sample" />
					<span>{{item.option}}</span>
					<br/>
					<small class="">{{item.SKU}}</small>
				</div>
	
					<div class="new-col-4 text-vertical-middle text-center">{{item.inventory}}</div>
					<div class="new-col-4 text-vertical-middle currency">{{product.price | currency:''}}</div>
					<div class="new-col-6 text-center">
						<tnt-number-picker ng-model="item.qty" min="0"></tnt-number-picker>
					</div>
			</div>
		</div>
	</div>
	<div class="info">
		<div class="img-sholder">
            <div class='zoom' id='magnifier'>
                <img once-src="getImageData(product.image)" onload="javascript:initMagnifier();" alt="" />
            </div>
        </div>
		<div class="info-item quantity">
		    <span class="info-label">Qtde</span>
		    <span class="quantity-value">{{count}}</span>
		</div>
		
		<div class="info-item total">
		    <span class="info-label">Total</span>
		    <span class="total-value">
		        <small>R$</small> {{total | currency:''}}
		    </span>
		</div>
		
		 <div class="info-item discount" fast-click>
		    <span class="info-label">Desconto</span>
		    <span class="fake-input" tnt-promise-click="openDialogNumpad()">{{(itemDiscount || 0) | currency:''}}</span>
		</div>
            
    </div>
</div>

 <div class="modal-foot" fast-click>
	<hr />
    <button ng-click='cancel()' class="btn btn-cancel btn-large btn-login"  type="submit">Cancelar</button>
    <spinner-button class="new-button new-button-ok pull-right" spinner-promise = "addToBasket()" type="submit">
        Adicionar
    </spinner-button>
</div>
