<div class="container">
	<form class="form-add-to-basket">
		<span class="heading-gradient">{{product.title | truncate:34}}</span>
		<span class="wrapper-qtde">
			<div class="price-add-to-basket">{{product.price | currency}}</div> 
			<input-qty ng-model="qty" min="1"></input-qty>
			<div class="total-price-add-to-basket">
				<strong>Total:</strong> 
				<span class="rose-color">{{product.price * qty | currency}}</span>
			</div>
		</span>
		<div class="img-catalog-02">
			<img ng-src="{{product.image}}" alt="" />
		</div>
		<div class="clearfix"></div>
		<hr />
		<button 
			class="btn btn-large btn-login" 
			type="submit"
			ng-click="cancel()">Cancelar</button>
		<button 
			class="btn btn-large btn-login pull-right"
			type="submit"
			ng-click="addToBasket()">Adicionar</button>
	</form>
</div>
