<script>
var initMagnifier = function () {
    $('#magnifier').zoom({magnify: 2});
};
</script>

<div class="modal-head">{{product.title}}</div>
<div class="modal-body modal-add-basket-dialog-body">
    <div class="img-holder">
        <div class='zoom' id='magnifier'>
            <!-- <img ng-src="{{config.imageBaseURL}}{{product.image}}" onload="javascript:initMagnifier();" alt="" />  -->
            <img once-src="getImageData(product.image)" onload="javascript:initMagnifier();" alt="" />
        </div>
    </div>
    <div class="info" fast-click>

        <div class="info-item price">
            <small>R$</small>{{product.price | currency:''}}</span>
        </div> 
        
        <div class="info-item quantity">
            <span class="info-label">Qtde</span>
            <tnt-number-picker ng-model="grid[0].qty" min="0"></tnt-number-picker>
        </div>

        <div class="info-item total">
            <span class="info-label">Subtotal</span>
            <span class="total-value">
                <small>R$</small> {{product.price * grid[0].qty | currency:''}}
            </span>
        </div>

         <div class="info-item discount" ng-show="showDiscount">
            <span class="info-label">Desconto</span>
            <span class="fake-input" tnt-promise-click="openDialogNumpad()">{{(itemDiscount || 0) | currency:''}}</span>
        </div>
           
        <div class="line-gradient">&nbsp;</div>
        <div class="stock">{{product.inventory}} em estoque</div>
    </div>

    <span class="code-product code-product-vs">{{item.SKU}}</span>
</div>
<div class="modal-foot" fast-click>
    <hr />
    <button ng-click='cancel()' class="btn btn-cancel btn-large btn-login"  type="submit">Cancelar</button>
    <button ng-click='addToBasket()' class="btn btn-ok btn-large btn-login pull-right" type="submit">Adicionar</button>
</div>