<div id="sacred">
	<div class="modal-head">Agendamento de entrega</div>

	<div class="modal-body products-delivery-to-be-delivery">

		<form class="form">
			<div class="fields">
				<div class="row">
					<div class="col-24">
	                    <div class="text-center">Confirmar data de entrega: {{scheduledDelivery.date | date: 'dd/MM/yyyy - HH:mm'}}?</div>
					</div>
				</div>
			</div>
		</form>

	</div>

	<div class="modal-foot">
		<hr />
		<button class="button-black pull-left" type="submit" ng-click="cancel()">Cancelar</button>	
		<button class="button-green pull-right" type="submit" ng-click="confirm()">Confirmar</button>
	</div>
</div>