<style>
	#sacred *{
		box-sizing:border-box;
	}
	#sacred .side-label{
		height: 30px;
		line-height: 30px;
	}
	#sacred .modal-foot{
		float: left;
	}
	#sacred .modal-form .row{
		margin-bottom: 10px;
	}
	#sacred .modal-form .input-time{
		width: 100%;
		height: 30px;
		line-height: 30px;

	}

#sacred .products-delivery-to-be-delivery .calendar {
	margin-right:0;
}
#sacred .products-delivery-to-be-delivery .ic-calendar {
	float:right;
}
#sacred .products-delivery-to-be-delivery .ic-calendar img {
	margin:2px 4px 0 0;
}

</style>
<div id="sacred">
	<div class="modal-head">Agendamento de entrega</div>

	<div class="modal-body products-delivery-to-be-delivery">

		<div class="modal-form">
			<div class="row">
				<div class="col-24">
                    <div class="text-center">Confirmar data de entrega: {{scheduledDelivery.date | date: 'dd/MM/yyyy - hh:mm'}}?</div>
				</div>
			</div>
		</div>


	</div>

	<div class="modal-foot">
		<hr />
		<button class="btn btn-cancel pull-left" type="submit" ng-click="cancel()">Cancelar</button>	
		<button class="btn btn-ok pull-right" type="submit" ng-click="confirm()">Confirmar</button>
	</div>
</div>