CACHE MANIFEST

# v0.x.x

CACHE:
bower_components/bootstrap-sass/bootstrap-2.3.2.css
bower_components/bootstrap-sass/bootstrap-responsive-2.3.2.css
styles/select2.css
styles/responsive-style.css
styles/grid-catalog.css
styles/data-grid/data-grid.css
styles/global.css
styles/dialogs.css
styles/basket.css
styles/payment.css
styles/add-customer.css
styles/partial-delivery.css
styles/order-list.css
styles/inventory.css
styles/previous-entries.css
styles/pending-delivery.css
styles/products-to-buy.css
styles/financial.css
styles/expense.css
styles/income-statement.css
styles/magnifier.css
styles/multiple-select.css
styles/receivable.css
styles/cash-flow.css
styles/catalog.css
styles/voucher.css
styles/stock.css
styles/warm-up.css
styles/new.css

scripts/plugins.js
scripts/modules.js
scripts/scripts.js

components/product-display/product-display.html
components/highlight-display/highlight-display.html
components/catalog-section/catalog-section.html
components/catalog-highlights/catalog-highlights.html

resources/config.js
resources/replay.json
resources/images.json
resources/data.json
resources/orders.json
resources/products.json

views/catalog/best-sellers.html

views/parts/add-customer/add-customer-phones-dialog.html
views/parts/add-customer/add-customer-emails-dialog.html
views/parts/catalog/add-to-basket-dialog-details.html
views/parts/catalog/add-to-basket-dialog.html
views/parts/catalog/footer.html
views/parts/catalog/input-qty.html
views/parts/catalog/num-pad.html
views/parts/expense/expense-read.html
views/parts/expense/expense-write-parc-dialog.html
views/parts/expense/expense-write.html
views/parts/global/change-pass-dialog.html
views/parts/global/choose-customer-dialog.html
views/parts/global/header.html
views/parts/global/input-products-dialog.html
views/parts/global/message-dialog.html
views/parts/partial-delivery/customer-info-dialog.html
views/parts/partial-delivery/delivery-details-dialog.html
views/parts/payment/payment-left-advance.html
views/parts/payment/payment-left-check.html
views/parts/payment/payment-left-credit-card.html
views/parts/payment/payment-left-discount.html
views/parts/payment/payment-left-exchange.html
views/parts/payment/payment-left-on-cuff.html
views/parts/payment/payment-left-order.html
views/parts/payment/payment-left-voucher.html
views/parts/payment/payment-right-totals.html
views/parts/products-to-buy/products-to-buy-confirm-dialog.html
views/parts/products-to-buy/products-to-buy-confirm.html
views/parts/products-to-buy/products-to-buy-credit.html
views/parts/products-to-buy/products-to-buy-order.html
views/parts/products-to-buy/products-to-buy-pending.html
views/parts/products-to-buy/products-to-buy-summary.html
views/parts/products-to-buy/products-to-buy-ticket-dialog.html
views/parts/products-to-buy/products-to-buy-ticket.html
views/parts/receivable/receivable-add.html
views/parts/receivable/receivable-edit-parc-dialog.html
views/parts/receivable/receivable-edit.html
views/parts/receivable/receivable-list.html
views/parts/receivable/receivable-receive.html
views/add-customer.html
views/basket.html
views/bills-to-pay.html
views/cash-flow.html
views/delivery.html
views/expense.html
views/financial.html
views/income-statement.html
views/inventory.html
views/login.html
views/main.html
views/order-list.html
views/partial-delivery.html
views/payment.html
views/pending-delivery.html
views/previous-entries.html
views/products-to-buy.html
views/receivable.html
views/stock.html
views/voucher.html


images/keyboard/n0.png
images/keyboard/n1.png
images/keyboard/n2.png
images/keyboard/n3.png
images/keyboard/n4.png
images/keyboard/n5.png
images/keyboard/n6.png
images/keyboard/n7.png
images/keyboard/n8.png
images/keyboard/n9.png
images/keyboard/n00.png
images/keyboard/comma.png
images/keyboard/btn-ok.png
images/keyboard/btn-clear.png
images/keyboard/btn-back.png
images/keyboard/percent.png

images/logo-home.png
images/icon-drop-menu.png
images/cat-li-menu.png
images/bag-mk.png
images/plus-w.png
images/last-opportunity-banner-v2.png
images/select2.png
images/select2-spinner.gif
images/alert-sign-small-v3.png
images/ic-sort-triangle-up-pink.png
images/ic-sort-triangle-down-pink.png
images/del-pink.png
images/glyphicons-halflings.png
images/arrow-right-pink.png
images/arrow-left-pink.png
images/loading_20.gif

images/icons/ic-calendar.png

# find out how the hell those images got on styles and FIX IT
#styles/com/images/select_close.png
#styles/com/images/icon.png

images/catalog/best-sellers/best-sellers.png
images/catalog/best-sellers/best-sellers-1.png
images/catalog/best-sellers/best-sellers-2.png
images/catalog/best-sellers/best-sellers-3.png
images/catalog/best-sellers/best-sellers-4.png
images/catalog/best-sellers/best-sellers-5.png
images/catalog/best-sellers/best-sellers-6.png
images/catalog/best-sellers/best-sellers-7.png
images/catalog/best-sellers/best-sellers-8.png
images/catalog/best-sellers/best-sellers-9.png
images/catalog/best-sellers/best-sellers-10.png

NETWORK:
*
