CACHE MANIFEST

# 'version' : '1.2.22-60'

CACHE:
bower_components/bootstrap-sass/bootstrap-2.3.2.css
styles/main.css
styles/responsive-style.css
styles/grid-catalog.css
styles/data-grid/data-grid.css
styles/global.css
styles/dialogs.css
styles/basket.css
styles/payment.css
styles/add-customer.css
styles/partial-delivery.css
styles/order-list.css
styles/inventory.css
styles/previous-entries.css
styles/pending-delivery.css
styles/products-to-buy.css
styles/purchase-order.css
styles/products-delivery.css
styles/financial.css
styles/expense.css
styles/income-statement.css
styles/magnifier.css
styles/multiple-select.css
styles/receivable.css
styles/cash-flow.css
styles/catalog.css
styles/voucher.css
styles/stock.css
styles/warm-up.css
styles/third-parties.css
styles/new.css
styles/new-numpad.css
styles/new-registration.css
styles/new-ipad-only.css
styles/new-grid.css
styles/new-calendar.css
styles/new-button.css

styles/sacred-reset.css
styles/sacred-buttons.css
styles/sacred-calendar.css
styles/sacred-form.css
styles/sacred-grid.css
styles/sacred-page.css
styles/sacred-pagpop.css
styles/sacred-products-delivery.css
styles/sacred-receivable-check.css
styles/sacred-stock.css
styles/sacred-structure.css
styles/sacred-summarizer.css
styles/sacred-third-parties.css
styles/sacred-voucher.css
styles/sacred-registration.css
styles/sacred-login.css
styles/sacred-order-list.css
styles/sacred-purchase-order.css
styles/sacred-best-sellers.css
styles/sacred-warm-up.css
styles/sacred-ipad-only.css
styles/sacred-modal.css

styles/agenda/agenda.css
styles/agenda/fullcalendar.css
styles/agenda/fullcalendar.print.css
styles/agenda/smoothness/jquery-ui-1.10.4.custom.css

scripts/libs.js
scripts/plugins.js
scripts/modules.js
scripts/scripts.js

scripts/controllers/appointments.js
scripts/keepers/AppointmentKeeper.js
scripts/services/AppointmentService.js

resources/config.js
resources/images.json
resources/replay.json
resources/data.json
resources/orders.json
resources/products.json

images/keyboard/n0.png
images/keyboard/n1.png
images/keyboard/n2.png
images/keyboard/n3.png
images/keyboard/n4.png
images/keyboard/n5.png
images/keyboard/n6.png
images/keyboard/n7.png
images/keyboard/n8.png
images/keyboard/n9.png
images/keyboard/n00.png
images/keyboard/comma.png
images/keyboard/btn-ok.png
images/keyboard/btn-clear.png
images/keyboard/btn-back.png
images/keyboard/percent.png

images/icon-drop-menu.png
images/icon-drop-menu-yellow.png
images/cat-li-menu.png
images/plus-w.png
images/last-opportunity-banner-v2.png
images/select2.png
images/select2-spinner.gif
images/alert-sign-small-v3.png
images/ic-sort-triangle-up-pink.png
images/ic-sort-triangle-down-pink.png
images/del-pink.png
images/glyphicons-halflings.png
images/arrow-right-pink.png
images/arrow-left-pink.png
images/loading-20-pink.gif
images/loading-btn_20.gif
images/loading-btn-20-pink.gif
images/vpink.jpg
images/vpurse.gif
images/logo-home.png
images/tooltip-arrow.png

images/icons/ic-calendar.png
images/icons/ic-calendar-pink.png

images/thirdparty/select2/select_close.png
images/thirdparty/magnifier/icon.png

images/tutorial/tutorial-android-mockup-full.png
images/tutorial/tutorial-ipad-mockup-full.png

images/catalog/best-sellers-0.png
images/catalog/best-sellers-1.png
images/catalog/best-sellers-2.png
images/catalog/best-sellers-3.png
images/catalog/best-sellers-4.png
images/catalog/best-sellers-5.png
images/catalog/best-sellers-6.png
images/catalog/best-sellers-7.png
images/catalog/best-sellers-8.png
images/catalog/best-sellers-9.png
images/catalog/best-sellers-10.png

images/smoothness/images/animated-overlay.gif
images/smoothness/images/ui-bg_flat_0_aaaaaa_40x100.png
images/smoothness/images/ui-bg_flat_75_ffffff_40x100.png
images/smoothness/images/ui-bg_glass_55_fbf9ee_1x400.png
images/smoothness/images/ui-bg_glass_65_ffffff_1x400.png
images/smoothness/images/ui-bg_glass_75_dadada_1x400.png
images/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png
images/smoothness/images/ui-bg_glass_95_fef1ec_1x400.png
images/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png
images/smoothness/images/ui-icons_222222_256x240.png
images/smoothness/images/ui-icons_2e83ff_256x240.png
images/smoothness/images/ui-icons_454545_256x240.png
images/smoothness/images/ui-icons_888888_256x240.png
images/smoothness/images/ui-icons_cd0a0a_256x240.png

NETWORK:
*
