CACHE MANIFEST

# 'version' : '1.2.22'

CACHE:
bower_components/bootstrap-sass/bootstrap-2.3.2.css
styles/main.css
styles/responsive-style.css
styles/grid-catalog.css
styles/data-grid/data-grid.css
styles/global.css
styles/dialogs.css
styles/basket.css
styles/payment.css
styles/add-customer.css
styles/partial-delivery.css
styles/order-list.css
styles/inventory.css
styles/previous-entries.css
styles/pending-delivery.css
styles/products-to-buy.css
styles/purchase-order.css
styles/products-delivery.css
styles/financial.css
styles/expense.css
styles/income-statement.css
styles/magnifier.css
styles/multiple-select.css
styles/receivable.css
styles/cash-flow.css
styles/catalog.css
styles/voucher.css
styles/stock.css
styles/warm-up.css
styles/third-parties.css
styles/new.css
styles/new-numpad.css
styles/new-registration.css
styles/new-ipad-only.css
styles/new-grid.css
styles/new-calendar.css
styles/new-button.css

styles/sacred-reset.css
styles/sacred-buttons.css
styles/sacred-calendar.css
styles/sacred-form.css
styles/sacred-grid.css
styles/sacred-page.css
styles/sacred-pagpop.css
styles/sacred-products-delivery.css
styles/sacred-receivable-check.css
styles/sacred-stock.css
styles/sacred-structure.css
styles/sacred-summarizer.css
styles/sacred-third-parties.css
styles/sacred-voucher.css
styles/sacred-registration.css
styles/sacred-login.css
styles/sacred-order-list.css
styles/sacred-purchase-order.css
styles/sacred-best-sellers.css

styles/agenda/agenda.css
styles/agenda/fullcalendar.css
styles/agenda/fullcalendar.print.css
styles/agenda/smoothness/jquery-ui-1.10.4.custom.css

scripts/plugins.js
scripts/modules.js
scripts/scripts.js

scripts/controllers/main.js
scripts/controllers/add-customer.js
scripts/controllers/add-customer-phones-dialog.js
scripts/controllers/add-customer-emails-dialog.js
scripts/controllers/add-to-basket-dialog.js
scripts/controllers/basket.js
scripts/controllers/change-pass-dialog.js
scripts/controllers/choose-customer-dialog.js
scripts/controllers/customer-info-dialog.js
scripts/controllers/delivery.js
scripts/controllers/products-delivery/products-delivered.js
scripts/controllers/products-delivery/products-delivered-products.js
scripts/controllers/products-delivery/products-delivery.js
scripts/controllers/products-delivery/products-to-be-delivered.js
scripts/controllers/products-delivery/products-to-be-delivered-products.js
scripts/controllers/products-delivery/delivery-schedule-dialog.js
scripts/controllers/delivery-details-dialog.js
scripts/controllers/financial.js
scripts/controllers/expense.js
scripts/controllers/expense-entity.js
scripts/controllers/header.js
scripts/controllers/header-dev.js
scripts/controllers/income-statement.js
scripts/controllers/input-products-dialog.js
scripts/controllers/login.js
scripts/controllers/message-dialog.js
scripts/controllers/order-list.js
scripts/controllers/order-list-clients.js
scripts/controllers/order-list-products.js
scripts/controllers/order-list-orders.js
scripts/controllers/pagpop.js
scripts/controllers/payment.js
scripts/controllers/payment-check.js
scripts/controllers/payment-coupon.js
scripts/controllers/payment-creditcard.js
scripts/controllers/payment-exchange.js
scripts/controllers/partial-delivery.js
scripts/controllers/payment/payment-on-cuff.js
scripts/controllers/payment-discount.js
scripts/controllers/products-delivery.js 
scripts/controllers/purchase-order/purchase-order-confirm.js
scripts/controllers/purchase-order/purchase-order-new.js
scripts/controllers/purchase-order/purchase-order-pending-products.js
scripts/controllers/purchase-order/purchase-order-stashed.js
scripts/controllers/purchase-order/purchase-order-summary.js
scripts/controllers/purchase-order/purchase-order-ticket-dialog.js
scripts/controllers/purchase-order/purchase-order-ticket.js
scripts/controllers/purchase-order/purchase-order.js
scripts/controllers/order-list.js
scripts/controllers/receivables/receivable.js
scripts/controllers/receivables/receivable-check.js
scripts/controllers/receivables/receivable-list.js
scripts/controllers/receivables/receivable-receive.js
scripts/controllers/receivables/receivable-dialog.js
scripts/controllers/registration.js
scripts/controllers/stock/stock.js
scripts/controllers/voucher.js
scripts/controllers/voucher-active.js
scripts/controllers/voucher-historic.js
scripts/controllers/book-keeping-report.js
scripts/controllers/numpad-dialog.js
scripts/controllers/appointments.js
scripts/controllers/third-party.js
scripts/controllers/warmup.js

scripts/keepers/CheckKeeper.js
scripts/keepers/CoinKeeper.js
scripts/keepers/InventoryKeeper.js
scripts/keepers/GridKeeper.js
scripts/keepers/EntityKeeper.js
scripts/keepers/JournalKeeper.js
scripts/keepers/StockKeeper.js
scripts/keepers/VoucherKeeper.js
scripts/keepers/OrderKeeper.js
scripts/keepers/PurchaseOrderKeeper.js
scripts/keepers/ProductReturnKeeper.js
scripts/keepers/TypeKeeper.js
scripts/keepers/BookKeeper.js
scripts/keepers/AppointmentKeeper.js
scripts/keepers/ConsultantKeeper.js
scripts/keepers/SchedulingKeeper.js


scripts/services/ArrayUtils.js
scripts/services/BookService/BookService.js
scripts/services/CheckService/CheckService.js
scripts/services/CouponService.js
scripts/services/DataProvider.js
scripts/services/DialogService.js
scripts/services/EntityService.js
scripts/services/ExpenseService.js
scripts/services/purchase-order/NewPurchaseOrderService.js
scripts/services/financial/FinancialMathService.js
scripts/services/IdentityService.js
scripts/services/InventoryService.js
scripts/services/IntentService.js
scripts/services/KeyboardService.js
scripts/services/misplacedservice.js
scripts/services/OrderService.js
scripts/services/OrderListService.js
scripts/services/PaymentService.js
scripts/services/ProductLineUp.js
scripts/services/ReceivableService.js
scripts/services/Replayer.js
scripts/services/report/ReportService.js
scripts/services/SMSService.js
scripts/services/StockService.js
scripts/services/StorageService.js
scripts/services/ThirdpartyService.js
scripts/services/VoucherService.js
scripts/services/PersistentStorage.js
scripts/services/WebSQLDriver.js
scripts/services/TimerService.js
scripts/services/SyncDriver.js
scripts/services/SyncService.js
scripts/services/PurchaseOrderService.js
scripts/services/UserService.js
scripts/services/cep/CepService.js
scripts/services/cpf/CpfService.js
scripts/services/PaymentService/OnCuffPaymentService.js
scripts/services/RemoteSync.js
scripts/services/log.js
scripts/services/CreditCardPaymentService.js
scripts/services/PrefetchService.js
scripts/services/GoPayGateway.js
scripts/services/PagPopGateway.js
scripts/services/CacheController.js
scripts/services/Firebase.js
scripts/services/ProductReturnService.js
scripts/services/ConsultantService.js
scripts/services/WarmupService.js
scripts/services/AppointmentService.js
scripts/services/SchedulingService.js
scripts/services/ProductsDeliveryService.js


scripts/preloader/datepicker.js

resources/config.js
resources/images.json
resources/replay.json
resources/data.json
resources/orders.json
resources/products.json

images/keyboard/n0.png
images/keyboard/n1.png
images/keyboard/n2.png
images/keyboard/n3.png
images/keyboard/n4.png
images/keyboard/n5.png
images/keyboard/n6.png
images/keyboard/n7.png
images/keyboard/n8.png
images/keyboard/n9.png
images/keyboard/n00.png
images/keyboard/comma.png
images/keyboard/btn-ok.png
images/keyboard/btn-clear.png
images/keyboard/btn-back.png
images/keyboard/percent.png

images/icon-drop-menu.png
images/cat-li-menu.png
images/plus-w.png
images/last-opportunity-banner-v2.png
images/select2.png
images/select2-spinner.gif
images/alert-sign-small-v3.png
images/ic-sort-triangle-up-pink.png
images/ic-sort-triangle-down-pink.png
images/del-pink.png
images/glyphicons-halflings.png
images/arrow-right-pink.png
images/arrow-left-pink.png
images/loading-20-pink.gif
images/loading-btn_20.gif
images/loading-btn-20-pink.gif
images/vpink.jpg
images/vpurse.gif
images/logo-home.png
images/tooltip-arrow.png

images/icons/ic-calendar.png
images/icons/ic-calendar-pink.png

images/thirdparty/select2/select_close.png
images/thirdparty/magnifier/icon.png

images/tutorial/tutorial-android-mockup-full.png
images/tutorial/tutorial-ipad-mockup-full.png

images/catalog/best-sellers-0.png
images/catalog/best-sellers-1.png
images/catalog/best-sellers-2.png
images/catalog/best-sellers-3.png
images/catalog/best-sellers-4.png
images/catalog/best-sellers-5.png
images/catalog/best-sellers-6.png
images/catalog/best-sellers-7.png
images/catalog/best-sellers-8.png
images/catalog/best-sellers-9.png
images/catalog/best-sellers-10.png

images/smoothness/images/animated-overlay.gif
images/smoothness/images/ui-bg_flat_0_aaaaaa_40x100.png
images/smoothness/images/ui-bg_flat_75_ffffff_40x100.png
images/smoothness/images/ui-bg_glass_55_fbf9ee_1x400.png
images/smoothness/images/ui-bg_glass_65_ffffff_1x400.png
images/smoothness/images/ui-bg_glass_75_dadada_1x400.png
images/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png
images/smoothness/images/ui-bg_glass_95_fef1ec_1x400.png
images/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png
images/smoothness/images/ui-icons_222222_256x240.png
images/smoothness/images/ui-icons_2e83ff_256x240.png
images/smoothness/images/ui-icons_454545_256x240.png
images/smoothness/images/ui-icons_888888_256x240.png
images/smoothness/images/ui-icons_cd0a0a_256x240.png

NETWORK:
*
