<div class="container-mobile">
	
	<div class="row-fluid">
		<span class="span12"> <span ng-include src="'views/mobile/header.html'"></span></span>
	</div>

    <div class="dropdown">
        <button class="navbar vpink-catalog-1 " type="button" data-toggle="dropdown">
            {{selectedSection}}
            <span class="caret"></span>
        </button>
        
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"
            ng-repeat="section in sections" 
            ng-class="{selected: selectedSection == section}" 
            ng-click="selectSection(section)" 
            >
            <a role="menuitem" tabindex="-1">{{section}}</a></li>
        </ul>
    </div>

    <div class="dropdown" ng-hide="selectedSection == 'Mais Vendidos'">
        <button class="navbar vpink-catalog-1 ng-class="'bg-'+ selectedLine.color" " type="button" data-toggle="dropdown">
            {{selectedLine.name}}
            <span class="caret"></span>
        </button>
        
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"
            ng-repeat="line in lines"
            >
            <a ng-class="'bg-'+ line.color" scroll-to="{{'cat' + $index}}" role="menuitem" tabindex="-1" ng-click="selectLine(line)">{{line.name}}</a></li>
        </ul>
    </div>

    <div class="lineCanvas" ng-hide="selectedSection == 'Mais Vendidos'">
        <div class="lines" catalogstuff>
            <div ng-repeat="line in lines">
                <div class="navbar vpink-catalog-2" ng-class="'bg-'+ line.color">
                    <div class="navbar-inner">
                        <div class="center sliding">{{line.name}}</div>
                    </div>
                </div>

                <div class="row-fluid" id="{{'cat' + $index}}" >
                    <catalog-section line="line" section="selectedSection"></catalog-section>
                </div>

            </div>
        </div>
    </div>
    <div ng-show="selectedSection == 'Mais Vendidos'">
       <span ng-include="'views/mobile/parts/catalog/best-sellers.html'"></span>
   </div>


</div>