<div class="navbar-mobile navbar navbar-inverse header-bugfix" ng-controller="HeaderCtrl">
	<div class="navbar-inner">

        <div class="left"><a href="#" class="back link"> <img class="vpink-logo" src="images/mobile/vpink_logo.png"></a></div>
        <div class="center sliding">
                <div class="bag" ng-click='checkout(false)'><span>{{order.items | count: 'qty'}}</span></div>
        </div>
        <div class="right">
            <div class="header-hour" ng-controller="DevelopmentHeaderCtrl" style="position: relative;">
                <div>{{now.time}}</div>
                <div>{{now.weekday}}</div>
                <div class="header-date dropdown-toggle" data-toggle="dropdownmenu">{{now.date}}</div>
            </div>

        </div>

    </div>
</div>
