<div class="views">
    <div class="view view-main">

        <h1 class="form-signin-heading text-muted"><img class="vpink-logo" src="images/mobile/vpink_logo.png" alt="wishlist" /></h1>

        <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-t  hrough">
            <!-- Page, "data-page" contains page name -->
            <div data-page="index" class="page vpink-page">
                <div class="pink-stuff">
                </div>
                <!-- Scrollable page content -->
                <div class="page-content vpink-page-content vpink-bottom-menu">

                    <!-- <div class="toolbar tabbar vpink-tabbar-menu">
                        <div class="toolbar-inner">
                            <a href="#tab1" class="tab-link active hide">
                                <i class="icon icon-1"></i>
                            </a>
                            <a href="#tab2" class="tab-link hide">
                                <i class="icon icon-2"></i>
                            </a>
                            <a href="#tab3" class="tab-link hide">
                                <i class="icon icon-3"></i>
                            </a>
                            <a href="#tab4" class="tab-link hide">
                                <i class="icon icon-4"></i>
                            </a>
                        </div>
                    </div> -->
                    <div class="list-block vpink-list-block" ng-controller="HeaderCtrl">
                        <ul class="app-menu">
                            <li class="hide">
                                <a href="#/appointment" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">AGENDA</div>
                                    </div>
                                </a>
                            </li>
                            
                            <li><a href="#/catalog">CATÁLOGO</a></li>

                            <li><a href="#" ng-click="checkout(true)">PAGAMENTO</a></li>

                            <li class="hide"><a href="#/stock" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">PRONTA ENTREGA</div>
                                </div>
                            </a></li>
                            <li class="hide"><a href="#/order-list" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">RESUMO DE VENDA</div>
                                </div>
                            </a></li>
                            <li class="hide"><a href="#/receivable" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">CONTAS A RECEBER</div>
                                </div>
                            </a></li>
                            <li class="hide"><a href="#/bi" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">ANÁLISE DE DESEMPENHO</div>
                                </div>
                            </a></li>

                            <li><a href="#/">
                                    <div ng-click="updateCache()" ng-show="!update">VERIFICAR ATUALIZA&Ccedil;&Otilde;ES</div>
                                    <div ng-show="update==='checking'">VERIFICANDO...</div>
                                    <div ng-click="forceUpdate()" ng-show="update==='update'">ATUALIZAR AGORA</div>
                            </a></li>

                            <li><a href="#/" ng-click="logout()">SAIR</a></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>