<div class="views">
    <div class="view view-main">

            <!-- Top Navbar-->
            <div class="navbar vpink-navbar-logo">
                <div class="navbar-inner">
                    <div class="left"></div>
                    <div class="center sliding"> <img class="vpink-logo" src="images/mobile/vpink_logo.png" /> </div>
                    <div class="right"></div>
                </div>
            </div>

            <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
            <div class="pages navbar-through toolbar-through">
                <!-- Page, "data-page" contains page name -->
                <div data-page="index" class="page vpink-page">
                    <!-- Scrollable page content -->
                    <div class="page-content vpink-page-content vpink-bottom-menu">

                        <div class="toolbar tabbar vpink-tabbar-menu">
                            <div class="toolbar-inner">
                                <a href="#tab1" class="tab-link active hide">
                                    <i class="icon icon-1"></i>
                                </a>
                                <a href="#tab2" class="tab-link hide">
                                    <i class="icon icon-2"></i>
                                </a>
                                <a href="#tab3" class="tab-link hide">
                                    <i class="icon icon-3"></i>
                                </a>
                                <a href="#tab4" class="tab-link hide">
                                    <i class="icon icon-4"></i>
                                </a>
                            </div>
                        </div>

                        <div class="list-block vpink-list-block" ng-controller="HeaderCtrl">
                            <ul>
                                <li class="hide"><a href="#/appointment" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">AGENDA</div>
                                    </div>
                                </a></li>
                                <li><a href="#/catalog" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">CATÁLOGO</div>
                                    </div>
                                </a></li>
                                <li><a class="item-link item-content" ng-click="checkout(true)">
                                    <div class="item-inner">
                                        <div class="item-title">PAGAMENTO</div>
                                    </div>
                                </a></li>
                                <li class="hide"><a href="#/stock" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">PRONTA ENTREGA</div>
                                    </div>
                                </a></li>
                                <li class="hide"><a href="#/order-list" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">RESUMO DE VENDA</div>
                                    </div>
                                </a></li>
                                <li class="hide"><a href="#/receivable" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">CONTAS A RECEBER</div>
                                    </div>
                                </a></li>
                                <li class="hide"><a href="#/bi" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">ANÁLISE DE DESEMPENHO</div>
                                    </div>
                                </a></li>
                                <li><a onclick="javascript: eval('window.location = \'/#/login\'');" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">SAIR</div>
                                    </div>
                                </a></li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>

    </div>
</div>