<!-- DATE INTERVAL -->
<div class="row-fluid filter-bar">
	<span class="span3">
		<div class="controls">
			<div class="control-group lbl-top">
				<div class="controls">
					Per&iacute;odo <input type="text" placeholder="" show-weeks="false" datepicker-popup="dd/MM/yyyy" class="date-field input-small" readonly required ng-model="dtInitial">
				</div>
			</div>
			<div class="control-group lbl-top">
				<span class="ic-calendar hover-state-pointer calendar-financial">
					<img src="images/icons/ic-calendar.png">
				</span>
			</div>
		</div>
	</span> 
	<span class="span2">
		<div class="controls">
			<div class="control-group lbl-top">
				<div class="controls">
					<input type="text" placeholder="" show-weeks="false" datepicker-popup="dd/MM/yyyy" class="date-field input-small" readonly required ng-model="dtFinal">
				</div>
			</div>
			<div class="control-group lbl-top">
				<span class="ic-calendar hover-state-pointer calendar-financial">
					<img src="images/icons/ic-calendar.png">
				</span>
			</div>
		</div>
	</span> 
	<span class="span7"> 
		<input type="checkbox" id="filter-bar-checkbox" value="todos">
		<span class="txtpad filter-bar-check">todos os valores em aberto at&eacute; {{dtInitial}}</span>
	</span>
</div>

<!-- FILTER -->
<div class="row-fluid filter-bar">
	<div class="txtpad filtro">Filtro</div>
	<div class="input-append input-search span4 marginl0">
		<input class="input-xlarge" id="appendedInput" type="text" placeholder=""> 
		<span class="add-on">
			<i class="icon-search"></i>
		</span>
	</div>
	<div class="span6 txtpad">(4 itens)</div>
</div>