<div class="container">

	<form class="form-payment-advance-money">
		<span class="heading-gradient">INFORMA&Ccedil;&Otilde;ES GERAIS</span>

		<div class="row-fluid">

		<span class="span6">
			<p>
				<strong>Cliente:</strong> {{customer.name}}
			</p>
			<p>
				<strong>Data de Aniversário:</strong> <span ng-show="customer.birthday">{{customer.birthday}}/{{customer.birthmonth}}</span>
			</p>
			<p>
				<strong>Telefones:</strong><span ng-repeat="phone in customer.phones" ><br /> {{phone.number | phone}} </span>
			</p>
			
			<p>
				<strong>E-mails:</strong><span ng-repeat="email in customer.emails" ><br /> {{email.address}}
			</p>
		</span>
		<span class="span6">
			
			<p>
				<strong>Endereço:</strong> {{customer.address.street}}
			</p>
			
			<p>
				<strong>Bairro:</strong> {{customer.address.neighborhood}}
			</p>
			<p>
				<strong>CEP:</strong> {{customer.address.cep}}
			</p>
			<p>
				<strong>Nº:</strong> {{customer.address.number}}
			</p>
			<p>
				<strong>Complemento:</strong> {{customer.address.complement}}
			</p>
			<p>
				<strong>UF:</strong> {{customer.address.state}}
			</p>
			<p>
				<strong>Cidade:</strong> {{customer.address.city}}
			</p>
		</span>

		</div>
		<div class="clearfix"></div>
		<hr />
		<button ng-click='closeDialog()' class="btn btn-large btn-login pull-right" type="submit">
			Fechar
		</button>

	</form>

</div>
