<div class="container">

	<form class="form-payment-advance-money">
		<span class="heading-gradient">INFORMA&Ccedil;&Otilde;ES GERAIS</span>

		<div class="row-fluid">

		<span class="span6">
			<p>
				<strong>Cliente:</strong> Maria Joana
			</p>
			<p>
				<strong>Data de Aniversário:</strong> 12/12/2015
			</p>
			<p>
				<strong>Telefones:</strong><br /> (41) 3990-2020 <br /> (41) 3243-0987
			</p>
			
			<p>
				<strong>E-mails:</strong><br /> maria@marykay.com.br <br /> joaninha@marykay.com.br
			</p>
		</span>
		<span class="span6">
			
			<p>
				<strong>Endereço:</strong> Rua XV 123 
			</p>
			
			<p>
				<strong>Bairro:</strong> Alto da Rua XV
			</p>
			<p>
				<strong>CEP:</strong> 32030-029
			</p>
			<p>
				<strong>Nº:</strong> 123
			</p>
			<p>
				<strong>Complemento:</strong> Casa
			</p>
			<p>
				<strong>UF:</strong> PR
			</p>
			<p>
				<strong>Cidade:</strong> Curitiba
			</p>
		</span>

		</div>
		<div class="clearfix"></div>
		<hr />
		<button ng-click='closeDialog()' class="btn btn-large btn-login" type="submit">
			Cancelar
		</button>
		<button ng-click='closeDialog()' class="btn btn-large btn-login pull-right" type="submit">
			Confirmar
		</button>

	</form>

</div>
