<div class="container">

	<form class="form-delivery-details-modal">
		<span class="heading-gradient">DETALHES DA ENTREGA</span>
		<div class="row-fluid">
			<div class="controls-row">
				<div class="control-group lbl-top">
				<label class="control-label"> Data </label>
				<div class="controls">
					<input type="text" show-weeks="false" datepicker-popup="dd/MM/yyyy"
						class="date-field input-small" required readonly ng-model="delivery.datetime" ng-disabled="delivery.status=='delivered'">
				</div>
			</div>
			<div class="control-group lbl-top">
				<span class="ic-calendar hover-state-pointer"><img src="images/icons/ic-calendar.png"></span>
				</div>
			
				<div class="control-group lbl-top">
					<div class="control-group lbl-top">
						<label class="control-label">Hora</label>
						<div class="controls">
							<input class="input-mini" type="text" ng-model="delivery.hour" ng-disabled="delivery.status=='delivered'" ng-change="hourChange()" hour>
						</div>
					</div>
				</div>
			</div>
			<div class="controls-row" ng-hide="delivery.status=='delivered'||(delivery.orderItems | filter: itemsRemainingFilter).length==0">
				<div class="control-group lbl-top">
					<label class="control-label">Produto</label>
					<select class="combo-width-delivery-details" ui-select2 tnt-select2 ng-model="item.id" ng-click="selectOrderItem(item.id)">
						<option ng-repeat="orderItem in delivery.orderItems | filter: itemsRemainingFilter" value="{{orderItem.id}}">{{orderItem.title}}</option>
					</select>
				</div>
				<div class="control-group lbl-top">
				
						<input-qty ng-model="item.qty" min="1" max="{{item.remaining}}"></input-qty>
					
				</div>
				<div class="control-group lbl-top">
				<div class="controls">
					<span class="btn-plus-pink hover-state-pointer"
						ng-click="addToDelivery(item)"> 
						<img src="images/btn-plus-pink.png" alt="" />
					</span>
				</div>
			</div>
			</div>
			<div class="grid-delivery-details">
				<div class="header">
					<div class="row-grid-delivery-details">
						<span class="col-1">
							<div>Produto</div>
						</span>
						<span class="col-2">
							<div >Qtde</div>
						</span> 
						<span class="col-3">
							<div></div>
						</span>
					</div>
				</div>
				<div class="scroll-delivery-details-grid">
					<div class="row-grid-delivery-details"
					ng-repeat="item in delivery.items | orderBy:'-datetime'">
						<span class="col-1">
							<div>{{item.title}}</div>
						</span>
						<span class="col-2">
							<div>{{item.qty}}</div>
						</span> 
						<span class="col-3">
							<div class="hover-state-pointer" ng-hide="delivery.status=='delivered'">
								<img src="images/del-pink.png" alt="" ng-click="removeFromDelivery($index)" />
							</div>
						</span> 
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="total-value-delivery-details">
					<div>
						<strong>Total:</strong> {{delivery.items  | sum:'qty'}}
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="error" style="display: none">Erro ao inserir
					dados, contate o suporte informando o código</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<hr />
		<div class="panel-dialog">
			<div class="row-fluid">
				<span class="span4">
					<button 
						ng-click='cancel()' 
						class="btn btn-large"
						type="submit">
						Cancelar
					</button>
				</span>
				<span class="span4">
					<button 
						ng-click='save()'
						ng-disabled="delivery.datetime<=now"
						ng-hide="delivery.status=='delivered'"
						class="btn btn-large btn-login " 
						type="submit">
						Salvar como Agendamento
					</button>
				</span>
				<span class="span4" >
					<button 
						ng-click='deliver()'
						ng-disabled="delivery.datetime>now"
						ng-hide="delivery.status=='delivered'"
						class="btn btn-large btn-login pull-right" 
						type="submit">
						Registrar Entrega
					</button>
				</span>
			</div>
			</div>
	</form>
</div>