<script>
    var initMagnifier = function () {
        $('#magnifier').zoom({magnify: 2});
    };
</script>


<div class="container-mobile" scroll-spy>

    <div class="row-fluid">
        <span class="span12"> <span ng-include src="'mobile/views/header.html'"></span></span>
    </div>

<!--<div class="produto-head text-center">{{product.title}}</div>-->
   <div class="page-title text-center">Mascara Facial</div>
<!--<div class="modal-body modal-add-basket-details-dialog-body">-->
    <!--<div class="skus">-->
        <div class="new-body-header">
            <div class="mob-col-44">Op&ccedil;&otilde;es</div>
            <div class="mob-col-28 text-center">P. Entrega</div>
            <div class="mob-col-28 text-center">Qtde</div>
        </div>

        <div class="new-scroll-area padding8" fast-click>
            <div class="new-body-row" ng-repeat="item in grid">
                <div class="mob-col-44 product-name">
                    <!--<img ng-if="item.image" once-src="getImageData(item.SKU)" alt="sample" />-->
                    <span>{{item.option}}</span>
                    <br/>
                    <small class="">{{item.SKU}}</small>
                </div>
                <div class="mob-col-28 text-vertical-middle text-center line-height-35">{{item.inventory}}</div>
                <div class="text-center">
                    <tnt-number-picker ng-model="item.qty" min="0"></tnt-number-picker>
                </div>
            </div>

            <!--<div class="new-body-row">-->
                <!--<div class="mob-col-44 product-name">-->
                    <!--&lt;!&ndash;<img ng-if="item.image" once-src="getImageData(item.SKU)" alt="sample" />&ndash;&gt;-->
                    <!--<span>Produto 00000X</span>-->
                    <!--<br/>-->
                    <!--<small class="">SKU-0001</small>-->
                <!--</div>-->
                <!--<div class="mob-col-28 text-vertical-middle text-center">2</div>-->
                <!--<div class="text-center">-->
                    <!--<tnt-number-picker ng-model="item.qty" min="0"></tnt-number-picker>-->
                <!--</div>-->
            <!--</div>-->

        </div>

        <div class="summary">
            <div class="mob-col-33 padding-top-2">Subtotal</div>
            <div class="mob-col-33 text-center">
                <span class="">Qtde</span>
                <span class="quantity-value">{{count}}</span>
            </div>
            <div class="mob-col-33 text-right negrito">
                <small>R$</small>
                <span class="total-value">
		            {{total | currency:''}}
                </span>
            </div>
        </div>


        <div class="modal-foot effect7" fast-click>
            <button ng-click='cancel()' class="btn btn-cancel btn-large btn-login"  type="submit">Cancelar</button>
            <button ng-click='addToBasket()' class="btn btn-ok btn-large btn-login pull-right" type="submit">Adicionar</button>
        </div>

    </div>