<div id="sacred">
	<div class="main-best-sellers">

		<div class="bs-container">

			<div class="bs-product bs-product1">
				<div class="bs-item1" ng-click="addBestSellerToBasket(1)"><img alt="" src="images/mobile/best-sellers/mv-1.png"></div>
			</div>

			<div class="bs-product bs-product2">
                <div class="bs-item1" ng-click="addBestSellerToBasket(2)"><img alt="" src="images/mobile/best-sellers/mv-2.png"></div>
			</div>

			<div class="bs-product bs-product3">
                <div class="bs-item1" ng-click="addBestSellerToBasket(3)"><img alt="" src="images/mobile/best-sellers/mv-3.png"></div>
			</div>

			<div class="bs-product bs-product4">
                <div class="bs-item1" ng-click="addBestSellerToBasket(4)"><img alt="" src="images/mobile/best-sellers/mv-4.png"></div>
			</div>

			<div class="bs-product bs-product5">
                <div class="bs-item1" ng-click="addBestSellerToBasket(5)"><img alt="" src="images/mobile/best-sellers/mv-5.png"></div>
			</div>

			<div class="bs-product bs-product6">
                <div class="bs-item1" ng-click="addBestSellerToBasket(6)"><img alt="" src="images/mobile/best-sellers/mv-6.png"></div>
			</div>

			<div class="bs-product bs-product7">
                <div class="bs-item1" ng-click="addBestSellerToBasket(7)"><img alt="" src="images/mobile/best-sellers/mv-7.png"></div>
			</div>

			<div class="bs-product bs-product8">
                <div class="bs-item1" ng-click="addBestSellerToBasket(8)"><img alt="" src="images/mobile/best-sellers/mv-8.png"></div>
			</div>

			<div class="bs-product bs-product9">
                <div class="bs-item1" ng-click="addBestSellerToBasket(9)"><img alt="" src="images/mobile/best-sellers/mv-9.png"></div>
			</div>

			<div class="bs-product bs-product10">
                <div class="bs-item1" ng-click="addBestSellerToBasket(10)"><img alt="" src="images/mobile/best-sellers/mv-10.png"></div>
			</div>

		</div>

	</div>
</div>