<div id="sacred">
	<div class="main-best-sellers">

		<div class="bs-title">
			<div class="big">Conheça os produtos</div>
			<div class="small">mais vendidos.</div>
		</div>

		<div class="bs-container">

			<div class="bs-product bs-product1">
				<img alt="" src="images/catalog/best-sellers-01.png" ng-click="addBestSellerToBasket(1)">
				<div class="bs-text" ng-click="addBestSellerToBasket(1)">
					<div class="description"><b>Shake Herbalife</b><br/>Para controlar de forma simples o total de calorias ingeridas e manter uma proporção saudável entre carboidratos, proteínas e gorduras durante um programa de Controle de Peso.</div>
				</div>
			</div>

			<div class="bs-product bs-product2">
				<img alt="" src="images/catalog/best-sellers-02.png" ng-click="addBestSellerToBasket(2)">
				<div class="bs-text" ng-click="addBestSellerToBasket(2)">
					<div class="description"><b>Skin Activator® Daily Replenishing Cream</b><br/>Ajuda a fornecer a nutrição que a pele necessita para manter uma aparência mais jovem e saudável.</div>
				</div>
			</div>

			<div class="bs-product bs-product3">
				<img alt="" src="images/catalog/best-sellers-03.png" ng-click="addBestSellerToBasket(3)">
				<div class="bs-text" ng-click="addBestSellerToBasket(3)">
                    <div class="description">
                    	<b>Fiber & Herb</b><br/>Fiber & Herb é um suplemento de fibras formulado com exclusiva combinação da fibra de aveia e de diversos vegetais.
                    </div>
				</div>
			</div>
<!-- 
			<div class="bs-product bs-product4">
				<img alt="" src="images/catalog/best-sellers-04.png" ng-click="addBestSellerToBasket(4)">
				<div class="bs-text" ng-click="addBestSellerToBasket(4)">
                    <div class="description">Amazon Active Máscara<br/>Cabelos Quimicamente Tratados</div>
                    <div class="price">R$59,88</div>
				</div>
			</div>

			<div class="bs-product bs-product5">
				<img alt="" src="images/catalog/best-sellers-05.png" ng-click="addBestSellerToBasket(5)">
				<div class="bs-text" ng-click="addBestSellerToBasket(5)">
                    <div class="description"><b>Barra de Proteína</b><br/>As Barras de Proteína Herbalife, formuladas com proteínas de alto valor biológico, são uma excelente opção de lanche saudável ou para os momentos de desejo por doces, já que são cobertas por chocolate.</div>
				</div>
			</div>

 -->

			

			

		</div>

	</div><!--// best-sellers -->
</div>