<div id="sacred">
	<div class="main-best-sellers">

		<div class="bs-title">
			<div class="big">Conheça os produtos</div>
			<div class="small">mais vendidos da AMAZON ACTIVE</div>
		</div>

		<div class="bs-container">

			<div class="bs-product bs-product1">
				<img alt="" src="images/catalog/best-1.jpg" ng-click="addBestSellerToBasket(1)">
				<div class="bs-text" ng-click="addBestSellerToBasket(1)">
					<div class="description">Amazon Active Shampoo<br/>Cabelos Quimicamente Tratados</div>
					<div class="price">R$54,88</div>
				</div>
			</div>

			<div class="bs-product bs-product2">
				<img alt="" src="images/catalog/best-2.jpg" ng-click="addBestSellerToBasket(2)">
				<div class="bs-text" ng-click="addBestSellerToBasket(2)">
					<div class="description">Amazon Active Shampoo<br/>Cabelos Oleosos 250ml</div>
					<div class="price">R$54,88</div>
				</div>
			</div>

			<div class="bs-product bs-product3">
				<img alt="" src="images/catalog/best-3.jpg" ng-click="addBestSellerToBasket(3)">
				<div class="bs-text" ng-click="addBestSellerToBasket(3)">
					<div class="description">Amazon Active Máscara<br/>Cabelos Quimicamente Tratados</div>
					<div class="price">R$54,88</div>
				</div>
			</div>

			<div class="bs-product bs-product4">
				<img alt="" src="images/catalog/best-4.jpg" ng-click="addBestSellerToBasket(4)">
				<div class="bs-text" ng-click="addBestSellerToBasket(4)">
					<div class="description">Amazon Active Máscara<br/>Cabelos Quimicamente Tratados</div>
					<div class="price">R$54,88</div>
				</div>
			</div>

			

		</div>

	</div><!--// best-sellers -->
</div>