<div id="sacred">
	<div class="main-best-sellers">

		<div class="bs-title">
			<div class="big">Conheça os produtos</div>
			<div class="small">mais vendidos.</div>
		</div>

		<div class="bs-container">

			<div class="bs-product bs-product1">
				<img alt="" src="images/catalog/hinode-1.png" ng-click="addBestSellerToBasket(1)">
				<div class="bs-text" ng-click="addBestSellerToBasket(1)"></div>
			</div>

			<div class="bs-product bs-product2">
				<img alt="" src="images/catalog/hinode-2.png" ng-click="addBestSellerToBasket(2)">
				<div class="bs-text" ng-click="addBestSellerToBasket(2)"></div>
			</div>

			<div class="bs-product bs-product3">
				<img alt="" src="images/catalog/hinode-3.png" ng-click="addBestSellerToBasket(3)">
				<div class="bs-text" ng-click="addBestSellerToBasket(3)"></div>
			</div>
 
<!-- 			<div class="bs-product bs-product4">
				<img alt="" src="images/catalog/best-sellers-04.png" ng-click="addBestSellerToBasket(4)">
				<div class="bs-text" ng-click="addBestSellerToBasket(4)">
                    <div class="description">
                    <b>Creme Hidratante<br/> Desodorante Baunilha</b><br/>
                    	Hidrata e protege a pele formando uma ‘película protetora’, dando um toque macio e aveludado.
                    </div>
				</div>
			</div>
 --> 

	</div>

</div><!--// best-sellers -->
</div>