/* CUSTOM VPINK */

/* styles the search box for mobile version*/

.pink-stuff{
    height: 44px;
    background-color: #B02F67;
    border-radius: 4px;
    margin: 0 12px;

}

/*temp, because this should be temporary.*/
.temp{
    background-color: #fff;
    padding: 15px;
    position: fixed;
    bottom: 0;
    z-index: 5000;
}
.temp .search input,
.temp .search input.active:focus,
.temp .search input:active,
.temp .search input:active:focus,
.temp .search input:focus,
.temp .search input:hover,
.temp .search input:visited{
    background-color: #dedede;
    border-color: #dedede;
    box-shadow: none;
}

.temp .search .input-group-addon{
    background-color: #dedede;
    border-color: #dedede;
}

/* SCROLL */
::-webkit-scrollbar {
    width: 2px;
}

/* from hell*/
.header-bugfix{
    float: left;
}

.app-menu{
    font-size: 18px;
    width: 100%;
}

.app-menu li{
    border-bottom: 1px dashed rgb(200,200,200);
    height: 44px;
    width: 100%;
}

.app-menu li a{
    height: 44px;
    line-height: 44px;
    width: 100%;
    padding-left: 15px;
    display: block;
}
.app-menu li a,
.app-menu li a:visited,
.app-menu li a:hover,
.app-menu li a:focus,
.app-menu li a:active,
.app-menu li a:active.focus{
    color: #000;
    text-decoration: none;
}







/* Locks** orientation on vertical state */
@media (orientation: landscape) {
    body {
        /*-webkit-transform: rotate(-90deg);*/
        /*-moz-transform: rotate(-90deg);*/
        /*-o-transform: rotate(-90deg);*/
        /*-ms-transform: rotate(-90deg);*/
        /*transform: rotate(-90deg);*/
    }
}

@font-face {
    font-family: 'VPinkFont';
    src: url('../../resources/fonts/Swiss721BT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html{
    -webkit-text-size-adjust: 100%;
}

body{
    font-family: VPinkFont, Tahoma, Helvetica Neue, Helvetica, Arial, sans-serif;
}

input:focus {
    z-index: 2;
    border: 1px solid #bf1e62;
}

.views, .view{
    z-index: 100;
}

.div-master{
    height: 100%;
}

.container-mobile, .catalog-swiper {
    height: 100%;
}

.line-height-35{
    line-height: 35px;
}

.vpink-logo{
    height: 60px;
    width: 115px;
    margin-bottom: -10px;
}

.navbar-mobile{
    background-color: #fff;
    border: none;

    margin-top: 15px;
    margin-bottom: 15px;
}

.header-hour{
    color: #56595b;
    text-align: right;
    font-weight: bold;
    font-size: smaller;
    opacity: 0.8;
    line-height: 21px;
}

.navbar.vpink-navbar-logo{

    /* Tamanho Original */
    height: 61px;

    /* Tamanho enquanto menu não estiver implementado */
    height: 120px;

    background: #ffffff;
    border-bottom: none;
}

.vpink-page{
    background-color: #ffffff;
}

.page-content.vpink-page-content{
    padding-top: 0px;
}

.toolbar.tabbar.vpink-tabbar-menu{

    /* Enquanto o menu não tiver o link de suas implementações - esconder */
    display: none;

    border-top: none;
    background-color: #ffffff;
}

.toolbar.tabbar.vpink-tabbar-menu > .toolbar-inner{
    background-color: #AF3067;
    background-clip: content-box;

    padding: 0 10px;

    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
}

.vpink-bottom-menu{
    overflow: hidden;
    background-image: url("../../images/mobile/bottom-menu.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 35%;
}

.sidebar-menu-scroll{
    position: absolute;
    top: 60px;
    right: 10px;
}

.list-block.vpink-list-block{
    /*margin: 15px 0;*/
    margin: 20px 0;
}

.list-block.vpink-list-block ul{
    background: transparent;
    border: none;
}

.list-block .item-inner{
    border-bottom: 1px dashed #c8c7cc;
}

.list-block .item-content{
    padding-right: 15px;
    text-decoration: none;
}

.list-block .item-title{
    font-size: large;
}

/* Fix my place */

.main-best-sellers > .bs-title{
    display: none;
}

.bs-container .bs-product{
    border-bottom: 1px dashed #999;
}

.bs-container .bs-product:last-child{
    border-bottom: none;
}

.bs-product > div > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.add-product-bigger-button{
    display: inline-block;
    float: right;
    width: 50px;
    height: 40px;
}

#sacred .button-black,
#sacred .button-green{
    border-radius: 4px;
    border:none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: normal;
    height: 38px;
    line-height: 20px;
    margin: 0 5px;
    min-width: 86px;
    padding:8px 10px;
    text-align: center;
    vertical-align: middle; /*testar -- com display:block, o vertical-align não funciona (não se utiliza)*/
    background-color: #333;
}

img.payment-warning{
    width: 25px;
    margin-top: -5px;
}

#sacred .button-green,
#sacred .button-green:visited{
    background-color: #bf1e62;
}
#sacred .button-green:active,
#sacred .button-green:hover,
#sacred .button-green:focus{
    background-color: #bf1e62;
}

.modal-small > div{
    background: white;
    overflow: auto;
 }

.modal-small.login-failed {
    padding: 27px;
}

.modal-small.login-failed > div > .modal-body{
    padding: 20px 37px 10px 37px
}

.modal-small.login-failed > div > .modal-foot{
    padding: 5px 40px 28px 40px;
}

.modal-small.login-failed > div > .modal-foot > hr{
    display: none;
}

.login-failed > #sacred .modal-foot > button{
    float: none !important;
    width: 100%;
    margin: 0;
}

.modal-numpad{
    top: 0;
    margin-left: auto;
    left: auto;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    height: 100%;
    /*height: calc(100% - 80px);*/
}

.modal-numpad .modal-head{
    border-radius: 0;
}

.modal-numpad .modal-body{
    height: calc(100% - 42px);
    padding: 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.modal-numpad .modal-body #dialog-input{
    height: 35px;
    margin-bottom: 15px;
    padding-right: 7px;
}
.modal-numpad .modal-body .modal-summary{
    margin-top: -15px;
}

/* Modal para desconto */

.modal-add-basket-payment-dialog .modal-add-basket-dialog-body{
    padding: 10px;
    height: calc(100% - 172px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.modal-add-basket-payment-dialog .img-holder{
    width: 78px;
    padding: 0;
    border: 1px solid #999;
}

.modal-add-basket-payment-dialog .img-holder > img{
    padding: 10px;
    width: inherit;
    height: inherit;
}

.modal-add-basket-payment-dialog .unique-name-holder{
    text-align: left;
    margin-left: 10px;
    margin-right: auto;
    width: 132px;
    height: 72px;
    padding: 10px;
    border: 1px solid #999;
}

.modal-add-basket-payment-dialog .info-item.quantity{
    height: 72px;
    line-height: 68px;
    float: right;
    margin-right: -8px;
}

.modal-add-basket-payment-dialog .box-price-total{
    position: relative;
    right: auto;
    width: 100%; /*auto*/
        float: left;
    font-size: 15px;
    line-height: 32px;
    height: 1px;
}

.modal-add-basket-payment-dialog .box-price-total > span{
    display: block; /*flex*/
        text-align:left;
    width: 100%;
    line-height: 25px;
}

.modal-add-basket-payment-dialog .box-price-total .price,
.modal-add-basket-payment-dialog .box-price-total .info-item{
    margin-bottom: 10px;
    padding-right: 10px;
    width: 100%;
    text-align: right;

    border: 1px solid #999;
}

.info-item .total-value{
    font-size: inherit;
}

.modal-add-basket-payment-dialog .box-info{
    padding-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: auto;
}

.modal-add-basket-payment-dialog .box-info .info-item.discount{
    border: none;
    margin-top: -10px;
    padding-right: 0;
}

.modal-add-basket-payment-dialog .box-info .info-item{
    width: 100%;
    text-align: left;
}

.modal-add-basket-payment-dialog .box-info .discount span{
    color: #bf1e62;
}

.modal-add-basket-payment-dialog .box-info .discount .fake-input{
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    height: auto;
    text-align: right;
    height: 36px;
    border: 1px solid #bf1e62;
    padding: 2px 10px;
}

.btn-discount{
    border: 1px solid #333;
    color: #333;
    font-size: 12px;
}

.unique-name-holder img{
    /*height: 30px;*/
    width: 100%;
}

.unique-name-holder small{
    display: inline;
}


.pedido-venda.summary{
    font-size: 12px;
}

.pedido-venda.summary > div{
    padding-left: 0;
}


.col-24{
    width: 100%;
}


.modal-add-basket-details-dialog-body{
    height: calc(100% - 172px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.modal-add-basket-details-dialog-body > .new-scroll-area{
    height: 100%;
}

.modal,
.modal-small,
.modal-medium,
.modal-big{
    position: absolute;
    z-index: 1050;
    border: none;
    border: none;
    border-radius: none;
    box-shadow: none;
    background-clip: none;
    outline: none;
    border-radius: 4px;
    padding: 15px;

    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 97%;

}

.modal-body{
    text-align: center;
}

.payment-body-mobile{
    height: 100%;
    width: 100%;
}

.swiper-wrapper > span > div#sacred, .main-best-sellers, .bs-container{
    height: 100%;
}

.bs-container > div{
    padding: 5px;
}

.bs-container{
    padding-bottom: 20px;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

.new-scroll-area.pedido-venda-scroll{
    height: calc(100% - 232px);
}

.new-scroll-area.pagamento-scroll{
    height: calc(100% - 235px);
}

.new-scroll-area.pagamento-dinheiro-scroll{
    height: calc(100% - 45px);
}

.pagamento-dinheiro-scroll .numpad-holder{
    margin-top: -10px;
}

.new-scroll-area.pagamento-cheque-scroll{
    height: calc(100% - 226px);
}

.pagamento-cheque-body{
    height: calc(100% - 176px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.payment-checks{
    margin-top: 56px;
}

.payment-checks > div{
    border-bottom: 1px dashed #999;
    height: 150px;
    margin-bottom: 10px;
}

.payment-checks > div:first-child{
    height: 165px;
}

.pagamento-cheque-body .numpad-holder{
    height: inherit;
    display: block;
}

.payment-btn-holder.payment-foot.payment-check{
    position: absolute;
    bottom: 0;
}


.payment-card-scroll-container{
    height: calc(100% - 172px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.payment-voucher-scroll-container{
    height: calc(100% - 172px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.payment-exchange-scroll-container{
    height: calc(100% - 172px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.payment-discount-scroll-container{
    height: calc(100% - 132px);
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.payment-cuff-input{
    float: right;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    height: 26px;
    line-height: 26px;
}

.no-border{
    border: none!important;
}

.cuff-scroll-container{
    height: calc(100% - 132px);
    overflow: auto;
}


.new-scroll-area{
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    height: calc(100% - 272px)
}

.payment-money-container > .row-fluid{
    height: calc(100% - 94px);
}

.payment-money-container > .row-fluid > form{
    height: 100%;
}

.payment-money-container{
    height: calc(100% - 132px);
}

.payment-foot.payment-money{
    margin-top: 0;
    padding-top: 10px;
}

.dropdown-menu.ng-valid-date{
    width: 289px;
    height: 247px;
}

.dropdown-menu.ng-valid-date > li > table{
    margin-left: auto;
    margin-right: auto;
}

.no-margin-top{
    margin-top: 0;
}

.payment-money-container > .subtotal-resume{
    font-size: 18px;
    padding: 10px 11px;
}

.label-input {
    display: inline-block;
    vertical-align: middle;
}
.title-row-cart {
    font-weight: bold;
    display: inline-block;
    width:400px;
}
.ic-arrow-left {
    width:32px;
    height:35px;
    line-height:35px;
    text-align: center;
    display: inline-block;
}
.row-input-products-grid .ic-arrow-left, .row-input-products-grid .ic-arrow-right{
    width:33px;
    vertical-align: middle;
}

.ic-arrow-left2 {
    float: left;
}
.ic-arrow-right {
    width:32px;
    height:35px;
    line-height:35px;
    text-align: center;
    display: inline-block;
}
.ic-arrow-right2 {
    float: right;
    position:relative;
}
.ic-arrow-left:hover, .ic-arrow-right:hover, .img-row-delete:hover {
    cursor:pointer
}

.modal-add-basket-dialog{
    width: 100%;
    height: 100%;
    padding: 0;
    top: 0px;
    border: none;
    left: auto;
    margin-left: auto;
}


.modal {
    position: absolute;
    top: 40px;
    left: 50%;
    z-index: 1050;
    width: 560px;
    margin-left: -280px;
    background-color: white;
    border: none;
    border: none;
    *border: none;
    /* IE6-7 */
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border-radius: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-background-clip: none;
    -moz-background-clip: none;
    background-clip: none;
    outline: none;
    border-radius: 4px;
}
.modal-choose-customer-dialog {
    position: absolute;
    top: 80px;
    left: 50%;
    z-index: 1050;
    width: 304px;
    margin-left: -152px;
    background-color: white;
    border: none;
    border: none;
    *border: none;
    /* IE6-7 */
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border-radius: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-background-clip: none;
    -moz-background-clip: none;
    background-clip: none;
    outline: none;
    border-radius: 4px;
}
.modal-products-delivery {
    position: absolute;
    top: 75px;
    left: 50%;
    z-index: 1050;
    width: 284px;
    margin-left: -142px;
    background-color: white;
    border: none;
    border: none;
    *border: none;
    /* IE6-7 */
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border-radius: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-background-clip: none;
    -moz-background-clip: none;
    background-clip: none;
    outline: none;
    border-radius: 4px;
}
.modal-products-delivery .modal-body{
    overflow-y: visible;
}
.modal-add-basket-dialog-body .select2-container{
    width: 100%;
}



/* Catalog loading spinner */
.vpink-spinner-loader{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;

    background-image: url('../../images/mobile/spinner-loader.gif');
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 10%;
}




/*alpha dialog*/
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.2;
    filter: alpha(opacity=80);
}

.swiper-slide-visible{
    /*height: auto!important;*/
    height: calc(100% - 80px);
}

.catalog-child-swiper.swiping{
    display: none;
}

.catalog-child-swiper > .swiper-wrapper{
    height: 100% !important;
}

.catalog-child-swiper > .swiper-wrapper > .swiper-slide{
    /*height: calc(100% - 3px) !important;*/
}

.catalog-child-swiper > .swiper-wrapper > .swiper-slide > .row-fluid{
    height: 100%;
}

.enable-product-overflow{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /*max-height: 430px;*/

    height: calc(100% - 59px);
}

.product-content{
    width: 100%;
    display: table;
    padding: 20px 10px;
}

.product-content > .product-image{
    float: left;
}

.product-image > img {
    max-height: 150px;
}

.product-description{
    display: table-cell;
    vertical-align: middle;

    font-size: smaller;
}

.product-title{
    padding: 10px 0;
    font-weight: bold;
}

.product-bottom{
    padding: 15px 40px;
    font-weight: bold;
}

.product-currency{
    font-size: smaller;
}

.product-price{
    font-size: large;
}

.product-divider{
    height: 1px;
    width: 100%;
}

.product-footer{
    padding-top: 10px;
}

.bag:hover {
    cursor: pointer
}
.bag {
    background: url(../../images/mobile/vpink_purse.png) no-repeat;
    background-size: 100%;
    display: inline-block;
    width: 58px;
    text-align: center;
    padding: 35px 0px 0 0px;
    -webkit-tap-highlight-color: transparent;
    font-size: 15px;
    position: relative;
    vertical-align: text-bottom;
}
.bag span{
    padding: 0 2px;
    /*border: 1px solid #999;*/
    border-radius: 4px;
    min-width: 20px;
    max-width: 20px;
    background-color: #fff;
    font-size: 12px;
    margin-left: 36px;
    text-align: center;
    display: block;
    margin-top: 3px;
    height: 17px;
    line-height: 18px;
    margin-bottom: 1px;
}

.hover-state-pointer:hover {
    cursor: pointer
}


/* TAB BAR ICONS */
i.icon-1 {
    width: 30px;
    height: 30px;
    background-image: url("../../images/mobile/settings.png");
}
i.icon-2 {
    width: 25px;
    height: 30px;
    background-image: url("../../images/mobile/info.png");
}

i.icon-3 {
    width: 30px;
    height: 30px;
    background-image: url("../../images/mobile/chat.png");
}

i.icon-4 {
    width: 25px;
    height: 30px;
    background-image: url("../../images/mobile/media.png");
}


/* Catalog sliders config */
.vpink-catalog-1, .vpink-catalog-2{
    border-radius: 0;
    border: none;
    min-height: 30px;
}
.vpink-catalog-1{
    height: 44px;
    background: #2B2B2B;
    color: #fff;
    font-size: large;
    text-align: center;
}

.vpink-catalog-2{
    height: 44px;
    /*background: #7BA752;*/
    color: #fff;
    font-size: large;


    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.catalog-child-swiper{
    padding-top: 12px;
    height: calc(100% - 121px);
}

.swiper-container.product-swiper > .swiper-wrapper > .swiper-slide{
    width: 100%;
}
.swiper-container.product-swiper > .swiper-wrapper > .swiper-slide > .catalog-block{
    border-bottom: 1px dashed #999;
}

.icon-back-white.down{
    transform:rotate(270deg);
    -ms-transform:rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -webkit-transform:rotate(270deg);
}

.icon-forward-white{
    width: 12px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 20'><path d='M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z' fill='%23fff'/></svg>");

    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform:rotate(360deg);
    -webkit-transform:rotate(180deg);
}
.icon-forward-white.up{
    transform:rotate(92deg);
    -ms-transform:rotate(92deg);
    -moz-transform: rotate(92deg);
    -o-transform: rotate(92deg);
    -webkit-transform:rotate(92deg);
}

.icon-back-white, .icon-forward-white{
    opacity: 0.2;
}

.vpink-catalog-2 .navbar-inner .right{
    margin-right: 13px;
}

.vpink-catalog-2 .navbar-inner .right a{
    float: left;
    position: absolute;
    margin-left: auto;
    height: auto;
}

.vpink-catalog-2 .navbar-inner .right .back{
    top: 0;
}

.vpink-catalog-2 .navbar-inner .right .forward{
    bottom: 0;
}
.list-block .item-link .item-inner{
    background-image: none;
}
.full-screen{
    height: 100%;
    width: 100%;
}
span.add-icon {
    display: inline-block;
    float: right;
    width: 24px;
    height: 24px;
    background-image: url(../../images/mobile/plus-w.png);
    border-radius: 50%;
    margin: 4px 0 0 3px;
}
