/*
* sacred-calendar.css is a soldier! It is resposable for the dates.
* (this stylesheet have all the styles that is needed to make a datepicker)
*/

#neo .calendar,
#neo .calendar-label-left{
  margin-right: 30px;
  float: left;
}

#neo .calendar label,
#neo .calendar-label-left label{
  display: inline;
}

#neo .calendar .text,
#neo .calendar-label-left .text{
  display: block;
  float: left;
}

#neo .calendar input,
#neo .calendar-label-left input{
  height: 30px;
  line-height: 30px;
  width: 131px;
  text-align: center;
  cursor: pointer;
  margin-bottom:0;
  border: 1px solid #E0E0e0;
}

#neo .calendar label img,
#neo .calendar-label-left label img{
  margin-top: 3px;
  vertical-align: top;
}

#neo .calendar .without-label img{
  margin-top: 22px;
}

#neo .calendar .text-over,
#neo .calendar-label-left .text-over{
  display: block;
}

#neo .calendar-label-left .text-over{
  margin-top: 5px;
  margin-right: 3px;
  float: left;
}
#neo .calendar-label-left input{
  float: left;

}
#neo .calendar-label-left label{
  float: left;
  margin-left: 5px;
}

#neo .calendar-label-left.margin-0{
  margin-right: 0px;
}

#neo .date-end .dropdown-menu {
    left: calc(100% - 303px)!important;
}
/* when we change the visualization mode, also the box width is changed */
/* old versions of calendars must receive this class too, this way ".calendar" is necessary */

.calendar .dropdown-menu li table ,
#neo-calendar .dropdown-menu li table {min-width:290px;}

/*icons input calendar*/
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    *margin-right: .3em;
    line-height: 14px;
    /*vertical-align: text-top;*/
    background-image: url("../../images/glyphicons-halflings.png");
    /*background-position: 14px 14px;*/
    background-repeat: no-repeat;
    margin-top: 1px;
}
.dropdown-menu .btn {
    background: #fff;
    color: #333;
    font-size: 14px;
    min-width: 41px;/*36px;
    max-width: 300px;*/
    padding: 8px;/*5px;*/
    white-space: nowrap;
    border: 1px solid #ccc
}
.dropdown-menu th {
    text-align: center;
}
.dropdown-menu .btn:hover {
    background: #F2F2F2; /*#ecbab9 !important;*/
}
.dropdown-menu .btn-group {
    display: none;
}
.dropdown-menu .divider {
    display: none;
}
.dropdown-menu .btn-success {
    display: none;
}
.dropdown-menu .muted {
    color: #999999;
}
