<div class="bg-edit-pass">
	<!-- not remove this! (background of login screen) -->
</div>
<div class="container">
	<form class="form-signin">
		<span class="heading-gradient">Trocar Senha</span>
		<div class="control-group lbl-top" >
			<label>Senha Atual</label>
			<input type="password" class="input-xlarge" placeholder="">
		</div>
		<div class="control-group lbl-top" >
			<label>Nova Senha</label>
			<input type="password" class="input-xlarge" placeholder="">
		</div>
		<div class="control-group lbl-top" >
			<label>Confirmar Senha</label>
			<input type="password" class="input-xlarge" placeholder="">
		</div>
		<div class="clearfix"></div>		
		
	<div class="change-pass-dialog-btns">
		<div class="change-pass-dialog-btn-area">
			<button ng-click='closeDialog()' class="btn btn-large btn-ok" type="submit">Cancelar</button>
		</div>
		<div class="change-pass-dialog-btn-area">
			<button ng-click='closeDialog()' class="btn btn-large btn-ok" type="submit">Confirmar</button>
		</div>
	</div>
		
	</form>
</div>
		