<div class="modal-head">Selecione o Cliente</div>

<div class="modal-body modal-add-basket-dialog-body">

	<div class="row-fluid">
		<div class="span12">
					<input ui-select2='selectOptions' class='combo-width'  data-placeholder="Selecione Cliente" ng-model="customer" tnt-select2 >
						<option value="">Selecione Cliente</option>
						<option value="{{c.uuid}}" ng-repeat="c in customers">{{c.name}}</option>
					</input>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="error" style="display: none">Erro ao inserir dados, contate o suporte informando o código</div>
		</div>
	</div>
</div>

<div class="modal-foot">
    <hr />
    <button ng-click='cancel()' class="btn btn-cancel btn-large btn-login"  type="submit">Cancelar</button>
	<button ng-click='confirm()' class="btn btn-ok btn-large btn-login pull-right" type="submit">
		<span ng-hide="customer">Novo Cliente</span>
		<span ng-show="customer">Confirmar</span>
	</button>
</div>