<div class="modal-head">Selecione o Cliente</div>

<div class="modal-body modal-add-basket-dialog-body">

	<div class="row-fluid">
		<div class="span12">
			<input class="combo-width" ui-select2="selectOptions" ng-model="customer" tnt-select2/>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="error" style="display: none">Erro ao inserir dados, contate o suporte informando o código</div>
		</div>
	</div>
</div>

<div class="modal-foot">
    <hr />
    <button ng-click='cancel()' class="btn btn-cancel btn-large btn-login"  type="submit">Cancelar</button>
	<button ng-click='confirm()' class="btn btn-ok btn-large btn-login pull-right" type="submit">
		<span ng-show="customer.id === -1">Novo Cliente</span>
		<span ng-hide="customer.id === -1">Confirmar</span>
	</button>
</div>