<div class="navbar navbar-inverse" ng-controller="HeaderCtrl">
	<div class="navbar-inner">

		<a class="brand" href="#"><img src="images/vpink.jpg" /></a>
		<nav id="topMenuHome">
            <ul class="nav" fast-click> 
                <li>
                    <a href="#/?highlight=Lançamentos"  ng-class="{selected: selectedSection == 'Lançamentos'}">LAN&Ccedil;AMENTOS</a>
                </li>
                <li>
                    <a href="#/?highlight=Edição Limitada" ng-class="{selected: selectedSection == 'Edição Limitada'}">EDI&Ccedil;&Atilde;O LIMITADA</a>
                </li>
                <li>
                    <a href="#/?highlight=Pink Sale" ng-class="{selected: selectedSection == 'Pink Sale'}">PINK SALE</a>
                </li>
            </ul>
            <ul class="nav">
              <li class="bag pull-right" ng-click='checkout(false)'><span>{{order.items | count: 'qty'}}</span></li>
              <li class="header-hour" ng-controller="DevelopmentHeaderCtrl" style="position: relative;">
                  <div>{{now.time}}</div><br />

                  <!-- Trigger -->
                  <div class="header-date dropdown-toggle" data-toggle="dropdownmenu">{{now.date}}</div>

                  <!-- dev-menu start -->
                  <!--
                    The following elements have changed to implement this dev-menu. They should PROBABLY be
                    removed in production:

                     * "style="position: relative;" from li.header-hour above;
                     * "ng-controller="DevelopmentHeaderCtrl" above;
                     * "ul.dropdown-menu" below;
                     * "dropdown-toggle" class and data-toggle directive from the trigger above;
                 -->
                 <!-- List -->
<!--                  <ul class="dropdown-menu"> -->
<!--                  	<li> -->
<!--                         <a class="hover-state-pointer" ng-click="openDialogChooseCustomer()">choose-customer</a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a class="hover-state-pointer" ng-click="openDialogInputProducts()">input-products</a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a href="#/registration">registration-new-consultant</a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a href="#/partial-delivery">partial-delivery</a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a href="#/pending-delivery">pending-delivery</a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a href="#/previous-entries">previous-entries</a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a href="#/purchase-order">purchase-order</a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a href="#/income-statement">income-statement</a> -->
<!--                     </li> -->
<!--                   	<li> -->
<!--                     	<a class="hover-state-pointer" ng-click="nukeData()">nuke persisted data</a> -->
<!--                   	</li> -->
<!--                   	<li> -->
<!--                     	<a class="hover-state-pointer" ng-click="removeDeviceId()">remove device id</a> -->
<!--                   	</li> -->
<!--                   	<li> -->
<!-- 	                    <a href="#/login">login</a> -->
<!-- 	                </li> -->
<!-- 	                <li> -->
<!-- 	                    <a class="hover-state-pointer gren-item-menu" ng-click="openDialogChangePass()">Trocar Senha</a> -->
<!-- 	                </li> -->
<!--                		<li> -->
<!-- 	                    <a href="#/book-keeping-report">book keeping report</a> -->
<!-- 	                </li> -->
<!--                     <li> -->
<!--                         <a href="#/spinner-button-promise">button spinner examples</a> -->
<!--                     </li> -->
<!-- 	                <li> -->
<!--                     	<a class="cache-refresh" ng-click="updateCache()">update cache</a> -->
<!--                   	</li> -->
                
<!--             </ul> -->
            <!-- dev-menu end -->
        </li>
		<li class="loading-icon-holder"><img class="loading-icon" src="images/loading-20-pink.gif" ng-click="updateCache()"/></li>
        <li class="dropdown needsclick">
            
            <!-- Trigger -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="ic-nav-top">
                    <span class="ipad-none-v">
                        <img src="images/icon-drop-menu.png" alt="" ng-show="!update"/>
                        <img src="images/icon-drop-menu-yellow.png" alt="" ng-show="update"/>
                    </span> 
                </span> 
            </a>

            <!-- !Trigger -->
            <!-- List -->
            <ul class="dropdown-menu">
                <img class="tooltip-arrow" src="images/tooltip-arrow.png">
                <li><a href="#/appointment">Agenda</a></li>
                
                <li><a href="#/">Cat&aacute;logo</a></li>

                <li><a href="#/products-delivery">Entrega de Produto</a></li>
                
                <li><a class="hover-state-pointer gren-item-menu" ng-click="checkout(true)">Pagamento de Cliente</a></li>
                
                <li class="display-none"><a href="#">*Pedido de Vendas</a></li>
                
                <li><a href="#/order-list">Resumo de Vendas</a></li>

				<li><a href="#/stock">Pronta Entrega</a></li>

                <!-- <div class="dropup"> -->
                <!-- <li class="dropdown-submenu pull-left">

                    <a tabindex="-1" ng-click="preventClose($event)">Pronta Entrega</a>

                    <ul class="dropdown-menu">

                        <li><a class="last-header" href="#/stock">Posi&ccedil;&atilde;o Atual</a></li>
                    
                        <li class="display-none"><a href="#">*Transferir p/ Amostra</a></li>
                    
                        <li class="display-none"><a href="#">*Transferir p/ Perda</a></li>
                    
                        <li class="display-none"><a href="#">*Empr&eacute;stimo Concedido</a></li>
                    
                        <li class="display-none"><a class="last-header" href="#">*Empr&eacute;stimo Tomado</a></li>
                 
                    </ul>

                </li>
                </div> -->

                <li><a href="#/purchase-order">Pedido de Compra</a></li>
                
                <li class="display-none"><a href="#">*Controle de Bonifica&ccedil;&atilde;o</a></li>
                
                <!--<div class="dropup" class="display-none">-->
                <!--<li class="dropdown-submenu pull-left" class="display-none">-->
                    <!--<a tabindex="-1" ng-click="preventClose($event)">Gest&atilde;o Comercial</a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li class="display-none">-->
                            <!--<a href="#/bi">An&aacute;lise de Desempenho</a>-->
                        <!--</li>-->
                        <!--<li class="display-none">-->
                            <!--<a href="#/target-list">Controle de Metas</a>-->
                        <!--</li>-->
                        <!--<li class="display-none">-->
                            <!--<a href="#">*Cadastro de Consultor(as)</a>-->
                        <!--</li>-->
                        <!--<li class="display-none">-->
                            <!--<a class="last-header" href="#">*Relat&oacute;rios on Line</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--</div>-->

                <div class="dropup">
                <li class="dropdown-submenu pull-left">
                    <a tabindex="-1" ng-click="preventClose($event)">Financeiro</a>
                    <ul class="dropdown-menu">
                        <li class="display-none">
                            <a href="#">*Caixa</a>
                        </li>
                        <li class="display-none">
                            <a href="#">*Cheques de Terceiros</a>
                        </li>
                        <li class="display-none">
                            <a href="#">*Conta Banc&aacute;ria</a>
                        </li>
                        <li>
                            <a href="#/receivable">Contas a Receber</a>
                        </li>
<!--                         Removed on 03/04/2014 16:01 by Arnaldo attending a Wesley's request -->
<!--                         <li> -->
<!--                             <a href="#/receivable-check">Controle de Cheques</a> -->
<!--                         </li> -->
                        <li>
                            <a href="#/pagpop">Extrato de Transações</a>
                        </li>
                        <li class="display-none">
                            <a href="#/expense">Contas a Pagar</a>
                        </li>
                        <li class="display-none">
                            <a href="#/cash-flow">Fluxo de Caixa</a>
                        </li>
                        <li class="display-none">
                            <a href="#/income-statement">Demonstr Resultado</a>
                        </li>
                        <li>
                            <a class="last-header" href="#/voucher">Vale / Cupom</a>
                        </li>
                    </ul>
                </li>
                </div>

                <div class="dropup">
                <li class="dropdown-submenu pull-left">
                    <a tabindex="-1" ng-click="preventClose($event)">Cadastro Geral</a>
                    <ul class="dropdown-menu">
                        <li >
                            <a href="#/third-parties">Cadastro de Terceiros</a>
                        </li>
                        <li>
                            <a href="#/registration">Meu Cadastro</a>
                        </li>
                        <li>
                            <a  href="#/warmup">Saldo Inicial</a>
                        </li>
                        <li>
                            <a class="last-header hover-state-pointer gren-item-menu" ng-click="openDialogChangePass()">Trocar Senha</a>
                        </li>
                    </ul>
                </li>
                </div>

                <li>
                      <a ng-click="updateCache()" ng-show="!update">Verificar atualizações</a>
                      <a ng-click="forceUpdate()" ng-show="update">Atualizar agora</a>
                </li>

                <li>
                    <a class="last-header hover-state-pointer" ng-click="logout()">Sair</a>
                </li>
            </ul>

        </nav>
        <!-- List -->
    </li>
</ul>


</div>

</div>
