<div class="navbar navbar-inverse" ng-controller="HeaderCtrl">

	<div class="navbar-inner">

		<a class="brand" href="#"><img src="images/logo-home.png" /></a>
		<nav id="topMenuHome">
            <ul class="nav">
                <li>
                    <a href="#/?highlight=Lançamentos"  ng-class="{selected: selectedSection == 'Lançamentos'}">LAN&Ccedil;AMENTOS</a>
                </li>
                <li>
                    <a href="#/?highlight=Edição Limitada" ng-class="{selected: selectedSection == 'Edição Limitada'}">EDI&Ccedil;&Atilde;O LIMITADA</a>
                </li>
                <li>
                    <a href="#/?highlight=Promoções" ng-class="{selected: selectedSection == 'Promoções'}">PROMO&Ccedil;&Otilde;ES</a>
                </li>
             </ul>
             <ul class="nav">
             	<li class="bag pull-right" ng-click='checkout(false)'><span>{{order.items | count: 'qty'}}</span></li>
                <li class="header-hour"><div>{{now.time}}</div><br /><div class="header-date">{{now.date}}</div></li>
 
                <li class="dropdown" >
                    <!-- Trigger -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="ic-nav-top"> <span class="ipad-none-v"><img src="images/icon-drop-menu.png" alt="" /></span> </span> </a>
                    <!-- !Trigger -->
                    <!-- List -->
                    <ul class="dropdown-menu">
                        
                        <li>
                            <a href="#">*Agenda</a>
                        </li>
                        <li>
                            <a href="#/">Cat&aacute;logo</a>
                        </li>
                        <li>
                            <a class="hover-state-pointer gren-item-menu" ng-click="checkout(true)">Pagamento</a>
                        </li>
                        <li>
                            <a href="#">*Pedido de Vendas</a>
                        </li>
                        <li>
                            <a href="#/order-list">Resumo de Vendas</a>
                        </li>
                        <li>
                            <a href="#/stock">Estoque</a>
                        </li>
                        <li>
                            <a href="#/products-to-buy">Compras MK</a>
                        </li>
                        <li>
                            <a href="#/receivable">Contas a Receber</a>
                        </li>
                        <li>
                            <a href="#/expense">Contas a Pagar</a>
                        </li>
                        <li>
                            <a href="#/cash-flow">Fluxo de Caixa</a>
                        </li>
                        <li>
                            <a href="#/income-statement">Demonstração Resultado</a>
                        </li>
                        <li>
                            <a href="#/voucher">Vale / Cupom</a>
                        </li>
                        <li>
                            <a href="#">*Cadastro Geral</a>
                        </li>
                        <li>
                            <a href="#">*Meu Cadastro</a>
                        </li>
                        <li>
                            <a class="hover-state-pointer gren-item-menu" ng-click="openDialogChangePass()">Trocar Senha</a>
                        </li>
                    </ul>
                </nav>
				<!-- List -->
			</li>
		</ul>
		

	</div>

  <!-- remove from production -->
  <div class="dev-menu" ng-controller="DevelopmentHeaderCtrl" style="font-size:10px; position:absolute; top:0; right:-50px;">
    <!-- Trigger -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:gray;">dev</a>

    <!-- List -->
    <ul class="dropdown-menu">
      <li>
          <a class="hover-state-pointer" ng-click="openDialogChooseCustomer()">choose-customer</a>
      </li>
      <li>
          <a class="hover-state-pointer" ng-click="openDialogInputProducts()">input-products</a>
      </li>
      <li>
          <a href="#/partial-delivery">partial-delivery</a>
      </li>
      <li>
          <a href="#/pending-delivery">pending-delivery</a>
      </li>
      <li>
          <a href="#/previous-entries">previous-entries</a>
      </li>
      <li>
          <a href="#/products-to-buy">products-to-buy</a>
      </li>
      <li>
          <a href="#/income-statement">income-statement</a>
      </li>
      <li>
        <a class="hover-state-pointer" ng-click="toggleMerchant()">toggle-merchant : {{gopay.merchant}}</a>
      </li>
      <li>
        <a class="hover-state-pointer" ng-click="toggleInternetConnectivity()">toggle-internet : {{envFlags.internet}}</a>
      </li>
       <li>
          <a href="#/login">login</a>
      </li>
    </ul>
  </div>

</div>

