<style>
  .progress {
    background: #333;
  }

  .progress .bar {
    background: rgb(191, 30, 98);
  }

  .progress .bar span {
    margin: 0 1em;
  }
</style>

<div id="sacred">
  <div class="modal-body">
    <div class="progress">
      <div class="bar"  role="progressbar"
          aria-valuenow="{{ progress.current }}"
          aria-valuemin="0"
          aria-valuemax="{{ progress.total }}"
          style="width: {{ progress.relative * 100 }}%;">
          <span>{{ progress.message }}</span>
      </div>
    </div>
  </div>
</div>
