<div ng-controller="ReceivableSearchCtrl">
    <!-- DATE INTERVAL -->
    <div class="row-fluid filter-bar">
        <span class="span3">
            <div class="controls">
                <div class="control-group lbl-top">
                    <div class="controls">
                        Per&iacute;odo 
                        <input
                            type="text"
                            placeholder=""
                            show-weeks="false"
                            datepicker-popup="dd/MM/yy"
                            class="date-field input-small"
                            readonly
                            required
                            id="dtInitial"
                            ng-model="dtInitial">
                    </div>
                </div>
                <div class="control-group lbl-top">
                    <label for="dtInitial" class="ic-calendar hover-state-pointer calendar-financial">
                        <img src="images/icons/ic-calendar.png">
                    </label>
                </div>
            </div>
        </span> 
        <span class="span2">
            <div class="controls">
                <div class="control-group lbl-top">
                    <div class="controls">
                        <input
                            type="text"
                            placeholder=""
                            show-weeks="false"
                            datepicker-popup="dd/MM/yy"
                            class="date-field input-small"
                            readonly
                            required
                            id="dtFinal"
                            ng-model="dtFinal">
                    </div>
                </div>
                <div class="control-group lbl-top">
                    <label for="dtFinal" class="ic-calendar hover-state-pointer calendar-financial">
                        <img src="images/icons/ic-calendar.png">
                    </label>
                </div>
            </div>
        </span> 
        <span class="span7"> 
            <input type="checkbox" id="filter-bar-checkbox" value="todos">
            <span class="txtpad filter-bar-check">todos os valores em aberto at&eacute; {{dtInitial | date:"dd/MM/yyyy 'às' HH:mm:ss"}}</span>
        </span>
    </div>

    <!-- FILTER -->
    <div class="row-fluid filter-bar">
        <div class="txtpad filtro">Filtro</div>
        <div class="input-append input-search span4 marginl0">
            <input
                class="input-xlarge"
                id="appendedInput"
                type="text"
                ng-model="query"
                id="query"
                placeholder=""> 
            <span class="add-on">
                <i class="icon-search"></i>
            </span>
        </div>

        <div class="span6 txtpad">({{receivables.filtered.length || 0}} {{receivables.filtered.length === 1 ? 'item' : 'itens'}})</div>
    </div>


    <div class="clearfix"></div>


    <!-- DATAGRID -->
    <div class="row-fluid">
        <div class="grid-receivable">
            <div class="header">
                <div class="grid-receivable">
                    <span class="col-0">
                    <div> Item </div>
                    </span>
                    <span class="col-1">
                    <div> ID </div>
                    </span>
                    <span class="col-2">
                    <div> Data</div>
                    </span> 
                    <span class="col-3">
                    <div> Classifica&ccedil;&atilde;o </div>
                    </span> 
                    <span class="col-4">
                    <div> Contas a pagar / Observa&ccedil;&atilde;o </div>
                    </span> 
                    <span class="col-5">
                    <div> Vencto </div>
                    </span> 
                    <span class="col-6">
                    <div> Valor </div>
                    </span> 
                    <span class="col-7">
                    <div> &nbsp; </div>
                    </span> 
                </div>
            </div>

            <div class="subtitle">
                <div class="grid-receivable">
                    <span class="col-0">
                        <div>{{receivables.filtered.length}}</div>
                    </span>
                    <span class="col-1">
                    <div> &nbsp; </div>
                    </span>
                    <span class="col-2">
                    <div> &nbsp; </div>
                    </span> 
                    <span class="col-3">
                    <div> &nbsp; </div>
                    </span> 
                    <span class="col-4">
                    <div> &nbsp; </div>
                    </span> 
                    <span class="col-5">
                    <div> Total </div>
                    </span> 
                    <span class="col-6">
                        <div>{{receivablesTotal | currency:''}}</div>
                    </span> 
                    <span class="col-7">
                    <div> &nbsp; </div>
                    </span> 
                </div>
            </div>
            
            <div class="scroll-receivable">
                <div class="row-receivable" ng-repeat="receivable in receivables.filtered"> 
                    <span class="col-0">
                        <div>{{$index + 1}}</div>
                    </span>
                    <span class="col-1">
                        <div>{{receivable | uuidCode}}</div>
                    </span> 
                    <span class="col-2">
                        <div>{{receivable.created | date:"dd/MM/yyyy"}}</div>
                    </span> 
                    <span class="col-3">
                        <div>{{receivable.type}}</div>
                    </span> 
                    <span class="col-4">
                        <div>{{receivable.entityName}}</div>
                    </span> 
                    <span class="col-5">
                        <div>{{receivable.duedate | date:"dd/MM/yyyy"}}</div>
                    </span> 
                    <span class="col-6">
                        <div>{{receivable.amount | currency:''}}</div>
                    </span> 
                    <span class="col-7">						
                        <!--somente para a tela de baixa-->
                        <!--<div><input type="checkbox" id="filter-bar-checkbox" value="todos"></div>-->
                        
                        <!--somente para a tela de adicionar/editar-->
                        <!--<div class="hover-state-pointer">
                            <img src="images/del-pink.png" alt="" ng-click="removeCheck(payment)" />
                        </div>-->
                    </span> 
                </div>
            </div>
        </div>
    </div>
    <!-- DataGrid end -->

</div>
