<div class="row-fluid receivable-write-left">
	<div class="row-fluid">
		<span class="span3">
			<div class="control-group">
				<label class="control-label">Data</label>
				<input type="text" 
					id="date" class="date-field input-block-level" maxlength="10" 
					datepicker-popup="dd/MM/yyyy" show-weeks="false" 
					ng-model="selectedReceivable.created" 
					required readonly disabled>
					
			</div>
		</span>
		
		<span class="span8">
			<div class="control-group">
				<label class="control-label">Conta a receber</label>
				<div class="input-append input-width-bills w98porc">
					<input class="input-block-level hover-state-pointer"
						id="appendedInput" type="text" ng-model="selectedReceivable.entityName" disabled>
					<span ng-click="openDialogChooseCustomer()" class="add-on">+</span>
				</div>
			</div>
		</span>
	</div>
	<div class="row-fluid">
		<span class="span11 w550">
			<div class="control-group">
				<label class="control-label">Observa&ccedil;&atilde;o</label>
				<input name="date"
					class="input-block-level" type="text" placeholder=""
					ng-model="selectedReceivable.remarks" required>
			</div>
		</span>
	</div>
	<div class="row-fluid">
		<span class="span3">
			<div class="control-group">
				<label class="control-label">Documento</label>
				<!--<input name="doc"
					class="input-block-level" type="text" placeholder=""
					ng-model="document.label" required>-->
				<div class="input-append input-width-bills w80porc">
					<input class="input-block-level hover-state-pointer"
						id="appendedInput" type="text" ng-model="selectedReceivable.order.document" disabled>
					<span ng-click="" class="add-on">+</span>
				</div>
			</div>
		</span>
		
		<span class="span3">
			<div class="control-group">
				<label class="control-label">Nro Docto</label>
				<!-- document.number -->
					<input class="input-block-level hover-state-pointer"
						id="numberdoc" type="text" ng-model="selectedReceivable.order.uiidCode"
						ng-click="" disabled>
			</div>
		</span>
		
		<span class="span5">
			<div class="control-group ">
				<label class="control-label">Classifica&ccedil;&atilde;o</label>
					<!--<input class="input-block-level hover-state-pointer"
						id="rating" type="text" ng-model="receivable.type"
						ng-click="" disabled>-->
					<div class="input-append input-width-bills">
					<input class="input-block-level hover-state-pointer"
						id="appendedInput" type="text" ng-model="selectedReceivable.classification" disabled>
					<span ng-click="" class="add-on">+</span>
				</div>
			</div>
		</span>
	</div>
	<div class="row-fluid">
		<span class="span3">
			<div class="control-group ">
				<label class="control-label">Valor</label>
				<input name="amount"
					class="input-block-level" type="text" placeholder=""
					ng-model="selectedReceivable.amount" required currency disabled>
			</div>
		</span>	
		<span class="span2">
			<div class="control-group ">
				<label class="control-label">Nro Parc.</label>
					<input class="input-block-level hover-state-pointer"
						id="installments" type="text" ng-model="selectedReceivable.installments.length"
						ng-click="" disabled>
			</div>
		</span>	
		<span class="span4">
			<div class="control-group ">
				<label class="control-label">Vencto 1a. parc.</label>
					<!--<input class="input-block-level hover-state-pointer" ng-model="receivable.duedate"
						ng-click="" disabled>-->
					<input type="text" id="vencto" class="date-field input-block-level" maxlength="10" datepicker-popup="dd/MM/yyyy" show-weeks="false" ng-model="selectedReceivable.installments[0].duedate" required readonly onkeyup="checkInputKeyUp(this)">
			</div>
		</span>	
		<!-- <span class="span2">
			<div class="control-group">
				<a class="btn btn-open margint19" ng-click="">Ver parcela</a>
			</div>
		</span> -->
	</div>
</div>
<div class="row-fluid receivable-write-right display-none">
	<div class="clearfix"></div><hr />
	<button ng-click="clearSelectedReceivable()" class="btn btn-cancel btn-large btn-login" type="submit">
		Cancelar
	</button>
	<button ng-click="comfirmUpdate()" class="btn-large btn btn-ok btn-login pull-right" type="submit">
		Confirmar
	</button>
</div>