<div class="receivable-details">
	<div class="row-fluid">
		
		<span class="new-col-3">
			<div class="control-group">
				<label class="control-label">Classifica&ccedil;&atilde;o</label>
				<select ui-select2="select2Options" tnt-select2 class='select-client' ng-model="selectedClassification" disabled>
					<option value="{{class.id}}" ng-repeat="class in classifications">{{class.description}}</option>
				</select>
			</div>
		</span>
		<span class="new-col-4">
			<div class="control-group">
				<label class="control-label">Forma de Pagamento</label>
				<select ui-select2="select2Options" tnt-select2 class='select-client' ng-model="paymentSelected.id" ng-disabled="paymentSelected.id ==2 || selectedReceivable.status==='Recebido'">
					<option value="" ng-hide="true"></option>
					<option value="{{paymentType.id}}" ng-repeat="paymentType in paymentsType">{{paymentType.describe}}</option>
				</select>
			</div>
			
		</span>
		
		<span class="new-col-3">
			<div class="control-group">
				<label class="control-label">Vencto</label>
				<input type="text" id="vencto" class="date-field input-block-level" maxlength="10" min="TODAY" datepicker-popup="dd/MM/yyyy" show-weeks="false" ng-model="selectedReceivable.duedate" readonly onkeyup="checkInputKeyUp(this)">
			</div>
		</span>	

		<span class="new-col-4">
			<div class="control-group">
				<label class="control-label">Valor</label>
				<input name="amount"
				class="input-block-level currency" type="text" placeholder=""
				ng-model="selectedReceivable.amount" required currency disabled>
			</div>
		</span>	

		<span class="new-col-3" >
			<div class="control-group">
				<label class="control-label">Acréscimo</label>
				<input id="extra" type="text" class="input-block-level currency" ng-model="aditionalInfo.extra" currency ng-disabled="disable.extra" >
			</div>
		</span>	
		<span class="new-col-3">
			<div class="control-group">
				<label class="control-label">Desconto</label>
				<input id="discount" type="text" class="input-block-level currency" ng-model="aditionalInfo.discount" currency ng-disabled="disable.discount">
			</div>
		</span>	

		<span class="new-col-4">
			<div class="control-group">
				<label class="control-label">Total</label>
				<input name="amount"
				class="input-block-level currency" type="text" placeholder=""
				ng-model="total.amount" required currency disabled>
			</div>
		</span>	
	</div>
	
	<!-- ****************** -->
	<!-- CHECK STUFF        -->
	<!-- ****************** -->
	<div class="row-fluid">
		<div class="new-col-15">
			<div ng-show="showCheckFields">
			<span class="new-col-6 padding-left-0">
				<div class="control-group">
					<label class="control-label">Banco</label>
					<input id="bank" name="bank" ng-model='check.bank' class="input-block-level" required maxlength="3" type="text">
				</div>
			</span>

			<span class="new-col-6">
				<div class="control-group">
					<label class="control-label">Agência</label>
					<input id="branch" name="branch" ng-model='check.branch' class="input-block-level" required maxlength="4" type="text">
				</div>
			</span>

			<span class="new-col-6">
				<div class="control-group">
					<label class="control-label">Conta</label>
					<input id="account" name="account" ng-model='check.account' class="input-block-level" required maxlength="13" type="text">
				</div>
			</span>

			<span class="new-col-6 padding-right-0">
				<div class="control-group">
					<label class="control-label">Cheque</label>
					<input id="check" name="check" ng-model='check.check' class="input-block-level" required maxlength="6" type="text">
				</div>
			</span>
		</div>
		</div>
		
		<div class="new-col-9 pull-right">
			<spinner-button spinner-promise="liquidateReceivable()" ng-show="selectedReceivable.status==='A Receber'" class="btn-large btn btn-ok pull-right margin-left-10" type="submit">{{buttonText}}</spinner-button>
		</div>
	</div>
</div>