<div id="sacred">

	<div class="modal-head">E-mail(s)</div>

	<div class="modal-body">
		<form class="form" name="newEmailForm">
			<div class="fields">

				<div class="row">
					<div class="col-24">
						<div class="input-append">
				        	<label>Adicione E-mails</label>
							<input ng-model="email.address" id="appendedInput" type="email"  ng-pattern="emailRegex" autofocus lower-case class="add-email">
				            <span ng-click='addEmail(email)' class="add-on">+</span>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-24">
						<div class="scroll-box">
							<div ng-repeat="item in emails" class="email-line">

								<div class="col-18">
									<div>{{item.address}}</div>
								</div>
								<div class="col-2">
									<div class="ic-sort-triangle" ng-click='moveDown($index)' ng-hide="$last">
										<img src="images/ic-sort-triangle-down-pink.png" alt="" />
									</div>
								</div>
								<div class="col-2">
									<div class="ic-sort-triangle" ng-click='moveUp($index)' ng-hide="$first">
										<img src="images/ic-sort-triangle-up-pink.png" alt="" />
									</div>
								</div>
								<div class="col-2">
									<div class="ic-sort-triangle" ng-click='remove($index)'> <img src="images/del-pink.png" alt="" />
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>
		</form>
	</div>

	<div class="modal-foot">
		<hr />
		<button class="button-black pull-left" type="button" ng-click='cancel()'>Fechar</button>
		<button class="button-green pull-right" type="button" ng-click='confirm()' ng-disabled="isDisabled" >Salvar</button>
	</div>
</div>