<div class="container">
	<form class="form-add-tel" name="newPhoneForm">
		<span class="heading-gradient">TELEFONES</span>

		<div class="row-fluid">
			<span class="span5"> 
			<select class='customer-tel-type'
				ui-select2 ng-model="phone.type">
					<option ng-repeat="type in dataProvider.phone.types"
						value="{{type}}">{{type}}</option>
			</select>

			</span>
			<span class="span7">
				<div class="input-append add-cusomer-input-tels">
					<input class="input-block-level" ng-model="phone.number"
						id="appendedInput" type="text" autofocus phone required> <span
						ng-click='addPhone(phone)' class="add-on">+</span>
				</div>
			</span>
		</div>
		<div class="row-fluid">
			<span class="scroll-tels"> 
				<span class="row-data-dialog"
				ng-repeat="item in phones"> <span class="span3">{{item.type}}:</span>
					<span class="span6">{{item.number | phone}}</span> <span
					class="span1"> <span class="ic-sort-triangle"
						ng-click='moveDown($index)' ng-hide="$last"> <img
							src="images/ic-sort-triangle-down-pink.png" alt="" />
					</span>
				</span> <span class="span1"> <span class="ic-sort-triangle"
						ng-click='moveUp($index)' ng-hide="$first"> <img
							src="images/ic-sort-triangle-up-pink.png" alt="" />
					</span>
				</span> <span class="span1"> <span class="ic-sort-triangle"
						ng-click='remove($index)'> <img src="images/del-pink.png"
							alt="" />
					</span>
				</span>
			</span>
			</span>
		</div>
		<div class="clearfix"></div>
		<hr />
		<button class="btn btn-large btn-cancel" type="submit"
			ng-click='closeDialog()'>Voltar</button>
		<button class="btn btn-large btn-ok pull-right" type="submit"
			ng-click='submitDialog()'>Adicionar</button>
	</form>
</div>
