<div id="sacred">

	<div class="modal-head">Telefone(s)</div>

	<div class="modal-body">
		<form class="form" name="newPhoneForm">
			<div class="fields">

				<div class="row">
					<div class="col-11">
						<select class='customer-tel-type' ng-model="phone.type">
							<option ng-repeat="type in phoneTypes" value="{{type}}">{{type}}</option>
						</select>
					</div>

					<div class="col-13">
						<div class="input-append">
							<input ng-model="phone.number" id="appendedInput" type="text" autofocus phone> 
							<span ng-click='addPhone(phone)' class="add-on">+</span>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-24">
						<div class="scroll-box">
							<div ng-repeat="item in phones" class="phone-line">

								<div class="col-6">{{item.type}}:</div>
								<div class="col-12">{{item.number | phone}}</div> 
								<div class="col-2"> 
									<div class="ic-sort-triangle" ng-click='moveDown($index)' ng-hide="$last"> 
										<img src="images/ic-sort-triangle-down-pink.png" alt="" />
									</div>
								</div> 
								<div class="col-2"> 
									<div class="ic-sort-triangle" ng-click='moveUp($index)' ng-hide="$first"> 
										<img src="images/ic-sort-triangle-up-pink.png" alt="" />
									</div>
								</div> 
								<div class="col-2"> 
									<div class="ic-sort-triangle" ng-click='remove($index)'> 
										<img src="images/del-pink.png" alt="" />
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>
		</form>
	</div>

	<div class="modal-foot">
		<hr />
		<button class="button-black pull-left" type="button" ng-click='cancel()'>Fechar</button>
		<button class="button-green pull-right" type="button" ng-click='confirm()' ng-disabled="isDisabled" >Salvar</button>
	</div>
</div>