<div class="modal-head">Conta Expirada</div>

<div class="modal-body">

Ol&aacute; Consultora! Seu per&iacute;odo de assinatura de 12 meses (Plano Blush) acaba de terminar. Esperamos que esteja adorando toda a mobilidade e independ&ecirc;ncia que o VPink proporciona ao seu trabalho. Para continuar fazendo parte da nova gera&ccedil;&atilde;o de consultoras de Beleza Mary Kay, &eacute; preciso renovar a sua assinatura! Voc&ecirc; quer continuar por mais 12 meses com desconto especial?

<br/><br/>

<center><button ng-click="selectPlan('BLUSH')" class="btn btn-ok btn-login" type="submit">Sim! Quero continuar no Plano Blush<br/>(12 meses) com desconto!</button></center>

<br/>

</div>

<div class="modal-foot">
    <hr />
    <button ng-click='cancel()' class="btn btn-cancel btn-large btn-login"  type="submit">Cancelar</button>
    <button ng-click="selectPlan('GLOSS')" class="btn btn-ok btn-large btn-login pull-right" type="submit">N&atilde;o, quero regredir para o <br/>Plano Gloss (6 meses)</button>
</div>