<div class="modal-head">Conta Expirada</div>

<div class="modal-body">

Ol&aacute; Consultora! Seu per&iacute;odo de assinatura de 6 meses (Plano Gloss) acaba de terminar. Esperamos que esteja adorando toda a mobilidade e independ&ecirc;ncia que o VPink proporciona ao seu trabalho. Para continuar fazendo parte da nova gera&ccedil;&atilde;o de consultoras de Beleza Mary Kay, &eacute; preciso renovar a sua assinatura! Que tal j&aacute; garantir o VPink pelos pr&oacute;ximos 12 meses com desconto especial? Selecione a op&ccedil;&atilde;o abaixo:

<br/><br/>

<center><button ng-click="selectPlan('BLUSH')" class="btn btn-ok btn-login" type="submit">Quero o Plano Blush (12 meses)<br/>com desconto!</button></center>

<br/>

</div>

<div class="modal-foot">
    <hr />
    <button ng-click='cancel()' class="btn btn-cancel btn-large btn-login"  type="submit">Cancelar</button>
    <button ng-click="selectPlan('GLOSS')" class="btn btn-ok btn-large btn-login pull-right" type="submit">Continuar no Plano Gloss (6 meses)</button>
</div>