<div class="modal-head">Cart&atilde;o de Cr&eacute;dito – Assinatura VPink</div>
<div class="modal-body">
	Ol&aacute; Empres&aacute;ria de Beleza! 
	<br/><br/>
	Voc&ecirc; ser&aacute; redirecionada para realizar o pagamento com cart&atilde;o de cr&eacute;dito. Por favor preencha os dados a seguir utilizando o e-mail {{consultant.email}}.
	<br/><br/>
</div>
<div class="modal-foot">
    <hr />    
    <button ng-click="verifyIfMustRedirectLoginPage()" ng-style="{'width':'200px'}" class="btn btn-cancel btn-large btn-login" type="submit">Cancelar</button>
    <button ng-click='confirmPaymentWithCC()' ng-style="{'width':'200px'}" class="btn btn-ok btn-large btn-login pull-right" type="submit">Continuar Pagamento</button>
</div>