<div class="modal-head">Cart&ccedil;o de Cr&eacute;dito – Assinatura VPink</div>

<div class="modal-body">

Ol&aacute; Consultora, voc&ecirc; ser&aacute; redirecionada para realizar o pagamento com cart&ccedil;o de cr&eacute;dito. Favor preencher os dados utilizando o mesmo e-mail do cadastrado no VPink.

</div>

<div class="modal-foot">
    <hr />    
    <button ng-click='redirectToVPCommerce()' class="btn btn-ok btn-large btn-login pull-right" type="submit">Continuar Pagamento</button>
</div>