<div class="modal-head">Assinatura VPink</div>
<div ng-switch="subscriptionCloseToExpirationDate()">
   <div class="modal-body">
      <div ng-switch-when="false">
         <p ng-style="{'text-align': 'justify'}">
            Ol&aacute; Empres&aacute;ria de Beleza! O seu per&iacute;odo de 7 dias de testes expirou!<br/>
            Conte com todos os benef&iacute;cios do VPink e tenha acesso ao conte&uacute;do exclusivo para assinantes!<br/>
            <br/>
            Para efetuar sua assinatura, entre em contato com a Equipe VPink pelo telefone (11) 4063-7650 ou pelo Chat Online no site <a href="http://www.vpink.vc">www.vpink.vc</a>.
         </p>
      </div>
      <div ng-switch-when="true">
         <p ng-style="{'text-align': 'justify'}">
            <div ng-show="numberOfDaysToExpiration !== 0">
               Ol&aacute; Empres&aacute;ria de Beleza! Falta(m) {{numberOfDaysToExpiration}} dia(s) para o seu per&iacute;odo de 7 dias de testes expirar!<br/>
            </div>
            <div ng-show="numberOfDaysToExpiration === 0">
               Ol&aacute; Empres&aacute;ria de Beleza! O seu per&iacute;odo de 7 dias de testes vai expirar hoje!<br/>
            </div>
               Conte com todos os benef&iacute;cios do VPink e tenha acesso ao conte&uacute;do exclusivo para assinantes!<br/>
            <br/>
            Para efetuar sua assinatura, entre em contato com a Equipe VPink pelo telefone (11) 4063-7650 ou pelo Chat Online no site <a href="http://www.vpink.vc">www.vpink.vc</a>.
         </p>
      </div>
   </div>
   <div class="modal-foot">
      <hr />
      <div ng-switch-when="false">
         <button ng-click="verifyIfMustRedirectLoginPage()" class="btn btn-cancel btn-large btn-login" type="submit">Cancelar</button>
      </div>
      <div ng-switch-when="true">
         <button ng-click="verifyIfMustRedirectLoginPage()" class="btn btn-cancel btn-large btn-login" type="submit">Assinar Depois</button>
      </div>
   </div>
</div>
