<div class="modal-head">Conta Expirada</div>
<div class="modal-body">
   <p style="text-align: justify;">
		Ol&aacute; Consultora! 
		<br/><br/>	
		Seu per&iacute;odo de assinatura de 06 meses (Plano Gloss) acaba de terminar. Esperamos que esteja adorando toda a mobilidade e independ&ecirc;ncia que o VPink proporciona ao seu trabalho. Para continuar fazendo parte da nova gera&ccedil;&atilde;o de consultoras de beleza, &eacute; preciso renovar a sua assinatura! 
		<br/><br/> 
		Voc&ecirc; quer continuar por mais 12 meses com desconto especial?
   </p>
   <br/>
   <center>
      <div class="row-fluid">
         <div class="new-col-18">
            <div class="control-group">
               <label class="control-label">Forma de Pagamento</label>
               <select ng-model="paymentTypeSubscription" style="width: 148px">
                  <option value="PAYMENT_TYPE_CC"> Cart&atilde;o de C&eacute;dito </option>
                  <option value="PAYMENT_TYPE_BILLET"> Boleto </option>
               </select>
            </div>
         </div>
      </div>
      <div class="row-fluid">
         <div class="new-col-18">
            <div class="control-group">
               <button ng-click="continuePaymentFlow('BLUSH')" class="btn btn-ok btn-login" type="submit">
               Sim! Quero continuar no&nbsp&nbsp </br> Plano Blush (12 meses) com desconto!               
               </button>
               <button ng-click="continuePaymentFlow('GLOSS')" class="btn btn-ok btn-login" type="submit">
               N&atilde;o, quero regredir para o </br> Plano Gloss (06 meses) sem desconto!
               </button>
            </div>
         </div>         
      </div>
   </center>
</div>
<div class="modal-foot">
   <hr />
   <button ng-click="cancel()" class="btn btn-cancel btn-large btn-login" type="submit">Cancelar</button>
</div>