<div class="modal-head">Conta Expirada</div>

<div class="modal-body">

Ol&aacute; Consultora, o seu per&iacute;odo de 7 dias de testes terminou! Voc&ecirc; esta pronta para fazer parte da nova gera&ccedil;&atilde;o de consultoras Mary Kay? Basta clicar na op&ccedil;&atilde;o "Ativar Conta" para escolher o seu plano e continuar a utilizar o VPink

</div>

<div class="modal-foot">
    <hr />
    <button ng-click='cancel()' class="btn btn-cancel btn-large btn-login"  type="submit">Cancelar</button>
    <button ng-click='openPaymentScreen()' class="btn btn-ok btn-large btn-login pull-right" type="submit">Ativar Conta</button>
</div>