<div class="modal-head">Assinatura VPink</div>
<div class="modal-body">
   <p ng-style="{'text-align': 'justify'}">
      Ol&aacute; Empres&aacute;ria de Beleza! O seu per&iacute;odo de assinatura de 12 meses (Plano Blush) terminou!<br/>
		Selecione uma das op&ccedil;&otilde;es abaixo e renove j&aacute; sua assinatura!
   </p>
   <br/>
   Forma de Pagamento
   <select ng-model="paymentTypeSubscription" ng-style="{'margin-left': '20px', 'width': '200px'}">
      <option value="PAYMENT_TYPE_CC"> Cart&atilde;o de C&eacute;dito </option>
      <option value="PAYMENT_TYPE_BILLET"> Boleto </option>
   </select>
   </br>
   </br>
   <center>      
      <button ng-click="continuePaymentFlow('BLUSH')" class="btn btn-ok btn-login" type="submit" ng-style="{'width': '227px'}">
      Continuar no Plano Blush </br> (12 meses) com desconto!
      </button>
      <button ng-click="continuePaymentFlow('GLOSS')" class="btn btn-ok btn-login" type="submit" ng-style="{'width': '227px'}">
      Quero o Plano Gloss </br> (6 meses)
      </button>            
   </center>
</div>
<div class="modal-foot">
   <hr />
   <button ng-click="cancel()" class="btn btn-cancel btn-large btn-login" type="submit">Cancelar</button>
</div>  