<div class="content product-to-deliver">
    <span ng-include src="'views/mobile/neo/parts/search.html'"></span>

    <div class="grid-header">
        <div class="row">
            <div class="col-xs-8">
                Pedido
            </div>
            <div class="col-xs-4 center">
                Entregar
            </div>
        </div>
    </div>
    <div class="grid scroll">
        <div class="row grid-row">
            <div class="col-xs-8 composite-grid-cell">
                <div class="order-info">27/02/2014 - 0002-20-14</div>
                <div class="order-name">Valtanette de Paula</div>
            </div>
            <div class="col-xs-4">
                <div class="value">
                    1
                </div>
            </div>
        </div>
    </div>
</div>
