<div class="container" id="neo">
    <div class="header">

    </div>
    <div class="content product-delivery">
        <div class="title">
            <div>Entrega de Produtos</div>
        </div>

        <div class="control">

            <div class="row page-control">
                <div class="col-xs-12">
                    <div class="btn-group btn-group-justified">
                      <a href="" class="btn btn-default">Pedidos a Entregar</a>
                      <a href="" class="btn btn-default">Pedidos Entregues</a>
                  </div>
              </div>
          </div>
      </div>

      <span ng-include src="'views/mobile/neo/parts/search.html'"></span>

      <div class="grid-header">
        <div class="row">
            <div class="col-xs-9">
            Pedido
            </div>
            <div class="col-xs-3 center">
            Entregar
            </div>
        </div>
    </div>
    <div class="grid scroll">

        <div class="row grid-row">
            <div class="col-xs-9 composite-grid-cell">
                <div class="order-info">27/02/2014 - 0002-20-14</div>
                <div class="order-name">Valtanette de Paula</div>
            </div>
            <div class="col-xs-3">
                <div class="value">
                    1
                </div>
            </div>
        </div>





    </div>
</div>
</div>