<div class="container" id="neo">
    
    <span ng-include src="'views/mobile/neo/parts/header.html'"></span>

    <div class="content product-delivered">
        <div class="title">
            <div>Entrega de Produtos</div>
        </div>

        <div class="control">

            <div class="row page-control">
                <div class="col-xs-12">
                    <div class="btn-group btn-group-justified">
                      <a href="" class="btn btn-default">Pedidos a Entregar</a>
                      <a href="" class="btn btn-default">Pedidos Entregues</a>
                  </div>
              </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
                <label for="date-start">Data Inicial</label>
                <input id="date-start" class="form-control" placeholder="01/08/2014">
            </div>
            <div class="col-xs-6">
                <label for="date-end">Data Inicial</label>
                <input id="date-end" class="form-control" placeholder="01/08/2014">
            </div>
        </div>
    </div>

    <span ng-include src="'views/mobile/neo/parts/search.html'"></span>

    <div class="grid-header">
        <div class="row">
            <div class="col-xs-9">
                Pedido
            </div>
            <div class="col-xs-3 center">
                Entregues
            </div>
        </div>
    </div>
    <div class="grid scroll">

        <div class="row grid-row">
            <div class="col-xs-9 composite-grid-cell">
                <div class="order-info">27/02/2014 - 0002-20-14</div>
                <div class="order-name">Valtanette de Paula</div>
            </div>
            <div class="col-xs-3">
                <div class="value">
                    3 de 3
                </div>
            </div>
        </div>
    </div>
<!--     <div class="footer">
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary">Voltar</button>                    
            </div>
        </div>
    </div> -->
</div>
</div>