<div class="content product-to-deliver">
    <span ng-include src="'views/mobile/neo/parts/search.html'"></span>

    <div class="grid-header">
        <div class="row">
            <div class="col-xs-8">
                Pedido
            </div>
            <div class="col-xs-4 center">
                Entregar
            </div>
        </div>
    </div>
    <div class="grid scroll">
        <div class="row grid-row" ng-repeat="order in toBeDelivered" ng-click="getItems(order)">
            <div class="col-xs-8 composite-grid-cell">
                <div class="order-info">{{order.created | date:'dd/MM/yyyy'}} - {{order | uuidCode}}</div>
                <div class="order-name">{{order.customerName}}</div>
            </div>
            <div class="col-xs-4">
                <div class="value">
                    {{order.totalRemaining}}
                </div>
            </div>
        </div>
    </div>
</div>
