/*============================================================
 * DATA-GRID DIALOGS
 * ==========================================================*/
/*DELIVERY DETAILS*/
.grid-delivery-details {
	border-radius: 4px 4px 0 0;
}
.scroll-delivery-details-grid {
	height: 200px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.grid-delivery-details .header {
	background: #ecbab9;
	border-radius: 4px
}
.grid-delivery-details .header span, .grid-delivery-details .scroll-delivery-details-grid  span {
	display: inline-block;
	line-height: 40px;
}
.grid-delivery-details .scroll-delivery-details-grid .row-grid-delivery-details {
	border-bottom: 1px solid #e0e0e0
}
.grid-delivery-details .header .col-1 {
	width: 400px;
	text-align: left
}
.grid-delivery-details .header .col-1 div {
	margin-left: 20px;
}
.grid-delivery-details .header .col-2 {
	width: 75px;
}
.grid-delivery-details .header .col-3 {
	width: 25px;
	text-align: center;
}
.grid-delivery-details .header .col-3 div {
	text-align: center;
}
.row-grid-delivery-details .col-1 {
	width: 400px;
	text-align: left;
	margin-right:10px
}
.row-grid-delivery-details .col-1 div {
	margin-left: 20px;
    white-space:nowrap;

}

.grid-delivery-details .col-2 {
	width: 100px;
}
.scroll-delivery-details-grid .col-2 div{
	margin-right:70px;
	text-align:center;
}
.grid-delivery-details .col-3 {
	width: 25px;
	text-align: center
}
.grid-delivery-details .col-3 div {
	text-align: center
}
.grid-delivery-details .col-4 {
	width: 22px;
	float: right;
	margin-right: 20px
}
.total-value-delivery-details {
	float: right;
	margin-top: 20px;
	text-align: right;
}
/*=================== END DELIVERY DETAILS ===================*/

/*================== INPUT PRODUCTS ==================*/

.grid-input-products {
	border-radius: 4px 4px 0 0;
}
.scroll-input-products-grid {
	height: 200px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.grid-input-products .header {
	background: #ecbab9;
	border-radius: 4px
}
.grid-input-products .header span, .grid-input-products .scroll-payment-grid  span {
	display: inline-block;
	line-height: 40px;
}
.grid-input-products .scroll-payment-grid .row-input-products-grid {
	border-bottom: 1px solid #ccc
}
.grid-input-products .scroll-input-products-grid .row-input-products-grid {
	border-bottom: 1px solid #e0e0e0;
	line-height: 40px
}
.grid-input-products .header .col-1 {
	width: 210px;
}
.grid-input-products .header .col-1 div {
	margin-left: 20px
}
.grid-input-products .header .col-2 {
	width: 100px
}
.grid-input-products .header .col-2 div {
	text-align: right
}
.grid-input-products .header .col-3 {
	width: 110px;
}

.grid-input-products .header .col-3 div {
	text-align: center;
}
.scroll-input-products-grid .col-1 {
	width: 230px;
	display: inline-block;
	white-space: nowrap;
}
.scroll-input-products-grid .col-1 div {
	margin-left: 20px;
    white-space:nowrap;
}
.scroll-input-products-grid .col-2 {
	width: 80px;
	display: inline-block;
}
.scroll-input-products-grid .col-2 div {
	text-align: right
}
.scroll-input-products-grid .col-3 {
	width: 110px;
	display: inline-block;
}
.scroll-input-products-grid .col-3 div {
	text-align: center
}
.scroll-input-products-grid .col-4 {
	display: inline-block;
	width: 20px
}
/*=============== END INPUT PRODUCTS =====================*/

/*=============== PAYMENT CHECK =====================*/
.header .row-payment-check-grid {
	margin-left: 20px
}
.scroll-payment-grid {
	height: 200px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.grid-payment-check .header {
	background: #ecbab9;
	border-radius: 4px
}
.grid-payment-check .header span, .grid-payment-check .scroll-payment-grid  span {
	display: inline-block;
	line-height: 40px;
}
.grid-payment-check .scroll-payment-grid .row-payment-check-grid {
	border-bottom: 1px solid #e0e0e0
}
.scroll-payment-grid .row-payment-check-grid {
	margin-left: 20px
}
.grid-payment-check .header .col-1 {
	width: 70px;
}
.grid-payment-check .header .col-2 {
	width: 70px;
}
.grid-payment-check .header .col-3 {
	width: 70px
}
.grid-payment-check .header .col-4 {
	width: 70px
}
.grid-payment-check .header .col-5 {
	width: 100px
}
.grid-payment-check .header .col-6 {
	width: 75px;
	text-align: right
}
.scroll-payment-grid .col-1 {
	width: 75px
}
.scroll-payment-grid .col-2 {
	width: 75px
}
.scroll-payment-grid .col-3 {
	width: 75px
}
.scroll-payment-grid .col-4 {
	width: 75px
}
.scroll-payment-grid .col-5 {
	width: 100px
}
.scroll-payment-grid .col-6 {
	width: 90px;
}
.scroll-payment-grid .col-6 {
	text-align: right;
	width: 75px
}
.scroll-payment-grid .col-7 {
	margin-left: 30px
}

/*=============== END PAYMENT CHECK =====================*/

/*=============== PAYMENT CREDIT CARD =====================*/
.grid-payment-credit-card {
	border-radius: 4px 4px 0 0;
}
.scroll-payment-grid {
	height: 200px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.grid-payment-credit-card .header {
	background: #ecbab9;
	border-radius: 4px
}
.grid-payment-credit-card .header span, .grid-payment-credit-card .scroll-payment-grid  span {
	display: inline-block;
	line-height: 40px;
}
.grid-payment-credit-card .scroll-payment-grid .row-payment-credit-card-grid {
	border-bottom: 1px solid #e0e0e0
}
.grid-payment-credit-card .header .col-1 {
	width: 100px;
	text-align: center
}
.grid-payment-credit-card .header .col-2 {
	width: 180px;
	text-align: center
}
.grid-payment-credit-card .header .col-3 {
	width: 120px;
	text-align: center;
}
.row-payment-credit-card-grid .col-1 {
	width: 100px;
	text-align: center
}
.grid-payment-credit-card .col-2 {
	width: 180px;
	text-align: center
}
.grid-payment-credit-card .col-3 {
	width: 120px;
	text-align: center
}
.grid-payment-credit-card .col-4 {
	width: 22px;
	float: right;
	margin-right: 10px !important;
}
.row-payment-credit-card-grid .col-3 div {
	text-align: right
}
.grid-payment-credit-card .header .col-4 {
	width: 15%;
}
.row-payment-credit-card-grid .col-4 {
	float: right;
	margin-right: 5px
}
/*=============== END PAYMENT CREDIT CARD =====================*/

/*=============== PAYMENT PRODUCT EXCHANGE =====================*/

.grid-payment-product-exchange {
	border-radius: 4px 4px 0 0;
}
.scroll-payment-grid {
	height: 200px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.grid-payment-product-exchange .header {
	background: #ecbab9;
	border-radius: 4px
}
.grid-payment-product-exchange .header span, .grid-payment-product-exchange .scroll-payment-grid  span {
	display: inline-block;
	line-height: 40px;
}
.grid-payment-product-exchange .scroll-payment-grid .row-payment-grid-product-exchange {
	border-bottom: 1px solid #e0e0e0
}
.grid-payment-product-exchange .header .col-1 {
	width: 340px;
	text-align: left
}
.grid-payment-product-exchange .header .col-1 div {
	margin-left: 20px;
}
.grid-payment-product-exchange .header .col-2 {
	width: 70px;
	text-align: right
}
.grid-payment-product-exchange .header .col-3 {
	width: 80px;
	text-align: center;
}
.row-payment-grid-product-exchange .col-1 {
	width: 335px;
	
}

.row-payment-grid-product-exchange .col-1 div {
	margin-left: 20px;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

}

.grid-payment-product-exchange .col-2 {
	width: 75px;
	text-align: right
}
.grid-payment-product-exchange .col-2 div{
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
	
}
.grid-payment-product-exchange .col-3 {
	width: 80px;
	text-align: center
}
.grid-payment-product-exchange .col-4 {
	width: 22px;
	float: right;
	margin-right: 10px !important;
}
.row-payment-grid-product-exchange .col-3 div {
	text-align: right
}
.grid-payment-product-exchange .header .col-4 {
	width: 15%;
}
.row-payment-grid-product-exchange .col-4 {
	float: right;
	margin-right: 5px
}
/*=============== END  PAYMENT PRODUCT EXCHANGE =====================*/

/*=============== PAYMENT ADVANCE MONEY ==============================*/
.grid-payment-advance-money {
	border-radius: 4px 4px 0 0;
}
.scroll-payment-grid-advance-money {
	height: 200px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.grid-payment-advance-money .header {
	background: #ecbab9;
	border-radius: 4px
}
.grid-payment-advance-money .header span, .grid-payment-advance-money .scroll-payment-grid-advance-money  span {
	display: inline-block;
	line-height: 40px;
}
.grid-payment-advance-money .scroll-payment-grid-advance-money .row-payment-advance-money {
	border-bottom: 1px solid #e0e0e0
}
.grid-payment-advance-money .header .col-1 {
	width: 40px;
}
.grid-payment-advance-money .header .col-1 input[type="checkbox"] {
	margin-top: -3px
}
.grid-payment-advance-money .header .col-1 div {
	margin-left: 20px
}
.grid-payment-advance-money .header .col-2 {
	width: 100px;
	text-align: left
}
.grid-payment-advance-money .header .col-3 {
	width: 70px;
}
.grid-payment-advance-money .header .col-4 {
	width: 220px;
	display: inline-block;
}

.row-payment-advance-money .col-1 {
	width: 40px;
}
.row-payment-advance-money .col-1 input[type="checkbox"] {
	margin-top: -3px
}
.row-payment-advance-money .col-1 div {
	margin-left: 20px;
}
.grid-payment-advance-money .col-2 {
	width: 100px;
	text-align: left
}
.grid-payment-advance-money .col-3 {
	width: 70px;
	text-align: right
}
.grid-payment-advance-money .col-4 {
	width: 220px;
	text-align: left;
}

.row-payment-advance-money .col-3 div {
	text-align: right
}
.row-payment-advance-money .col-4 div {
	margin-left: 20px
}
/*=============== END PAYMENT ADVANCE MONEY ==========================*/

/*======================================================
 * END DATA-GRID DIALOGS
 * ====================================================*/

/*======================================================
 * DATA-GRID INVENTORY
 * ====================================================*/
.grid-inventory {
	border-radius: 6px 6px 0 0;
}

.grid-inventory .header {
	background: #ecbab9;
	border-radius: 4px;
	margin-top: 5px
}
.grid-inventory .header span, .grid-inventory .scroll-inventory  span {
	display: inline-block;
	line-height: 40px;
}
.grid-inventory .scroll-inventory .row-inventory {
	border-bottom: 1px solid #e0e0e0
}
.grid-inventory .header .col-1 {
	width: 750px;
}
.grid-inventory .header .col-1 input[type="checkbox"] {
	margin-top: -3px
}
.grid-inventory .header .col-1 div {
	margin-left: 20px
}
.grid-inventory .header .col-2 {
	width: 150px;
	text-align: center
}
.grid-inventory .header .col-3 {
	width: 300px;
}
.grid-inventory .header .col-3 div {
	text-align: left
}
.grid-inventory .header .col-4 {
	width: 160px;
	display: inline-block;
}
.grid-inventory .header .col-4 div {
	text-align: right;
	float: right;
	margin-right: 40px
}
.row-inventory .col-1 {
	width: 750px;
}
.row-inventory .col-1 input[type="checkbox"] {
	margin-top: -3px
}
.row-inventory .col-1 div {
	margin-left: 20px;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
	line-height:10px
}
.grid-inventory .col-2 {
	width: 150px;
	text-align: center
}
.grid-inventory .col-3 {
	width: 300px;
}
.grid-inventory .col-3 div {
	text-align: left
}
.grid-inventory .col-4 {
	width: 160px;
	float: right;
}
.grid-inventory .col-4 div {
	float: right;
	text-align: right;
	margin-right: 24px
}

/*====================================================
 * END DATA-GRID INVENTORY
 * =================================================*/

/*============= DATA-GRID ORDER LIST =====================*/
.grid-order-list {
	border-radius: 6px 6px 0 0;
}

.grid-order-list .header {
	background: #ecbab9;
	border-radius: 4px;
	margin-top: 5px
}
.grid-order-list .header span, .grid-order-list .scroll-order-list  span {
	display: inline-block;
	line-height: 40px;
}
.grid-order-list .scroll-order-list .row-order-list {
	border-bottom: 1px solid #e0e0e0
}
.grid-order-list .header .col-1 {
	width: 200px;
}
.grid-order-list .header .col-1 div{
	margin-left:20px;
}
.grid-order-list .header .col-2 {
	width: 150px;
}
.grid-order-list .header .col-3 {
	width: 300px;
}
.grid-order-list .header .col-3 div {
	text-align: left
}
.grid-order-list .header .col-4 {
	width: 160px;
	display: inline-block;
}
.grid-order-list .header .col-4 div {
	text-align: center;
	
}
.grid-order-list .header .col-5 {
	width: 80px;
	display: inline-block;
}
.grid-order-list .header .col-5 {
	text-align:right
}
.scroll-order-list .col-1 {
	width: 200px;
}

.scroll-order-list .col-1 div {
	margin-left: 20px;
}
.scroll-order-list .col-2 {
	width: 150px;
	text-align: left
}
.scroll-order-list .col-3 {
	width: 300px;
	
}
.scroll-order-list .col-3 div {
	text-align: left;
    white-space:nowrap;

}
.scroll-order-list .col-4 {
	width: 160px;
	
}
.scroll-order-list .col-4 div {
	text-align:center;
	
}
.scroll-order-list .col-5 {
	width: 110px;
	float:right;
	
}
.scroll-order-list .col-5 div{
	margin-right:48px;
	text-align:right
}
/*============= END DATA-GRID ORDER LIST =====================*/

/*============= DATA-GRID PARTIAL DELIVERY LEFT =====================*/
.grid-partial-delivery-1 {
	border-radius: 6px 6px 0 0;
	margin-top:15px
}

.grid-partial-delivery-1 .header {
	background: #ecbab9;
	border-radius: 4px;
	margin-top: 5px
}
.grid-partial-delivery-1 .header span, .grid-partial-delivery-1 .scroll-partial-delivery-1  span {
	display: inline-block;
	line-height: 40px;
}
.grid-partial-delivery-1 .scroll-partial-delivery-1 .row-partial-delivery-1 {
	border-bottom: 1px solid #e0e0e0
}
.grid-partial-delivery-1 .header .col-1 {
	width:220px
}
.grid-partial-delivery-1 .header .col-1 div {
	margin-left: 20px;
}

.grid-partial-delivery-1 .header .col-2 {
	width: 70px;
	
}
.grid-partial-delivery-1 .header .col-3 {
	width: 70px;
}
.grid-partial-delivery-1 .header .col-3 div {
	width: 70px;
	text-align: center;
	
}
.grid-partial-delivery-1 .header .col-4 {
	width: 70px;
	display: inline-block;
	
	

}

.grid-partial-delivery-1 .header .col-4 div {
	text-align: center;
	margin-right:20px;

}
.grid-partial-delivery-1 .header .col-5 {
	width: 70px;
}
.grid-partial-delivery-1 .header .col-5 div{
	text-align:center
}
.row-partial-delivery-1 .col-1 {
	width:220px
}
.row-partial-delivery-1 .col-1 div {
	margin-left: 20px;    
	white-space: nowrap;
}

.grid-partial-delivery-1 .col-2 {
	width: 70px;
	
}
.grid-partial-delivery-1 .col-2 div{
	text-align: center;

}
.grid-partial-delivery-1 .col-3 {
	width: 70px;
}
.grid-partial-delivery-1 .col-3 div {
	width: 70px;
	text-align: center;
}
.grid-partial-delivery-1 .col-4 {
	width: 70px;
	

}
.grid-partial-delivery-1 .col-4 div {

	margin-left: 20px;
	text-align:center
}
.grid-partial-delivery-1 .col-5 {
	width: 70px;
}
.grid-partial-delivery-1 .col-5 div{
	text-align:center;
	margin-left:25px
	
}
/*============= END DATA-GRID PARTIAL DELIVERY LEFT =================*/

/*============= DATA-GRID PARTIAL DELIVERY RIGHT =====================*/
.grid-partial-delivery-2 {
	border-radius: 6px 6px 0 0;
	margin-top:10px
}

.grid-partial-delivery-2 .header {
	background: #ecbab9;
	border-radius: 4px;
	margin-top: 5px
}
.grid-partial-delivery-2 .header span, .grid-partial-delivery-2 .scroll-partial-delivery-2  span {
	display: inline-block;
	line-height: 40px;
}
.grid-partial-delivery-2 .scroll-partial-delivery-2 .row-partial-delivery-2 {
	border-bottom: 1px solid #e0e0e0
}
.grid-partial-delivery-2 .header .col-1 {
	width: 100px;
}
.grid-partial-delivery-2 .header .col-1 div {
	margin-left: 20px;
}
.grid-partial-delivery-2 .header .col-1 input[type="checkbox"] {
	margin-top: -3px
}

.grid-partial-delivery-2 .header .col-2 {
	width: 80px;
}
.grid-partial-delivery-2 .header .col-3 {
	width: 80px;
}
.grid-partial-delivery-2 .header .col-3 div {
	width: 80px;
	text-align: center
}
.grid-partial-delivery-2 .header .col-4 {
	width: 80px;
	display: inline-block;
	text-align: center;
}
.grid-partial-delivery-2 .header .col-4 div {
	text-align: center
}
.row-partial-delivery-2 .col-1 {
	width: 100px;
}
.row-partial-delivery-2 .col-1 div {
	margin-left: 20px;
}
.row-partial-delivery-2 .col-1 input[type="checkbox"] {
	margin-top: -3px
}

.grid-partial-delivery-2 .col-2 {
	width: 80px;
	
}
.grid-partial-delivery-2 .col-2 div{
	text-align: center;
}
.grid-partial-delivery-2 .col-3 {
	width: 80px;
}
.grid-partial-delivery-2 .col-3 div {
	text-align: center;
}
.grid-partial-delivery-2 .col-4 {
	width: 160px;
	float: right;
	text-align: left;
}
.grid-partial-delivery-2 .col-4 div {
	float: right;
	margin-right: 80px
}

/*============= END DATA-GRID PARTIAL DELIVERY RIGHT=================*/

/*============= DATA-GRID PREVIOUS ENTRIES =================*/
.grid-previous-entries {
	border-radius: 6px 6px 0 0;
}

.grid-previous-entries .header {
	background: #ecbab9;
	border-radius: 4px;
	margin-top: 5px
}
.grid-previous-entries .header span, .grid-previous-entries .scroll-previous-entries  span {
	display: inline-block;
	line-height: 40px;
}
.grid-previous-entries .scroll-previous-entries .row-previous-entries {
	border-bottom: 1px solid #e0e0e0
}
.grid-previous-entries .header .col-1 {
	width: 120px;
}
.grid-previous-entries .header .col-1 div {
	margin-left: 20px
}
.grid-previous-entries .header .col-2 {
	width: 520px;
}
.grid-previous-entries .header .col-3 {
	width: 80px;
}
.grid-previous-entries .header .col-3 div {
	text-align: center
}
.grid-previous-entries .header .col-4 {
	width: 100px;
	display: inline-block;
}
.grid-previous-entries .header .col-4 div {
	text-align: right;
}
.grid-previous-entries .header .col-5 {
	width: 100px;
	display: inline-block;
	text-align: right;
	margin-right: 16px
}
.grid-previous-entries .col-3 {
	width: 80px;
}
.grid-previous-entries .col-3 div {
	text-align: center
}
.grid-previous-entries .col-4 {
	width: 100px;
}
.grid-previous-entries .col-4 div {
	text-align: right;
	margin-right: 24px
}
.grid-previous-entries .col-5 {
	width: 100px;
	float: right
}
.grid-previous-entries .col-5 div {
	text-align: right;
	margin-right: 40px
}
.grid-previous-entries .col-2 {
	width: 520px;
}

.row-previous-entries .col-1 {
	width: 120px;
}
.row-previous-entries .col-1 input[type="checkbox"] {
	margin-top: -3px
}
.row-previous-entries .col-1 div {
	margin-left: 20px;
}
/*============= END DATA-GRID PREVIOUS ENTRIES =================*/


/*============= DATA-GRID PENDING DELIVERY =================*/
.grid-pending-delivery {
	border-radius: 6px 6px 0 0;
}

.grid-pending-delivery .header {
	background: #ecbab9;
	border-radius: 4px;
	margin-top: 5px
}
.grid-pending-delivery .header span, .grid-pending-delivery .scroll-pending-delivery  span {
	display: inline-block;
	line-height: 40px;
}
.grid-pending-delivery .scroll-pending-delivery .row-pending-delivery {
	border-bottom: 1px solid #e0e0e0
}
/*GRID 1*/
.grid-1 .grid-pending-delivery .header .col-1 {
	width: 160px;
}
.grid-1 .grid-pending-delivery .header .col-1 div {
	margin-left: 20px
}
.grid-1 .grid-pending-delivery .header .col-2 {
	width: 120px;
}
.grid-1 .grid-pending-delivery .header .col-3 {
	width: 420px;
}

.grid-1 .grid-pending-delivery .header .col-4 {
	width: 100px;
	display: inline-block;
}
.grid-1 .grid-pending-delivery .header .col-4 div {
	text-align: center;
}
.grid-1 .grid-pending-delivery .header .col-5 {
	width: 100px;
	display: inline-block;
	text-align: right;
	margin-right: 16px
}
.grid-1 .row-pending-delivery .col-1 {
	width: 160px;
}
.grid-1 .row-pending-delivery .col-1 div {
	margin-left: 20px;
}
.grid-1 .grid-pending-delivery .col-2 {
	width: 120px;
}
.grid-1 .grid-pending-delivery .col-3 {
	width: 420px;
}

.grid-1 .grid-pending-delivery .col-4 {
	width: 100px;
}
.grid-1 .grid-pending-delivery .col-4 div {
	text-align: center;
	margin-right: 24px
}
.grid-1 .grid-pending-delivery .col-5 {
	width: 100px;
	float: right
}
.grid-1 .grid-pending-delivery .col-5 div {
	text-align: right;
	margin-right: 40px
}
/*GRID 2*/
.grid-2 .grid-pending-delivery .header .col-1 {
	width: 160px;
}
.grid-2 .grid-pending-delivery .header .col-1 div {
	margin-left: 20px
}
.grid-2 .grid-pending-delivery .header .col-2 {
	width: 420px;
}
.grid-2 .grid-pending-delivery .header .col-3 {
	width: 120px;
}

.grid-2 .grid-pending-delivery .header .col-4 {
	width: 100px;
	display: inline-block;
}
.grid-2 .grid-pending-delivery .header .col-4 div {
	text-align: center;
	white-space:nowrap;
}
.grid-2 .grid-pending-delivery .header .col-5 {
	width: 100px;
	display: inline-block;
	text-align: right;
	margin-right: 16px
}
.grid-2 .row-pending-delivery .col-1 {
	width: 160px;
}
.grid-2 .row-pending-delivery .col-1 div {
	margin-left: 20px;
}
.grid-2 .grid-pending-delivery .col-2 {
	width: 420px;
}
.grid-2 .grid-pending-delivery .col-3 {
	width: 120px;
}
.grid-2 .grid-pending-delivery .col-3 div{
	text-align:center;
}
.grid-2 .grid-pending-delivery .col-4 {
	width: 100px;
}
.grid-2 .grid-pending-delivery .col-4 div {
	text-align: center;
	margin-right: 24px
}
.grid-2 .grid-pending-delivery .col-5 {
	width: 100px;
	float: right
}
.grid-2 .grid-pending-delivery .col-5 div {
	text-align: right;
	margin-right: 40px
}

/*============= END DATA-GRID PENDING DELIVERY =================*/

/*============= DATA-GRID PRODUCTS TO BUY =================*/
.grid-products-to-buy {
	border-radius: 6px 6px 0 0;
}

.grid-products-to-buy .header {
	background: #ecbab9;
	border-radius: 4px;
	margin-top: 5px
}
.grid-products-to-buy .header span, .grid-products-to-buy .scroll-products-to-buy  span {
	display: inline-block;
	line-height: 40px;
}
.grid-products-to-buy .scroll-products-to-buy .row-products-to-buy {
	border-bottom: 1px solid #e0e0e0
}
.grid-products-to-buy .header .col-1 {
	width: 400px;
}
.grid-products-to-buy .header .col-1 div {
	margin-left: 20px
}
.grid-products-to-buy .header .col-2 {
	width: 120px;
}
.grid-products-to-buy .header .col-3 {
	width: 80px;
}
.grid-products-to-buy .header .col-3 div {
	text-align: center
}
.grid-products-to-buy .header .col-4 {
	width: 100px;
	display: inline-block;
}
.grid-products-to-buy .header .col-4 div {
	text-align: right;
}
.grid-products-to-buy .header .col-5 {
	width: 100px;
	display: inline-block;
	text-align: right;

}
.grid-products-to-buy .header .col-6 {
	width: 100px;
	display: inline-block;
	text-align: right;
	margin-right: 16px
}
.row-products-to-buy .col-1 {
	width: 400px;
}
.row-products-to-buy .col-1 div {
	margin-left: 20px;
}
.grid-products-to-buy .col-2 {
	width: 120px;
}
.grid-products-to-buy .col-2 div{
	text-align: center
}
.grid-products-to-buy .col-3 {
	width: 80px;
}
.grid-products-to-buy .col-3 div {
	text-align: right
}
.grid-products-to-buy .col-4 {
	width: 100px;
}
.grid-products-to-buy .col-4 div {
	text-align: right;
}
.grid-products-to-buy .col-5 {
	width: 100px;
	margin-right:15px
}
.grid-products-to-buy .col-5 div {
	text-align: right;
}
.grid-products-to-buy .col-6 {
	width: 100px;
}
.grid-products-to-buy .col-6 div{
	text-align: right;
}
/*============= END DATA-GRID PRODUCTS TO BUY =================*/