			<div class="container">

				<form class="form-add-tel">
					<span class="heading-gradient">TELEFONES</span>
					
				<div class="row-fluid">
					<span class="span5">
						<select class='customer-tel-type' >
							<option value="">Celular</option>
						</select>
						
					</span><span class="span7">
			
						<div class="input-append add-cusomer-input-tels">
							<input class="input-block-level" value="(41) 9950-0033" id="appendedInput" type="text">
							<span ng-click='openDialogAddCustomerTels()' class="add-on">+</span>
						</div>
					</span>
				</div>
				<div class="row-fluid">
					<span class="scroll-tels">
						<span class="row-data-dialog">
							<span class="span2">Celular:</span><span class="span6">(41) 9950-0033</span><span class="span1"><span class="ic-sort-triangle"><img src="images/ic-sort-triangle-down.png" alt="" /></span></span><span class="span1"><span class="ic-sort-triangle"><img src="images/ic-sort-triangle-up.png" alt="" /></span></span>
						</span>
						<span class="row-data-dialog">
							<span class="span2">Casa:</span><span class="span6">(41) 9950-0033</span><span class="span1"><span class="ic-sort-triangle"><img src="images/ic-sort-triangle-down.png" alt="" /></span></span><span class="span1"><span class="ic-sort-triangle"><img src="images/ic-sort-triangle-up.png" alt="" /></span></span>
						</span>
						<span class="row-data-dialog">
							<span class="span2">Ramal:</span><span class="span6">(41) 9950-0033</span><span class="span1"><span class="ic-sort-triangle"><img src="images/ic-sort-triangle-down.png" alt="" /></span></span><span class="span1"><span class="ic-sort-triangle"><img src="images/ic-sort-triangle-up.png" alt="" /></span></span>
						</span>
						<span class="row-data-dialog">
							<span class="span2">Skype:</span><span class="span6">(41) 9950-0033</span><span class="span1"><span class="ic-sort-triangle"><img src="images/ic-sort-triangle-down.png" alt="" /></span></span><span class="span1"><span class="ic-sort-triangle"><img src="images/ic-sort-triangle-up.png" alt="" /></span></span>
						</span>
						<span class="row-data-dialog">
							<span class="span2">Celular:</span><span class="span6">(41) 9950-0033</span><span class="span1"><span class="ic-sort-triangle"><img src="images/ic-sort-triangle-down.png" alt="" /></span></span><span class="span1"><span class="ic-sort-triangle"><img src="images/ic-sort-triangle-up.png" alt="" /></span></span>
						</span>
					</span>
				</div>
					<div class="clearfix"></div><hr />
					<button ng-click='closeDialog()' class="btn btn-large btn-login" type="submit">
						Voltar
					</button>
					<button ng-click='closeDialog()' class="btn btn-large btn-login pull-right" type="submit">
						Adicionar
					</button>

					

					

				</form>

			</div>
		