<div class="bg-edit-pass">
			
			<!-- not remove this! (background of login screen) -->
		
</div>
			<div class="container">

				<form class="form-add-to-basket">
					<span class="heading-gradient">CREME DE LIMPEZA BOTANICAL EFFECTS</span>
					<span class="wrapper-qtde"> <span class="input-qtde"> <span class="ic-arrow-left"><img src="images/arrow-left.png" alt="" /></span> <span class="label-input">
								<div>
									Qtde
								</div>
								<div class="input-row-qtde-cart">
									<input type="text" name="some_name" value="" id="some_name"/>
								</div> </span> <span class="ic-arrow-right"><img src="images/arrow-right.png" alt="" /></span> </span> 
					</span>
					<div class="img-catalog-02">
									<img src="images/catalog/img-03.png" alt="" />
					</div>
					<div class="line-gradient-01">
									<img src="images/line-gradient-01.png" alt="" />
					</div>
					<button class="btn btn-large btn-login" type="submit">
						Voltar
					</button>
					<button class="btn btn-large btn-login pull-right" type="submit">
						Adicionar
					</button>

					

					

				</form>

			</div>
		