<link href="agenda/fullcalendar.css" rel="stylesheet" />
<link href="agenda/fullcalendar.print.css" rel="stylesheet" media="print" />
<script src="agenda/jquery.min.js"></script>
<script src="agenda/jquery-ui.custom.min.js"></script>
<script src="agenda/fullcalendar.js"></script>
<script src="agenda/fullcalendar.min.js"></script>
<script src="agenda/agenda.js"></script>

<div class="container ng-scope">

	<!-- HEADER -->
	<div class="row-fluid">
		<span class="span12"><span ng-include
			src="'views/parts/global/header.html'"></span></span>
	</div>

	<div class="form-agenda">

		<div class="row-fluid pull-right panel-top">

			<!-- BREAD CRUMBS -->
			<div class="row-fluid bread-crumbs">
				<span class="span6"> <span class="principal">Agenda</span> &nbsp; <span class="crumbs">&nbsp;</span>
				</span>
				<!--<span class="span6">
					<div class="float-right">
						<span class="menu-level">
							<div class="btn-group btn-group-sm" ng-init="ol='orders'">
								<a class="btn btn-option" ng-class="{active: ol=='orders'}"
									ng-click="ol='orders'">Pedidos</a> <a class="btn btn-option"
									ng-class="{active: ol=='customers'}" ng-click="ol='customers'">Clientes</a>
								<a class="btn btn-option" ng-class="{active: ol=='products'}"
									ng-click="ol='products'">Produtos</a>
							</div>
						</span>
					</div>
				</span>-->
			</div>

		</div>

		<div class="col1">		
			<div id='calendar'></div>		
		</div>

		<div class="col2">		
			...		
		</div>

		<div class="col3">		
			<div class="titulo-contatos">Contatos</div>
			<div class="grid-contatos">
				<div class="grid-contatos-row">
					<div class="grid-contatos-col1"><input type="checkbox"></div>
					<div class="grid-contatos-col2"><img src="images/icons/star-off.png"></div>
					<div class="grid-contatos-col3">Contato 1</div>
				</div>
				<div class="grid-contatos-row">
					<div class="grid-contatos-col1"><input type="checkbox"></div>
					<div class="grid-contatos-col2"><img src="images/icons/star-off.png"></div>
					<div class="grid-contatos-col3">Contato 2</div>
				</div>
				<div class="grid-contatos-row">
					<div class="grid-contatos-col1"><input type="checkbox"></div>
					<div class="grid-contatos-col2"><img src="images/icons/star-off.png"></div>
					<div class="grid-contatos-col3">Contato 3</div>
				</div>
				<div class="grid-contatos-row">
					<div class="grid-contatos-col1"><input type="checkbox"></div>
					<div class="grid-contatos-col2"><img src="images/icons/star-off.png"></div>
					<div class="grid-contatos-col3">Contato 4</div>
				</div>
				<div class="grid-contatos-row">
					<div class="grid-contatos-col1"><input type="checkbox"></div>
					<div class="grid-contatos-col2"><img src="images/icons/star-off.png"></div>
					<div class="grid-contatos-col3">Contato 5</div>
				</div>
			</div>
			<div class="grid-indice">
					<a class="grid-indice-link">A</a>
					<a class="grid-indice-link">B</a>
					<a class="grid-indice-link">C</a>
					<a class="grid-indice-link">D</a>
					<a class="grid-indice-link">E</a>
					<a class="grid-indice-link">F</a>
					<a class="grid-indice-link">G</a>
					<a class="grid-indice-link">H</a>
					<a class="grid-indice-link">I</a>
					<a class="grid-indice-link">J</a>
					<a class="grid-indice-link">K</a>
					<a class="grid-indice-link">L</a>
					<a class="grid-indice-link">M</a>
					<a class="grid-indice-link">N</a>
					<a class="grid-indice-link">O</a>
					<a class="grid-indice-link">P</a>
					<a class="grid-indice-link">Q</a>
					<a class="grid-indice-link">R</a>
					<a class="grid-indice-link">S</a>
					<a class="grid-indice-link">T</a>
					<a class="grid-indice-link">U</a>
					<a class="grid-indice-link">V</a>
					<a class="grid-indice-link">W</a>
					<a class="grid-indice-link">X</a>
					<a class="grid-indice-link">Y</a>
					<a class="grid-indice-link">Z</a>
					<a class="grid-indice-link">#</a>
			</div>		
		</div>
		
	</div>

</div>
