<div class="container">
	<div class="row-fluid">
		<span class="span12"> <span ng-include
			src="'views/parts/global/header.html'"></span>
		</span>
	</div>
	<div class="cart-scroll-content">
		<div class="row-cart" ng-repeat="product in basket | obInject:'mul':'qty':'price':'subtotal'">
			<span class="thumb-row-cart">
				<img ng-src="{{product.image}}" alt="" />
			</span> 
			<span class="txt-row-description"> 
				<span class="title-row-cart">{{product.title | truncate: 50}}</span> 
					<br />
					{{product.description | truncate: 100}}
				</span> 
				<span class="txt-row-status"> 
					<div>{{product.inventory}}</div>
				</span>
				<span class="wrapper-qtde" ng-mode="teste"> 
					<input-qty ng-model="product.qty"></input-qty>
				</span> 
				<span class="txt-row-price"> 
					<div>{{product.subtotal | currency}}</div>
				</span> 
				<span class="img-row-delete" ng-click="remove(product)"><img src="images/del-pink.png" alt="" /></span>
		</div>
	</div>
</div>
<div class="footer-cart">
	<a href="#" class="btn">Cat&aacute;logo</a>
	<span class="total-value">
		<span>Total:</span>
		{{dataProvider.products | filter:filterQty | sum:'subtotal' | currency }}
	</span>
	<button class="btn"  ng-disabled="!order.customerId" ng-click="pay()">Pagamento</button>
</div>