<div class="container">

	<div class="row-fluid">
		<span class="span12"> <span ng-include
			src='"views/header.html"'></span>
		</span>

	</div>

	<div class="cart-scroll-content">
		<div class="row-cart" ng-repeat="product in dataProvider.products">
			<span class="thumb-row-cart"><img
				ng-src="{{product.image}}" alt="" /></span> <span
				class="txt-row-description"> 
				<span class="title-row-cart">{{product.title | truncate: 50}}</span> 
					<br />
					{{product.description | truncate: 150}}
				</span> 
				<span class="txt-row-status"> 
					<div>1</div>
				</span>
				<span class="wrapper-qtde" ng-mode="teste"> 
					<input-qtd></input-qtd>
				</span> 
				<span class="txt-row-price"> 
					<div>300,00</div>
				</span> 
				<span class="img-row-delete" ng-click=remove($index)><img src="images/del-pink.png" alt="" /></span>
		</div>
	</div>
</div>
<div class="footer-cart">
	<span class="btn">Cat&aacute;logo</span>
	<span class="total-value">
		<span>Total:</span>
		R$ 2.573,76
	</span>
	<span class="btn">Pagamento</span>
</div>