<div class="container">

			<div class="row-fluid">
				<span class="span12">
					<span ng-include src='"views/header.html"'></span>
				</span>

			</div>

			<div class="cart-scroll-content">

				<div class="row-cart">
					<span class="thumb-row-cart"><img src="images/catalog/img-02.png" alt="" /></span>

					<span class="txt-row-description"> <span class="title-row-cart"> CREME DE LIMPEZA  BOTANICAL EFFECTS™</span>
						<br />
						Combata os sinais avan&ccedil;ados da idade com a nova linha TimeWise Repair™ </span>

					<span class="txt-row-status">
						<div>
							Em estoque
						</div></span>

					<span class="wrapper-qtde"> <span class="input-qtde"> <span class="ic-arrow-left"><img src="images/arrow-left.png" alt="" /></span> <span class="label-input">
								<div>
									Qtde
								</div>
								<div class="input-row-qtde-cart">
									<input type="text" name="some_name" value="" id="some_name"/>
								</div> </span> <span class="ic-arrow-right"><img src="images/arrow-right.png" alt="" /></span> </span> </span>

					<span class="txt-row-price">
						<div >
							300,00
						</div></span>
					<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
				</div>
				<div class="row-cart">
					<span class="thumb-row-cart"><img src="images/catalog/img-02.png" alt="" /></span>

					<span class="txt-row-description"> <span class="title-row-cart"> CREME DE LIMPEZA  BOTANICAL EFFECTS™</span>
						<br />
						Combata os sinais avan&ccedil;ados da idade com a nova linha TimeWise Repair™ </span>

					<span class="txt-row-status low-status">
						<div>
							N&atilde;o dispon&iacute;vel
						</div></span>

					<span class="wrapper-qtde"> <span class="input-qtde"> <span class="ic-arrow-left"><img src="images/arrow-left.png" alt="" /></span> <span class="label-input">
								<div>
									Qtde
								</div>
								<div class="input-row-qtde-cart">
									<input type="text" name="some_name" value="" id="some_name"/>
								</div> </span> <span class="ic-arrow-right"><img src="images/arrow-right.png" alt="" /></span> </span> </span>

					<span class="txt-row-price">
						<div >
							300,00
						</div></span>
					<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
				</div>
				<div class="row-cart">
					<span class="thumb-row-cart"><img src="images/catalog/img-02.png" alt="" /></span>

					<span class="txt-row-description"> <span class="title-row-cart"> CREME DE LIMPEZA  BOTANICAL EFFECTS™</span>
						<br />
						Combata os sinais avan&ccedil;ados da idade com a nova linha TimeWise Repair™ </span>

					<span class="txt-row-status">
						<div>
							Em estoque
						</div></span>

					<span class="wrapper-qtde"> <span class="input-qtde"> <span class="ic-arrow-left"><img src="images/arrow-left.png" alt="" /></span> <span class="label-input">
								<div>
									Qtde
								</div>
								<div class="input-row-qtde-cart">
									<input type="text" name="some_name" value="" id="some_name"/>
								</div> </span> <span class="ic-arrow-right"><img src="images/arrow-right.png" alt="" /></span> </span> </span>

					<span class="txt-row-price">
						<div >
							300,00
						</div></span>
					<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
				</div>
				<div class="row-cart">
					<span class="thumb-row-cart"><img src="images/catalog/img-02.png" alt="" /></span>

					<span class="txt-row-description"> <span class="title-row-cart"> CREME DE LIMPEZA  BOTANICAL EFFECTS™</span>
						<br />
						Combata os sinais avan&ccedil;ados da idade com a nova linha TimeWise Repair™ </span>

					<span class="txt-row-status">
						<div>
							Em estoque
						</div></span>

					<span class="wrapper-qtde"> <span class="input-qtde"> <span class="ic-arrow-left"><img src="images/arrow-left.png" alt="" /></span> <span class="label-input">
								<div>
									Qtde
								</div>
								<div class="input-row-qtde-cart">
									<input type="text" name="some_name" value="" id="some_name"/>
								</div> </span> <span class="ic-arrow-right"><img src="images/arrow-right.png" alt="" /></span> </span> </span>

					<span class="txt-row-price">
						<div >
							300,00
						</div></span>
					<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
				</div>
				<div class="row-cart">
					<span class="thumb-row-cart"><img src="images/catalog/img-02.png" alt="" /></span>

					<span class="txt-row-description"> <span class="title-row-cart"> CREME DE LIMPEZA  BOTANICAL EFFECTS™</span>
						<br />
						Combata os sinais avan&ccedil;ados da idade com a nova linha TimeWise Repair™ </span>

					<span class="txt-row-status">
						<div>
							Em estoque
						</div></span>

					<span class="wrapper-qtde"> <span class="input-qtde"> <span class="ic-arrow-left"><img src="images/arrow-left.png" alt="" /></span> <span class="label-input">
								<div>
									Qtde
								</div>
								<div class="input-row-qtde-cart">
									<input type="text" name="some_name" value="" id="some_name"/>
								</div> </span> <span class="ic-arrow-right"><img src="images/arrow-right.png" alt="" /></span> </span> </span>

					<span class="txt-row-price">
						<div >
							300,00
						</div></span>
					<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
				</div>
				<div class="row-cart">
					<span class="thumb-row-cart"><img src="images/catalog/img-02.png" alt="" /></span>

					<span class="txt-row-description"> <span class="title-row-cart"> CREME DE LIMPEZA  BOTANICAL EFFECTS™</span>
						<br />
						Combata os sinais avan&ccedil;ados da idade com a nova linha TimeWise Repair™ </span>

					<span class="txt-row-status">
						<div>
							Em estoque
						</div></span>

					<span class="wrapper-qtde"> <span class="input-qtde"> <span class="ic-arrow-left"><img src="images/arrow-left.png" alt="" /></span> <span class="label-input">
								<div>
									Qtde
								</div>
								<div class="input-row-qtde-cart">
									<input type="text" name="some_name" value="" id="some_name"/>
								</div> </span> <span class="ic-arrow-right"><img src="images/arrow-right.png" alt="" /></span> </span> </span>

					<span class="txt-row-price">
						<div >
							300,00
						</div></span>
					<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
				</div>
				<div class="row-cart">
					<span class="thumb-row-cart"><img src="images/catalog/img-02.png" alt="" /></span>

					<span class="txt-row-description"> <span class="title-row-cart"> CREME DE LIMPEZA  BOTANICAL EFFECTS™</span>
						<br />
						Combata os sinais avan&ccedil;ados da idade com a nova linha TimeWise Repair™ </span>

					<span class="txt-row-status">
						<div>
							Em estoque
						</div></span>

					<span class="wrapper-qtde"> <span class="input-qtde"> <span class="ic-arrow-left"><img src="images/arrow-left.png" alt="" /></span> <span class="label-input">
								<div>
									Qtde
								</div>
								<div class="input-row-qtde-cart">
									<input type="text" name="some_name" value="" id="some_name"/>
								</div> </span> <span class="ic-arrow-right"><img src="images/arrow-right.png" alt="" /></span> </span> </span>

					<span class="txt-row-price">
						<div >
							300,00
						</div></span>
					<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
				</div>
				<div class="row-cart">
					<span class="thumb-row-cart"><img src="images/catalog/img-02.png" alt="" /></span>

					<span class="txt-row-description"> <span class="title-row-cart"> CREME DE LIMPEZA  BOTANICAL EFFECTS™</span>
						<br />
						Combata os sinais avan&ccedil;ados da idade com a nova linha TimeWise Repair™ </span>

					<span class="txt-row-status">
						<div>
							Em estoque
						</div></span>

					<span class="wrapper-qtde"> <span class="input-qtde"> <span class="ic-arrow-left"><img src="images/arrow-left.png" alt="" /></span> <span class="label-input">
								<div>
									Qtde
								</div>
								<div class="input-row-qtde-cart">
									<input type="text" name="some_name" value="" id="some_name"/>
								</div> </span> <span class="ic-arrow-right"><img src="images/arrow-right.png" alt="" /></span> </span> </span>

					<span class="txt-row-price">
						<div >
							300,00
						</div></span>
					<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
				</div>
				<div class="row-cart">
					<span class="thumb-row-cart"><img src="images/catalog/img-02.png" alt="" /></span>

					<span class="txt-row-description"> <span class="title-row-cart"> CREME DE LIMPEZA  BOTANICAL EFFECTS™</span>
						<br />
						Combata os sinais avan&ccedil;ados da idade com a nova linha TimeWise Repair™ </span>

					<span class="txt-row-status">
						<div>
							Em estoque
						</div></span>

					<span class="wrapper-qtde"> <span class="input-qtde"> <span class="ic-arrow-left"><img src="images/arrow-left.png" alt="" /></span> <span class="label-input">
								<div>
									Qtde
								</div>
								<div class="input-row-qtde-cart">
									<input type="text" name="some_name" value="" id="some_name"/>
								</div> </span> <span class="ic-arrow-right"><img src="images/arrow-right.png" alt="" /></span> </span> </span>

					<span class="txt-row-price">
						<div >
							300,00
						</div></span>
					<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
				</div>
				<div class="row-cart">
					<span class="thumb-row-cart"><img src="images/catalog/img-02.png" alt="" /></span>

					<span class="txt-row-description"> <span class="title-row-cart"> CREME DE LIMPEZA  BOTANICAL EFFECTS™</span>
						<br />
						Combata os sinais avan&ccedil;ados da idade com a nova linha TimeWise Repair™ </span>

					<span class="txt-row-status">
						<div>
							Em estoque
						</div></span>

					<span class="wrapper-qtde"> <span class="input-qtde"> <span class="ic-arrow-left"><img src="images/arrow-left.png" alt="" /></span> <span class="label-input">
								<div>
									Qtde
								</div>
								<div class="input-row-qtde-cart">
									<input type="text" name="some_name" value="" id="some_name"/>
								</div> </span> <span class="ic-arrow-right"><img src="images/arrow-right.png" alt="" /></span> </span> </span>

					<span class="txt-row-price">
						<div >
							300,00
						</div></span>
					<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
				</div>
				<div class="row-cart">
					<span class="thumb-row-cart"><img src="images/catalog/img-02.png" alt="" /></span>

					<span class="txt-row-description"> <span class="title-row-cart"> CREME DE LIMPEZA  BOTANICAL EFFECTS™</span>
						<br />
						Combata os sinais avan&ccedil;ados da idade com a nova linha TimeWise Repair™ </span>

					<span class="txt-row-status">
						<div>
							Em estoque
						</div></span>

					<span class="wrapper-qtde"> <span class="input-qtde"> <span class="ic-arrow-left"><img src="images/arrow-left.png" alt="" /></span> <span class="label-input">
								<div>
									Qtde
								</div>
								<div class="input-row-qtde-cart">
									<input type="text" name="some_name" value="" id="some_name"/>
								</div> </span> <span class="ic-arrow-right"><img src="images/arrow-right.png" alt="" /></span> </span> </span>

					<span class="txt-row-price">
						<div >
							300,00
						</div></span>
					<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
				</div>
				<div class="row-cart">
					<span class="thumb-row-cart"><img src="images/catalog/img-02.png" alt="" /></span>

					<span class="txt-row-description"> <span class="title-row-cart"> CREME DE LIMPEZA  BOTANICAL EFFECTS™</span>
						<br />
						Combata os sinais avan&ccedil;ados da idade com a nova linha TimeWise Repair™ </span>

					<span class="txt-row-status low-status">
						<div>
							N&atilde;o dispon&iacute;vel
						</div></span>

					<span class="wrapper-qtde"> <span class="input-qtde"> <span class="ic-arrow-left"><img src="images/arrow-left.png" alt="" /></span> <span class="label-input">
								<div>
									Qtde
								</div>
								<div class="input-row-qtde-cart">
									<input type="text" name="some_name" value="" id="some_name"/>
								</div> </span> <span class="ic-arrow-right"><img src="images/arrow-right.png" alt="" /></span> </span> </span>

					<span class="txt-row-price">
						<div >
							300,00
						</div></span>
					<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
				</div>

				<div class="row-cart">
					<span class="thumb-row-cart"><img src="images/catalog/img-02.png" alt="" /></span>

					<span class="txt-row-description"> <span class="title-row-cart"> CREME DE LIMPEZA  BOTANICAL EFFECTS™</span>
						<br />
						Combata os sinais avan&ccedil;ados da idade com a nova linha TimeWise Repair™ </span>

					<span class="txt-row-status low-status">
						<div>
							N&atilde;o dispon&iacute;vel
						</div></span>

					<span class="wrapper-qtde"> <span class="input-qtde"> <span class="ic-arrow-left"><img src="images/arrow-left.png" alt="" /></span> <span class="label-input">
								<div>
									Qtde
								</div>
								<div class="input-row-qtde-cart">
									<input type="text" name="some_name" value="" id="some_name"/>
								</div> </span> <span class="ic-arrow-right"><img src="images/arrow-right.png" alt="" /></span> </span> </span>

					<span class="txt-row-price">
						<div >
							300,00
						</div></span>
					<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
				</div>

			</div>

		</div>
		<div class="footer-cart">

			<span class="btn">Voltar</span><span class="total-value">Total: R$ 2.573,76</span><span class="btn">Finalizar</span>

		</div>