<div class="container">
	<div class="row-fluid">
		<span class="span12"> <span ng-include
			src="'views/parts/global/header.html'"></span>
		</span>
	</div>
	<form name="newCustomerForm" ng-class="{failed: failed}">
		<div class="form-container">
			<div class="row-fluid">
				<span class="span6">
					<div class="control-group ">
						<label class="control-label">Data</label> <input name="name"
							class="input-block-level" type="text" placeholder=""
							ng-model="customer.name" required>
					</div>
				</span> <span class="span6">
					<div class="control-group ">
						<label class="control-label">Contas a pagar</label>
						<div class="input-append input-width-emails">
							<input class="input-block-level hover-state-pointer"
								id="appendedInput" type="email" ng-model="customer.emails[0].address"
								ng-click="openDialogAddCustomerEmails(customer.emails)" disabled>
							<span ng-click="openDialogAddCustomerEmails(customer.emails)"
								class="add-on">+</span>
						</div>
					</div>
				</span>
			</div>
			<div class="row-fluid">
				<span class="span2"> 
                	<label for="">Documento</label>
                    	<div>
						<select name="birthday" class="select-width-01"	ui-select2 select2 ng-model="customer.birthday.day" >
                            <option value="" />
                            <option value="day" ng-repeat="day in dataProvider.date.days">{{day}}</option>
						</select>
                        <select name="birthmonth" class="select-width-01" ui-select2 select2 ng-model="customer.birthday.month" >
                                <option value="" />
                                <option value="month.id" ng-repeat="month in dataProvider.date.months">{{month.id}}</option>
                        </select>
                        </div>
				</span> 
                <span class="span4"> <label class="control-label lbl-tels">Nro Documento</label>
					<div class="input-append input-width-tels">
						<input class="input-block-level"
							id="appendedInput" type="text"
							ng-model="customer.phones[0].number"
							ng-click="openDialogAddCustomerTels(customer.phones)" required disabled phone> 
						<span
							ng-click="openDialogAddCustomerTels(customer.phones)"
							class="add-on">+</span>
					</div>
				</span> <span class="span6">
					<div class="control-group ">
						<label class="control-label">Classificação</label> <input name="cep"
							class="input-cep" type="text" ng-model="customer.address.cep"
							ng-minlength="8" cep >
					</div>
				</span>
			</div>
			<div class="row-fluid">
				<span class="span6">
					<div class="control-group ">
						<label class="control-label">Valor</label> <input
							name="address" class="input-block-level" type="text"
							placeholder="" ng-model="customer.address.street" >
					</div>
				</span> <span class="span1"> <label class="control-label">Nº parc.</label>
					<input name="number" class="input-address-number" value=""
					type="text" placeholder="" ng-model="customer.address.number"
					number >
				</span> <span class="span5"> <label
					class="control-label lbl-complement">Vencto 1ª parc.</label> <input
					class="input-block-level input-complement" type="text"
					ng-model="customer.address.complement">
				</span>
			</div>
			<div class="row-fluid">
				<span class="span6">
					<div class="control-group ">
						<label class="control-label">Observação</label> <input
							name="neighborhood" class="input-block-level" type="text"
							ng-model="customer.address.neighborhood" >
					</div>
				</span> <span class="span1"> <label class="control-label">UF</label>
					<select name="state" ui-select2 select2 class="select-width-02"
					ng-model="customer.address.state" >
						<option value="" />
						<option value="{{state}}"
							ng-repeat="state in dataProvider.country.states">{{state}}</option>
				</select>
				</span> <span class="span5"> <label class="control-label lbl-city">Cidade</label>
					<input name="city" class="input-block-level input-city" type="text"
					ng-model="customer.address.city" >
				</span>
			</div>
			<div class="row-fluid">
				<div class="panel-footer-new-customer">
					<a class="btn btn-cancel" ng-click="cancel()">Cancelar</a> 
					<a class="btn btn-ok" ng-click="confirm()">Confirmar</a>
				</div>
			</div>
		</div>
	</form>
</div>