<style>
.cell{
	display:inline-block;
	float:left;
	padding:5px; 
	box-sizing:border-box;
	font-size: 10px;

}
.p10{
	width:10%;
}
.p20{
	width:20%;
}

.header{
	width: 100%;
	border-bottom:1px solid #333; display:inline-block;
}
</style>

<div style="width:100%;">
	<div class="header">
		<div class="cell p10" ></div>
		<div class="cell p10" >Data</div>
		<div class="cell p10" >Debito</div>
		<div class="cell p10" >Credito</div>
		<div class="cell p10" >Dcto Tipo</div>
		<div class="cell p10" >Dcto Nro</div>
		<div class="cell p10" >Terceiro</div>
		<div class="cell p10" >Operação</div>
		<div class="cell p10" >Obs</div>
		<div class="cell p10" >Valor</div>
	</div>
	<div class="row" ng-repeat="bookEntry in bookEntries | orderBy:'-date'" style="width:100%; border-bottom:1px solid #666; display:inline-block;">
		<div class="cell p10"></div>
		<div class="cell p10" >{{bookEntry.created | date:'dd/MM/yyyy'}}</div>
		<div class="cell p10" >{{bookEntry.debitAccount}}</div>
		<div class="cell p10" >{{bookEntry.creditAccount}}</div>
		<div class="cell p10" >Pedido</div>
		<div class="cell p10" >{{bookEntry.document | uuidCode}}</div>
		<div class="cell p10" >{{bookEntry.entity}}</div>
		<div class="cell p10" >{{bookEntry.op}}</div>
		<div class="cell p10" >{{bookEntry.remark}}</div>
		<div class="cell p10" >{{bookEntry.amount}}</div>
	</div>
</div>