<style>
.cell{
	display:inline-block;
	float:left;
	padding:5px; 
	box-sizing:border-box;
	font-size: 10px;

}
.p10{
	width:10%;
}
.p20{
	width:20%;
}

.header{
	width: 100%;
	border-bottom:1px solid #333; display:inline-block;
}
</style>

<div style="width:100%;">
	<div class="header">
		<div class="cell p20" >Nome</div>
		<div class="cell p10" >Data</div>
		<div class="cell p10" >Debito</div>
		<div class="cell p10" >Credito</div>
		<div class="cell p10" >Dcto Tipo</div>
		<div class="cell p10" >Dcto Nro</div>
		<div class="cell p10" >Terceiro</div>
		<div class="cell p10" >Operação</div>
		<div class="cell p10" >Obs Valor</div>
	</div>
	<span ng-repeat="book in books">
		<div class="row" ng-repeat="row in book" style="width:100%; border-bottom:1px solid #666; display:inline-block;">
			<div class="cell p20" >{{row.name}}</div>
			<div class="cell p10" >{{row.date}}</div>
			<div class="cell p10" >{{row.debit}}</div>
			<div class="cell p10" >{{row.credit}}</div>
			<div class="cell p10" >{{row.docType}}</div>
			<div class="cell p10" >{{row.docNum}}</div>
			<div class="cell p10" >{{row.thirdParty}}</div>
			<div class="cell p10" >{{row.operation}}</div>
			<div class="cell p10" >{{row.obsValue}}</div>
		</div>
	</span>
</div>