<div class="container ng-scope">

	<!-- HEADER -->
	<div class="row-fluid">
		<span class="span12"><span ng-include src="'views/parts/global/header.html'"></span></span>
	</div>
	
	<div class="form-cash-flow">
    
		<div class="row-fluid pull-right panel-top">

			<!-- BREAD CRUMBS -->
			<div class="row-fluid bread-crumbs">
				<span class="span6">
					<span class="principal">Financeiro</span> &gt; <span class="crumbs">Fluxo de caixa</span>
				</span>
				<span class="span6">
					<!--<div class="control-group lbl-top icons">
						<img src="images/icons/ic-add.png">
					</div>	
					<div class="control-group lbl-top icons">
						<img src="images/icons/ic-edit.png">
					</div>	
					<div class="control-group lbl-top icons">
						<img src="images/icons/ic-open.png">
					</div>	
					<div class="control-group lbl-top icons">
						<img src="images/icons/ic-search.png">
					</div>-->
					<!--<div class="float-right">
						<span class="menu-level">
							<div class="btn-group btn-group-sm">
								<a class="btn btn-option active">Clientes</a> 
								<a class="btn btn-option">Produtos</a>
							</div>
						</span>
					</div>-->
				</span>
			</div>
							
			<!-- DATE INTERVAL -->
			<div class="row-fluid filter-bar">
				<span class="span4">				
					<select ui-select2  class='combo-width w100' >
						<option  value="Loja">Loja</option>
					</select>
				</span>
				<span class="span4">				
					<select ui-select2  class='combo-width w100' >
						<option  value="Intervalo diário">Intervalo di&aacute;rio</option>
					</select>
				</span>
				<span class="span2">
					<div class="control-group">
						<a class="btn btn-open" ng-click="">Filtro avan&ccedil;ado</a>
					</div>
				</span>							
			</div>
				
		</div>			
		
		<div class="row-fluid">
			<div class="grid-cash-flow">
				<div class="header">
					<div class="row-cash-flow">
						<div class="col-1">
							<span>Data</span>
						</div>
						<div class="col-2">
							<span>Conta/Hist&oacute;rico</span>
						</div>
						<div class="col-3">
							<span>Entrada</span>
						</div>
						<div class="col-4">
							<span>Sa&iacute;da</span>
						</div>
						<div class="col-5">
							<span>Saldo total</span>
						</div>
						<div class="col-6">
							<span>Sd total c/ limite</span>
						</div>
					</div>
				</div>
				<div class="subtitle">
					<div class="row-cash-flow hover-state-pointer">
						<div class="col-1">
							<span>02/01/2013</span>
						</div>
						<div class="col-2">
							<span>SALDO INICIAL</span>
						</div>
						<div class="col-3">
							<span>&nbsp;</span>
						</div> 
						<div class="col-4">
							<span>&nbsp;</span>
						</div>
						<div class="col-5">
							<span class="warning"></span>
							<span>9.360,00</span>
						</div>
						<div class="col-6">
							<span>14.360,00</span>
						</div>
					</div>
				</div>
				<div class="scroll-cash-flow">
					<div class="row-cash-flow hover-state-pointer">
						<div class="col-1">
							<span>02/01/2013</span>
						</div>
						<div class="col-2">
							<span>61301 - MANUTEN&Ccedil;&Atilde;O E CONSERVA&Ccedil;&Atilde;O CASA DE FERRAGEM ATR LTDA Nota Fiscal 3872 - parcela 1 de 1</span>
						</div>
						<div class="col-3">
							<span>0,00</span>
						</div> 
						<div class="col-4">
							<span>2.360,00</span>
						</div>
						<div class="col-5">
							<span>7.000,00</span>
						</div>
						<div class="col-6">
							<span>12.000,00</span>
						</div>
					</div>
					<div class="row-cash-flow hover-state-pointer">
						<div class="col-1">
							<span>02/01/2012</span>
						</div>
						<div class="col-2">
							<span>61301 - MANUTEN&Ccedil;&Atilde;O E CONSERVA&Ccedil;&Atilde;O CASA DE FERRAGEM ATR LTDA Nota Fiscal 3872 - parcela 1 de 1</span>
						</div>
						<div class="col-3">
							<span>0,00</span>
						</div> 
						<div class="col-4">
							<span>1.000,00</span>
						</div>
						<div class="col-5">
							<span class="warning"><img src="images/alert-sign-small-v3.png" alt=""></span>
							<span>6.000,00</span>
						</div>
						<div class="col-6">
							<span>11.000,00</span>
						</div>
					</div>
					<div class="row-cash-flow hover-state-pointer">
						<div class="col-1">
							<span>02/01/2012</span>
						</div>
						<div class="col-2">
							<span>61301 - MANUTEN&Ccedil;&Atilde;O E CONSERVA&Ccedil;&Atilde;O CASA DE FERRAGEM ATR LTDA Nota Fiscal 3872 - parcela 1 de 1</span>
						</div>
						<div class="col-3">
							<span>0,00</span>
						</div> 
						<div class="col-4">
							<span>1.000,00</span>
						</div>
						<div class="col-5">
							<span>6.000,00</span>
						</div>
						<div class="col-6">
							<span>11.000,00</span>
						</div>
					</div>
					<div class="grid-footer grid-inner-footer">
						<div class="row-cash-flow hover-state-pointer">
							<div class="col-1">
								<span>02/01/2013</span>
							</div>
							<div class="col-2 text-right">
								<span>Subtotal 02/01/2013</span>
							</div>
							<div class="col-3">
								<span>0,00</span>
							</div> 
							<div class="col-4">
								<span>3.360,00</span>
							</div>
							<div class="col-5">
								<span class="warning"></span>
								<span>6.000,00</span>
							</div>
							<div class="col-6">
								<span>11.000,00</span>
							</div>
						</div>
					</div>
					<div class="row-cash-flow hover-state-pointer">
						<div class="col-1">
							<span>02/01/2013</span>
						</div>
						<div class="col-2">
							<span>61301 - MANUTEN&Ccedil;&Atilde;O E CONSERVA&Ccedil;&Atilde;O CASA DE FERRAGEM ATR LTDA Nota Fiscal 3872 - parcela 1 de 1</span>
						</div>
						<div class="col-3">
							<span>0,00</span>
						</div> 
						<div class="col-4">
							<span>2.360,00</span>
						</div>
						<div class="col-5">
							<span>7.000,00</span>
						</div>
						<div class="col-6">
							<span>12.000,00</span>
						</div>
					</div>
					<div class="row-cash-flow hover-state-pointer">
						<div class="col-1">
							<span>02/01/2012</span>
						</div>
						<div class="col-2">
							<span>61301 - MANUTEN&Ccedil;&Atilde;O E CONSERVA&Ccedil;&Atilde;O CASA DE FERRAGEM ATR LTDA Nota Fiscal 3872 - parcela 1 de 1</span>
						</div>
						<div class="col-3">
							<span>0,00</span>
						</div> 
						<div class="col-4">
							<span>1.000,00</span>
						</div>
						<div class="col-5">
							<span class="warning"><img src="images/alert-sign-small-v3.png" alt=""></span>
							<span>6.000,00</span>
						</div>
						<div class="col-6">
							<span>11.000,00</span>
						</div>
					</div>
					<div class="row-cash-flow hover-state-pointer">
						<div class="col-1">
							<span>02/01/2012</span>
						</div>
						<div class="col-2">
							<span>61301 - MANUTEN&Ccedil;&Atilde;O E CONSERVA&Ccedil;&Atilde;O CASA DE FERRAGEM ATR LTDA Nota Fiscal 3872 - parcela 1 de 1</span>
						</div>
						<div class="col-3">
							<span>0,00</span>
						</div> 
						<div class="col-4">
							<span>1.000,00</span>
						</div>
						<div class="col-5">
							<span>6.000,00</span>
						</div>
						<div class="col-6">
							<span>11.000,00</span>
						</div>
					</div>
					<div class="grid-footer grid-inner-footer">
						<div class="row-cash-flow hover-state-pointer">
							<div class="col-1">
								<span>02/01/2013</span>
							</div>
							<div class="col-2 text-right">
								<span>Subtotal 02/01/2013</span>
							</div>
							<div class="col-3">
								<span>0,00</span>
							</div> 
							<div class="col-4">
								<span>3.360,00</span>
							</div>
							<div class="col-5">
								<span class="warning"></span>
								<span>6.000,00</span>
							</div>
							<div class="col-6">
								<span>11.000,00</span>
							</div>
						</div>
					</div>
				</div>
				<div class="grid-footer grid-outer-footer">
					<div class="row-cash-flow hover-state-pointer">
						<div class="col-1">
							<span>02/01/2013</span>
						</div>
						<div class="col-2">
							<span>SALDO FINAL</span>
						</div>
						<div class="col-3">
							<span>0,00</span>
						</div> 
						<div class="col-4">
							<span>3.360,00</span>
						</div>
						<div class="col-5">
							<span class="warning"></span>
							<span>6.000,00</span>
						</div>
						<div class="col-6">
							<span>11.000,00</span>
						</div>
					</div>
				</div>
			</div>
				
			<br/>			
		</div>

	</div>
	
</div>