<div class="title-left">
	<div>
		RESUMO DA VENDA
	</div>
</div>
<table class="table table-left-payment">
	<thead>
		<tr>
			<th>Produto</th><th>Qtde</th><th>Valor</th>
		</tr>

	</thead>
	<tbody class="scroll-left-payment">
		<tr>
			<td>2 itens</td><td>Total</td><td>53,50</td>
		</tr>
		<tr>
			<td>CREME DE LIMPEZA BOTANICAL EFFECTS</td><td>3</td><td>53,50</td>
		</tr>
		<tr>
			<td>CREME DE LIMPEZA TIMEWIZE</td><td>2</td><td>21,40</td>
		</tr>

	</tbody>
</table>
<div class="customer-info">
	<div class="txt-info-customer">
		MARIA APARECIDA SILVEIRA DA COSTA
		<br />
		mariaapscosta@uol.com.br
		<br />
		12 - 99872-5647 / 12 - 3954-2547
	</div>
</div>
<span class="panel-payment-footer">
	<div class="btn">
		<div>
			VOLTAR
		</div>
	</div> </span>