<div class="title-left">
	<div>
		RESUMO DA VENDA
	</div>
</div>


<div class="left-payment">
	<div class="header">
		<span class="col-1">Produto</span><span class="col-2">Qtde</span><span class="col-3">Valor</span>
	</div>
	<div class="header2">
		<span class="col-1">2 itens</span><span class="col-2">Total</span><span class="col-3">160,51</span>
	</div>
	<div class="content-scroll">
		<div><span class="col-1">CREME DE LIMPEZA BOTANICAL EFFECTS</span><span class="col-2">1</span><span class="col-3">10,10</span></div>
		<div><span class="col-1">CREME DE LIMPEZA BOTANICAL EFFECTS</span><span class="col-2">1</span><span class="col-3">5,30</span></div>
		<div><span class="col-1">CREME DE LIMPEZA BOTANICAL EFFECTS</span><span class="col-2">1</span><span class="col-3">7,10</span></div>
		<div><span class="col-1">CREME DE LIMPEZA BOTANICAL EFFECTS</span><span class="col-2">1</span><span class="col-3">14,20</span></div>
		<div><span class="col-1">CREME DE LIMPEZA BOTANICAL EFFECTS</span><span class="col-2">1</span><span class="col-3">21,20</span></div>
		<div><span class="col-1">CREME DE LIMPEZA BOTANICAL EFFECTS</span><span class="col-2">1</span><span class="col-3">53,10</span></div>
		<div><span class="col-1">CREME DE LIMPEZA BOTANICAL EFFECTS</span><span class="col-2">1</span><span class="col-3">33,20</span></div>
		<div><span class="col-1">CREME DE LIMPEZA BOTANICAL EFFECTS</span><span class="col-2">1</span><span class="col-3">13,10</span></div>
		<div><span class="col-1">CREME DE LIMPEZA BOTANICAL EFFECTS</span><span class="col-2">1</span><span class="col-3">3,21</span></div>
	</div>
</div>


<div class="customer-info">
	<div class="txt-info-customer">
		MARIA APARECIDA SILVEIRA DA COSTA
		<br />
		mariaapscosta@uol.com.br
		<br />
		12 - 99872-5647 / 12 - 3954-2547
	</div>
</div>
<span class="panel-payment-footer">
	<div class="btn">
		<div>
			VOLTAR
		</div>
	</div> </span>