<div class="bg-edit-pass">
			
			<!-- not remove this! (background of login screen) -->
		
</div>
			<div class="container">

				<form class="form-signin">
					<span class="heading-gradient">Editar Senha</span>
					<div class="control-group lbl-top" >
						<label>Senha Antiga</label>
						<input type="password" class="input-xlarge" placeholder="">
					</div>

					<div class="control-group lbl-top" >
						<label>Nova Senha</label>
						<input type="password" class="input-xlarge" placeholder="">
					</div>
					
					<div class="control-group lbl-top" >
						<label>Confirmar Senha</label>
						<input type="password" class="input-xlarge" placeholder="">
					</div>
					
					<div class="clearfix"></div><hr />
					
					<button ng-click='closeDialog()' class="btn btn-large btn-login" type="submit">
						Cancelar
					</button>
					<button ng-click='closeDialog()' class="btn btn-large btn-login pull-right" type="submit">
						Confirmar
					</button>

					

					

				</form>

			</div>
		