<div class="container ng-scope">
	
    <!-- HEADER -->
    <div class="row-fluid">
		<span class="span12"><span ng-include src="'views/parts/global/header.html'"></span></span>
	</div>
    
    <div class="form-expense">
    
		<div class="row-fluid pull-right panel-top">
    
			<!-- BREAD CRUMBS -->
			<div class="row-fluid bread-crumbs">
				<span class="span6">
					<span class="principal">Contas a pagar</span> &nbsp; <span class="crumbs">&nbsp;</span>
				</span>
				<span class="span6">
					<!--<div class="control-group lbl-top icons">
						<img src="images/icons/ic-add.png">
					</div>	
					<div class="control-group lbl-top icons">
						<img src="images/icons/ic-edit.png">
					</div>	
					<div class="control-group lbl-top icons">
						<img src="images/icons/ic-open.png">
					</div>	
					<div class="control-group lbl-top icons">
						<img src="images/icons/ic-search.png">
					</div>-->
					<div class="float-right">
						<span class="menu-level">
							<div class="btn-group btn-group-sm">
								<a class="btn btn-option">Adicionar</a> 
								<a class="btn btn-option">Editar</a>
								<a class="btn btn-option">Baixa Pgto.</a>
								<a class="btn btn-option active">Pesquisar</a>
							</div>
						</span>
					</div>
				</span>
			</div>
		
            <div ng-switch on="selectedexpenseMode">
				<span ng-switch-when="read"><span ng-include src="'views/parts/expense/expense-read.html'"></span></span>
				<span ng-switch-when="write"><span ng-include src="'views/parts/expense/expense-write.html'"></span></span>
			</div>
			
		</div>
            
		<div class="clearfix"></div>
        
        <!-- DATAGRID -->
        <div class="row-fluid">
            <div class="grid-expense">
                <div class="header">
                    <div class="grid-expense">
                    	<span class="col-0">
                        <div> Item </div>
                        </span>
                    	<span class="col-1">
                        <div> ID </div>
                        </span>
                    	<span class="col-2">
                        <div> Data</div>
                        </span> 
                        <span class="col-3">
                        <div> Classifica&ccedil;&atilde;o </div>
                        </span> 
                        <span class="col-4">
                        <div> Contas a pagar / Observa&ccedil;&atilde;o </div>
                        </span> 
                        <span class="col-5">
                        <div> Vencto </div>
                        </span> 
                        <span class="col-6">
                        <div> Valor </div>
                        </span> 
                        <span class="col-7">
                        <div> &nbsp; </div>
                        </span> 
                	</div>
                </div>
                <div class="subtitle">
                    <div class="grid-expense">
                    	<span class="col-0">
                        <div> 1 </div>
                        </span>
                    	<span class="col-1">
                        <div> &nbsp; </div>
                        </span>
                    	<span class="col-2">
                        <div> &nbsp; </div>
                        </span> 
                        <span class="col-3">
                        <div> &nbsp; </div>
                        </span> 
                        <span class="col-4">
                        <div> &nbsp; </div>
                        </span> 
                        <span class="col-5">
                        <div> Total </div>
                        </span> 
                        <span class="col-6">
                        <div> 789,00 </div>
                        </span> 
                        <span class="col-7">
                        <div> &nbsp; </div>
                        </span> 
                	</div>
                </div>
				
                <div class="scroll-expense">
                    <div class="row-expense"> 
                    	<span class="col-0">
                        <div> 1 </div>
                        </span>
                        <span class="col-1">
                        <div> 034-13 </div>
                        </span> 
                        <span class="col-2">
                        <div> 06/11/13 </div>
                        </span> 
                        <span class="col-3">
                        <div> BRINDES </div>
                        </span> 
                        <span class="col-4">
                        <div> M A V COMERCIO DE ACESSORIOS LTDA </div>
                        <div class="comment"> COMPRA DE BRINDES PARA CLIENTES </div>
                        </span> 
                        <span class="col-5">
                        <div> 06/11/13 </div>
                        </span> 
                        <span class="col-6">
                        <div> 789,00 </div>
                        </span> 
                        <span class="col-7">						
							<!--somente para a tela de baixa-->
							<!--<div><input type="checkbox" id="filter-bar-checkbox" value="todos"></div>-->
							
							<!--somente para a tela de adicionar/editar-->
							<!--<div class="hover-state-pointer">
								<img src="images/del-pink.png" alt="" ng-click="removeCheck(payment)" />
							</div>-->
                        </span> 
                	</div>
				</div>
            </div>
        </div>
		<br/>
    
	</div>
    
</div>