<div class="container ng-scope">
	
    <!-- HEADER -->
    <div class="row-fluid">
		<span class="span12"><span ng-include src="'views/parts/global/header.html'"></span></span>
	</div>
    
    <div class="form-financial">
    
		<div class="row-fluid pull-right panel-top">
    
            <!-- BREAD CRUMBS -->
            <div class="row-fluid bread-crumbs">
				<span class="span10">
					<span class="principal">Financeiro</span> &gt; <span class="crumbs">Contas a pagar</span>
				</span>
				<span class="span2">
					<div class="control-group lbl-top icons">
						<a href="#/expense" title="cadastrar"><img src="images/icons/ic-add.png"></a>
					</div>	
					<div class="control-group lbl-top icons">
						<img src="images/icons/ic-edit.png">
					</div>	
					<div class="control-group lbl-top icons">
						<a href="#/financial" title="listar"><img src="images/icons/ic-open.png"></a>
					</div>	
					<div class="control-group lbl-top icons">
						<img src="images/icons/ic-search.png">
					</div>	
				</span>
            </div>
            
		</div>
            
		<div class="clearfix"></div>
        
        <!-- DATAGRID -->
        <div class="row-fluid">
            <div class="grid-financial">
                <div class="header">
                    <div class="row-financial">
                    	<span class="col-0">
                        <div> ID </div>
                        </span>
                    	<span class="col-1">
                        <div> Data </div>
                        </span> 
                        <span class="col-2">
                        <div> Classificação </div>
                        </span> 
                        <span class="col-3">
                        <div> Contas a pagar / Observação </div>
                        </span> 
                        <span class="col-4">
                        <div> Vencimento </div>
                        </span> 
                        <span class="col-5">
                        <div> Total </div>
                        </span> 
                	</div>
                </div>
                <div class="scroll-financial">
                    <div class="row-financial"> 
                    	<span class="col-0">
                        <div> 12 </div>
                        </span>
                        <span class="col-1">
                        <div> 15/05/2014 </div>
                        </span> 
                        <span class="col-2">
                        <div> BRINDES </div>
                        </span> 
                        <span class="col-3">
                        <div> MV Comércio e Serviços de Brindes LTDA </div>
                        </span> 
                        <span class="col-4">
                        <div> 15/05/2014 </div>
                        </span> 
                        <span class="col-5">
                        <div> 250,00 </div>
                        </span> 
                	</div>
                    <div class="row-financial"> 
                    	<span class="col-0">
                        <div> 12 </div>
                        </span>
                        <span class="col-1">
                        <div> 15/05/2014 </div>
                        </span> 
                        <span class="col-2">
                        <div> BRINDES </div>
                        </span> 
                        <span class="col-3">
                        <div> MV Comércio e Serviços de Brindes LTDA </div>
                        </span> 
                        <span class="col-4">
                        <div> 15/05/2014 </div>
                        </span> 
                        <span class="col-5">
                        <div> 250,00 </div>
                        </span> 
                	</div>
                    <div class="row-financial"> 
                    	<span class="col-0">
                        <div> 12 </div>
                        </span>
                        <span class="col-1">
                        <div> 15/05/2014 </div>
                        </span> 
                        <span class="col-2">
                        <div> BRINDES </div>
                        </span> 
                        <span class="col-3">
                        <div> MV Comércio e Serviços de Brindes LTDA </div>
                        </span> 
                        <span class="col-4">
                        <div> 15/05/2014 </div>
                        </span> 
                        <span class="col-5">
                        <div> 250,00 </div>
                        </span> 
                	</div>
                    <div class="row-financial"> 
                    	<span class="col-0">
                        <div> 12 </div>
                        </span>
                        <span class="col-1">
                        <div> 15/05/2014 </div>
                        </span> 
                        <span class="col-2">
                        <div> BRINDES </div>
                        </span> 
                        <span class="col-3">
                        <div> MV Comércio e Serviços de Brindes LTDA </div>
                        </span> 
                        <span class="col-4">
                        <div> 15/05/2014 </div>
                        </span> 
                        <span class="col-5">
                        <div> 250,00 </div>
                        </span> 
                	</div>
                </div>
            </div>
        </div>
    
	</div>
    
</div>