<div class="container ng-scope">

	<div class="row-fluid">
		<span class="span12"> <span ng-include src='"views/parts/global/header.html"'></span> </span>

	</div>

	<div class="form-inventory">

		<div class="row-fluid">

			<div class="grid-inventory">
				<div class="header">
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Produto
							</div> </span>
						<span class="col-2">
							<div>
								Qtde
							</div> </span>

					</div>
				</div>
				<div class="scroll-inventory">
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>
					<div class="row-inventory">
						<span class="col-1">
							<div>
								Sabonete 3 em 1 de Limpeza Facial TimeWise®
							</div> </span>
						<span class="col-2">
							<div>
								150
							</div> </span>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>