<div class="bg-login">
			
			<!-- not remove this! (background of login screen) -->
			<div class="bg-login-left"></div>
			<div class="bg-login-center"></div>
			<div class="bg-login-right"></div>
			<div class="container">

				<form class="form-signin">
					<h2 class="form-signin-heading"><img src="images/logo-home.png" alt="" /></h2>
					<div class="control-group lbl-top" >
						<label>Login</label>
						<input type="text" class="input-xlarge" ng-model="user" ng-disabled="hasPersistedUser()" lower-case placeholder="" name="username">
					</div>

					<div class="control-group lbl-top" >
						<label>Senha</label>
						<input type="password" class="input-xlarge" ng-model="pass" placeholder="">
					</div>

          <button ng-click="changeUser()" ng-if="hasPersistedUser()" class="btn btn-large btn-cancel btn-change-user" type="button">
            Trocar usu&aacute;rio
          </button>

					<button tnt-promise-click='login()' class="btn btn-ok btn-large btn-login pull-right" type="submit">
						Entrar
					</button>

					<span class="remember-pass pull-right display-none">
						<input type="checkbox" ng-model="rememberMe" value="remember-me">
						Lembrar senha </span>

					

				</form>

			</div>
		</div>
