<div class="container" scroll-spy>
	
	<div class="row-fluid">
		<span class="span12"> <span ng-include src="'views/parts/global/header.html'"></span></span>
	</div>
    
	<div class="mary-content" ng-switch="selectedSection">
		<div class="home-scroll-content" id="scrollContainer" scroll-container ng-switch-default>
            <div class="row-fluid" anchor id="{{'cat' + $index}}" ng-repeat="line in lines">
			     <catalog-section line="line" section="selectedSection"></catalog-section>
            </div>
		</div>
        
        <div class="home-scroll-content" id="scrollContainer" scroll-container ng-switch-when="Promoções">
            <catalog-highlights section="selectedSection"></catalog-highlights>
        </div>
        
        <div class="home-scroll-content" id="scrollContainer" scroll-container ng-switch-when="Edição Limitada">
            <catalog-highlights section="selectedSection"></catalog-highlights>
        </div>
        
        <div class="home-scroll-content" id="scrollContainer" scroll-container ng-switch-when="Lançamentos">
            <catalog-highlights section="selectedSection"></catalog-highlights>
        </div>
        
        <div class="home-scroll-content" id="scrollContainer" ng-switch-when="Mais Vendidos">
            <span ng-include="'views/catalog/sacred-best-sellers.html'"></span>
        </div>
		<div class="sidebar-menu-scroll">
			<div class="sidebar-menu1">
				<ul class="nav nav-list nav-list-black">
					<li class="menu-black" ng-repeat="section in sections" ng-class="{selected: selectedSection == section}" ng-click="selectSection(section)">
						<a class="hover-state-pointer">{{section}}</a>
					</li>
				</ul>
			</div>
			<div class="sidebar-menu">
				<ul class="nav nav-list">
					<li spy="{{'cat' + $index}}" ng-class="line.color" ng-repeat="line in lines">
						<a class="hover-state-pointer">{{line.name}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
</div>