<div class="container">
	<div class="row-fluid">
		<span class="span12">
		<span ng-include src='"views/header.html"'></span>
		</span>

	</div>
	<div class="mary-content">

		<div class="home-scroll-content">
			<span class="col-left">
				<div class="block-06">

					<div class="box-catalog block-row-02">
						<div class="title-01">
							<span class="green">AME</span> SUA PELE
						</div>
						<div class="line-gradient-01"><img src="images/line-gradient-01.png" alt="" />
						</div>
						<div class="img-catalog-01">
							<img src="images/catalog/img-01.png" alt="" />
						</div>

					</div>

				</div>
				<div class="block-03">

					<div class="box-catalog block-row-03">

						<div class="img-catalog-02">
							<img src="images/catalog/img-02.png" alt="" />
						</div>
						<div class="title-products">
							CREME DE LIMPEZA BOTANICAL EFFECTS™
						</div>

						<div class="text-product">
							Combata os sinais avançados da idade com a nova linha TimeWise Repair™.
						</div>
						<div class="line-gradient-01">
							<img src="images/line-gradient-01.png" alt="" />
						</div>
						<div class="bottom-products">
							<span class="price">R$ 58,00</span><span  ng-click='openDialogAddToBasket()' class="btn-plus"><img src="images/btn-plus.png" alt="" /></span>
						</div>
					</div>

				</div>
				<div class="block-03">

					<div class="box-catalog block-row-03">

						<div class="img-catalog-02">
							<img src="images/catalog/img-02.png" alt="" />
						</div>
						<div class="title-products">
							CREME DE LIMPEZA BOTANICAL EFFECTS™
						</div>

						<div class="text-product">
							Combata os sinais avançados da idade com a nova linha TimeWise Repair™.
						</div>
						<div class="line-gradient-01">
							<img src="images/line-gradient-01.png" alt="" />
						</div>
						<div class="bottom-products">
							<span class="price">R$ 58,00</span><span  ng-click='openDialogAddToBasket()' class="btn-plus"><img src="images/btn-plus.png" alt="" /></span>
						</div>
					</div>

				</div>
				<div class="block-03">

					<div class="box-catalog">

						<div class="img-catalog-02">
							<img src="images/catalog/img-02.png" alt="" />
						</div>
						<div class="title-products">
							CREME DE LIMPEZA BOTANICAL EFFECTS™
						</div>

						<div class="text-product">
							Combata os sinais avançados da idade com a nova linha TimeWise Repair™.
						</div>
						<div class="line-gradient-01">
							<img src="images/line-gradient-01.png" alt="" />
						</div>
						<div class="bottom-products">
							<span class="price">R$ 58,00</span><span  ng-click='openDialogAddToBasket()' class="btn-plus"><img src="images/btn-plus.png" alt="" /></span>
						</div>
					</div>

				</div>
				<div class="block-03">

					<div class="box-catalog">

						<div class="img-catalog-02">
							<img src="images/catalog/img-02.png" alt="" />
						</div>
						<div class="title-products">
							CREME DE LIMPEZA BOTANICAL EFFECTS™
						</div>

						<div class="text-product">
							Combata os sinais avançados da idade com a nova linha TimeWise Repair™.
						</div>
						<div class="line-gradient-01">
							<img src="images/line-gradient-01.png" alt="" />
						</div>
						<div class="bottom-products">
							<span class="price">R$ 58,00</span><span  ng-click='openDialogAddToBasket()' class="btn-plus"><img src="images/btn-plus.png" alt="" /></span>
						</div>
					</div>

				</div> </span>

			<span class="col-right">
				<div class="block-06">
					<div class="box-catalog block-row-02">
						<div class="title-products">
							CREME DE LIMPEZA TIMEWISE
						</div>
						<span class="text-product pull-left"> Combata os sinais avançados da idade com a nova linha TimeWise Repair™. </span>
						<span class="img-catalog-02 pull-right"> <img src="images/catalog/img-02.png" alt="" /> </span>
						<div class="line-gradient-01"><img src="images/line-gradient-01.png" alt="" />
						</div>
						<div class="bottom-products">
							<span class="price">R$ 58,00</span><span  ng-click='openDialogAddToBasket()' class="btn-plus"><img src="images/btn-plus.png" alt="" /></span>
						</div>
					</div>
				</div>
				<div class="block-06">

					<div class="box-catalog block-row-03">
						<div class="img-catalog-02 img-row-03">
							<img src="images/catalog/img-03.png" alt="" />
						</div>
						<div class="title-products">
							CREME DE LIMPEZA TIMEWISE
						</div>
						<div class="text-product2">
							Combata os sinais avançados da idade com a nova linha TimeWise Repair™.
						</div>
						
						<div class="last-oportunitie">
								Última oportunidade de compra: 31/10 
						</div>
						<div class="bottom-products">
							<span class="price">R$ 58,00</span><span  ng-click='openDialogAddToBasket()' class="btn-plus"><img src="images/btn-plus.png" alt="" /></span>
						</div>

					</div>

				</div>
				<div class="block-06">

					<div class="box-catalog block-row-03">
						<div class="img-catalog-02 img-row-03">
							<img src="images/catalog/img-03.png" alt="" />
						</div>
						<div class="title-products">
							CREME DE LIMPEZA TIMEWISE
						</div>
						<div class="text-product2">
							Combata os sinais avançados da idade com a nova linha TimeWise Repair™.
						</div>
						
						<div class="last-oportunitie">
								Última oportunidade de compra: 31/10 
						</div>
						<div class="bottom-products">
							<span class="price">R$ 58,00</span><span  ng-click='openDialogAddToBasket()' class="btn-plus"><img src="images/btn-plus.png" alt="" /></span>
						</div>

					</div>
				</div>
				 </span>

		</div>
	</div>
	<div class="sidebar">
		<div class="sidebar-menu">
			<ul class="nav nav-list">
				<li >
					<a href="#">TimeWise</a>
				</li>
				<li>
					<a href="#">TimeWise Repair</a>
				</li>
				<li class="active">
					<a href="#">Botanical Effects</a>
				</li>
				<li>
					<a href="#">Acne</a>
				</li>
				<li>
					<a href="#">Cl&aacute;ssica</a>
				</li>
				<li>
					<a href="#">Velocity</a>
				</li>
				<li>
					<a href="#">MKMen</a>
				</li>
				<li>
					<a href="#">Cuidados Personalizados</a>
				</li>
				<li>
					<a href="#">Solar</a>
				</li>

			</ul>

		</div>
		<div class="bottom-side-bar">
			<img src="images/catalog/img-botanical-effects.png" alt="" />
		</div>
	</div>
</div>
<div class="footer">

	<ul class="nav-footer">
		<li class="active">
			<a href="#">Cuidados com a Pele</a>
		</li>
		<li>
			<a href="#">Maquiagem</a>
		</li>
		<li>
			<a href="#">Spa e Fragr&acirc;ncias</a>
		</li>
	</ul>
</div>