<div class="container" scroll-spy>
	
	<div class="row-fluid">
		<span class="span12"> <span ng-include src="'views/parts/global/header.html'"></span></span>

	</div>
	<div class="mary-content">

		<div class="home-scroll-content" id="scrollContainer">
		
			<div class="row-fluid">
				<div class="line-01" id="cat1">
				<span class="title-catalog-1 bg-bege">TimeWise®</span>
				
			
				
				<span class="col-left">
				<div class="block-06" >

					<div class="box-catalog block-row-02">
						<div class="title-01">
							<span class="color-bege" >Ame</span> Sua Pele
						</div>
						<div class="line-gradient-01"><img src="images/line-gradient-products-394-bege.png" alt="" />
						</div>
						<div class="img-catalog-01">
							<img src="images/catalog/img-01.png" alt="" />
						</div>
					</div>

				</div>
				<div class="block-06 block-row-03">

					<div class="box-catalog block-row-03">
						<div class="block-product-04">
						<div class="img-catalog-02 img-row-03">
							<img src="images/catalog/time-wise/002326.jpg" alt="" />
						</div>
						<div class="title-products">
							Solução Diurna com FPS 25 TimeWise®
						</div>
						<div class="text-product2">
							Imagine uma película protetora. Com um fator de proteção solar de 25, este produto inovador ajuda a prevenir linhas finas e manchas na pele, bloqueando os raios UVA/UVB. Peptídeos calmantes ajudam a relaxar as linhas de expressão do rosto.
						</div>
						</div>
						<div class="block-product-05">
						<div class="footer-product-right-01">
							<div class="divider">
							<img src="images/line-gradient-products-394-bege.png" alt="" />
							</div>
							<div class="bottom-products-right">
								<span class="price">R$</span><span class="price-number"> 85,00</span><span  ng-click='openDialogAddToBasket(1)' class="btn-plus bg-bege" ></span>
							</div>
						</div>
						</div>
					</div>
				</div>
				<div class="block-03 block-row-03">

					<div class="box-catalog block-row-03">

						<div class="block-product-01">
							<div class="img-catalog-02">
							<img src="images/catalog/time-wise/serum-facial.jpg" alt="" />
						</div>
						<div class="title-products">
							Sérum Facial Renovador TimeWise®
						</div>

						<div class="text-product">
							Dê um up na aparência da pele do seu rosto.
							O Sérum Facial Renovador TimeWise® oferece uma ação lifting e deixa a pele com aparência mais firme e com tônus visivelmente melhor. Este sérum precioso, repleto de antioxidantes, é formulado com ingredientes que atuam na área específica da pele onde estão presentes o colágeno e a elastina, dois dos componentes mais importantes da derme, responsáveis por garantir a sustentação e a elasticidade da pele. 
							O efeito final? Uma pele com aparência renovada. Sua embalagem prática e moderna entrega 6 semanas de uso e contém um medidor que permite controlar o uso diário e semanal.
						</div>
						</div>
						<div class="block-product-02">
						<div class="footer-product-left">
							<img src="images/line-gradient-01-bege.png" alt="" />
							<div class="bottom-products-left">
								<span class="price">R$ </span><span class="price-number">110,00</span><span  ng-click='openDialogAddToBasket(2)' class="btn-plus bg-bege hover-state-pointer"></span>
							</div>
						</div>
						</div>
					</div>

				</div>
				<div class="block-03 block-row-03">

					<div class="box-catalog block-row-03">

						<div class="block-product-01">
							<div class="img-catalog-02">
							<img src="images/catalog/time-wise/mascara_even_complexion_TimeWise.jpg" alt="" />
						</div>
						<div class="title-products">
							Máscara Even Complexion TimeWise®
						</div>

						<div class="text-product">
							A Máscara Even Complexion TimeWise® deixa a pele radiante, hidratada e com sensação de maciez em um único passo.
						</div>
						</div>
						<div class="block-product-02">
						<div class="footer-product-left">
							<img src="images/line-gradient-01-bege.png" alt="" />
							<div class="bottom-products-left">
								<span class="price">R$</span> <span class="price-number">67,00</span><span  ng-click='openDialogAddToBasket(3)' class="btn-plus bg-bege hover-state-pointer"></span>
							</div>
						</div>
						</div>
					</div>

				</div> 
			
				</span>

			<span class="col-right">
				
			<div class="block-06 block-row-03">

					<div class="box-catalog block-row-03">
						<div class="block-product-04">
						<div class="img-catalog-02 img-row-03">
							<img src="images/catalog/time-wise/903000.jpg" alt="" />
						</div>
						<div class="title-products">
							Sabonete 3 em 1 de Limpeza Facial TimeWise®
						</div>
						<div class="text-product2">
							Combina ação anti-idade com três funções essenciais: limpar, tonificar e esfoliar, revelando a aparência de uma pele mais jovem. Ideal para homens e mulheres que querem os benefícios TimeWise na versão sabonete em barra. E traz ainda uma saboneteira exclusiva, ideal para uso em casa e em viagens. Fórmula para uso em peles normais, mistas ou oleosas.
						</div>
						</div>
						<div class="block-product-05">
							<div class="footer-product-right-02">
								<div class="last-oportunitie bg-pink2 color-white">
									Última oportunidade de compra: 31/10
								</div>
								<div class="bottom-products-right">
									<span class="price">R$ </span><span class="price-number">56,00</span><span ng-click='openDialogAddToBasket(13)' class="btn-plus bg-bege hover-state-pointer"></span>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="block-03 block-row-03">

					<div class="box-catalog block-row-03">

						<div class="block-product-01">
							<div class="img-catalog-02">
							<img src="images/catalog/time-wise/complexo-facial-noturno-timewise.jpg" alt="" />
						</div>
						<div class="title-products">
							Complexo Facial Noturno TimeWise®
						</div>

						<div class="text-product">
							Cuide da sua pele enquanto você dorme! Este avançado produto anti-idade trabalha com o ciclo natural da pele para recuperá-la dos danos do dia a dia além de ajudar a estimular a produção de colágeno* e agir na matriz da pele*, área específica em que estão presentes o colágeno e a elastina, responsáveis por garantir a sustentação e elasticidade da pele.
						</div>
						</div>
						<div class="block-product-02">
						<div class="footer-product-left">
							<img src="images/line-gradient-01-bege.png" alt="" />
							<div class="bottom-products-left">
								<span class="price">R$ </span><span class="price-number">85,00</span><span  ng-click='openDialogAddToBasket(14)' class="btn-plus bg-bege hover-state-pointer"></span>
							</div>
						</div>
						</div>
					</div>

				</div>
				<div class="block-03 block-row-03">

					<div class="box-catalog block-row-03">

						<div class="block-product-01">
							<div class="img-catalog-02">
							<img src="images/catalog/time-wise/MoistRenewGel_selo.jpg" alt="" />
						</div>
						<div class="title-products">
							Máscara Hidratante Renovadora em Gel TimeWise®
						</div>

						<div class="text-product">
							Essa maravilhosa máscara hidratante em gel oferece diversos benefícios em um só produto. Sua hidratação é imediata e ajuda a minimizar a aparência de linhas finas e rugas, deixar a pele firme e rejuvenescida, minimizar a aparência dos poros, e deixa a pele com uma aparência descansada.
						</div>
						</div>
						<div class="block-product-02">
						<div class="footer-product-left">
							<img src="images/line-gradient-01-bege.png" alt="" />
							<div class="bottom-products-left">
								<span class="price">R$ </span><span class="price-number">59,00</span><span  ng-click='openDialogAddToBasket(15)' class="btn-plus bg-bege hover-state-pointer"></span>
							</div>
						</div>
						</div>
					</div>

				</div>
				
				<div class="block-06 block-row-02">
					<div class="box-catalog block-row-02">
						
						<div class="title-products">
							Loção Even Complexion TimeWise®
						</div>
						<span class="text-product pull-left">
							Formulada com o exclusivo ingrediente LucentrixTM, a Loção Even Complexion TimeWise® traz resultados clinicamente comprovados na restauração do tom natural da pele, ajudando a reduzir manchas visíveis e o processo de descoloração cutâneo. 
						</span>
						<span class="img-catalog-02 pull-right"> <img src="images/catalog/time-wise/002640_plus.jpg" alt="" /> </span>
						<div class="footer-product-right-03">
							<div class="divider">
							<img src="images/line-gradient-products-394-bege.png" alt="" />
							</div>
							<div class="bottom-products-right">
								<span class="price">R$ </span><span class="price-number">96,00</span><span  ng-click='openDialogAddToBasket(16)' class="btn-plus bg-bege"></span>
							</div>
						</div>
						
					</div>
				</div>
				
				 </span>
			

			
			
		</div>
			</div>
		
		
		
		
		<div class="row-fluid">
			<div class="line-02" id="cat2">
				<span class="title-catalog bg-pink">TimeWise Repair™</span>
				
			
				
				<span class="col-left">
					<div class="block-06 block-row-02" >

					<div class="box-catalog block-row-02">
						<div class="title-01">
							<span class="color-pink" >Ame</span> Sua Pele
						</div>
						<div class="line-gradient-01"><img src="images/line-gradient-products-394-pink.png" alt="" />
						</div>
						<div class="img-catalog-01">
							<img src="images/catalog/img-01.png" alt="" />
						</div>

					</div>

				</div>
				<div class="block-03 block-row-03">

					<div class="box-catalog block-row-03">

						<div class="block-product-01">
							<div class="img-catalog-02">
							<img src="images/catalog/time-wise/serum-facial.jpg" alt="" />
						</div>
						<div class="title-products">
							Sérum Lifting Volu-Firm™ TimeWise Repair™
						</div>

						<div class="text-product">
							A pele madura precisa de cuidados para recuperar a sua juventude. O Sérum Lifting Volu-Firm™ TimeWise Repair™ restaura o volume e proporciona efeito lifting, deixando a pele com a aparência mais jovem e firme.
						</div>
						</div>
						<div class="block-product-02">
						<div class="footer-product-left">
							<img src="images/line-gradient-01-pink.png" alt="" />
							<div class="bottom-products-left">
								<span class="price">R$ </span><span class="price-number">132,00</span><span  ng-click='openDialogAddToBasket(17)' class="btn-plus2 bg-pink hover-state-pointer"></span>
							</div>
						</div>
						</div>
					</div>

				</div>
				<div class="block-03 block-row-03">

					<div class="box-catalog block-row-03">

						<div class="block-product-01">
							<div class="img-catalog-02">
							<img src="images/catalog/time-wise-repair/tw-repair-dia.jpg" alt="" />
						</div>
						<div class="title-products">
							Creme Diurno com FPS 30 Volu-Firm™ TimeWise Repair™
						</div>

						<div class="text-product">
							Protege a pele contra os danos do dia a dia, hidratando-a, reduzindo a aparência de rugas e linhas de expressão e garantindo um tom de pele mais uniforme. Além disso, este creme também oferece fator de proteção solar de amplo espectro, protegendo a pele contra os raios UVA e UVB.
						</div>
						</div>
						<div class="block-product-02">
						<div class="footer-product-left">
							<img src="images/line-gradient-01-pink.png" alt="" />
							<div class="bottom-products-left">
								<span class="price">R$ </span><span class="price-number">105,00</span><span  ng-click='openDialogAddToBasket(18)' class="btn-plus2 bg-pink hover-state-pointer"></span>
							</div>
						</div>
						</div>
					</div>

				</div> 
				
				</span>

			<span class="col-right">
			<div class="block-03 block-row-03">

					<div class="box-catalog block-row-03">

						<div class="block-product-01">
							<div class="img-catalog-02">
							<img src="images/catalog/time-wise/serum-facial.jpg" alt="" />
						</div>
						<div class="title-products">
							Sérum Lifting Volu-Firm™ TimeWise Repair™
						</div>

						<div class="text-product">
							A pele madura precisa de cuidados para recuperar a sua juventude. O Sérum Lifting Volu-Firm™ TimeWise Repair™ restaura o volume e proporciona efeito lifting, deixando a pele com a aparência mais jovem e firme.
						</div>
						</div>
						<div class="block-product-02">
						<div class="footer-product-left">
							<img src="images/line-gradient-01-pink.png" alt="" />
							<div class="bottom-products-left">
								<span class="price">R$ </span><span class="price-number">132,00</span><span  ng-click='openDialogAddToBasket(17)' class="btn-plus2 bg-pink hover-state-pointer"></span>
							</div>
						</div>
						</div>
					</div>

				</div>
				<div class="block-03 block-row-03">

					<div class="box-catalog block-row-03">

						<div class="block-product-01">
							<div class="img-catalog-02">
							<img src="images/catalog/time-wise-repair/tw-repair-dia.jpg" alt="" />
						</div>
						<div class="title-products">
							Creme Diurno com FPS 30 Volu-Firm™ TimeWise Repair™
						</div>

						<div class="text-product">
							Protege a pele contra os danos do dia a dia, hidratando-a, reduzindo a aparência de rugas e linhas de expressão e garantindo um tom de pele mais uniforme. Além disso, este creme também oferece fator de proteção solar de amplo espectro, protegendo a pele contra os raios UVA e UVB.
						</div>
						</div>
						<div class="block-product-02">
						<div class="footer-product-left">
							<img src="images/line-gradient-01-pink.png" alt="" />
							<div class="bottom-products-left">
								<span class="price">R$ </span><span class="price-number">105,00</span><span  ng-click='openDialogAddToBasket(18)' class="btn-plus2 bg-pink hover-state-pointer"></span>
							</div>
						</div>
						</div>
					</div>

				</div> 
				<div class="block-06 block-row-02">
					<div class="box-catalog block-row-02">
						
						<div class="title-products">
							Loção Even Complexion TimeWise®
						</div>
						<span class="text-product pull-left">
							Formulada com o exclusivo ingrediente LucentrixTM, a Loção Even Complexion TimeWise® traz resultados clinicamente comprovados na restauração do tom natural da pele, ajudando a reduzir manchas visíveis e o processo de descoloração cutâneo. 
						</span>
						<span class="img-catalog-02 pull-right"> <img src="images/catalog/time-wise/002640_plus.jpg" alt="" /> </span>
						<div class="footer-product-right-03">
							<div class="divider">
							<img src="images/line-gradient-products-394-pink.png" alt="" />
							</div>
							<div class="bottom-products-right">
								<span class="price">R$ </span><span class="price-number">96,00</span><span  ng-click='openDialogAddToBasket(19)' class="btn-plus2 bg-pink"></span>
							</div>
						</div>
						
					</div>
				</div>
				
				 </span>
			
	
			
			
		</div>
		
		</div>
		
		<div class="row-fluid">
			<div class="line-03" id="cat3">
				<span class="title-catalog bg-green">Botanical Effects</span>
				
			
				
				<span class="col-left">
					<div class="block-06 block-row-02" id="cat3">

					<div class="box-catalog block-row-02">
						<div class="title-01">
							<span class="green" >Ame</span> Sua Pele
						</div>
						<div class="line-gradient-01"><img src="images/line-gradient-products-394.png" alt="" />
						</div>
						<div class="img-catalog-01">
							<img src="images/catalog/img-01.png" alt="" />
						</div>

					</div>

				</div>
				
				<div class="block-03 block-row-03">

					<div class="box-catalog block-row-03">

						<div class="block-product-01">
							<div class="img-catalog-02">
							<img src="images/catalog/botanical-effects/skin_formula_normal_1.jpg" alt="" />
						</div>
						<div class="title-products">
							Creme de Limpeza Botanical Effects – Pele Normal
						</div>

						<div class="text-product">
							Remove a maquiagem e impurezas, deixando a pele com aparência saudável e renovada.
						</div>
						</div>
						<div class="block-product-02">
						<div class="footer-product-left">
							<img src="images/line-gradient-01-green.png" alt="" />
							<div class="bottom-products-left">
								<span class="price">R$ </span><span class="price-number">29,00</span><span  ng-click='openDialogAddToBasket(6)' class="btn-plus2 bg-green hover-state-pointer"></span>
							</div>
						</div>
						</div>
					</div>

				</div>
				<div class="block-03 block-row-03">

					<div class="box-catalog block-row-03">

						<div class="block-product-01">
							<div class="img-catalog-02">
							<img src="images/catalog/botanical-effects/skin_formula_normal_4.jpg" alt="" />
						</div>
						<div class="title-products">
							Máscara Facial Botanical Effects – Pele Normal
						</div>

						<div class="text-product">
							Hidrata as áreas secas, absorve a oleosidade e limpa os poros, deixando a pele renovada e com sensação de frescor. Também pode ser utilizada como esfoliante.
						</div>
						</div>
						<div class="block-product-02">
						<div class="footer-product-left">
							<img src="images/line-gradient-01-green.png" alt="" />
							<div class="bottom-products-left">
								<span class="price">R$ </span><span class="price-number">49,00</span><span  ng-click='openDialogAddToBasket(7)' class="btn-plus2 bg-green hover-state-pointer"></span>
							</div>
						</div>
						</div>
					</div>

				</div>
				<div class="block-06 block-row-02">

					<div class="box-catalog block-row-03">

						<div class="block-product-01">
							<div class="img-catalog-02">
							<img src="images/catalog/botanical-effects/skin_formula_normal_3.jpg" alt="" />
						</div>
						<div class="title-products">
							Tônico Refrescante Botanical Effects – Pele Normal
						</div>

						<div class="text-product">
							Tonifica e remove profundamente as impurezas. Restaura o equilíbrio natural da pele e proporciona uma sensação suave e refrescante.
						</div>
						</div>
						<div class="block-product-02">
						<div class="footer-product-left">
							<img src="images/line-gradient-products-394.png" alt="" />
							<div class="bottom-products-left">
								<span class="price">R$ </span><span class="price-number">29,00</span><span  ng-click='openDialogAddToBasket(8)' class="btn-plus2 bg-green hover-state-pointer"></span>
							</div>
						</div>
						</div>
					</div>

				</div>
				
				</span>

			<span class="col-right">
			
				<div class="block-06">

					<div class="box-catalog block-row-03">
						<div class="block-product-04">
						<div class="img-catalog-02 img-row-03">
							<img src="images/catalog/botanical-effects/skin_formula_oily_4.jpg" alt="" />
						</div>
						<div class="title-products">
							Máscara Facial Botanical Effects – Pele Oleosa
						</div>
						<div class="text-product2">
							Ajuda na limpeza da pele enquanto diminui a aparência dos poros e controla o excesso de oleosidade. Sua pele ficará com aparência iluminada e com agradável sensação de refrescância.
						</div>
						</div>
						<div class="block-product-05">
						<div class="footer-product-right-02">
							<div class="last-oportunitie bg-green color-white">
								Última oportunidade de compra: 31/10
							</div>
							<div class="bottom-products-right">
								<span class="price">R$ </span><span class="price-number">49,00</span><span  ng-click='openDialogAddToBasket(20)' class="btn-plus2 bg-green"></span>
							</div>
						</div>
						</div>
					</div>

				</div>
				<div class="block-03 block-row-03">

					<div class="box-catalog block-row-03">

						<div class="block-product-01">
							<div class="img-catalog-02">
							<img src="images/catalog/botanical-effects/skin_formula_normal_3.jpg" alt="" />
						</div>
						<div class="title-products">
							Tônico Refrescante Botanical Effects – Pele Normal
						</div>

						<div class="text-product">
							Tonifica e remove profundamente as impurezas. Restaura o equilíbrio natural da pele e proporciona uma sensação suave e refrescante.
						</div>
						</div>
						<div class="block-product-02">
						<div class="footer-product-left">
							<img src="images/line-gradient-01-green.png" alt="" />
							<div class="bottom-products-left">
								<span class="price">R$ </span><span class="price-number">29,00</span><span  ng-click='openDialogAddToBasket(8)' class="btn-plus2 bg-green hover-state-pointer"></span>
							</div>
						</div>
						</div>
					</div>

				</div>
				<div class="block-03 block-row-03">

					<div class="box-catalog block-row-03">

						<div class="block-product-01">
							<div class="img-catalog-02">
							<img src="images/catalog/botanical-effects/skin_formula_normal_3.jpg" alt="" />
						</div>
						<div class="title-products">
							Tônico Refrescante Botanical Effects – Pele Normal
						</div>

						<div class="text-product">
							Tonifica e remove profundamente as impurezas. Restaura o equilíbrio natural da pele e proporciona uma sensação suave e refrescante.
						</div>
						</div>
						<div class="block-product-02">
						<div class="footer-product-left">
							<img src="images/line-gradient-01-green.png" alt="" />
							<div class="bottom-products-left">
								<span class="price">R$ </span><span class="price-number">29,00</span><span  ng-click='openDialogAddToBasket(8)' class="btn-plus2 bg-green hover-state-pointer"></span>
							</div>
						</div>
						</div>
					</div>

				</div>
				<div class="block-06 block-row-02">
					<div class="box-catalog block-row-02">
						
						<div class="title-products">
							Gel de Limpeza Botanical Effects – Pele Oleosa
						</div>
						<span class="text-product pull-left">
							Limpa os poros, purifica a pele e remove a maquiagem, deixando-a limpa, renovada e fresca. 
						</span>
						<span class="img-catalog-02 pull-right"> <img src="images/catalog/botanical-effects/skin_formula_normal_1.jpg" alt="" /> </span>
						<div class="footer-product-right-03">
							<div class="divider">
							<img src="images/line-gradient-products-394-green.png" alt="" />
							</div>
							<div class="bottom-products-right">
								<span class="price">R$ </span><span class="price-number">29,00</span><span  ng-click='openDialogAddToBasket(19)' class="btn-plus2 bg-green"></span>
							</div>
						</div>
						
					</div>
				</div>
				
				 </span>
			
	
			
			
		</div>
		
		</div>
		
		
		<div class="row-fluid">
			<div class="line-04" id="cat4">
				<span class="title-catalog bg-gray-02">Acne</span>
				
			
				
				<span class="col-left">
					<div class="block-06 block-row-02" >

					<div class="box-catalog block-row-02">
						<div class="title-01">
							<span class="color-gray-02" >Ame</span> Sua Pele
						</div>
						<div class="line-gradient-01"><img src="images/line-gradient-products-394-gray.png" alt="" />
						</div>
						<div class="img-catalog-01">
							<img src="images/catalog/img-01.png" alt="" />
						</div>

					</div>

				</div>
				<div class="block-06">

					<div class="box-catalog block-row-03">
						<div class="block-product-04">
						<div class="img-catalog-02 img-row-03">
							<img src="images/catalog/acne/kitintrodutorio.jpg" alt="" />
						</div>
						<div class="title-products">
							Kit Introdutório ao Sistema de Cuidados da Pele com Tendência à Acne Mary Kay®
						</div>
						<div class="text-product3">
							Esta versão inclui os três produtos em tamanho teste para serem utilizados por 30 dias. Após aplicar o Sistema de Cuidados da Pele com Tendência à Acne, recomendamos, se necessário, a utilização de um hidratante livre de óleo da Mary Kay®, apropriado para seu tipo de pele.
						</div>
						</div>
						<div class="block-product-05">
						<div class="footer-product-right-02">
							<div class="last-oportunitie bg-gray-01 color-black">
								Última oportunidade de compra: 31/10
							</div>
							<div class="bottom-products-right">
								<span class="price">R$ </span><span class="price-number">95,00</span><span  ng-click='openDialogAddToBasket(12)' class="btn-plus bg-gray-01"></span>
							</div>
						</div>
						</div>
					</div>

				</div>
				<div class="block-03 block-row-03">

					<div class="box-catalog block-row-03">

						<div class="block-product-01">
							<div class="img-catalog-02">
							<img src="images/catalog/acne/sistemacuidados.jpg" alt="" />
						</div>
						<div class="title-products">
							Sistema de Cuidados da Pele com Tendência à Acne Mary Kay®
						</div>

						<div class="text-product">
							Este sistema ajuda a cuidar da acne existente e a prevenir contra o seu aparecimento. Os três produtos são formulados com ácido salicílico e incluem erva de Santo-Antônio, extrato de alga e extrato da raiz de Bardana.
O Sistema de Cuidados da Pele com Tendência à Acne Mary Kay® inclui: Gel de Limpeza para Pele com Tendência à Acne - 127g, Loção para Pele com Tendência à Acne - 50g e Creme Secativo para Pele com Tendência à Acne -  29g.
						</div>
						</div>
						<div class="block-product-02">
						<div class="footer-product-left">
							<img src="images/line-gradient-01-gray.png" alt="" />
							<div class="bottom-products-left">
								<span class="price">R$ </span><span class="price-number">163,00</span><span  ng-click='openDialogAddToBasket(10)' class="btn-plus bg-gray-01 hover-state-pointer"></span>
							</div>
						</div>
						</div>
					</div>

				</div>
				
				<div class="block-03">

					<div class="box-catalog block-row-03">

						<div class="block-product-01">
							<div class="img-catalog-02">
							<img src="images/catalog/acne/secativopele.jpg" alt="" />
						</div>
						<div class="title-products">
							Creme Secativo para Pele com Tendência à Acne Mary Kay®
						</div>

						<div class="text-product">
							Este produto de ação direcionada é formulado com ingredientes botânicos e 2% de ácido salicílico para ajudar a eliminar a acne existente e prevenir contra o surgimento de novos pontos de acne. Este produto altamente eficaz é rapidamente absorvido pela pele, sem deixar resíduos. Deve ser aplicado somente nas lesões. Não aplicar no rosto todo.
						</div>
						</div>
						<div class="block-product-02">
						<div class="footer-product-left">
							<img src="images/line-gradient-01-gray.png" alt="" />
							<div class="bottom-products-left">
								<span class="price">R$ </span><span class="price-number">45,00</span><span  ng-click='openDialogAddToBasket(23)' class="btn-plus bg-gray-01 hover-state-pointer"></span>
							</div>
						</div>
						</div>
					</div>

				</div> 
				
				</span>

			<span class="col-right">
			
				
				<div class="block-03">

					<div class="box-catalog block-row-03">

						<div class="block-product-01">
							<div class="img-catalog-02">
							<img src="images/catalog/acne/locaopurificante.jpg" alt="" />
						</div>
						<div class="title-products">
							Loção para Pele com Tendência à Acne Mary Kay®
						</div>
						<div class="text-product">
							Esta loção translúcida e sedosa é formulada com ingredientes botânicos e 2% de ácido salicílico para ajudar a controlar a oleosidade que pode resultar no aparecimento da acne. Sua fórmula poderosa é rapidamente absorvida, ajudando a minimizar a aparência dos poros e reduzir o brilho. Deve ser aplicado em todo o rosto, evitando a área dos olhos.
						</div>
						</div>
						<div class="block-product-02">
						<div class="footer-product-left">
							<img src="images/line-gradient-01-gray.png" alt="" />
							<div class="bottom-products-left">
								<span class="price">R$ </span><span class="price-number">68,00</span><span  ng-click='openDialogAddToBasket(22)' class="btn-plus bg-gray-01 hover-state-pointer"></span>
							</div>
						</div>
						</div>
					</div>

				</div>
				<div class="block-03">

					<div class="box-catalog block-row-03">

						<div class="block-product-01">
							<div class="img-catalog-02">
							<img src="images/catalog/acne/secativopele.jpg" alt="" />
						</div>
						<div class="title-products">
							Creme Secativo para Pele com Tendência à Acne Mary Kay®
						</div>

						<div class="text-product">
							Este produto de ação direcionada é formulado com ingredientes botânicos e 2% de ácido salicílico para ajudar a eliminar a acne existente e prevenir contra o surgimento de novos pontos de acne. Este produto altamente eficaz é rapidamente absorvido pela pele, sem deixar resíduos. Deve ser aplicado somente nas lesões. Não aplicar no rosto todo.
						</div>
						</div>
						<div class="block-product-02">
						<div class="footer-product-left">
							<img src="images/line-gradient-01-gray.png" alt="" />
							<div class="bottom-products-left">
								<span class="price">R$ </span><span class="price-number">45,00</span><span  ng-click='openDialogAddToBasket(23)' class="btn-plus bg-gray-01 hover-state-pointer"></span>
							</div>
						</div>
						</div>
					</div>

				</div> 
				<div class="block-06">
					<div class="box-catalog block-row-02">
						
						<div class="title-products">
							Spray Corporal para Pele com Tendência
						</div>
						<span class="text-product pull-left">
							Este refrescante spray corporal ajuda a combater a acne na pele do corpo. Pode ser aplicado nos ombros, costas e pernas. Formulado com 2% de ácido salicílico e ingredientes botânicos, penetra nos poros para remover as impurezas da pele, ajudando a controlar o excesso de oleosidade da pele e a reduzir a irritação causada pele acne.
						</span>
						<span class="img-catalog-02 pull-right"> <img src="images/catalog/acne/Spray_acne.jpg" alt="" /> </span>
						<div class="footer-product-right-03">
							<div class="divider">
							<img src="images/line-gradient-products-394-gray.png" alt="" />
							</div>
							<div class="bottom-products-right">
								<span class="price">R$ </span><span class="price-number">55,00</span><span  ng-click='openDialogAddToBasket(21)' class="btn-plus bg-gray-01"></span>
							</div>
						</div>
						
					</div>
				</div>
				<div class="block-06">

					<div class="box-catalog block-row-03">

						<div class="block-product-01">
							<div class="img-catalog-02">
							<img src="images/catalog/acne/gellimpeza.jpg" alt="" />
						</div>
						<div class="title-products">
							Gel de Limpeza para Pele com Tendência à Acne Mary Kay®
						</div>

						<div class="text-product">
							Sua fórmula transparente e leve rapidamente se converte em uma espuma macia que ajuda a remover o excesso de oleosidade. Ao enxaguar, não deixa resíduos na pele, ajudando a eliminar células mortas retidas no interior dos poros. Contém 2% de ácido salicílico juntamente com ingredientes botânicos para deixar a pele limpa e fresca, pronta para o próximo passo. Deve ser aplicado na pele úmida. Em seguida, enxágue ou remova com uma toalha úmida.
						</div>
						</div>
						<div class="block-product-02">
						<div class="footer-product-left">
							<img src="images/line-gradient-products-394-gray.png" alt="" />
							<div class="bottom-products-left">
								<span class="price">R$ </span><span class="price-number">50,00</span><span  ng-click='openDialogAddToBasket(11)' class="btn-plus bg-gray-01 hover-state-pointer"></span>
							</div>
						</div>
						</div>
					</div>

				</div>
				 </span>
			
	
			
			
		</div>
		
		</div>
		
		
		</div>
		<div class="sidebar-menu1">
			<ul class="nav nav-list nav-list-black">
				<li class="white">
					<input type="search" value="Pesquisar" style="width:110px; margin:4px 0 4px 0; color:#777; border-color:#fff;">
				<img src="images/search-icon.png" width="21" height="21" alt="search" />				</li>
				<li class="menu-black selected">
					<a href="#" class="hover-state-pointer">Cuidados com a Pele</a>
				</li>
				<li class="menu-black">
					<a href="#" class="hover-state-pointer">Maquiagem</a>
				</li>
				<li class="menu-black">
					<a href="#" class="hover-state-pointer">Spa e Fragr&acirc;ncias</a>
				</li>
			</ul>

		</div>
	  <div class="sidebar-menu">
			<ul class="nav nav-list">
				<li spy="cat1" class="active bege">
					<a class="hover-state-pointer">TimeWise</a>
				</li>
				<li spy="cat2" class="pink">
					<a class="hover-state-pointer">TimeWise Repair</a>
				</li>
				<li spy="cat3" class="green">
					<a class="hover-state-pointer">Botanical Effects</a>
				</li>
				<li spy="cat4" class="gray">
					<a class="hover-state-pointer">Acne</a>
				</li>
			</ul>

		</div>
		<div class="banner-side-bar" style="display:">
			<img src="images/catalog/banner/banner-timewise.png" alt="" />
		</div>
		<div class="banner-side-bar" style="display: none">
			<img src="images/catalog/banner/banner-timewise-repair.png" alt="" />
		</div>
		<div class="banner-side-bar" style="display: none">
			<img src="images/catalog/banner/banner-acne.png" alt="" />
		</div>
		<div class="banner-side-bar" style="display: none">
			<img src="images/catalog/banner/banner-botanical-effects.png" alt="" />
		</div>

	</div>
	
</div>

<!--<span ng-include="'views/parts/catalog/footer.html'"></span>-->
