<div class="container ng-scope">

	<!-- HEADER -->
	<div class="row-fluid">
		<span class="span12"><span ng-include src="'views/parts/global/header.html'"></span></span>
	</div>
	
	<div class="form-order-list">
    
		<div class="row-fluid pull-right panel-top">

			<!-- BREAD CRUMBS -->
			<div class="row-fluid bread-crumbs">
				<span class="span6">
					<span class="principal">Resumo de vendas</span> &nbsp; <span class="crumbs">&nbsp;</span>
				</span>
				<span class="span6">
					<div class="float-right">
						<span class="menu-level">
							<div class="btn-group btn-group-sm" ng-init="ol='orders'">
								<a class="btn btn-option" ng-class="{active: ol=='orders'}" ng-click="ol='orders'">Pedidos</a> 
								<a class="btn btn-option" ng-class="{active: ol=='customers'}" ng-click="ol='customers'">Clientes</a> 
								<a class="btn btn-option" ng-class="{active: ol=='products'}" ng-click="ol='products'">Produtos</a>
							</div>
						</span>
					</div>
				</span>
			</div>
				
		</div>		
	
		<div class="row-fluid">		
			<div class="details-order-list-item">
				<div class="col-details-order-list-item">	
					<div class="margintn5">
					<!-- DATE INTERVAL -->					
					<span class="lbl-money">			
						<div class="controls">
							<div class="control-group lbl-top">
								<div class="controls w175">
									Per&iacute;odo <input type="text" placeholder="" show-weeks="false" datepicker-popup="dd/MM/yy" class="date-field input-small w70" required ng-model="dateFilter.dtInitial"><span class="ic-calendar hover-state-pointer"><img src="images/icons/ic-calendar.png"></span>
								</div>
							</div>
						</div>				
					</span>							
					<span class="lbl-money order-list-periodo2">				
						<div class="controls">
							<div class="control-group lbl-top">
								<div class="controls">
									<input type="text" placeholder="" show-weeks="false" datepicker-popup="dd/MM/yy" class="date-field input-small w70" required ng-model="dateFilter.dtFinal"><span class="ic-calendar hover-state-pointer"><img src="images/icons/ic-calendar.png"></span>
								</div>
							</div>
						</div>				
					</span>
					</div>
				</div>
				
				<div class="col-details-order-list-item">	
					<div>	
						<span class="border">
							<span class="details-order-list-item-total"><span class="lbl-money">Valor total</span>
							<span class="lbl-money3">&nbsp;</span>
							<span class="btn-price-payment">{{total.all.amount | currency:''}}</span></span>					
						</span>
					</div>
				</div>
				
				<div class="col-details-order-list-item">	
					<div class="show-details-icon">
						<img src="images/ic-sort-triangle-up-pink.png"><!--<img src="images/ic-sort-triangle-down-pink.png">-->
					</div>
				</div>
			</div>
		</div>
		
		<div class="row-fluid show-details">		
			<div class="details-order-list-item">
				
				<div class="col-details-order-list-item">					
					<span class="border">
						<span class="lbl-money">Dinheiro</span>
						<span class="lbl-money3">&nbsp;</span>
						<span class="btn-price-payment">{{total.cash.amount | currency:''}}</span>
					</span>
					<span class="border">
						<span class="lbl-money">Cheque</span>
						<span class="lbl-money3">( {{total.check.qty}} )</span>
						<span class="btn-price-payment">{{total.check.amount | currency:''}}</span>
					</span>
				</div>
				
				<div class="col-details-order-list-item">
					<span class="border">
						<span class="lbl-money">Cart&atilde;o</span>
						<span class="lbl-money3">( {{total.creditCard.qty + total.noMerchantCc.qty}} )</span>
						<span class="btn-price-payment">{{(total.creditCard.amount + total.noMerchantCc.amount)| currency:''}}</span>
					</span>
					<span class="border">
						<span class="lbl-money">Troca</span>
						<span class="lbl-money3">( {{total.exchange.qty}} )</span>
						<span class="btn-price-payment">{{total.exchange.amount | currency:''}}</span>
					</span>
				</div>
				
				<div class="col-details-order-list-item">
					<span class="border">
						<span class="lbl-money">Vale/Cupom</span>
						<span class="lbl-money3">&nbsp;</span>
						<span class="btn-price-payment">{{total.voucher.amount | currency:''}}</span>
					</span>
					<span class="border">
						<span class="lbl-money">Contas a Receber</span>
						<span class="lbl-money3">&nbsp;</span>
						<span class="btn-price-payment">{{total.onCuff.amount | currency:''}}</span>
					</span>
				</div>		
			</div>
		</div>
	
        <div ng-switch="ol">
    		<!--Pedidos-->
    		<div class="order-list-grid-pedidos" ng-switch-when="orders" ng-controller="OrderListOrdersCtrl">
    			<div class="row-fluid">
    				<div class="grid-order-list">
    					<div class="header">
    						<div class="row-order-list">
    							<div class="col-1">
    								<span>Data</span>
    							</div>
    							<div class="col-3">
    								<span>Pedido</span>
    							</div>
    							<div class="col-2">
    								<span>Clientes</span>
    							</div>
    							<div class="col-4">
    								<span>Qtde.</span>
    							</div>
    							<div class="col-5">
    								<span>P. M&eacute;dio</span>
    							</div>
    							<div class="col-6">
    								<span>Valor total</span>
    							</div>
    						</div>
    					</div>
    					<div class="scroll-order-list">
    						<div class="row-order-list hover-state-pointer"
    							ng-repeat="order in filteredOrders | orderBy: '-date'" ng-click="selectOrder(order)">
    							<div class="col-1">
    								<span>{{order.date | date:'dd/MM/yyyy'}}</span>
    							</div>
    							<div class="col-2">
    								<span>{{order.code}}</span>
    							</div>
    							<div class="col-3">
    								<span>{{order.entityName | truncate: 50}}</span>
    							</div> 
    							<div class="col-4">
    								<span>{{order.itemsQty}}</span>
    							</div>
    							<div class="col-5 ">
    								<span>{{order.avgPrice | currency: 'R$'}}</span>
    							</div>
    							<div class="col-6">
    								<span>{{order.amountTotal | currency: 'R$'}}</span>
    							</div>
    						</div>
    						</div>
    					</div>
    				</div>
    					
    				<br/>			
    			</div>
    		<!--Clientes-->
    		<div class="order-list-grid-clientes" ng-switch-when="customers" ng-controller="OrderListClientsCtrl" >
    			<div class="row-fluid">
    				<div class="grid-order-list">
    					<div class="header">
    						<div class="row-order-list">
    							<div class="col-1">
    								<span>Rank</span>
    							</div>
    							<div class="col-2">
    								<span>Clientes</span>
    							</div>
    							<div class="col-3">
    								<span>&Uacute;ltimo pedido</span>
    							</div>
    							<div class="col-4">
    								<span>Qtde.</span>
    							</div>
    							<div class="col-5">
    								<span>P. M&eacute;dio</span>
    							</div>
    							<div class="col-6">
    								<span>Valor total</span>
    							</div>
    						</div>
    					</div>
    					<div class="scroll-order-list">
    						<div class="row-order-list hover-state-pointer" 
    								ng-repeat="consol in ordersByCLientList | orderBy: '-totalAmount'" ng-click="selectOrder(consol)">
    							<div class="col-1">
    								<span>{{$index+1}}</span>
    							</div>
    							<div class="col-2">
    								<span>{{consol.name| truncate: 50}}</span>
    							</div>
    							<div class="col-3">
    								<span>{{consol.lastOrder | date:'dd/MM/yyyy'}}</span>
    							</div> 
    							<div class="col-4">
    								<span>{{consol.totalQuantity}}</span>
    							</div>
    							<div class="col-5">
    								<span>{{consol.averagePrice | currency:'R$'}}</span>
    							</div>
    							<div class="col-6">
    								<span>{{consol.totalAmount | currency:'R$'}}</span>
    							</div>
    						</div>
    					</div>
    				</div>				
    				<br/>			
    			</div>			
    		</div>
    	
    		<!--Produtos-->
    		<div class="order-list-grid-produtos" ng-switch-when="products" ng-controller="OrderListProductsCtrl">
    			<div class="row-fluid">
    				<div class="grid-order-list">
    					<div class="header">
    						<div class="row-order-list">
    							<div class="col-1">
    								<span>Rank</span>
    							</div>
    							<div class="col-2">
    								<span>Produtos</span>
    							</div>
    							<div class="col-3">
    								<span>Estoque atual</span>
    							</div>
    							<div class="col-4">
    								<span>Qtde. Vendida</span>
    							</div>
    							<div class="col-5">
    								<span>Vlr. unit.</span>
    							</div>
    							<div class="col-6">
    								<span>Valor total</span>
    							</div>
    						</div>
    					</div>
    					<div class="scroll-order-list">
    						<div class="row-order-list hover-state-pointer">
    							<div class="col-1">
    								<span></span>
    							</div>
    							<div class="col-2">
    							<div>Creme de Limpeza 3 em 1 - 127g</div>
    							<div class="comment">10-042751 - Pele Normal/Seca</div>
    							</div>
    							<div class="col-3">
    								<span></span>
    							</div> 
    							<div class="col-4">
    								<span>4</span>
    							</div>
    							<div class="col-5">
    								<span>235,25</span>
    							</div>
    							<div class="col-6">
    								<span>941,00</span>
    							</div>
    						</div>
    					</div>
    				</div>				
    				<br/>			
    			</div>
    		</div>
        </div>

	</div>
	
</div>
