<div class="container ng-scope">

	<!-- HEADER -->
	<div class="row-fluid">
		<span class="span12"><span ng-include src="'views/parts/global/header.html'"></span></span>
	</div>
	
	<div class="form-order-list">
    
		<div class="row-fluid pull-right panel-top">

			<!-- BREAD CRUMBS -->
			<div class="row-fluid bread-crumbs">
				<span class="span6">
					<span class="principal">Resumo de vendas</span> &nbsp; <span class="crumbs">&nbsp;</span>
				</span>
				<span class="span6">
					<!--<div class="control-group lbl-top icons">
						<img src="images/icons/ic-add.png">
					</div>	
					<div class="control-group lbl-top icons">
						<img src="images/icons/ic-edit.png">
					</div>	
					<div class="control-group lbl-top icons">
						<img src="images/icons/ic-open.png">
					</div>	
					<div class="control-group lbl-top icons">
						<img src="images/icons/ic-search.png">
					</div>-->
					<div class="float-right">
						<span class="menu-level">
							<div class="btn-group btn-group-sm">
								<a class="btn btn-option active">Pedidos</a> 
								<a class="btn btn-option">Clientes</a> 
								<a class="btn btn-option">Produtos</a>
							</div>
						</span>
					</div>
				</span>
			</div>
				
		</div>		
	
		
		<div class="row-fluid">		
				<div class="details-order-list-item">
					
					<div class="col-details-order-list-item">	
						<div class="margintn5">
						<!-- DATE INTERVAL -->					
						<span class="lbl-money">			
							<div class="controls">
								<div class="control-group lbl-top">
									<div class="controls w160">
										Per&iacute;odo <input type="text" placeholder="" show-weeks="false" datepicker-popup="dd/MM/yy" class="date-field input-small w60" required ng-model="dtInitial"><span class="ic-calendar hover-state-pointer"><img src="images/icons/ic-calendar.png"></span>
									</div>
								</div>
							</div>				
						</span>							
						<span class="lbl-money order-list-periodo2">				
							<div class="controls">
								<div class="control-group lbl-top">
									<div class="controls">
										<input type="text" placeholder="" show-weeks="false" datepicker-popup="dd/MM/yy" class="date-field input-small w60" required ng-model="dtFinal"><span class="ic-calendar hover-state-pointer"><img src="images/icons/ic-calendar.png"></span>
									</div>
								</div>
							</div>				
						</span>
						</div>
						<div>	
							<span class="border-total">
								<span class="details-order-list-item-total"><span class="lbl-money">Valor total</span>
								<span class="lbl-money3">( {{payments | paymentType:'check' | count:'id'}} )</span>
								<span class="btn-price-payment">{{payments | paymentType:'check' | sum:'amount' | currency:''}}</span></span>					
							</span>
						</div>
					</div>
					
					<div class="col-details-order-list-item">
					
						<span class="border">
							<span class="lbl-money">Dinheiro</span>
							<span class="lbl-money3">&nbsp;</span>
							<span class="btn-price-payment">{{payments | paymentType:'check' | sum:'amount' | currency:''}}</span>
						</span>
						<span class="border">
							<span class="lbl-money">Cheque</span>
							<span class="lbl-money3">( {{payments | paymentType:'check' | count:'id'}} )</span>
							<span class="btn-price-payment">{{payments | paymentType:'check' | sum:'amount' | currency:''}}</span>
						</span>
						<span class="border">
							<span class="lbl-money">Cart&atilde;o</span>
							<span class="lbl-money3">(100000)</span>
							<span class="btn-price-payment">{{payments | paymentType:'check' | sum:'amount' | currency:''}}</span>
						</span>
					</div>
					
					<div class="col-details-order-list-item">
						<span class="border">
							<span class="lbl-money">Troca</span>
							<span class="lbl-money3">(100000)</span>
							<span class="btn-price-payment">{{payments | paymentType:'check' | sum:'amount' | currency:''}}</span>
						</span>
						<span class="border">
							<span class="lbl-money">Vale/Cumpom</span>
							<span class="lbl-money3">&nbsp;</span>
							<span class="btn-price-payment">{{payments | paymentType:'check' | sum:'amount' | currency:''}}</span>
						</span>
						<span class="border">
							<span class="lbl-money">Contas a Receber</span>
							<span class="lbl-money3">&nbsp;</span>
							<span class="btn-price-payment">{{payments | paymentType:'check' | sum:'amount' | currency:''}}</span>
						</span>
					</div>		
				</div>
		</div>
	
		<!--Pedidos-->
		<div class="order-list-grid-pedidos">
			<div class="row-fluid">
				<div class="grid-order-list">
					<div class="header">
						<div class="row-order-list">
							<div class="col-1">
								<span>Data</span>
							</div>
							<div class="col-3">
								<span>Pedido</span>
							</div>
							<div class="col-2">
								<span>Clientes</span>
							</div>
							<div class="col-4">
								<span>Qtde.</span>
							</div>
							<div class="col-5">
								<span>P. M&eacute;dio</span>
							</div>
							<div class="col-6">
								<span>Valor total</span>
							</div>
						</div>
					</div>
					<!--<div class="scroll-order-list">
						<div class="row-order-list hover-state-pointer"
							ng-repeat="order in dataProvider.orders | filter: customerNameAugmenter | orderBy: '-date'" ng-click="openPartialDelivery(order)">
							<div class="col-1">
								<span>{{order.date | date:'dd/MM/yyyy'}}</span>
							</div>
							<div class="col-2">
								<span>{{order.code}}</span>
							</div>
							<div class="col-3">
								<span>{{order.customerName | truncate: 50}}</span><!--<span>Produto</span>->
							</div> 
							<div class="col-4">
								<span>{{order.items.length}}</span>
							</div>
							<div class="col-5 marginr20">
								<span>{{order.items | obInject: 'mul':'qty':'price':'subtotal' | sum:'subtotal' | currency: 'R$'}}</span>
							</div>
						</div>
					</div>-->
					<div class="scroll-order-list">
						<div class="row-order-list hover-state-pointer">
							<div class="col-1">
								<span>29/10/13</span>
							</div>
							<div class="col-3">
								<span>0001-13</span>
							</div>
							<div class="col-2">
								<span>Valtanette De Paula</span>
							</div> 
							<div class="col-4">
								<span>4</span>
							</div>
							<div class="col-5">
								<span>235,25</span>
							</div>
							<div class="col-6">
								<span>941,00</span>
							</div>
						</div>
					</div>
				</div>
					
				<br/>			
			</div>
		</div>
	
		<!--Clientes-->
		<div class="order-list-grid-clientes display-none">
			<div class="row-fluid">
				<div class="grid-order-list">
					<div class="header">
						<div class="row-order-list">
							<div class="col-1">
								<span>Rank</span>
							</div>
							<div class="col-2">
								<span>Clientes</span>
							</div>
							<div class="col-3">
								<span>&Uacute;ltimo pedido</span>
							</div>
							<div class="col-4">
								<span>Qtde.</span>
							</div>
							<div class="col-5">
								<span>P. M&eacute;dio</span>
							</div>
							<div class="col-6">
								<span>Valor total</span>
							</div>
						</div>
					</div>
					<div class="scroll-order-list">
						<div class="row-order-list hover-state-pointer">
							<div class="col-1">
								<span>1</span>
							</div>
							<div class="col-2">
								<span>Valtanette De Paula</span>
							</div>
							<div class="col-3">
								<span>12/01/14</span>
							</div> 
							<div class="col-4">
								<span>4</span>
							</div>
							<div class="col-5">
								<span>235,25</span>
							</div>
							<div class="col-6">
								<span>941,00</span>
							</div>
						</div>
					</div>
				</div>				
				<br/>			
			</div>			
		</div>
	
		<!--Produtos-->
		<div class="order-list-grid-produtos display-none">
			<div class="row-fluid">
				<div class="grid-order-list">
					<div class="header">
						<div class="row-order-list">
							<div class="col-1">
								<span>Rank</span>
							</div>
							<div class="col-2">
								<span>Produtos</span>
							</div>
							<div class="col-3">
								<span>Estoque atual</span>
							</div>
							<div class="col-4">
								<span>Qtde. Vendida</span>
							</div>
							<div class="col-5">
								<span>Vlr. unit.</span>
							</div>
							<div class="col-6">
								<span>Valor total</span>
							</div>
						</div>
					</div>
					<div class="scroll-order-list">
						<div class="row-order-list hover-state-pointer">
							<div class="col-1">
								<span></span>
							</div>
							<div class="col-2">
							<div>Creme de Limpeza 3 em 1 - 127g</div>
							<div class="comment">10-042751 - Pele Normal/Seca</div>
							</div>
							<div class="col-3">
								<span></span>
							</div> 
							<div class="col-4">
								<span>4</span>
							</div>
							<div class="col-5">
								<span>235,25</span>
							</div>
							<div class="col-6">
								<span>941,00</span>
							</div>
						</div>
					</div>
				</div>				
				<br/>			
			</div>
		</div>

	</div>
	
</div>