<div class="container ng-scope">

	<div class="row-fluid">
		<span class="span12"> <span ng-include
			src='"views/parts/global/header.html"'></span>
		</span>

	</div>

	<div class="form-order-list">

		<div class="row-fluid">

			<div class="grid-order-list">
				<div class="header">
					<div class="row-order-list">
						<span class="col-1">
							<div>Nº/Pedido</div>
						</span> <span class="col-2">
							<div>Data</div>
						</span> <span class="col-3">
							<div>Cliente</div>
						</span>
						<span class="col-4">
							<div>Itens</div>
						</span> <span class="col-5">
							<div>Valor</div>
						</span>
					</div>
				</div>
				<div class="scroll-order-list">
					<div class="row-order-list hover-state-pointer"
						ng-repeat="order in dataProvider.orders | filter: customerNameAugmenter | orderBy: '-date'" ng-click="openPartialDelivery(order)">
						<span class="col-1">
							<div>{{order.code}}</div>
						</span> <span class="col-2">
							<div>{{order.date | date:'dd/MM/yyyy'}}</div>
						</span> <span class="col-3">
							<div>{{order.customerName}}</div>
						</span> 
						<span class="col-4">
							<div>12</div>
						</span><span class="col-5">
							<div>{{order.items | obInject:
								'mul':'qty':'price':'subtotal' | sum:'subtotal' | currency:
								'R$'}}</div>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>