<div class="container ">

	<div class="row-fluid">
		<span class="span12"> <span ng-include
			src="'views/parts/global/header.html'"></span>
		</span>

	</div>

	<div class="container-payment">

		<div class="row-fluid">
			<div class="span8">
				<span ng-include src="'views/parts/payment/col-left-payment.html'"></span>

			</div>
			<div class="span4">
				<span class="payment-right-column" ng-include src="'views/parts/payment/col-right-payment.html'"></span>
			</div>
		</div>

	</div>
</div>
