<div class="container">

	<form class="form-payment-check" name='checkForm'>
		<span class="heading-gradient">PAGAMENTO EM CHEQUE</span>


		<div class="row-fluid">
			<div class="control-group lbl-top">
				<label class="control-label"> Banco </label>
				<div class="controls">
					<input class="input-mini" type="text" placeholder=""
						ng-model="check.bank" required recall>
				</div>
			</div>
			<div class="control-group lbl-top">
				<label class="control-label"> Agência </label>
				<div class="controls">
					<input class="input-mini" type="text" placeholder=""
						ng-model="check.agency" required>
				</div>
			</div>
			<div class="control-group lbl-top">
				<label class="control-label"> Conta </label>
				<div class="controls">
					<input class="input-cta" type="text" ng-model="check.account"
						required recall>
				</div>
			</div>
			<div class="control-group lbl-top">
				<label class="control-label"> Cheque </label>
				<div class="controls">
					<input class="input-mini" type="text" ng-model="check.check"
						required recall>
				</div>
			</div>
			<div class="control-group lbl-top">
				<label class="control-label"> Vencimento </label>
				<div class="controls">
					<input type="text" show-weeks="false" datepicker-popup="dd/MM/yyyy"
						class="date-field input-small" required ng-model="check.date">
				</div>
			</div>
			<div class="control-group lbl-top">
				<label class="control-label"> Valor </label>
				<div class="controls">
					<input class="input-small text-right" type="text"
						ng-model="check.amount" currency recall required>
				</div>
			</div>
			<div class="control-group lbl-top">
				<div class="controls">
					<span class="btn-plus-pink hover-state-pointer"
						ng-click="addCheck(check)"> <img
						src="images/btn-plus-pink.png" alt="" />
					</span>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="grid-payment-check">
				<div class="header">
					<div class="row-payment-check-grid">
						<span class="col-1">
							<div>Banco</div>
						</span> <span class="col-2">
							<div>Agência</div>
						</span> <span class="col-3">
							<div>Conta</div>
						</span> <span class="col-4">
							<div>Cheque</div>
						</span> <span class="col-5">
							<div>Vencimento</div>
						</span> <span class="col-6">
							<div>Valor</div>
						</span>
						<span class="col-7"> 
							<div></div>
						</span>
					</div>
				</div>
				<div class="scroll-payment-grid">
					<div class="row-payment-check-grid" ng-repeat="check in checks">
						<span class="col-1">
							<div>{{check.bank}}</div>
						</span><span class="col-2"><div>{{check.agency}}</div></span><span
							class="col-3"><div>{{check.account}}</div></span><span
							class="col-4"><div>{{check.check}}</div></span><span
							class="col-5"><div>{{check.date |
								date:'dd/MM/yyyy'}}</div></span><span class="col-6"><div>{{check.amount | currency:''}}</div></span><span
							class="col-7"><div class="hover-state-pointer">
								<img src="images/del-pink.png" alt="" ng-click="remove($index)" />
							</div></span>
					</div>
				</div>
			</div>
		</div>
<div class="row-fluid">
				<div class="total-value-payment-check">
					<div>
						<strong>Valor Total:</strong> 166,00
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="error" style="display:none">
					Erro ao inserir dados, contate o suporte informando o código
				</div>
			</div>



		<div class="clearfix"></div>
		<hr />
		<button ng-click='closeDialog()' class="btn btn-large btn-login"
			type="submit">Cancelar</button>
		<button ng-click='submitDialog()'
			class="btn btn-large btn-login pull-right" type="submit">
			Confirmar</button>

	</form>

</div>
