<div class="container ">

			<div class="row-fluid">
				<span class="span12">
					<span ng-include src='"views/header.html"'></span>
				</span>

			</div>

			<div class="container-payment ">

				<div class="row-fluid grid-list">
					<!-- =====================PAYMENTS-RESUME========================================= -->
					<div class="span4 btns-payments" >
						<div class="row-fluid ">

							<div class="col-left-paymets">
								<div class="payments-resume">

									<div class="combo-payment" style="display: none">
										<span class="select-customer">
											<select>
												<option>dsdasd</option>
											</select> </span>
										<span class="ic-plus"> <img src="images/btn-plus.png" alt="" /> </span>

									</div>
									<div class="payments-label-resume">
										<div>
											Cliente:
										</div>

										<div>
											<strong>Total a Receber:</strong>
										</div>
									</div>

									<div class="paymentsvalue-resume">
										<div>
											Ana Maria Lemos de Alcantara Barbosa
										</div>

										<div>
											<strong>1.936,55</strong>
										</div>

									</div>

								</div>

								<div class="btn-group-payment-left">

									<div  class="btn-payments-left">
										<span class="container-money-payment"> <span class="label-btn-payment-left">Dinheiro</span> </span>
										<span class="label-value-btn-payment">0,00</span>
									</div>
									<div  class="btn-payments-left" style="display: none;">
										<span class="container-money-payment"> <span class="label-btn-payment-left2">Dinheiro</span> </span>
										<div class="input-append container-money-payment">
											<span class="input-money">
												<input class="span6 text-right" id="prependedInput" type="text" placeholder="">
												<span class="add-on btn-ok-payment-left" >OK</span> </span>
										</div>
									</div>
									<div class="btn-payments-left">
										<span class="label-btn-left">Cheque</span><span class="label-value-btn-payment">0,00</span>

									</div>
									<div class="btn-payments-left">
										<span class="label-btn-left">Cartão</span><span class="label-value-btn-payment">0,00</span>
									</div>
									<div class="btn-payments-left">
										<span class="label-btn-left">Outros</span><span class="label-value-btn-payment">0,00</span>
									</div>
									<div class="btn-payments-left btn-hover-none">
										<span class="label-btn-left">Total Recebido</span><span class="label-value-btn-payment">0,00</span>
									</div>
									<!--HERE YOU CAN USE CLASSES CSS FOR  BUTTONS COLOR:  red AND green-->
									<div class="btn-payments-left payment-button-closing-balance green">
										<span class="label-btn-left"><strong>Saldo Final</strong></span><span class="label-value-btn-payment"><strong>0,00</strong></span>
									</div>

									<div class="row-fluid panel-resume">
										<div class="pull-left">
											<button type="submit" class="btn btn-gren" >
												Voltar
											</button>
										</div>
										<div class="pull-right">
											<button type="submit" class="btn btn-gren">
												Confirmar/Pgto
											</button>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<!-- =====================PAYMENTS-GRID=========================================== -->
					<div class="row-fluid grid-payment span8">

						<div class="row-payment-header">
							<span class="txt-header-payment-type"> Forma de pagamento</span>

							<span class="txt-header-price">
								<div>
									Vr. Pgto
								</div> </span>

							<span class="txt-header-obs">
								<div>
									Obs
								</div> </span>
						</div>

						<div class="scroll-grid-payment">
							<div class="row-payment">
								<span class="txt-payment-type"> Dinheiro</span>

								<span class="txt-price">
									<div>
										810,00
									</div> </span>

								<span class="txt-obs">
									<div>
										Pagamento em dolar
									</div> </span>
								<span class="ic-delete">
									<div>
										<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
									</div> </span>
							</div>

							<div class="row-payment">
								<span class="txt-payment-type"> Dinheiro</span>

								<span class="txt-price">
									<div>
										210,00
									</div> </span>

								<span class="txt-obs">
									<div>
										Pagamento em dolar
									</div> </span>
								<span class="ic-delete">
									<div>
										<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
									</div> </span>
							</div>

							<div class="row-payment">
								<span class="txt-payment-type"> Dinheiro</span>

								<span class="txt-price">
									<div>
										50,00
									</div> </span>

								<span class="txt-obs">
									<div>
										Pagamento em dolar
									</div> </span>
								<span class="ic-delete">
									<div>
										<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
									</div> </span>
							</div>

							<div class="row-payment">
								<span class="txt-payment-type"> Dinheiro</span>

								<span class="txt-price">
									<div>
										810,00
									</div> </span>

								<span class="txt-obs">
									<div>
										Pagamento em dolar
									</div> </span>
								<span class="ic-delete">
									<div>
										<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
									</div> </span>
							</div>

							<div class="row-payment">
								<span class="txt-payment-type"> Dinheiro</span>

								<span class="txt-price">
									<div>
										810,00
									</div> </span>

								<span class="txt-obs">
									<div>
										Pagamento em dolar
									</div> </span>
								<span class="ic-delete">
									<div>
										<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
									</div> </span>
							</div>

							<div class="row-payment">
								<span class="txt-payment-type"> Dinheiro</span>

								<span class="txt-price">
									<div>
										810,00
									</div> </span>

								<span class="txt-obs">
									<div>
										Pagamento em dolar
									</div> </span>
								<span class="ic-delete">
									<div>
										<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
									</div> </span>
							</div>

							<div class="row-payment">
								<span class="txt-payment-type"> Dinheiro</span>

								<span class="txt-price">
									<div>
										810,00
									</div> </span>

								<span class="txt-obs">
									<div>
										Pagamento em dolar
									</div> </span>
								<span class="ic-delete">
									<div>
										<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
									</div> </span>
							</div>

							<div class="row-payment">
								<span class="txt-payment-type"> Dinheiro</span>

								<span class="txt-price">
									<div>
										210,00
									</div> </span>

								<span class="txt-obs">
									<div>
										Pagamento em dolar
									</div> </span>
								<span class="ic-delete">
									<div>
										<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
									</div> </span>
							</div>

							<div class="row-payment">
								<span class="txt-payment-type"> Dinheiro</span>

								<span class="txt-price">
									<div>
										50,00
									</div> </span>

								<span class="txt-obs">
									<div>
										Pagamento em dolar
									</div> </span>
								<span class="ic-delete">
									<div>
										<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
									</div> </span>
							</div>

							<div class="row-payment">
								<span class="txt-payment-type"> Dinheiro</span>

								<span class="txt-price">
									<div>
										810,00
									</div> </span>

								<span class="txt-obs">
									<div>
										Pagamento em dolar
									</div> </span>
								<span class="ic-delete">
									<div>
										<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
									</div> </span>
							</div>

							<div class="row-payment">
								<span class="txt-payment-type"> Dinheiro</span>

								<span class="txt-price">
									<div>
										810,00
									</div> </span>

								<span class="txt-obs">
									<div>
										Pagamento em dolar
									</div> </span>
								<span class="ic-delete">
									<div>
										<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
									</div> </span>
							</div>

							<div class="row-payment">
								<span class="txt-payment-type"> Dinheiro</span>

								<span class="txt-price">
									<div>
										810,00
									</div> </span>

								<span class="txt-obs">
									<div>
										Pagamento em dolar
									</div> </span>
								<span class="ic-delete">
									<div>
										<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
									</div> </span>
							</div>

							<div class="row-payment">
								<span class="txt-payment-type"> Dinheiro</span>

								<span class="txt-price">
									<div>
										810,00
									</div> </span>

								<span class="txt-obs">
									<div>
										Pagamento em dolar
									</div> </span>
								<span class="ic-delete">
									<div>
										<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
									</div> </span>
							</div>

							<div class="row-payment">
								<span class="txt-payment-type"> Dinheiro</span>

								<span class="txt-price">
									<div>
										210,00
									</div> </span>

								<span class="txt-obs">
									<div>
										Pagamento em dolar
									</div> </span>
								<span class="ic-delete">
									<div>
										<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
									</div> </span>
							</div>

							<div class="row-payment">
								<span class="txt-payment-type"> Dinheiro</span>

								<span class="txt-price">
									<div>
										50,00
									</div> </span>

								<span class="txt-obs">
									<div>
										Pagamento em dolar
									</div> </span>
								<span class="ic-delete">
									<div>
										<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
									</div> </span>
							</div>

							<div class="row-payment">
								<span class="txt-payment-type"> Dinheiro</span>

								<span class="txt-price">
									<div>
										810,00
									</div> </span>

								<span class="txt-obs">
									<div>
										Pagamento em dolar
									</div> </span>
								<span class="ic-delete">
									<div>
										<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
									</div> </span>
							</div>

							<div class="row-payment">
								<span class="txt-payment-type"> Dinheiro</span>

								<span class="txt-price">
									<div>
										810,00
									</div> </span>

								<span class="txt-obs">
									<div>
										Pagamento em dolar
									</div> </span>
								<span class="ic-delete">
									<div>
										<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
									</div> </span>
							</div>

							<div class="row-payment">
								<span class="txt-payment-type"> Dinheiro</span>

								<span class="txt-price">
									<div>
										810,00
									</div> </span>

								<span class="txt-obs">
									<div>
										Pagamento em dolar
									</div> </span>
								<span class="ic-delete">
									<div>
										<span class="img-row-delete"><img src="images/del.png" alt="" /></span>
									</div> </span>
							</div>

						</div>

					</div>
					<!-- =====================/PAYMENTS-GRID========================================== -->
				</div>

			</div>
		</div>
