<div class="container">

	<form class="form-payment-credit-card">
		<span class="heading-gradient">PAGAMENTO COM CART&Atilde;O</span>

		

		<div class="row-fluid">
		
			<div class="controls-row">
						
						<div class="control-group lbl-top">
							<label class="control-label">Nº Parcelas</label>
							<div class="controls">
								<select class='combo-width-1'>
									<option value="">5x</option>
									
								</select>
							</div>
						</div>
						<div class="control-group lbl-top">
							<label class="control-label">Cartão</label>
							<div class="controls">
								<select class='combo-width'>
									<option value="">Visa</option>
									
								</select>
							</div>
						</div>
						<div class="control-group lbl-top">
							<div class="control-group lbl-top">
							<label class="control-label" >Valor</label>
							<div class="controls">
								<input class="input-small text-right" type="text"  placeholder="">
							</div>
							</div>
						</div>
						<div class="control-group lbl-top" >
							<div class="controls">
								<button  class="btn btn-plus-payment-credit-card" type="submit">+</button>
							</div>
						</div>
			
					
						
					</div>
					<div class="grid-payment-credit-card">
							<div class="header">
								<div class="row-payment-credit-card-grid">
									<span class="col-1"><div>Parcelas</div></span><span class="col-2"><div>Cart&atilde;o</div></span><span class="col-3"><div>Valor</div></span><span class="col-4"><div></div></span>
								</div>
							</div>
							<div class="scroll-payment-grid">
								<div class="row-payment-credit-card-grid">
									<span class="col-1"><div>5</div></span><span class="col-2"><div>Visa</div></span><span class="col-3"><div>123,45</div></span><span class="col-4"><div class="hover-state-pointer"><img src="images/del-pink.png" alt="" /></div></span>
								</div>
								<div class="row-payment-credit-card-grid">
									<span class="col-1"><div>5</div></span><span class="col-2"><div>Visa</div></span><span class="col-3"><div>123,45</div></span><span class="col-4"><div class="hover-state-pointer"><img src="images/del-pink.png" alt="" /></div></span>
								</div>
								<div class="row-payment-credit-card-grid">
									<span class="col-1"><div>5</div></span><span class="col-2"><div>Visa</div></span><span class="col-3"><div>123,45</div></span><span class="col-4"><div class="hover-state-pointer"><img src="images/del-pink.png" alt="" /></div></span>
								</div>
								<div class="row-payment-credit-card-grid">
									<span class="col-1"><div>5</div></span><span class="col-2"><div>Visa</div></span><span class="col-3"><div>123,45</div></span><span class="col-4"><div class="hover-state-pointer"><img src="images/del-pink.png" alt="" /></div></span>
								</div>
					
								
							</div>
							
						</div>
					
						<div class="error" style="display:none">Erro ao inserir dados, contate o suporte informando o código </div>
		
		</div>
		<div class="clearfix"></div><hr />
		<button ng-click='closeDialog()' class="btn btn-large btn-login" type="submit">
			Cancelar
		</button>
		<button ng-click='closeDialog()' class="btn btn-large btn-login pull-right" type="submit">
			Confirmar
		</button>

	</form>

</div>
