<div class="container ng-scope">

	<div class="row-fluid">
		<span class="span12"> <span ng-include src="'views/parts/global/header.html'"></span>
		</span>
	</div>

	
	<div class="form-products-to-buy">
    
		<div class="row-fluid pull-right panel-top">

			<!-- BREAD CRUMBS -->
			<div class="row-fluid bread-crumbs">
				<span class="span6">
					<span class="principal">Pedido de compra</span> &nbsp; <span class="crumbs">&nbsp;</span>
				</span>
				<span class="span6">
					<div class="float-right">
						<span class="menu-level">
							<div class="btn-group btn-group-sm" ng-init="selectedTab='buildOrder'">
								<a class="btn btn-option" ng-class="{active:selectedTab=='buildOrder'}" ng-click="selectedTab='buildOrder'">Fazer pedido</a> 
								<a class="btn btn-option" ng-class="{active:selectedTab=='confirmOrder'}" ng-click="selectedTab='confirmOrder'">Confirmar pedido</a> 
								<a class="btn btn-option" ng-class="{active:selectedTab=='verifyTicket'}" ng-click="selectedTab='verifyTicket'">Aferir NFe compra</a>
								<a class="btn btn-option" ng-class="{active:selectedTab=='pendingProducts'}" ng-click="selectedTab='pendingProducts'">Produtos pendentes</a>
								<a class="btn btn-option" ng-class="{active:selectedTab=='availableCredit'}" ng-click="selectedTab='availableCredit'">Cr&eacute;dito b&ocirc;nus</a>
							</div>
						</span>
					</div>
				</span>
			</div>
		</div>		
		
		<div class="products-to-buy-left">
			<!--Tela "Fazer pedido"-->
			<span ng-show="selectedTab=='buildOrder'">
				<span ng-include src="'views/parts/products-to-buy/products-to-buy-order.html'" ng-controller="ProductsToBuyOrderCtrl"></span>
			</span>						
			<!--Tela "Confirmar pedido"-->
			<span ng-show="selectedTab=='confirmOrder'">
				<span ng-include src="'views/parts/products-to-buy/products-to-buy-confirm.html'" ng-controller="ProductsToBuyConfirmCtrl"></span>
			</span>	
            <!--Tela "Verificar NF"-->
            <span ng-show="selectedTab=='verifyTicket'">
				<span ng-include src="'views/parts/products-to-buy/products-to-buy-ticket.html'" ng-controller="ProductsToBuyTicketCtrl"></span>
			</span>
			<!--Tela "Produtos Pendentes"-->
			<span ng-show="selectedTab=='pendingProducts'">
				<span ng-include src="'views/parts/products-to-buy/products-to-buy-pending.html'" ng-controller="ProductsToBuyPendingCtrl"></span>
			</span>	
            <!--Tela "Credito disponivel"-->
			<span ng-show="selectedTab=='availableCredit'">
				<span ng-include src="'views/parts/products-to-buy/products-to-buy-credit.html'" ng-controller="ProductsToBuyCreditCtrl"></span>
			</span>	
		</div>

		<!-- Right Screen Details -->
		<div class="products-to-buy-right">
			<span ng-include src="'views/parts/products-to-buy/products-to-buy-summary.html'" ng-controller="ProductsToBuySummaryCtrl"></span>	
		</div>
	</div>
</div>
