<div class="container ng-scope">

	<div class="row-fluid">
		<span class="span12"> <span ng-include src="'views/parts/global/header.html'"></span>
		</span>
	</div>

	
	<div class="form-products-to-buy">
    
		<div class="row-fluid pull-right panel-top">

			<!-- BREAD CRUMBS -->
			<div class="row-fluid bread-crumbs">
				<span class="span6">
					<span class="principal">Pedido de compra</span> &nbsp; <span class="crumbs">&nbsp;</span>
				</span>
				<span class="span6">
					<div class="float-right">
						<span class="menu-level">
							<div class="btn-group btn-group-sm" ng-init="selectedTab='buildOrder'">
								<a class="btn btn-option" ng-class="{active:selectedTab=='buildOrder'}" ng-click="selectedTab='buildOrder'">Fazer pedido</a> 
								<a class="btn btn-option" ng-class="{active:selectedTab=='confirmOrder'}" ng-click="selectedTab='confirmOrder'">Confirmar pedido</a> 
								<a class="btn btn-option" ng-class="{active:selectedTab=='verifyNF'}" ng-click="selectedTab='verifyNF'">Aferir NF compra</a>
								<a class="btn btn-option" ng-class="{active:selectedTab=='pendentProducts'}" ng-click="selectedTab='pendentProducts'">Produtos pendentes</a>
								<a class="btn btn-option" ng-class="{active:selectedTab=='availableCredit'}" ng-click="selectedTab='availableCredit'">Cr&eacute;dito dispon&iacute;vel</a>
							</div>
						</span>
					</div>
				</span>
			</div>
		</div>		
		
		<div class="products-to-buy-left" ng-switch="selectedTab">
		
			<!--Tela "Fazer pedido"-->
			<div class="row-fluid step1" ng-switch-when="buildOrder">	
				<div class="products-to-buy-edit">	
					<div class="row-fluid">
						<div class="grid-payment-products-to-buy-edit">
							<div class="header header2 title-header-products-to-buy">
								<div class="row-payment-grid">
									<span class="col-s1">
										<div>Produto/C&oacute;digo</div>
									</span>
									<span class="col-s2">
										<div>&nbsp;</div>
									</span>
									<span class="col-s3">
										<div>P.Unit</div>
									</span>
									<span class="col-s4">
										<div>Qtde m&iacute;n.</div>
									</span>
									<span class="col-s5">
										<div>Qtde.</div>
									</span>
								</div>
							</div>	
							<div class="header header2 section-header-products-to-buy">
								<div class="row-payment-grid">
									<span class="col-s1">
										<div><input type="text" placeholder="Filtrar produto" class="date-field input-small products-to-buy-filter"></div>
									</span>
									<span class="col-s2">
										<div>Se&ccedil;&atilde;o 1</div>
									</span>
									<span class="col-s3">
										<div>&nbsp;</div>
									</span>
									<span class="col-s4">
										<div>&nbsp;</div>
									</span>
									<span class="col-s5">
										<div>&nbsp;</div>
									</span>
								</div>
							</div>
							<div class="scroll-payment-grid">	
								<span ng-repeat="session in productsToBuy.sessions">									
									<div class="header header2 subtitle-header-products-to-buy">
										<div class="row-payment-grid">
											<span class="col-s1">
												<div>{{session.label}}</div>
											</span>
											<span class="col-s2">
												<div>&nbsp;</div>
											</span>
											<span class="col-s3">
												<div>&nbsp;</div>
											</span>
											<span class="col-s4">
												<div>&nbsp;</div>
											</span>
											<span class="col-s5">
												<div>&nbsp;</div>
											</span>
										</div>
									</div>
									<span ng-repeat="line in session.lines"> 
										<div class="section">{{line.label}}</div>
										<div class="row-payment-grid-product-products-to-buy" ng-repeat="product in line.items">
											<span class="col-s1-list">
												<div>{{product.title}}</div>
												<div class="code-product">cod.: {{product.SKU}}</div>
											</span>
											<span class="col-s2-list">
												<div>{{product.points}} pts</div>
											</span>
											<span class="col-s3-list">
												<div>{{product.cost | currency: ''}}</div>
											</span>
											<span class="col-s4-list">
												<div>{{product.minQty}}</div>
											</span>
											<span class="col-s5-list">
												<div>
													<input-qty ng-model="watchedQty[product.id]" min="0"></input-qty>
												</div>
											</span>
										</div>
									</span>												
								</span>
							</div><!--fim scroll-->
						</div>
					</div>	
					
				</div>
			</div>
						
			<!--Tela "Confirmar pedido"-->
			<div class="row-fluid step2" ng-switch-when="confirmOrder">	
				<div class="products-to-buy-edit">	
					<div class="row-fluid">
						<div class="grid-payment-products-to-buy-edit">
							<div class="header header2 title-header-products-to-buy">
								<div class="row-payment-grid">
									<span class="col-s1">
										<div>Produto/C&oacute;digo</div>
									</span>
									<span class="col-s2">
										<div>P.Unit</div>
									</span>
									<span class="col-s3">
										<div>Qtde m&iacute;n.</div>
									</span>
									<span class="col-s4">
										<div>Qtde.</div>
									</span>
								</div>
							</div>							
							<div class="scroll-payment-grid">	<!--scroll-->
							
								<div class="section">Timewise</div>
								<div class="row-payment-grid-product-products-to-buy">
									<span class="col-s1-list">
										<div>Black Diamonds Desodorante Col&ocirc;nia - 60ml</div>
										<div class="code-product">cod.: 01-2390348</div>
									</span>
									<span class="col-s2-list">
										<div>15 pts</div>
									</span>
									<span class="col-s3-list">
										<div>50,00</div>
									</span>
									<span class="col-s4-list">
										<div>1</div>
									</span>
								</div>
								<div class="row-payment-grid-product-products-to-buy">
									<span class="col-s1-list">
										<div>Black Diamonds Desodorante Col&ocirc;nia - 60ml</div>
										<div class="code-product">cod.: 01-2390348</div>
									</span>
									<span class="col-s2-list">
										<div>15 pts</div>
									</span>
									<span class="col-s3-list">
										<div>50,00</div>
									</span>
									<span class="col-s4-list">
										<div>1</div>
									</span>
								</div>
								<div class="section">Olhos</div>
								<div class="row-payment-grid-product-products-to-buy">
									<span class="col-s1-list">
										<div>Black Diamonds Desodorante Col&ocirc;nia - 60ml</div>
										<div class="code-product">cod.: 01-2390348</div>
									</span>
									<span class="col-s2-list">
										<div>15 pts</div>
									</span>
									<span class="col-s3-list">
										<div>50,00</div>
									</span>
									<span class="col-s4-list">
										<div>1</div>
									</span>
								</div>
								<div class="row-payment-grid-product-products-to-buy">
									<span class="col-s1-list">
										<div>Black Diamonds Desodorante Col&ocirc;nia - 60ml</div>
										<div class="code-product">cod.: 01-2390348</div>
									</span>
									<span class="col-s2-list">
										<div>15 pts</div>
									</span>
									<span class="col-s3-list">
										<div>50,00</div>
									</span>
									<span class="col-s4-list">
										<div>1</div>
									</span>
								</div>
								
							</div><!--fim scroll-->
                            <div class="conf-order-panel">
                                <span class="title-order-panel"> 
                                    <span class="col-1" >Forma Pgto</span>
                                    <span class="col-2">Valor R$</span>
                                    <span class="col-3" >Vencto</span>
                                </span>
                                <span class="text-order-panel"> 
                                    <span class="col-1" >Boleto</span>
                                    <span class="col-2">340,00</span>
                                    <span class="col-3" >24/02/2014</span>
                                </span>
                                <span class="text-order-panel"> 
                                    <span class="col-1" >Cartão</span>
                                    <span class="col-2">100,00</span>
                                    <span class="col-3" >24/02/2014</span>
                                </span>
                                <span class="text-order-panel"> 
                                    <span class="col-1" >Débito Banco CC</span>
                                    <span class="col-2">100,00</span>
                                    <span class="col-3" >24/02/2014</span>
                                </span>

                            </div>
						</div>
					</div>	
					
				</div>
			</div>
            
            <!--Tela "Verificar NF"-->
			<div class="row-fluid step1" ng-switch-when="verifyNF">	
            	
                <!-------- Parte 1 ------------>
                <div class="products-to-buy-edit">	
					<div class="row-fluid">
						<div class="grid-payment-products-to-buy-edit">
                            <div class="control-group lbl-top center-align">
                                    <label class="control-label">&nbsp;</label>
                                    <select ui-select2
                                        name="product"
                                        class="combo-width-product-exchange marginr10 control-label-exchange select-h38"
                                        ng-model="productId">
                                        <option value="">Selecione um Pedido</option>
                                        <option ng-repeat="product in products | orderBy:'uniqueName'" value="{{product.id}}">{{product.uniqueName}}</option>
                                    </select>
                                </div>
                                <div class="row-last-payments" >
                                        <span class="col-1">
                                            <div>012-14</div>
                                        </span>
                                        <span class="col-2">
                                            <div>24/01/2014</div>
                                        </span>
                                        <span class="col-3">
                                            <div>15:31 h</div>
                                        </span>
                                        <span class="col-4">
                                            <div>R$ 986,34</div>
                                        </span>
                                </div>
                                <div class="row-last-payments" >
                                        <span class="col-1">
                                            <div>012-14</div>
                                        </span>
                                        <span class="col-2">
                                            <div>24/01/2014</div>
                                        </span>
                                        <span class="col-3">
                                            <div>15:31 h</div>
                                        </span>
                                        <span class="col-4">
                                            <div>R$ 986,34</div>
                                        </span>
                                </div>
                            <div class="conf-nf-panel">
                                <span class="title-order-panel"> 
                                    <span class="col-1">Dados da Nota Fiscal</span>
                                    <span class="col-2">Pedido de Compra</span>
                                </span>
                                <span class="text-order-panel"> 
                                    <span class="col-1">Informar a data NF</span>
                                    <span class="col-2"><input id="i1" type="text" name="i1" class="input-nf-panel" /></span>
                                </span>
                                <span class="text-order-panel"> 
                                    <span class="col-1">Valor total da NF</span>
                                    <span class="col-2"><input id="i2" type="text" name="i2" class="input-nf-panel" /></span>
                                </span>
                                <span class="text-order-panel"> 
                                    <span class="col-1" >Informar o Vr Frete</span>
                                    <span class="col-2"><input id="i3" type="text" name="i3" class="input-nf-panel" /></span>
                                </span>
                                <span class="text-order-panel"> 
                                    <span class="col-1">Informar Vr Crédito utilizado</span>
                                    <span class="col-2"><input id="i4" type="text" name="i4" class="input-nf-panel" /></span>
                                </span>
            
                            </div>
                		</div>
                	</div>
                </div>
                <!-------- FIM Parte 1 -------->
                
                <!-------- Parte 2 ------------>
				<div class="products-to-buy-edit display-none">	
					<div class="row-fluid">
						<div class="grid-payment-products-to-buy-edit">
							<div class="header header2 title-header-products-to-buy">
								<div class="row-payment-grid">
									<span class="col-s1">
										<div>Produto/C&oacute;digo</div>
									</span>
									<span class="col-s2">
										<div>P.Unit</div>
									</span>
									<span class="col-s3">
										<div>Qtde</div>
									</span>
									<span class="col-s4">
										<div>Ok</div>
									</span>
									<span class="col-s5">
										<div>Pendente/Qtde.</div>
									</span>
								</div>
							</div>	

							<div class="scroll-payment-grid">	
								<span ng-repeat="sessions in productsToBuy">									

									<span ng-repeat="lines in sessions"> 
										<div class="section">{{lines.label}}</div>
										<div class="row-payment-grid-product-products-to-buy" ng-repeat="product in lines.items">
											<span class="col-s1-list">
												<div class="p-title">{{product.title}}</div>&nbsp;&nbsp; <div class="p-points">{{product.points}} pts</div>
												<div class="code-product">cod.: {{product.SKU}}</div>
											</span>
											<span class="col-s2-list">
												<div>{{product.cost | currency: ''}}</div>
											</span>
											<span class="col-s3-list">
												<div>{{product.refMinQty}}</div>
											</span>
											<span class="col-s4-list">
												<div> <input type="checkbox"></div>
											</span>
											<span class="col-s5-list">
												<div>1</div>
											</span>
										</div>
									</span>												
								</span>
							</div><!--fim scroll-->
						</div>
					</div>	
					
				</div>
			</div>
            
            <!--Tela "Produtos Pendentes"-->
			<div class="row-fluid step1" ng-switch-when="pendentProducts">	
				<div class="products-to-buy-edit">	
					<div class="row-fluid">
						<div class="grid-payment-products-to-buy-edit">
							 <div class="control-group lbl-top center-align">
                                    <label class="control-label">&nbsp;</label>
                                    <select ui-select2
                                        name="product"
                                        class="combo-width-product-exchange marginr10 control-label-exchange select-h38"
                                        ng-model="productId">
                                        <option value="">Selecione um Pedido</option>
                                        <option ng-repeat="product in products | orderBy:'uniqueName'" value="{{product.id}}">{{product.uniqueName}}</option>
                                    </select>
                                </div>
                                <div class="row-last-payments" >
                                        <span class="col-1">
                                            <div>012-14</div>
                                        </span>
                                        <span class="col-2">
                                            <div>24/01/2014</div>
                                        </span>
                                        <span class="col-3">
                                            <div>15:31 h</div>
                                        </span>
                                        <span class="col-4">
                                            <div>R$ 986,34</div>
                                        </span>
                                </div>
                                <div class="row-last-payments" >
                                        <span class="col-1">
                                            <div>012-14</div>
                                        </span>
                                        <span class="col-2">
                                            <div>24/01/2014</div>
                                        </span>
                                        <span class="col-3">
                                            <div>15:31 h</div>
                                        </span>
                                        <span class="col-4">
                                            <div>R$ 986,34</div>
                                        </span>
                                </div>
                                
                                
							<div class="grid-pending-products-to-buy-edit">
							<div class="header header2 title-header-products-to-buy">
								<div class="row-payment-grid">
                                	<span class="col-s1">
										<div>Data</div>
									</span>
									<span class="col-s2">
										<div>Pedido</div>
									</span>
									<span class="col-s3">
										<div>NFe</div>
									</span>
									<span class="col-s4">
										<div>Produto/C&oacute;digo</div>
									</span>
									<span class="col-s5">
										<div>P.Unit</div>
									</span>
									<span class="col-s6">
										<div>Qtde</div>
									</span>
									<span class="col-s7">
										<div>Ok</div>
									</span>
									<span class="col-s8">
										<div>Pend./Qtde.</div>
									</span>
								</div>
							</div>	

							<div class="scroll-payment-grid scroll-payment-grid2">
								<span ng-repeat="sessions in productsToBuy">									
									<span ng-repeat="lines in sessions"> 
										<div class="section"></div>
										<div class="row-pending-product-products-to-buy" >
											<span class="col-s1">
												<div class="p-title">24/01/2014</div>
											</span>
											<span class="col-s2">
												<div>012-14</div>
											</span>
											<span class="col-s3">
												<div>12345138</div>
											</span>
                                            <span class="col-s4">
												<div class="p-title">{{product.title}}</div>&nbsp;<div class="p-points">{{product.points}} pts</div>
												<div class="small-text">cod.: {{product.SKU}}</div>
											</span>
											<span class="col-s5">
												<div>{{product.cost | currency: ''}}</div>
											</span>
											<span class="col-s6">
												<div>{{product.refMinQty}}</div>
											</span>
											<span class="col-s7">
												<div> <input type="checkbox"></div>
											</span>
											<span class="col-s8">
												<div>1</div>
											</span>
										</div>
									</span>												
								</span>
							</div><!--fim scroll-->
                              <div class="payment-btn-area">
                                    <button class="btn btn-cancel" type="submit" >Cancelar</button>
                                </div>
                                <div class="payment-btn-area">
                                    <button class="btn btn-ok" type="submit" >Confirmar</button>
                                </div>
                            </div>
						</div>
					</div>	
					
				</div>
			</div>
            
            <!--Tela "Credito disponivel"-->
			<div class="row-fluid step1" ng-switch-when="availableCredit">	
				<div class="products-to-buy-edit">
					<div class="row-fluid">
						<div class="grid-payment-products-to-buy-edit">                                
                                <div class="col-details-order-list-item">
                                <div class="margintn5">
                                    <!-- DATE INTERVAL -->
                                    <span class="lbl-money">
                                        <div class="controls">
                                            <div class="control-group lbl-top">
                                                <div class="controls w180">
                                                    Per&iacute;odo <input id="dtIni" type="text" placeholder=""
                                                        show-weeks="false" datepicker-popup="dd/MM/yyyy"
                                                        class="date-field input-small w75" required readonly maxlength="10"
                                                        ng-model="dateFilter.dtInitial"><label for="dtIni"
                                                        class="ic-calendar hover-state-pointer"><img
                                                        src="images/icons/ic-calendar.png"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </span> <span class="lbl-money order-list-periodo2">
                                        <div class="controls">
                                            <div class="control-group lbl-top">
                                                <div class="controls ">
                                                    <input id="dtFinal" type="text" placeholder=""
                                                        show-weeks="false" datepicker-popup="dd/MM/yyyy"
                                                        class="date-field input-small w75" required readonly maxlength="10"
                                                        ng-model="dateFilter.dtFinal"><label for="dtFinal"
                                                        class="ic-calendar hover-state-pointer"><img
                                                        src="images/icons/ic-calendar.png"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div><br />
							<div class="grid-pending-products-to-buy-edit">
							<div class="header header2 title-header-products-to-buy">
								<div class="row-payment-grid">
                                	<span class="col-1">
										<div>Data</div>
									</span>
									<span class="col-2">
										<div>Hist&oacute;rico</div>
									</span>
									<span class="col-3">
										<div>NFe</div>
									</span>
									<span class="col-4">
										<div>D&eacute;bito</div>
									</span>
									<span class="col-5">
										<div>Cr&eacute;dito</div>
									</span>
									<span class="col-6">
										<div>Saldo Disp.</div>
									</span>
									
								</div>
							</div>	
							
                            <div class="details-stock-subtitle row-pending-product-products-to-buy">
											<span class="col-1">
												<div class="p-title">24/01/2014</div>
											</span>
											<span class="col-2">
												<div>Saldo Inicial</div>
											</span>
											<span class="col-3">
												<div>&nbsp;</div>
											</span>
                                            <span class="col-4">
												<div>&nbsp;</div>
											</span>
											<span class="col-5">
												<div>&nbsp;</div>
											</span>
											<span class="col-6">
												<div>1040,00</div>
											</span>
							</div>
                            
                            
							<div class="scroll-payment-grid scroll-payment-grid2">
								<span ng-repeat="sessions in productsToBuy">									
									<span ng-repeat="lines in sessions"> 
										
										<div class="row-pending-product-products-to-buy">
											<span class="col-1">
												<div class="p-title">24/01/2014</div>
											</span>
											<span class="col-2">
												<div>Pedido de compra</div>
											</span>
											<span class="col-3">
												<div>12345138</div>
											</span>
                                            <span class="col-4">
												<div>220,00</div>
											</span>
											<span class="col-5">
												<div>150,00</div>
											</span>
											<span class="col-6">
												<div>1040,00</div>
											</span>
										</div>
									</span>												
								</span>
							</div><!--fim scroll-->
                            <div class="details-stock-subtitle row-pending-product-products-to-buy">
											<span class="col-1">
												<div class="p-title">10/02/2014</div>
											</span>
											<span class="col-2">
												<div>Saldo Final</div>
											</span>
											<span class="col-3">
												<div>&nbsp;</div>
											</span>
                                            <span class="col-4">
												<div>500,00</div>
											</span>
											<span class="col-5">
												<div>150,00</div>
											</span>
											<span class="col-6">
												<div>540,00</div>
											</span>
							</div>
						</div>
						</div>
					</div>	
					
				</div>
			</div>
            
		</div>
		
		<!-- Right Screen Details -->
		
		
		<div class="products-to-buy-right">
			<div class="row-fluid">		
					<div class="details-products-to-buy-item">
						<div class="col-details-products-to-buy-item">
							<span class="section">Se&ccedil;&atilde;o 1</span>
							<div class="row-details-products-to-buy-item">
								<span class="item">
									<span class="lbl-money">Valor da compra</span>
									<span class="btn-price-payment">{{orderTotal | currency: 'R$ '}}</span>
								</span>
								<span class="item">
									<span class="lbl-money">Percentual de desconto</span>
									<span class="btn-price-payment">{{discount | currency: ''}}%</span>
								</span>
							</div>
							<div class="row-details-products-to-buy-item">
								<span class="item">
									<span class="lbl-money">Valor com desconto</span>
									<span class="btn-price-payment">{{orderTotalDiscount | currency:'R$'}}</span>
								</span>
								<span class="item">
									<span class="lbl-money">Total de pontos</span>
									<span class="btn-price-payment">{{pointsTotal}}</span>
								</span>
							</div>
						</div>
						<div class="col-details-products-to-buy-item">							
							<span class="section">Se&ccedil;&atilde;o 2</span>
							<div class="row-details-products-to-buy-item">
								<span class="item">
									<span class="lbl-money">Valor da compra</span>
									<span class="btn-price-payment">{{orderTotal2 | currency: 'R$ '}}</span>
								</span>
							</div>
						</div>
						<div class="col-details-products-to-buy-item">		
							<span class="section">Total se&ccedil;&atilde;o 1 e 2</span>
							<div class="row-details-products-to-buy-item">
								<span class="item">
									<span class="lbl-money">Valor total da compra</span>
									<span class="btn-price-payment">{{orderTotalDiscount | currency:'R$'}}</span>
								</span>
								<span class="item">
									<span class="lbl-money">Valor de frete</span>
									<span class="btn-price-payment">{{freight | currency:'R$'}}</span>
								</span>
							</div>
							<div class="row-details-products-to-buy-item">
								<span class="item">
									<span class="lbl-money">SD dispon&iacute;vel (d&eacute;bito)</span>
									<span class="btn-price-payment">0,00</span>
								</span>
								<span class="item">
									<span class="lbl-money">Subtotal</span>
									<span class="btn-price-payment">{{orderTotalDiscount | currency:'R$'}}</span>
								</span>
							</div>
							<div class="row-details-products-to-buy-item">
								<span class="item">
									<span class="lbl-money">SD dispon&iacute;vel (cr&eacute;dito)</span>
									<span class="btn-price-payment">0,00</span>
								</span>
								<span class="item">
									<span class="lbl-money font-bold">Total do pedido</span>
									<span class="btn-price-payment font-bold">{{orderTotalDiscount | currency:'R$'}}</span>
								</span>
								<span class="item">
									<span class="lbl-money">Total pts</span>
									<span class="btn-price-payment">{{pointsTotal}}</span>
								</span>
							</div>
						</div>
						
						<!--Tela "Fazer pedido"-->
						<div class="col-details-products-to-buy-item border-none" ng-show="selectedTab=='buildOrder'">			
							<div class="btns-details-products-to-buy-item">
								<button class="btn btn-cancel" type="submit">Cancelar</button>
								<button class="btn btn-ok float-right" type="submit" ng-click="openDeliveryDetails()">Prosseguir</button>
							</div>		
						</div>
						
						<!--Tela "Confirmar pedido"-->
						<div class="col-details-products-to-buy-item border-none" ng-show="selectedTab=='confirmOrder'">			
							<div class="btns-details-products-to-buy-item">
								<button class="btn btn-cancel" type="submit">Cancelar</button>
								<button class="btn btn-ok float-right" type="submit" ng-click="openDeliveryDetails()">Confirmar</button>
							</div>		
						</div>
					</div>
			</div>
			
		</div>

	</div>
	
</div>
