<div class="container receivable-page">

    <!-- HEADER -->
    <div class="row-fluid">
        <span class="span12"><span ng-include src="'views/parts/global/header.html'"></span></span>
    </div>

    <div class="new-page"> 

       <div class="new-header row-fluid">
        <div class="span6">
            <h2>Contas a receber</h2>
        </div>
        <span class="span6">
         <div class="btn-group btn-group-sm pull-right">
            <a class="btn btn-option" ng-class="{active: selectedReceivableMode=='receive'}" ng-click="selectReceivableMode('receive')">À Receber</a>
            <a class="btn btn-option" ng-class="{active: selectedReceivableMode=='list'}"  ng-click="selectReceivableMode('list')">Todos</a>
        </div>
    </span>
</div>

<!-- <div ng-switch on="selectedReceivableMode">
    <span ng-switch-when="edit">
        <span ng-controller="ReceivableEditCtrl" ng-include src="'views/parts/receivable/receivable-edit.html'"></span>
    </span>

    <span ng-switch-when="receive">
        <span ng-controller="ReceivableReceiveCtrl" ng-include src="'views/parts/receivable/receivable-receive.html'"></span>
    </span>

    <span ng-switch-when="list">
        <span ng-controller="ReceivableListCtrl" ng-include src="'views/parts/receivable/receivable-list.html'"></span>
    </span>

</div> -->

<div ng-switch on="selectedReceivableMode">
   <div ng-switch-when="receive">
    <div ng-controller="ReceivableReceiveCtrl" ng-include src="'views/parts/receivable/receivable-receive.html'"></div>
</div>
</div>



  <div class="row-fluid">
      <div class="span12">
        <div class="new-calendar">
            <div class="text-over">Data Inicial</div>
            <input id="dtIni" type="text" placeholder="" show-weeks="false" datepicker-popup="dd/MM/yyyy" class="date-field input-small w75" required readonly maxlength="10" ng-model="dtFilter.dtInitial">
            <label for="dtIni" class="ic-calendar">
                <img src="images/icons/ic-calendar.png">
            </label>
        </div>

        <div class="new-calendar">
            <div class="text-over">Data Final</div>
            <input id="dtFinal" type="text" placeholder="" show-weeks="false" datepicker-popup="dd/MM/yyyy" min="dateFilter.dtInitial" class="date-field input-small w75" required readonly maxlength="10" ng-model="dtFilter.dtFinal">
            <label for="dtFinal" class="ic-calendar">
                <img src="images/icons/ic-calendar.png">
            </label>
        </div>

        <form ng-controller="ReceivableListCtrl" class="inline-checkbox">
           <fieldset>
            <label class="checkbox">
                <input type="checkbox" ng-model="allOpenReceivables" ng-true-value="true" ng-false-value="false"> todos em aberto até {{ dtFilter.dtFinal | date:"dd/MM/yyyy"}}
            </label>
        </fieldset>
    </form>
</div>
</div>


<div class="row-fluid">
    <div class="new-body-header">
        <div class="new-col-2 text-center">Item</div>
        <div class="new-col-4">Emissão</div>
        <div class="new-col-4">Conta</div>
        <div class="new-col-2">Parcela</div>
        <div class="new-col-3">Docto / Nro</div>
        <div class="new-col-3">Vencimento</div>
        <div class="new-col-3 currency">Valor</div>
        <div class="new-col-3 text-center">Status</div>
    </div>
</div>
<div class="new-scrollpanel page-open-details">
    <div class="row-fluid" ng-repeat="receivable in receivables.list | orderBy:'duedate'" ng-click="selectReceivable(receivable)">
        <div class="span12">
            <div class="new-body-row">

                <div class="new-col-2 text-center">{{$index + 1}}</div>
                <div class="new-col-4">{{receivable.created | date:"dd/MM/yyyy"}}</div>

                <div class="new-col-4">
                    <div><b>{{receivable.entityName}}</b></div>
                    <small>{{receivable.order.document}}</small>
                </div>

                <div class="new-col-2">{{receivable.installment}} de {{receivable.numberOfInstallment}}</div>

                <div class="new-col-3">
                    <div><b>{{receivable.documentType}}</b></div>
                    <small>{{receivable.order.uiidCode}}</small>
                </div>

                <div class="new-col-3">{{receivable.duedate | date:"dd/MM/yyyy"}}</div>

                <div class="new-col-3 currency">{{receivable.amount | currency:''}}</div> 

                <div class="new-col-3 text-center">aberto</div> 

            </div>
        </div>
    </div>
</div>

</div>





<!-- DATAGRID -->
       <!--  <div class="row-fluid">
            <div class="grid-receivable">
                <div class="header">
                    <div class="grid-receivable">
                        <span class="col-0">
                        <div> Item </div>
                        </span>
                        <span class="col-1">
                        <div> ID </div>
                        </span>
                        <span class="col-2">
                        <div> Data</div>
                        </span> 
                        <span class="col-3">
                        <div> Classifica&ccedil;&atilde;o </div>
                        </span> 
                        <span class="col-4">
                        <div> Contas a pagar / Observa&ccedil;&atilde;o </div>
                        </span> 
                        <span class="col-5">
                        <div> Vencto </div>
                        </span> 
                        <span class="col-6">
                        <div> Valor </div>
                        </span> 
                        <span class="col-7">
                        <div> &nbsp; </div>
                        </span> 
                    </div>
                </div>

                <div class="subtitle">
                    <div class="grid-receivable">
                        <span class="col-0">
                            <div>{{receivables.list.length}}</div>
                        </span>
                        <span class="col-1">
                        <div> &nbsp; </div>
                        </span>
                        <span class="col-2">
                        <div> &nbsp; </div>
                        </span> 
                        <span class="col-3">
                        <div> &nbsp; </div>
                        </span> 
                        <span class="col-4">
                        <div> &nbsp; </div>
                        </span> 
                        <span class="col-5">
                        <div> Total </div>
                        </span> 
                        <span class="col-6">
                            <div>{{receivables.total | currency:''}}</div>
                        </span> 
                        <span class="col-7">
                        <div> &nbsp; </div>
                        </span> 
                    </div>
                </div>
                
                <div class="scroll-receivable">
                    <div class="row-receivable" ng-repeat="receivable in receivables.list" ng-click="selectReceivable(receivable)"> 
                        <span class="col-0">
                            <div>{{$index + 1}}</div>
                        </span>
                        <span class="col-1">
                            <div>{{receivable | uuidCode}}</div>
                        </span> 
                        <span class="col-2">
                            <div>{{receivable.created | date:"dd/MM/yyyy"}}</div>
                        </span> 
                        <span class="col-3">
                            <div>{{receivable.typeTranslate}}</div>
                        </span> 
                        <span class="col-4">
                            <div>{{receivable.entityName}}</div>
                        </span> 
                        <span class="col-5">
                            <div>{{receivable.duedate | date:"dd/MM/yyyy"}}</div>
                        </span> 
                        <span class="col-6">
                            <div>{{receivable.amount | currency:''}}</div>
                        </span> 
                        <span class="col-7">                        
                            somente para a tela de baixa
                            <div><input type="checkbox" id="filter-bar-checkbox" value="todos"></div>
                            
                            somente para a tela de adicionar/editar
                            <div class="hover-state-pointer">
                                <img src="images/del-pink.png" alt="" ng-click="removeCheck(payment)" />
                            </div>
                        </span> 
                    </div>
                </div>
            </div>
        </div> -->
        <!-- DataGrid end -->


    </div>
