<div class="container ng-scope">
	
    <!-- HEADER -->
    <div class="row-fluid">
		<span class="span12"><span ng-include src="'views/parts/global/header.html'"></span></span>
	</div>
    
    <div class="form-receivable">
    
		<div class="row-fluid pull-right panel-top">
    
			<!-- BREAD CRUMBS -->
			<div class="row-fluid bread-crumbs">
				<span class="span6">
					<span class="principal">Contas a receber</span> &nbsp; <span class="crumbs">&nbsp;</span>
				</span>
				<span class="span6">
					<div class="float-right">
						<span class="menu-level">
							<div class="btn-group btn-group-sm">
								<!-- <a class="btn btn-option" ng-class="{active: selectedReceivableMode=='add'}" ng-click="selectReceivableMode('add')">Adicionar</a> -->
								<a class="btn btn-option" ng-class="{active: selectedReceivableMode=='edit'}" ng-click="selectReceivableMode('edit')">Editar</a>
								<a class="btn btn-option" ng-class="{active: selectedReceivableMode=='receive'}" ng-click="selectReceivableMode('receive')">Baixa Pgto.</a>
								<a class="btn btn-option" ng-class="{active: selectedReceivableMode=='list'}"  ng-click="selectReceivableMode('list')">Pesquisar</a>
							</div>
						</span>
					</div>
				</span>
			</div>
		
            <div ng-switch on="selectedReceivableMode">
            	<!-- <span ng-switch-when="add"><span ng-controller="ReceivableAddCtrl" ng-include src="'views/parts/receivable/receivable-add.html'"></span></span> -->
				<span ng-switch-when="edit"><span ng-controller="ReceivableEditCtrl" ng-include src="'views/parts/receivable/receivable-edit.html'"></span></span>
				<span ng-switch-when="receive"><span ng-controller="ReceivableReceiveCtrl" ng-include src="'views/parts/receivable/receivable-receive.html'"></span></span>
				<span ng-switch-when="list"><span ng-controller="ReceivableListCtrl" ng-include src="'views/parts/receivable/receivable-list.html'"></span></span>
			</div>
		</div>
            
		<div class="clearfix"></div>
        
         <div class="new-section">
                <div class="row-fluid">
                    <div class="new-body-header">
                        <div class="new-col-2 text-center">Item</div>
                        <div class="new-col-4">Emissão</div>
                        <div class="new-col-6">Conta</div>
                        <div class="new-col-3">Parcela</div>
                        <div class="new-col-3">Docto / Nro</div>
                        <div class="new-col-3">Vencimento</div>
                        <div class="new-col-3 currency">Valor</div> 
                    </div>
                </div>
                <div class="row-fluid" ng-repeat="receivable in receivables.list" ng-click="selectReceivable(receivable)">
                    <div class="span12">
                        <div class="new-body-row">
                            
                        <div class="new-col-2 text-center">{{$index + 1}}</div>
                        <div class="new-col-4">{{receivable.created | date:"dd/MM/yyyy"}}</div>

                        <div class="new-col-6">
                            <div><b>{{receivable.typeTranslate}}</b></div>
                            <small>{{receivable.entityName}}</small>
                        </div>
                        
                        <div class="new-col-3">{{receivable.installment}} de {{receivable.installments.length}}</div>
                        
                        <div class="new-col-3">
                            <div><b>{{receivable.documentType}}</b></div>
                            <small>{{receivable.order.uiidCode}}</small>
                        </div>
                        
                        <div class="new-col-3">{{receivable.duedate | date:"dd/MM/yyyy"}}</div>
                        
                        <div class="new-col-3 currency">{{receivable.amount | currency:''}}</div> 
                                
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                </div>
            </div>
        
        
        
        
        
        
        
        <!-- DATAGRID -->
       <!--  <div class="row-fluid">
            <div class="grid-receivable">
                <div class="header">
                    <div class="grid-receivable">
                        <span class="col-0">
                        <div> Item </div>
                        </span>
                        <span class="col-1">
                        <div> ID </div>
                        </span>
                        <span class="col-2">
                        <div> Data</div>
                        </span> 
                        <span class="col-3">
                        <div> Classifica&ccedil;&atilde;o </div>
                        </span> 
                        <span class="col-4">
                        <div> Contas a pagar / Observa&ccedil;&atilde;o </div>
                        </span> 
                        <span class="col-5">
                        <div> Vencto </div>
                        </span> 
                        <span class="col-6">
                        <div> Valor </div>
                        </span> 
                        <span class="col-7">
                        <div> &nbsp; </div>
                        </span> 
                    </div>
                </div>

                <div class="subtitle">
                    <div class="grid-receivable">
                        <span class="col-0">
                            <div>{{receivables.list.length}}</div>
                        </span>
                        <span class="col-1">
                        <div> &nbsp; </div>
                        </span>
                        <span class="col-2">
                        <div> &nbsp; </div>
                        </span> 
                        <span class="col-3">
                        <div> &nbsp; </div>
                        </span> 
                        <span class="col-4">
                        <div> &nbsp; </div>
                        </span> 
                        <span class="col-5">
                        <div> Total </div>
                        </span> 
                        <span class="col-6">
                            <div>{{receivables.total | currency:''}}</div>
                        </span> 
                        <span class="col-7">
                        <div> &nbsp; </div>
                        </span> 
                    </div>
                </div>
                
                <div class="scroll-receivable">
                    <div class="row-receivable" ng-repeat="receivable in receivables.list" ng-click="selectReceivable(receivable)"> 
                        <span class="col-0">
                            <div>{{$index + 1}}</div>
                        </span>
                        <span class="col-1">
                            <div>{{receivable | uuidCode}}</div>
                        </span> 
                        <span class="col-2">
                            <div>{{receivable.created | date:"dd/MM/yyyy"}}</div>
                        </span> 
                        <span class="col-3">
                            <div>{{receivable.typeTranslate}}</div>
                        </span> 
                        <span class="col-4">
                            <div>{{receivable.entityName}}</div>
                        </span> 
                        <span class="col-5">
                            <div>{{receivable.duedate | date:"dd/MM/yyyy"}}</div>
                        </span> 
                        <span class="col-6">
                            <div>{{receivable.amount | currency:''}}</div>
                        </span> 
                        <span class="col-7">						
                            somente para a tela de baixa
                            <div><input type="checkbox" id="filter-bar-checkbox" value="todos"></div>
                            
                            somente para a tela de adicionar/editar
                            <div class="hover-state-pointer">
                                <img src="images/del-pink.png" alt="" ng-click="removeCheck(payment)" />
                            </div>
                        </span> 
                    </div>
                </div>
            </div>
        </div> -->
        <!-- DataGrid end -->
		<br/>
    
	</div>
    
</div>
