<div class="container">

    <form name="newCustomerForm" class="form" ng-class="{failed: failed}">
        <label>Nome</label>
        <input name="name" tabindex="1" class="form-control" type="text" placeholder="" ng-model="customer.name" customer-name required />

        <label>Telefones</label>
        <div class="input-with-buttom-right">
            <input tabindex="5" class="form-control" type="text" ng-model="customer.phones[0].number" ng-click="openDialogAddCustomerTels(customer.phones)" required phone>
            <div ng-click="openDialogAddCustomerTels(customer.phones)" class="add-on">+</div>
        </div>

        <label>CPF</label>
        <input tabindex="7" class="form-control" type="text" ng-blur="validateCpf(customer.document)" tnt-focus-if="{{cpfFocus}}" ng-model="customer.document" cpf>

        <label>E-mails</label>

        <div class="input-with-buttom-right">
            <input tabindex="2" class="form-control" type="email" ng-model="customer.emails[0].address" ng-click="openDialogAddCustomerEmails(customer.emails)" />
            <div ng-click="openDialogAddCustomerEmails(customer.emails)" class="add-on">+</div>
        </div>


        <spinner-button class="btn-signin btn btn-lg btn-primary btn-block" tabindex="16" spinner-promise = "confirm()">
            Confirmar
        </spinner-button>

        <input type="button" class="btn-erasedata btn btn-lg btn-primary btn-block" ng-click="cancel()" value="Cancelar">
    </form>
</div>