<style>

	.axis-x path,
	.axis-x line {
		fill: none;
		stroke: none;
		shape-rendering: crispEdges;
	}

	.axis-y path,
	.axis-y line {
		fill: none;
		stroke: none;
		shape-rendering: crispEdges;
	}
	.axis-y .guide{
		stroke:1px;
		stroke: #666;
	}

	.axis-y text {
		font-size: 10px;
		fill:#999;
	}

	.axis-x text {
		font-size: 12px;
		fill:#999;
	}

	.goal rect{
		fill:#333; 
	}
	.goal text{
		fill:#fff;
	}
	.snapshot rect{
		fill:#bf1e62; 
	}
	.snapshot text{
		fill:#fff;
	}

	.tip text{
		font-size: 10px;
		fill:#fff;
	}

</style>

<script type="text/javascript">

	var goalColor = '#333';
	var snapshotColor = '#bf1e62';

	var values = [
	{order:1,value:105,goal:200,name:'1ª semana'},
	{order:2,value:100,goal:70,name:'2ª semana'},
	{order:3,value:80,goal:600,name:'3ª semana'},
	{order:4,value:50,goal:56,name:'4ª semana'},
	{order:5,value:120,goal:120,name:'5ª semana'},
	{order:6,goal:210,name:'6ª semana'},
	{order:7,goal:100,name:'7ª semana'},
	{order:8,goal:79,name:'8ª semana'},
	{order:9,goal:244,name:'9ª semana'}
	];


	function gauge(values){

		var width = 120;
		var height = 400;
		var topmargin = 40;
		var barWidth = width-60;

		var sum_values = d3.sum(values, function(d) {return d.value; });
		var sum_goals = d3.sum(values, function(d) {return d.goal; });

		var ref = 0;
		if(sum_values < sum_goals){
			ref = sum_goals;
		}else{
			ref = sum_values;
		}

		var y = d3.scale.linear().domain([ref,0]).range([height-topmargin, 0]);

		var canvas = d3.select('body').selectAll('div.gauge').append('svg')
		.attr('width', width)
		.attr('height', height);

		//this needs to be refactored. should be more dinamic....
		if(sum_values < sum_goals){
			drawGoal();
			drawSnapshot();

			drawTip(sum_goals,'#333',1);
			drawTip(sum_values,'#bf1e62',(sum_values/sum_goals));

		}else{
			drawSnapshot();
			drawGoal();

			drawTip(sum_values,'#bf1e62',(sum_values/sum_goals));
			drawTip(sum_goals,'#333',1);

		}


		function drawTip(value,color,label){

			var w = 40;
			var h = 20;
			var format = d3.format('%');

			var g = canvas
			.append('g')
			.attr('class', 'tip');

			g.append('rect')
			.attr('width', w)
			.attr('height', h)
			.attr('x', barWidth+w/4)
			.attr('y', height - y(value)-h/2)
			.attr('fill', color);

			

			g.append('text')
			.attr('x', barWidth+w/4+w/2)
			.attr('y', height - y(value)+3)
			.style("text-anchor", "middle")
			.text(format(label));
		}

		function drawGoal(){
			var goal = canvas.selectAll('.goal')
			.data([sum_goals])
			.enter()
			.append('g')
			.attr('class', 'goal');

			goal.append('rect')
			.attr('x', 0 )
			.attr('y', height - y(sum_goals))
			.attr('width', barWidth)
			.attr('height', y(sum_goals))
			.attr('fill', goalColor);

			goal.append("line")
			.attr('class','line')
			.attr("x1", 0)
			.attr("x2", barWidth)
			.attr("y1", height - y(sum_goals))
			.attr("y2", height - y(sum_goals))
			.attr('stroke','#fff');

			goal.append('text')
			.attr('x',barWidth/2)
			.attr('y',height - y(sum_goals)+20)
			.style("text-anchor", "middle")
			.text(sum_goals)


		}

		function drawSnapshot(){

			var snapshot = canvas.selectAll('.snapshot')
			.data([sum_values])
			.enter()
			.append('g')
			.attr('class', 'snapshot');

			snapshot.append('rect')
			.attr('x', 0 )
			.attr('y', height - y(sum_values))
			.attr('width', barWidth)
			.attr('height', y(sum_values));

			snapshot.append("line")
			.attr('class','line')
			.attr("x1", 0)
			.attr("x2", barWidth)
			.attr("y1", height - y(sum_values))
			.attr("y2", height - y(sum_values))
			.attr('stroke','#fff');

			snapshot.append('text')
			.attr('x',barWidth/2)
			.attr('y',height - y(sum_values)+20)
			.style("text-anchor", "middle")
			.text(sum_values)
		}
		
	}

	function cumulative(values){

		
		var obj = {};
		obj.values = values.map(function(d){ return d.value;}).filter(Number);
		obj.goals = values.map(function(d){ return d.goal;}).filter(Number);

		var valuesCumulative = makeCumulative(obj.values);
		var goalCumulative = makeCumulative(obj.goals);


		var maxCtrl = true;

		var max = d3.max(valuesCumulative);
		if(max < d3.max(goalCumulative)){
			max = d3.max(goalCumulative);
			maxCtrl = false;
		}

		var valuesByOrder = d3.nest().key(function(d){ return 'o'+d.order;}).map(values,d3.map);
		
		var width = 800; 
		var height = 200;
		var topMargin = 40;
		var leftMargin = 40;
		var bottomMargin = 40;
		var barWidth = 80;

		var chartWidth = width-leftMargin;
		var chartHeight = height-(topMargin+bottomMargin);

		var x = d3.scale.ordinal().domain(values.map(function(d){ return d.order;})).rangeRoundBands([leftMargin,width],0);
		var y = d3.scale.linear().domain([max,0]).range([0,chartHeight]);

		var canvas = d3.select('body').selectAll('div.ddd').append('svg')
		.attr('width', width)
		.attr('height', height);


		drawYAxis();
		drawXAxis();
		drawArea('#000',goalCumulative);
		drawLine('#0f0',valuesCumulative);

		function drawArea(color,points,metric){
			var lineMap = d3.svg.area()
			.x(function(d,i) { 
				return ((i+1) * x.rangeBand()); 
			})
			.y0(function(d) { 
				return chartHeight;
			})
			.y1(function(d) { 
				return y(d);
			})

			var line = canvas.append('path')
			.attr("d", lineMap(points))
			.attr('stroke',color)
			.attr('fill',color)
			.attr('opacity',0.3)
			.attr('stroke-linejoin','round')
			.attr('stroke-width','2px')
			.attr("transform", "translate(0,"+topMargin+")");
		}

		function drawLine(color,points){
			var lineMap = d3.svg.line()
			.x(function(d,i) { 
				return ((i+1) * x.rangeBand()); 
			})
			.y(function(d) { 
				return y(d);
			})

			var line = canvas.append('path')
			.attr("d", lineMap(points))
			.attr('stroke',color)
			.attr('fill','none')
			.attr('stroke-linejoin','round')
			.attr('stroke-width','2px')
			.attr("transform", "translate(0,"+topMargin+")");

			
		}

		function drawYAxis(){
			var yAxis =
			d3.svg.axis()
			.scale(y)
			.ticks(10)
			.orient('left');

			var axisY = canvas.append("g")
			.attr('class','axis-y')
			.attr("transform", "translate("+leftMargin+","+topMargin+")")
			.call(yAxis);

			axisY.selectAll("line.y")
			.data(y.ticks(10))
			.enter().append("line")
			.attr('class','guide')
			.attr("x1", 0)
			.attr("x2", leftMargin + chartWidth)
			.attr("y1", function(d){ return y(d);})
			.attr("y2", function(d){ return y(d);});
		}		

		function drawXAxis(){
			var xAxis = d3.svg.axis().scale(x).orient("bottom").tickFormat(function(d){ return valuesByOrder.get('o'+d)[0].name});

			canvas.append("g")
			.attr('class','axis-x')
			.attr("transform", "translate(0,"+(chartHeight+topMargin)+")")
			.call(xAxis);
			
		}





		function makeCumulative(entry){
			var values = [];
			var last = 0;
			for(var i = 0;i<entry.length;i++){
				last = last + entry[i];
				values.push(last);
			}
			return values;
		}

	}



	function histogram(values){

		var valuesByOrder = d3.nest().key(function(d){ return 'o'+d.order;}).map(values,d3.map);

		var obj = {};
		obj.values = values.map(function(d){ return d.value;}).filter(Number);
		obj.goals = values.map(function(d){ return d.goal;}).filter(Number);

		var qty = values.length;

		var maxValue = d3.max(obj.values);
		var maxGoal = d3.max(obj.goals);

		var max = maxValue;
		if(max < maxGoal){
			max = maxGoal;
		}


		var width = 800; 
		var height = 200;
		var topMargin = 40;
		var leftMargin = 40;
		var bottomMargin = 40;
		var barWidth = (width/qty)-10;

		var chartWidth = width-leftMargin;
		var chartHeight = height-(topMargin+bottomMargin);



		// var x = d3.scale.linear().domain([0, chartWidth]).range([0, chartWidth]);
		var x = d3.scale.ordinal().domain(values.map(function(d){ return d.order;})).rangeRoundBands([leftMargin,width],0);
		var y = d3.scale.linear().domain([max,0]).range([0,chartHeight]);

		var canvas = d3.select('body').selectAll('div.ddd').append('svg')
		.attr('width', width)
		.attr('height', height);

		
		drawYAxis();
		drawXAxis();
		drawBars();
		//drawArea(snapshotColor,obj.values);
		//drawLine(snapshotColor,obj.values);

		function drawArea(color,points){

			points.push(0);
			points = points.reverse();
			points.push(0);
			points = points.reverse()


			var lineMap = d3.svg.area()
			.x(function(d,i) { 
				if(i == 0) return leftMargin;
				else return ((i) * x.rangeBand()); 
			})
			.y0(function(d) { 
				return chartHeight;
			})
			.y1(function(d) {
				return y(d);
			})

			var line = canvas.append('path')
			.attr("d", lineMap(points))
			.attr('stroke',color)
			.attr('fill',color)
			.attr('stroke-linejoin','round')
			.attr('stroke-width','2px')
			.attr("transform", "translate(0,"+topMargin+")");
		}

		function drawBars(){
			var bars = canvas.selectAll('.bar')
			.data(values)
			.enter()
			.append('g')
			.attr("transform", "translate(0,"+topMargin+")")
			.attr('class', 'bar');

			bars.append('rect')
			.attr('x', function(d,i){  return ((i+1) * x.rangeBand())-(barWidth/2);  })
			.attr('y', function(d){ return y(d.goal); })
			.attr('width', barWidth)
			.attr('height', function(d){ return chartHeight-y(d.goal); })
			.attr('fill', goalColor );

			bars.append('rect')
			.attr('x', function(d,i){  return ((i+1) * x.rangeBand())-(barWidth/2);  })
			.attr('y', function(d){ return y(d.value); })
			.attr('width', barWidth)
			.attr('height', function(d){ return chartHeight-y(d.value); })
			.attr('fill', snapshotColor );
		}

		function drawLine(color,points){
			var lineMap = d3.svg.line()
			.x(function(d,i) { 
				return ((i+1) * x.rangeBand()); 
			})
			.y(function(d) { 
				return y(d);
			})

			var line = canvas.append('path')
			.attr("d", lineMap(points))
			.attr('stroke',color)
			.attr('fill','none')
			.attr('stroke-linejoin','round')
			.attr('stroke-width','2px')
			.attr("transform", "translate(0,"+topMargin+")");

			
		}

		function drawYAxis(){

			var qtyTicks = 5;

			var yAxis =
			d3.svg.axis()
			.scale(y)
			.ticks(qtyTicks)
			.orient('left');

			var axisY = canvas.append("g")
			.attr('class','axis-y')
			.attr("transform", "translate("+leftMargin+","+topMargin+")")
			.call(yAxis);

			axisY.selectAll("line.y")
			.data(y.ticks(qtyTicks))
			.enter().append("line")
			.attr('class','guide')
			.attr("x1", 0)
			.attr("x2", leftMargin + chartWidth)
			.attr("y1", function(d){ return y(d);})
			.attr("y2", function(d){ return y(d);});
		}		

		function drawXAxis(){
			var xAxis = d3.svg.axis().scale(x).orient("bottom").tickFormat(function(d){ return valuesByOrder.get('o'+d)[0].name});

			canvas.append("g")
			.attr('class','axis-x')
			.attr("transform", "translate(0,"+(chartHeight+topMargin)+")")
			.call(xAxis);
			
		}




	}
	gauge(values);
	histogram(values);
	cumulative(values);



</script>

<div id="sacred">
	<div class="container">

		<div ng-include src="'views/parts/global/header.html'"></div>

		<div class="page sacred-bi-page">

			<div class="page-header">
				<div class="row">
					<div class="col-10">
						<div class="title">Análise de Desempenho - Equipe</div>
					</div>
					<div class="col-14">
						<div class="btn-group pull-right page-button" ng-init="ol='dashboard'">
							<a class="btn btn-option" ng-class="{active: ol=='demo'}" ng-click="ol='demo'">Demostrativo</a>
							<a class="btn btn-option" ng-class="{active: ol=='dashboard'}" ng-click="ol='orders'">Dashboard</a>	
						</div>
					</div>
				</div>
			</div>

			<div class="page-body">
				<div class="col-24">
				<div style="width:100%;" chart-axis></div>
					<div class="col-4">
						<div class="gauge">

						</div>
					</div>
					<div class="col-20">
						
						<div class="ddd">

						</div>
					</div>
				</div>
				<div class="col-24">
					<div class="cumulative">

					</div>
				</div>
			</div>
		</div>

	</div>
</div>
</div>