<div id="sacred">
	<div class="container">

		<div ng-include src="'views/parts/global/header.html'"></div>

		<div class="page sacred-stock-page">
			<div class="page-header">
				<div class="row">
					<div class="col-10">
						<div class="title">
							Consultoras
						</div>
					</div>
					<div class="col-14">
						<div class="btn-group btn-group-sm pull-right">
							<a class="btn btn-option" ng-class="{active: selectedLevel=='1'}" ng-click="showLevel(1)">N&iacute;vel 1</a>
							<a class="btn btn-option" ng-class="{active: selectedLevel=='2'}" ng-click="showLevel(2)">N&iacute;vel 2</a>
							<a class="btn btn-option" ng-class="{active: selectedLevel=='3'}" ng-click="showLevel(3)">N&iacute;vel 3</a>
							<a class="btn btn-option" ng-class="{active: selectedLevel=='4'}" ng-click="showLevel(4)">N&iacute;vel 4</a>	
						</div>
					</div>
				</div>
			</div>

			<div class="page-body">
				<div class="content">
					<div class="content-header">

					</div>
					<div class="content-body">
						<div class="part">
							<div class="part-header">
								<div class="row">
								</div>
							</div>
							<div class="part-body">
								
								<div class="grid grid-stock">
									<div class="grid-header">
										<div class="row">
											<div class="col-2">&nbsp;</div>
											<div class="col-16">Consultora</div>
											<div class="col-2 text-center">Qtde.</div>
											<div class="col-4 text-center">Geração</div>
										</div>
									</div>

									<div class="first-line sub-header">
										<div class="row">
											<div class="col-2">&nbsp;</div>
											<div class="col-16">
												<input type="text" placeholder="Filtrar por nome" ng-model="productFilter.text" ng-click="clearFilter()" class="sacred-stock-filter">
												<span class="float-right">Total Geral</span>
											</div>
											<div class="col-2 text-center">50</div>
											<div class="col-4 text-center">-</div>
										</div>
									</div>

									<div class="grid-scroll">

										<div class="first-line" ng-click="toggleAllSections(productsAvailable.sessions)">
											<div class="row">
												<div class="col-2"><input type="checkbox"></div>
												<div class="col-16">
													<input type="checkbox"> Maria Fernanda Gonzallo<span class="float-right">Total</span>
												</div>
												<div class="col-2 text-center">5</div>
												<div class="col-4 text-center">primeira</div>
											</div>
										</div>

										<div>
											
											<div class="second-line" ng-click="toggleSession(session)">
												<div class="row">
													<div class="col-3"><input type="checkbox"></div>
													<div class="col-15">
														<input type="checkbox"> Joana Fernanda Gonzallo
														<span class="float-right">Subtotal</span>
													</div>
													<div class="col-2 text-center">5</div>
													<div class="col-4 text-center">segunda</div>
												</div>
											</div>

											<div>
												<div class="third-line" ng-click="toggleLine(line)">
													<div class="row">
														<div class="col-4"><input type="checkbox"></div>
														<div class="col-14">
															<input type="checkbox"> Ana Luiza Paula
															<span class="float-right">Subtotal</span>
														</div>
														<div class="col- text-center">{{line.total.qty}}</div>
														<div class="col-2 text-center">5</div>
														<div class="col-4 text-center">terceira</div>
													</div>
												</div>

												<div>
													<div class="fourth-line">
														<div class="row">
															<div class="col-5">&nbsp;</div>
														<div class="col-13">
															<input type="checkbox"> Sara Holft Merge
														</div>
														<div class="col-2 text-center">&nbsp;</div>
														<div class="col-4 text-center">-</div>
														</div>
													</div>												
												</div>
											</div>
										</div>

										<div class="first-line" ng-click="toggleAllSections(productsAvailable.sessions)">
											<div class="row">
												<div class="col-2"><input type="checkbox"></div>
												<div class="col-16">
													<input type="checkbox"> Maria Fernanda Gonzallo<span class="float-right">Total</span>
												</div>
												<div class="col-2 text-center">5</div>
												<div class="col-4 text-center">primeira</div>
											</div>
										</div>

										<div>
											
											<div class="second-line" ng-click="toggleSession(session)">
												<div class="row">
													<div class="col-3"><input type="checkbox"></div>
													<div class="col-15">
														<input type="checkbox"> Joana Fernanda Gonzallo
														<span class="float-right">Subtotal</span>
													</div>
													<div class="col-2 text-center">5</div>
													<div class="col-4 text-center">segunda</div>
												</div>
											</div>

											<div>
												<div class="third-line" ng-click="toggleLine(line)">
													<div class="row">
														<div class="col-4"><input type="checkbox"></div>
														<div class="col-14">
															<input type="checkbox"> Ana Luiza Paula
															<span class="float-right">Subtotal</span>
														</div>
														<div class="col- text-center">{{line.total.qty}}</div>
														<div class="col-2 text-center">5</div>
														<div class="col-4 text-center">terceira</div>
													</div>
												</div>

												<div>
													<div class="fourth-line">
														<div class="row">
															<div class="col-5">&nbsp;</div>
														<div class="col-13">
															<input type="checkbox"> Sara Holft Merge
														</div>
														<div class="col-2 text-center">&nbsp;</div>
														<div class="col-4 text-center">-</div>
														</div>
													</div>												
												</div>
											</div>
										</div>

										<div class="first-line" ng-click="toggleAllSections(productsAvailable.sessions)">
											<div class="row">
												<div class="col-2"><input type="checkbox"></div>
												<div class="col-16">
													<input type="checkbox"> Maria Fernanda Gonzallo<span class="float-right">Total</span>
												</div>
												<div class="col-2 text-center">5</div>
												<div class="col-4 text-center">primeira</div>
											</div>
										</div>

										<div>
											
											<div class="second-line" ng-click="toggleSession(session)">
												<div class="row">
													<div class="col-3"><input type="checkbox"></div>
													<div class="col-15">
														<input type="checkbox"> Joana Fernanda Gonzallo
														<span class="float-right">Subtotal</span>
													</div>
													<div class="col-2 text-center">5</div>
													<div class="col-4 text-center">segunda</div>
												</div>
											</div>

											<div>
												<div class="third-line" ng-click="toggleLine(line)">
													<div class="row">
														<div class="col-4"><input type="checkbox"></div>
														<div class="col-14">
															<input type="checkbox"> Ana Luiza Paula
															<span class="float-right">Subtotal</span>
														</div>
														<div class="col- text-center">{{line.total.qty}}</div>
														<div class="col-2 text-center">5</div>
														<div class="col-4 text-center">terceira</div>
													</div>
												</div>

												<div>
													<div class="fourth-line">
														<div class="row">
															<div class="col-5">&nbsp;</div>
														<div class="col-13">
															<input type="checkbox"> Sara Holft Merge
														</div>
														<div class="col-2 text-center">&nbsp;</div>
														<div class="col-4 text-center">-</div>
														</div>
													</div>												
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>