<div id="sacred">
	<div class="container">

		<div ng-include src="'views/parts/global/header.html'"></div>

		<div class="page sacred-card-config-page">

			<div class="page-header">
				<div class="row">
					<div class="col-10">
						<div class="title">Configuração de Cartões</div>
					</div>
				</div>
			</div>

			<div class="page-body">
				<div class="content">

					<div class="content-body">

					</div><!-- // form -->
				</div>
			</div>
		</div><!-- // page-body -->
	</div>
</div>
</div>