<style>
	.bar{
		min-height: 10px;
	}

</style>

<script type="text/javascript">

	

	var values = [
	{order:1,value:105,goal:200,name:'a'},
	{order:2,value:100,goal:70,name:'b'},
	{order:3,value:80,goal:600,name:'c'},
	{order:4,value:50,goal:56,name:'d'},
	{order:5,value:120,goal:120,name:'e'},
	{order:6,value:200,goal:210,name:'f'},
	{order:7,value:120,goal:100,name:'g'},
	{order:8,value:70,goal:79,name:'h'},
	{order:9,value:750,goal:244,name:'i'}
	];


	function gauge(values){

		var width = 100; 
		var height = 400;
		var topmargin = 40;

		var sum_values = d3.sum(values, function(d) {return d.value; });
		var sum_goals = d3.sum(values, function(d) {return d.goal; });

		var ref = 0;
		if(sum_values < sum_goals){
			ref = sum_goals;
		}else{
			ref = sum_values;
		}

		var y = d3.scale.linear().domain([ref,0]).range([height-topmargin, 0]);

		var canvas = d3.select('body').selectAll('div.gauge').append('svg')
		.attr('width', width)
		.attr('height', height);

		//this needs to be refactored. should be more dinamic....
		if(sum_values < sum_goals){
			drawGoal();
			drawSnapshot();

		}else{
			drawSnapshot();
			drawGoal();
		}

		function drawGoal(){
			var goal = canvas.selectAll('.goal')
			.data([sum_goals])
			.enter()
			.append('g')
			.attr('class', 'goal');

			goal.append('rect')
			.attr('x', 0 )
			.attr('y', height - y(sum_goals))
			.attr('width', width)
			.attr('height', y(sum_goals))
			.attr('fill', '#000');
		}

		function drawSnapshot(){

			var snapshot = canvas.selectAll('.snapshot')
			.data([sum_values])
			.enter()
			.append('g')
			.attr('class', 'snapshot');

			snapshot.append('rect')
			.attr('x', 0 )
			.attr('y', height - y(sum_values))
			.attr('width', width)
			.attr('height', y(sum_values))
			.attr('fill', '#f00');
		}
		
	}



	function histogram(values){

		var valuesByOrder = d3.nest().key(function(d){ return 'o'+d.order;}).map(values,d3.map);

		var width = 800; 
		var height = 400;
		var topMargin = 40;
		var leftMargin = 40;
		var bottomMargin = 40;
		var barWidth = 50;

		var chartWidth = width-leftMargin;
		var chartHeight = height-(topMargin+bottomMargin);

		// var x = d3.scale.linear().domain([0, chartWidth]).range([0, chartWidth]);
		var x = d3.scale.ordinal().domain(values.map(function(d){ return d.order;})).rangeRoundBands([leftMargin,width],0);
		var y = d3.scale.linear().domain([d3.max(values, function(d) { return d.value; }),0]).range([0,chartHeight]);

		var canvas = d3.select('body').selectAll('div.ddd').append('svg')
		.attr('width', width)
		.attr('height', height);

		var bars = canvas.selectAll('.bar')
		.data(values)
		.enter()
		.append('g')
		.attr("transform", "translate(0,"+topMargin+")")
		.attr('class', 'bar');

		bars.append('rect')
		.attr('x', function(d,i){  return ((i+1) * x.rangeBand())-(barWidth/2);  })
		.attr('y', function(d){ return y(d.goal); })
		.attr('width', barWidth)
		.attr('height', function(d){ return chartHeight-y(d.goal); })
		.attr('fill', 'steelblue');

		var lineMap = d3.svg.line()
		.x(function(d,i) { 
			return i*(chartWidth/values.length)+((chartWidth/values.length)/2); 
		})
		.y(function(d) { 
			return y(d.value);
		})

		var line = canvas.append("path")
		.attr("d", lineMap(values))
		.attr('stroke','#000')
		.attr('fill','none')
		.attr("transform", "translate("+leftMargin+","+topMargin+")");

		var yAxis =
		d3.svg.axis()
		.scale(y)
		.ticks(10)
		.orient("left");

		canvas.append("g")
		.attr("transform", "translate("+leftMargin+","+topMargin+")")
		.call(yAxis);

		canvas.selectAll("line.y")
		.data(y.ticks(10))
		.enter().append("line")
		.attr("class", "y")
		.attr("x1", leftMargin)
		.attr("x2", leftMargin + chartWidth)
		.attr("y1", function(d){ return y(d)+topMargin;})
		.attr("y2", function(d){ return y(d)+topMargin;})
		.style("stroke", "#ccc");

		var xAxis = d3.svg.axis().scale(x).orient("bottom").tickFormat(function(d){ return valuesByOrder.get('o'+d)[0].name});

		canvas.append("g")
		.attr("transform", "translate(0,"+(chartHeight+topMargin)+")")
		.call(xAxis);


	}


	gauge(values);
	histogram(values);




</script>

<div id="sacred">
	<div class="container">

		<div ng-include src="'views/parts/global/header.html'"></div>

		<div class="page sacred-bi-page">

			<div class="page-header">
				<div class="row">
					<div class="col-10">
						<div class="title">Análise de Desempenho - Equipe</div>
					</div>
					<div class="col-14">
						<div class="btn-group pull-right page-button" ng-init="ol='dashboard'">
							<a class="btn btn-option" ng-class="{active: ol=='demo'}" ng-click="ol='demo'">Demostrativo</a>
							<a class="btn btn-option" ng-class="{active: ol=='dashboard'}" ng-click="ol='orders'">Dashboard</a>	
						</div>
					</div>
				</div>
			</div>

			<div class="page-body">
				<div class="col-24">
					<div class="col-4">
						<div class="gauge">

						</div>
					</div>
					<div class="col-20">
						
						<div class="ddd">

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>