<div class="container ng-scope">

	<!-- HEADER -->
	<div class="row-fluid">
		<span class="span12"><span ng-include src="'views/parts/global/header.html'"></span></span>
	</div>

	<div class="form-stock">
    
		<div class="row-fluid pull-right panel-top">

			<!-- BREAD CRUMBS -->
			<div class="row-fluid bread-crumbs">
				<span class="span6">
					<span class="principal">Estoque</span> &nbsp;&gt;&nbsp; <span class="crumbs">situa&ccedil;&atilde;o em 
					<div class="space-stock-date"><input id="dt" type="text" placeholder="" show-weeks="false" class="date-field input-small stock-date" required readonly ng-model="productFilter.dtInitial"></div>
					<label for="dt" class="ic-calendar hover-state-pointer">
					<img class="ic-calendar hover-state-pointer calendar-stock" src="images/icons/ic-calendar.png"></label></span>
				</span>
				<span class="span6">
					<div class="float-right">
						<span class="menu-level">
							<div class="btn-group btn-group-sm" ng-init="selectedLevel='3'">
								<a class="btn btn-option" ng-class="{active: selectedLevel=='1'}" ng-click="selectedLevel='1'">N&iacute;vel 1</a> 
								<a class="btn btn-option" ng-class="{active: selectedLevel=='2'}" ng-click="selectedLevel='2'">N&iacute;vel 2</a> 
								<a class="btn btn-option" ng-class="{active: selectedLevel=='3'}" ng-click="selectedLevel='3'">N&iacute;vel 3</a> 
							</div>
						</span>
					</div>
				</span>
			</div>
				
		</div>	
		
		<div class="row-fluid data">
			<div class="details-stock-title margint0">
				<span class="span12">
					<span class="title-col-1">C&oacute;digo</span> &nbsp; <span class="title-col-2">Produto</span> &nbsp; <span class="title-col-3">Qtde.</span> &nbsp; <span class="title-col-4">Custo unit.</span> &nbsp; <span class="title-col-5">Custo total</span>
				</span>
			</div>
			<div class="details-stock-total margint0">
				<span class="span12">
					<span class="title-col-1">&nbsp;</span> &nbsp; 
					<span class="title-col-2">
						<input type="text" placeholder="Filtrar produto" class="date-field input-small stock-filter" ng-model="productFilter.text">
						<span class="float-right margin-r-5">Total Geral</span>
					</span> &nbsp;
					<span class="title-col-3">{{overallProducts.qty}}</span> &nbsp; 
					<span class="title-col-4 margin-l-4">{{overallProducts.avgCost | currency:''}}</span>&nbsp; 
					<span class="title-col-5">{{overallProducts.amount | currency:''}}</span>
				</span>
			</div>
		</div>
		
		<div class="scroll-stock">
			<div class="row-fluid data">
				<div class="details-stock-total margint0">
					<span class="span12">
						<span class="title-col-1">&nbsp;</span> &nbsp; <span class="title-col-2">PRODUTOS DISPON&Iacute;VEIS PARA VENDA<span class="float-right">Total</span></span> &nbsp; <span class="title-col-3">{{productsAvailable.total.qty}}</span> &nbsp; <span class="title-col-4">{{productsAvailable.total.avgCost | currency:''}}</span> &nbsp;<span class="title-col-5">{{productsAvailable.total.amount | currency:''}}</span>
					</span>
				</div>
			</div>
			<div class="row-fluid data">
				<div class="details-stock border">
					<span ng-repeat="session in productsAvailable.sessions">
						<div class="details-stock-subtitle" ng-show="selectedLevel>1">
							<span class="span12">
								<span class="title-col-1"></span> &nbsp; <span class="title-col-2">{{session.label}}<span class="float-right">Subtotal</span></span> &nbsp; <span class="title-col-3">{{session.total.qty}}</span> &nbsp; <span class="title-col-4">{{session.total.avgCost |currency:''}}</span> &nbsp; <span class="title-col-5">{{session.total.amount | currency:''}}</span>
							</span>
						</div>
						<span ng-repeat="line in session.lines " ng-show="selectedLevel>2">
							<div class="details-stock-category">
								<span class="span12">
									<span class="title-col-1"></span> &nbsp; <span class="title-col-2">{{line.label}}</span> &nbsp; <span class="title-col-3">{{line.total.qty}}</span> &nbsp; <span class="title-col-4">{{line.total.avgCost | currency:''}}</span> &nbsp; <span class="title-col-5 btn-price-payment">{{line.total.amount | currency:''}}</span>
								</span>
							</div>
							<span  ng-repeat="product in line.items" ng-show="selectedLevel>2">
								<div class="details-stock-item">
									<span class="span12">
										<span class="title-col-1">{{product.SKU}}</span> &nbsp; <span class="title-col-2">{{product.title}}</span> &nbsp; <span class="title-col-3">{{product.qty}}</span> &nbsp; <span class="title-col-4">{{product.price| currency:''}}</span> &nbsp; <span class="title-col-5 btn-price-payment">{{product.qty * product.price | currency:''}}</span>
									</span>
								</div>
							</span>
						</span>
					</span>
				</div>
			</div>
			<div class="row-fluid data">
				<div class="row-fluid data">
					<div class="details-stock-total margint0">
						<span class="span12">
							<span class="title-col-1">&nbsp;</span> &nbsp; <span class="title-col-2">PRODUTOS RESERVADOS PARA ENTREGA<span class="float-right">Total</span></span> &nbsp; <span class="title-col-3">{{productsReserved.total.qty}}</span> &nbsp; <span class="title-col-4">{{productsReserved.total.avgCost | currency:''}}</span> &nbsp;<span class="title-col-5">{{productsReserved.total.amount | currency:''}}</span>
						</span>
					</div>
				</div>
				<div class="row-fluid data">
					<div class="details-stock border">
						<span ng-repeat="session in productsReserved.sessions" ng-show="selectedLevel>1">
							<div class="details-stock-subtitle">
								<span class="span12">
									<span class="title-col-1"></span> &nbsp; <span class="title-col-2">{{session.label}}<span class="float-right">Subtotal</span></span> &nbsp; <span class="title-col-3">{{session.total.qty}}</span> &nbsp; <span class="title-col-4">{{session.total.avgCost | currency:''}}</span> &nbsp; <span class="title-col-5">{{session.total.amount | currency:''}}</span>
								</span>
							</div>
							<span ng-repeat="line in session.lines" ng-show="selectedLevel>2">
								<div class="details-stock-category">
									<span class="span12">
										<span class="title-col-1"></span> &nbsp; <span class="title-col-2">{{line.label}}</span> &nbsp; <span class="title-col-3">{{line.total.qty}}</span> &nbsp; <span class="title-col-4">{{line.total.avgCost | currency:''}}</span> &nbsp; <span class="title-col-5 btn-price-payment">{{line.total.amount | currency:''}}</span>
									</span>
								</div>
								<span  ng-repeat="product in line.items" ng-show="selectedLevel>2">
									<div class="details-stock-item">
										<span class="span12">
											<span class="title-col-1">{{product.SKU}}</span> &nbsp; <span class="title-col-2">{{product.title}}</span> &nbsp; <span class="title-col-3">{{product.qty}}</span> &nbsp; <span class="title-col-4">{{product.price| currency:''}}</span> &nbsp; <span class="title-col-5 btn-price-payment">{{product.qty * product.price | currency:''}}</span>
										</span>
									</div>
								</span>
							</span>
						</span>
					</div>
				</div>
			</div>
			<div class="row-fluid data">
				<div class="row-fluid data">
					<div class="details-stock-total margint0">
						<span class="span12">
							<span class="title-col-1">&nbsp;</span> &nbsp; <span class="title-col-2">PRODUTOS PENDENTES NO PEDIDO DE COMPRA<span class="float-right">Total</span></span> &nbsp; <span class="title-col-3">0</span> &nbsp; <span class="title-col-4">0,00</span> &nbsp;<span class="title-col-5">0,00</span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<br/>
	</div>
	<br/>
	</div>
	<br/>
</div>