<div class="container ng-scope" >

	<!-- HEADER -->
	<div class="row-fluid">
		<span class="span12"><span ng-include src="'views/parts/global/header.html'"></span></span>
	</div>
	
	<div class="form-order-list new-page">
    
		<div class="row-fluid pull-right panel-top">

			<!-- BREAD CRUMBS -->
			<div class="row-fluid bread-crumbs">
				<span class="span6">
					<span class="principal">Cupom promocional</span> &gt;
          <span ng-if="voucherSelected === 'new'" class="crumbs">Em aberto</span>
          <span ng-if="voucherSelected === 'hist'" class="crumbs">Hist&oacute;rico</span>
				</span>
				<span class="span6">
					<!--<div class="control-group lbl-top icons">
						<img src="images/icons/ic-add.png">
					</div>	
					<div class="control-group lbl-top icons">
						<img src="images/icons/ic-edit.png">
					</div>	
					<div class="control-group lbl-top icons">
						<img src="images/icons/ic-open.png">
					</div>	
					<div class="control-group lbl-top icons">
						<img src="images/icons/ic-search.png">
					</div>-->
					<div class="float-right">
						<span class="menu-level">
							<div class="btn-group btn-group-sm"  ng-init="voucherSelected='new'">
								<a class="btn btn-option" ng-click="voucherSelected='new'" ng-class="{active: voucherSelected === 'new'}">Em aberto</a> 
								<a class="btn btn-option" ng-click="voucherSelected='hist'" ng-class="{active: voucherSelected === 'hist'}">Hist&oacute;rico</a>
							</div>
						</span>
					</div>
				</span>
			</div>
				
		</div>		
	
		<div ng-switch="voucherSelected" style="height:100%;">	
		
			<!--EM ABERTO-->
			<div class="row-fluid" ng-switch-when="new" ng-controller="VoucherActiveCtrl" style="height:100%;">
			
				<!-- DATE INTERVAL -->
				<div class="row-fluid filter-bar">
				
					<span class="span4">			
						<div class="controls">
							<div class="control-group lbl-top">
								<div class="controls">
									Saldo em aberto <input id="dtIni" type="text" placeholder="" show-weeks="false" datepicker-popup="dd/MM/yyyy" class="date-field input-small"  required readonly ng-model="voucherFilter.date">
								</div>
							</div>
							<div class="control-group lbl-top">
								<span class="ic-calendar hover-state-pointer calendar-financial"><label for="dtIni" class="ic-calendar hover-state-pointer"><img src="images/icons/ic-calendar.png"></label></span>
							</div>	
						</div>				
					</span>
					
					<span class="span8 marginl7">				
						<div class="controls">
							<div class="control-group lbl-top">
								<input type="text" placeholder="Filtro" class="date-field input-small filter-voucher" ng-model="voucherFilter.value">
							</div>	
						</div>				
					</span>	
				</div>
				
				<div class="grid-voucher" style="height: calc(100% - 152px);">
					<div class="header header2 header-voucher">
						<div class="row-grid">
							<span class="col-s1">
								<div>Item</div>
							</span>
							<span class="col-s2">
								<div>Data</div>
							</span>
							<span class="col-s3">
								<div>Vale / Cupom</div>
							</span>
							<span class="col-s4">
								<div>Vlr. Total</div>
							</span>
							<span class="col-s5">
								<div>Cliente</div>
							</span>
						</div>
					</div>
					<div class="header header2 subtitle-header-voucher">
						<div class="row-grid">
							<span class="col-s1">
								<div>{{qtyTotal}}</div>
							</span>
							<span class="col-s2">
								<div>&nbsp;</div>
							</span>
							<span class="col-s3">
								<div></div>
							</span>
							<span class="col-s4">
								<div>{{priceTotal | currency: '' }}</div>
							</span>
							<span class="col-s5">
								<div><!--<input type="text" placeholder="Filtro cliente" class="date-field input-small" ng-model="filter.entity">--></div>
							</span>
						</div>
					</div>
					<div class="scroll-grid" style="height: calc(100% - 79px);overflow-y: scroll;overflow-x: hidden;">
						<div class="row-grid-product-voucher" style="border-bottom: 1px dotted #666;min-height:42px;" ng-repeat="voucher in filteredVouchers | orderBy:'-created'">
							<span class="col-s1">
								<div>{{$index+1}}</div>
							</span>
							<span class="col-s2">
								<div>{{voucher.created | date:'dd/MM/yyyy'}}</div>
							</span>
							<span class="col-s3">
								<div>{{voucher.type}}</div>
							</span>
							<span class="col-s4">
								<div>{{voucher.amount | currency: ''}}</div>
							</span>
							<span class="col-s5">
								<div>{{voucher.entity}}</div>
							</span>
						</div>
					</div>
				</div>	
					
				<br/>			
			</div>
			
			<!--HISTORICO-->
			
			<div class="row-fluid" ng-switch-when="hist" ng-controller="VoucherHistoricCtrl" style="height: calc(100% - 15px);">
			
				<!-- DATE INTERVAL -->
				<div class="row-fluid filter-bar">
				
					<span class="span3">			
						<div class="controls">
							<div class="control-group lbl-top">
								<div class="controls">
									Per&iacute;odo <input id="dtIni" type="text" placeholder="" show-weeks="false" datepicker-popup="dd/MM/yyyy" class="date-field input-small" readonly required ng-model="historicVoucher.dtInitial">
								</div>
							</div>
							<div class="control-group lbl-top">
								<span class="ic-calendar hover-state-pointer calendar-financial"><label for="dtIni" class="ic-calendar hover-state-pointer"><img src="images/icons/ic-calendar.png"></label></span>
							</div>	
						</div>				
					</span>
					
					<span class="span3 marginl7">				
						<div class="controls">
							<div class="control-group lbl-top">
								<div class="controls">
									<input id="dtFin" type="text" placeholder="" show-weeks="false" datepicker-popup="dd/MM/yyyy" class="date-field input-small" readonly required min="historicVoucher.dtInitial" ng-model="historicVoucher.dtFinal">
								</div>
							</div>
							<div class="control-group lbl-top">
								<span class="ic-calendar hover-state-pointer calendar-financial"><label for="dtFin" class="ic-calendar hover-state-pointer"><img src="images/icons/ic-calendar.png"></label></span>
							</div>	
						</div>				
					</span>					
					
					<span class="span6 marginln">				
						<div class="controls">
							<div class="control-group lbl-top">
								<input type="text" placeholder="Filtro" class="date-field input-small filter-voucher" ng-model="historicVoucher.value">
							</div>	
						</div>				
					</span>	
				
				</div>
				<br/>
					
				<!--<div class="controls-row">
					<div class="control-group lbl-top">
						<select ui-select2 name="product" class="combo-width-product-voucher voucher-fields1" ng-model="voucher.productId" ng-click="setAmount(voucher.productId)">								
							<option value="">Cliente</option>
							<option ng-repeat="product in products" value="{{product.id}}">{{product.title}}</option>
						</select>
					</div>
					<div class="control-group lbl-top">
						<select ui-select2 name="product" class="combo-width-product-voucher voucher-fields2" ng-model="voucher.productId" ng-click="setAmount(voucher.productId)">								
							<option value="">Status</option>
							<option ng-repeat="product in products" value="{{product.id}}">{{product.title}}</option>
						</select>
					</div>
				</div>
				<br/>-->
			
				<form style="height: calc(100% - 141px);">
					<div class="controls-row" style="height: 100%;">
						<div class="control-group lbl-top" style="height: 100%;">				   
							<div class="grid-voucher-history" style="height: 100%;">
								<div class="header header2 header-voucher" >
									<div class="row-grid">
										<span class="col-s1">
											<div>Data</div>
										</span>
										<span class="col-s2">
											<div>Vale/Cupom</div>
										</span>
										<span class="col-s3" style="width: 149px;">
											<div>Cr&eacute;dito/D&eacute;bito</div>
										</span>
										<span class="col-s4">
											Vlr. Total
										</span>
										<span class="col-s5">
											Cliente
										</span>
									</div>
								</div>
								<div class="scroll-grid" style="height: calc(100% - 34px);overflow-y: scroll;overflow-x: hidden;">
									<div class="row-grid-product-voucher" style="border-bottom: 1px dotted #666; min-height:42px;" ng-repeat="voucher in historicVouchers | orderBy:'-created'">
										<span class="col-s1">
											<div>{{voucher.created | date:'dd/MM/yyyy'}}</div>
										</span>
										<span class="col-s2">
											<div>
												{{voucher.type}}
											</div>
										</span>
										<span class="col-s3" style="width: 148px;">
                      							{{isRedeemed(voucher) ? 'Débito' : isCanceled(voucher) ? 'Cancelado' : 'Crédito'}}
										</span>
										<span class="col-s4">
											{{voucher.amount | currency:''}}
										</span>
										<span class="col-s5">
											{{voucher.entity}}
										</span>
									</div>
								</div>
							</div>				
						</div>
						
					</div>
					
				</form>
				
			</div>
			
		</div>
	</div>
	
</div>
