<div class="container">
	<!-- HEADER -->
	<div class="row-fluid">
		<span ng-include src="'views/parts/global/header.html'"></span>
	</div>

	<div class="new-page warm-up">

		<div class="new-header row-fluid">
			<div class="span6"> 
				<div class="title">
					<div class="name">Saldo Inicial</div>
					<div class="new-calendar">
						<input id="date" type="text" placeholder="" show-weeks="false" datepicker-popup="dd/MM/yyyy" class="date-field input-small w75" ng-disabled="dtIniDisabled" required readonly maxlength="10" ng-model="date.value">
						<label for="date" class="ic-calendar">
							<img src="images/icons/ic-calendar.png">
						</label>
					</div>
				</div>
			</div> 
			<div class="span6">
				<div class="btn-group btn-group-sm pull-right" ng-init="ol='balance'">
					<a class="btn btn-option" ng-class="{active: ol=='balance'}" ng-click="ol='balance'">Saldo</a>
        			<a class="btn btn-option" ng-class="{active: ol=='stock'}" ng-click="ol='stock'">Estoque</a>
        			<a class="btn btn-option" ng-class="{active: ol=='third'}" ng-click="ol='third'">Terceiros</a>
				</div>
			</div>
		</div>

		<div class="warm-up-body">
			<div class="warm-up-finances-part" ng-controller="BalanceWarmupCtrl" ng-show="ol=='balance'" ng-include src="'views/parts/warm-up/warm-up-finances.html'"></div>
			<div class="warm-up-stock-part" ng-show="ol=='stock'" ng-include src="'views/parts/warm-up/warm-up-stock.html'"></div>
			<div class="warm-up-third-part" fast-click ng-controller="ThirdPartyCtrl" ng-show="ol=='third'" ng-include src="'views/parts/warm-up/warm-up-third.html'"></div>

			<!-- <div class="row-fluid">
				<div class="span12">
					<div class="new-calendar">
						<div class="text-over">Data</div>
						<input id="date" type="text" placeholder="" show-weeks="false" datepicker-popup="dd/MM/yyyy" class="date-field input-small w75 ng-pristine ng-valid ng-valid-required" ng-disabled="dtIniDisabled" required readonly maxlength="10" ng-model="dtFilter.date">
						<label for="date" class="ic-calendar">
							<img src="images/icons/ic-calendar.png">
						</label>
					</div>
				</div>
			</div>
			<div class="new-scrollpanel">
				<div class="warm-up-section">
					<div class="row-fluid">
						<div class="warm-up-body-header">
							<div class="new-col-5">Caixa Geral</div>
							<div class="new-col-14">&nbsp;</div>
              <div class="new-col-4 currency">{{balance.total | currency:'R$'}}</span></div>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span12">
							<div class="warm-up-body-row">
								<div class="new-col-18">Caixa</div>

								<div class="new-col-6">
									<input class="input-block-level currency" type="text" placeholder="">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="warm-up-section">
					<div class="row-fluid">
						<div class="warm-up-body-header">
							<div class="new-col-5">Cheque <small>(3)</small></div>
							<div class="new-col-14">&nbsp;</div>
							<div class="new-col-4 currency">R$ 20.000,00</div>
							<div class="new-col-1"></div>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span12">
							<div class="warm-up-body-row">
								<div class="new-col-5">Banco do Brasil</div>
								<div class="new-col-3">ag. 3262-x</div>
								<div class="new-col-3">cc 11.255-7</div>
								<div class="new-col-4">venc. 25/03/2014</div>
								<div class="new-col-4">de: Albert Einstein</div>
								<div class="new-col-4 currency">12.005,00</div>
								<div class="new-col-1"><img class="close-button" src="images/del-pink.png" alt=""></div>
							</div>
						</div>
					</div>
					<div class="row-fluid" ng-show="true">
						<div class="span12">
							<div class="warm-up-body-row-form">
								<div class="new-col-5">
									<label>Banco</label>
									<select ui-select2 data-placeholder="Selecione o Banco" ng-model="bankId" tnt-select2 >
										<option value="">Selecione o Banco</option>
										<option value="{{bank.id}}" ng-repeat="bank in banks">{{bank.name}}</option>
									</select>
								</div>
								<div class="new-col-3">
									<label>Agência</label>
									<input class="input-block-level " type="text" placeholder="">
								</div>
								<div class="new-col-3">
									<label>Conta Corrente</label>
									<input class="input-block-level " type="text" placeholder="">
								</div>
								<div class="new-col-4">
									<label>Data de Venciamento</label>
									<div class="warm-up-calendar"> 
										<input id="dtx" type="text" placeholder="" show-weeks="false" datepicker-popup="dd/MM/yyyy" class="date-field input-small" required="" readonly="" maxlength="10" ng-model="dateFilter.dtInitial">
										
									</div>
								</div>
								<div class="new-col-4">
									<label>Cliente</label>
									<input class="input-block-level " type="text" placeholder="">
								</div>
								<div class="new-col-4">
									<label>Valor</label>
									<input class="input-block-level currency" type="text" placeholder="">
								</div>
								<div class="new-col-1">
								</div>
								<div class="warm-up-btn-holder">
									<button class="btn btn-ok btn-small pull-right">Adicionar</button>
									<button class="btn btn-cancel btn-small pull-right">Cancelar</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="warm-up-section">
					<div class="row-fluid">
						<div class="warm-up-body-header">
							<div class="new-col-5">Banco Conta Corrente <small>(3)</small></div>
							<div class="new-col-14">&nbsp;</div>
							<div class="new-col-4 currency">R$ 20.000,00</div>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span12">
							<div class="warm-up-body-row">
								<div class="new-col-5">Banco do Brasil</div>
								<div class="new-col-6">ag. 3262-x</div>
								<div class="new-col-6">cc 11566-9</div>
								<div class="new-col-6 currency">125,00</div>
								<div class="new-col-1"><img class="close-button" src="images/del-pink.png" alt=""></div>
							</div>
						</div>
					</div>
					<div class="row-fluid" ng-show="true">
						<div class="span12">
							<div class="warm-up-body-row-form">
								<div class="new-col-5">
									<label>Banco</label>
									<select ui-select2 data-placeholder="Selecione o Banco" ng-model="bankId" tnt-select2 >
										<option value="">Selecione o Banco</option>
										<option value="{{bank.id}}" ng-repeat="bank in banks">{{bank.name}}</option>
									</select>
								</div>
								<div class="new-col-6">
									<label>Agência</label>
									<input class="input-block-level" type="text" placeholder="">
								</div>
								<div class="new-col-6">
									<label>Conta Corrente</label>
									<input class="input-block-level" type="text" placeholder="">
								</div>
								<div class="new-col-6">
									<label>Valor</label>
									<input class="input-block-level currency" type="text" placeholder="">
								</div>
								<div class="warm-up-btn-holder">
									<button class="btn btn-ok btn-small pull-right">Adicionar</button>
									<button class="btn btn-cancel btn-small pull-right">Cancelar</button>
								</div>
							</div>
						</div>
					</div>

					<div class="row-fluid" ng-show="false">
						<button class="btn btn-ok btn-small pull-right">Adicionar</button>
					</div>
				</div>

				<div class="warm-up-section">
					<div class="row-fluid">
						<div class="warm-up-body-header">
							<div class="new-col-5">Banco Aplicações <small>(3)</small></div>
							<div class="new-col-14">&nbsp;</div>
							<div class="new-col-4 currency">R$ 20.000,00</div>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span12">
							<div class="warm-up-body-row">
								<div class="new-col-5">Banco do Brasil</div>
								<div class="new-col-12">Poupança</div>
								<div class="new-col-6 currency">12.005,00</div>
								<div class="new-col-1"><img class="close-button" src="images/del-pink.png" alt=""></div>
							</div>
						</div>
					</div>
					<div class="row-fluid" ng-show="true">
						<div class="span12">
							<div class="warm-up-body-row-form">
								<div class="new-col-5">
									<label>Banco</label>
									<select ui-select2 data-placeholder="Selecione o Banco" ng-model="bankId" tnt-select2 >
										<option value="">Selecione o Banco</option>
										<option value="{{bank.id}}" ng-repeat="bank in banks">{{bank.name}}</option>
									</select>
								</div>
								<div class="new-col-12">
									<label>Aplicação</label>
									<input class="input-block-level" type="text" placeholder="">
								</div>
								<div class="new-col-6">
									<label>Valor</label>
									<input class="input-block-level currency" type="text" placeholder="">
								</div>
								<div class="warm-up-btn-holder">
									<button class="btn btn-ok btn-small pull-right">Adicionar</button>
									<button class="btn btn-cancel btn-small pull-right">Cancelar</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>
