<div class="step1 product-to-buy-order-part" fast-click>   

    <span class="menu-level-products-to-buy">
        <div class="btn-group btn-group-sm" ng-init="selectedSession='1'">
            <a class="btn btn-option" ng-class="{active: selectedSession=='1'}" ng-click="selectedSession='1'" >Se&ccedil;&atilde;o 1</a> 
            <a class="btn btn-option" ng-class="{active: selectedSession=='2'}" ng-click="selectedSession='2'">Se&ccedil;&atilde;o 2</a> 
        </div>
    </span>             

    <span class="menu-level-products-to-buy float-right">
        <div class="btn-group btn-group-sm">
            <a class="btn btn-option" ng-class="{active: selectedLevel==1}" ng-click="showLevel(1)">N&iacute;vel 1</a>
            <a class="btn btn-option" ng-class="{active: selectedLevel==2}" ng-click="showLevel(2)">N&iacute;vel 2</a>
            <a class="btn btn-option" ng-class="{active: selectedLevel==3}" ng-click="showLevel(3)">N&iacute;vel 3</a>
        </div>
    </span>


    <div class="row-fluid">
        <div class="new-body-header details-title">
            <span class="product-header-order">Produto/C&oacute;digo</span>
            <span class="outros-header-order text-center">Pts.</span>
            <span class="outros-header-order currency">P.Unit</span>
            <span class="outros-header-order text-center">Qtde m&iacute;n.</span>
            <span class="pedido-header-order text-center">Pedido</span>
        </div>
    </div>

    <div class="row-fluid">
        <div class="new-body-row details-total fixed-line">
            <span class="product-header-order">
                <input type="text" placeholder="Filtrar produto" class="date-field input-small products-to-buy-filter closeimg" ng-click="clearFilter()" ng-model="productFilter.text">
            </span>
            <span class="outros-header-order text-center">Se&ccedil;&atilde;o {{selectedSession}}</span>
            <span class="outros-header-order currency">&nbsp;</span>
            <span class="outros-header-order text-center">&nbsp;</span>
            <span class="pedido-header-order text-center">&nbsp;</span>
        </div>
    </div>

    <div class="new-scrollpanel" ng-show="selectedSession=='1'">
        <span ng-repeat="session in main.stockReport.sessions" ng-if="!session.hide">

            <div class="row-fluid" ng-click="toggleSession(session)">
                <div class="new-body-row details-subtitle">
                    <span class="product-order">{{session.label}}</span>
                    <span class="outros-header-order text-center">{{summary.total.sessions[session.label].pts}}</span>
                    <span class="outros-header-order currency">{{summary.total.sessions[session.label].avg | currency:''}}</span>
                    <span class="outros-header-order text-center">{{summary.total.sessions[session.label].minQty}}</span>
                    <span class="pedido-header-order text-center">{{summary.total.sessions[session.label].orderQty}}</span>
                </div>
            </div>

            <span ng-repeat="line in session.lines" ng-if="!line.hide">
                <div class="row-fluid" ng-click="toggleLine(line)">
                    <div class="new-body-row details-category">
                        <span class="product-order">{{line.label}}</span>
                        <span class="outros-header-order text-center">{{summary.total.sessions[session.label].lines[line.label].pts}}</span>
                        <span class="outros-header-order currency">{{summary.total.sessions[session.label].lines[line.label].avg | currency:''}}</span>
                        <span class="outros-header-order text-center">{{summary.total.sessions[session.label].lines[line.label].minQty}}</span>
                        <span class="pedido-header-order text-center">{{summary.total.sessions[session.label].lines[line.label].orderQty}}</span>
                    </div>
                </div>
                <div class="row-fluid" ng-repeat="product in line.items" ng-if="!product.hide">
                    <div class="new-body-row details-item">
                        <span class="product-order">
                            {{product.title}}
                            <div class="code-product" once-text="product.uniqueName"></div>
                        </span>
                        <span class="outros-header-order text-center" once-text="product.points"></span>
                        <span class="outros-header-order currency" once-text="product.cost | currency: ''"></span>
                        <span class="outros-header-order text-center" once-text="product.minQty"></span>
                        <span class="pedido-header-order text-center">
                            <tnt-number-picker ng-model="purchaseOrder.watchedQty[product.id]" min="0"></tnt-number-picker>
                        </span>
                    </div>
                </div>
            </span>
        </span>
    </div><!--// new-scrollpanel -->
</div>