<div class="step0 product-to-buy-list-part">
	
    <div class="row-fluid">
        <div class="new-body-header details-title ">
            <span class="new-col-3">Data</span>
            <span class="new-col-3">Hora</span>
            <span class="new-col-10">C&oacute;digo do Pedido</span>
            <span class="new-col-2 text-center">Pts.</span>
            <span class="new-col-3 currency">Valor</span>
            <span class="new-col-3 text-center">Status</span>
        </div>
    </div>

    <div class="new-scrollpanel">

 		<div class="row-fluid">
            <div class="new-body-row" ng-repeat="purchaseOrder in stashedPurchaseOrders">
                <span class="new-col-3">purchaseOrder.update | date:'dd/MM/yyyy'</span>
                <span class="new-col-3">purchaseOrder.update | date:'hh:mm'</span>
                <span class="new-col-10"> purchaseOrder | uuidCode</span>
                <span class="new-col-2 text-center">purchaseOrder.points</span>
                <span class="new-col-3 currency">purchaseOrder.amount | currency</span>
                <span class="new-col-3 text-center">Salvo</span>
            </div>
        </div>

    </div><!--// new-scrollpanel -->

    <div class="new-btn-holder">
        <div class="btn-group btn-group-sm pull-right">
            <button class="btn btn-ok" type="submit" ng-click="newPurchaseOrder()">Novo Pedido</button>
        </div>
    </div>
</div>