<div class="purchase-order-pending-products-part">

	<div class="row-fluid">
		<div class="new-body-header scroll-title-compensator details-title">
			<span class="new-col-3">Data</span>
			<span class="new-col-3">Pedido</span>
			<span class="new-col-10">Produto/C&oacute;digo</span>
			<span class="new-col-2 text-center">Pts.</span>
			<span class="new-col-3 currency">P.Unit</span>
			<span class="new-col-3 text-center">Pend./Qtde.</span>
		</div>
	</div>

	<div class="new-scrollpanel"> 
		
		<div ng-repeat="purchaseOrder in pending.purchaseOrders">
			<span ng-repeat="item in purchaseOrder.items">
				<div class="row-fluid">
					<div class="new-body-row products-to-buy-pending-part-line">
						<span class="new-col-3">{{purchaseOrder.created | date:'dd/MM/yyyy'}}</span>
						<span class="new-col-3">{{purchaseOrder | uuidCode}}</span>
						<span class="new-col-10">
							{{item.title}}
							<div class="small-text">{{item.uniqueName}}</div>
						</span>
						<span class="new-col-2 text-center">{{item.points}}</span>
						<span class="new-col-3 currency">{{item.price | currency: ''}}</span>
						<span class="new-col-3 text-center">{{item.qty}}</span>
					</div>
				</div>
			</span>
		</div>

	</div>
	
</div>