<div class="content-body purchase-order-confirm-part">

    <div class="grid grid-stock">

        <div class="grid-header">
            <div class="row">
                <div class="col-11">Produto/C&oacute;digo</div>
                <div class="col-3 text-center">Pts.</div>
                <div class="col-3 currency">P.Unit</div>
                <div class="col-4 text-center">Qtde m&iacute;n.</div>
                <div class="col-3 text-center">Pedido</div>
            </div>
        </div>

        <div class="grid-body grid-scroll">
            <div ng-repeat="session in confirmedProducts.sessions">
                <div class="second-line">
                    <div class="row">
                        <div class="col-24">{{session.label}}</div>
                    </div>
                </div>

                <div ng-repeat="line in session.lines">
                    <div class="third-line">
                        <div class="row">
                            <div class="col-24">{{line.label}}</div>
                        </div>
                    </div>
                    <div ng-repeat="product in line.items">
                        <div class="fourth-line">
                            <div class="row">
                                <div class="col-11">
                                    {{product.title}}
                                    <div class="code-product">{{product.uniqueName}}</div>
                                </div>
                                <div class="col-3 text-center">{{product.points}}</div>
                                <div class="col-3 currency">{{product.price | currency:''}}</div>
                                <div class="col-4 text-center">{{product.minQty}}</div>
                                <div class="col-3 text-center">{{product.qty}}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>