<div class="right-holder">
	<div class="discount-notice">
		<div ng-show="summary.nextDiscount.amount !== 0">
			Faltam <strong>{{summary.nextDiscount.amount | currency:'R$ '}}</strong> para o desconto de <strong>{{summary.nextDiscount.fee}}%</strong>
		</div>
		<div ng-hide="summary.nextDiscount.amount !== 0">
			<b>Voc&ecirc; atingiu o desconto m&aacute;ximo</b>
		</div>
	</div>
</div>

<div class="right-holder">
	<div class="content">

		<div class="title">Se&ccedil;&atilde;o 1</div>

		<div class="itens">
			<div class="item">
				<div class="row">
					<div class="col-14">
						<div class="tag">Valor da compra</div>
					</div>
					<div class="col-10">
						<div class="value">{{summary.total.amount | currency: ' '}}</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="row">
					<div class="col-14">
						<div class="tag">Percentual de desconto</div>
					</div>
					<div class="col-10">
						<div class="value">{{summary.discount.fee | currency: ''}}</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="row">
					<div class="col-14">
						<div class="tag">Valor com desconto</div>
					</div>
					<div class="col-10">
						<div class="value">{{summary.total.amountWithDiscount | currency:' '}}</div>
					</div>
				</div>				
			</div>
			<div class="item">
				<div class="row">
					<div class="col-14">
						<div class="tag">Total de pontos</div>
					</div>
					<div class="col-10">
						<div class="value">{{summary.total.points}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="right-holder">
	<div class="content">

		<div class="title">Se&ccedil;&atilde;o 2</div>

		<div class="item">
			<div class="row">
				<div class="col-14">
					<div class="tag">Valor da compra</div>
				</div>
				<div class="col-10">
					<div class="value">{{summary.total.amount2 | currency: ' '}}</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="right-holder">
	<div class="content">

		<div class="title">Total se&ccedil;&atilde;o 1 e 2</div>

		<div class="item">
			<div class="row">
				<div class="col-14">
					<div class="tag">Valor total da compra</div>
				</div>
				<div class="col-10">
					<div class="value">{{summary.total.amount | currency:' '}}</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="row">
				<div class="col-14">
					<div class="tag">Valor de frete</div>
				</div>
				<div class="col-10">
					<div class="value">{{summary.freight.amount | currency:' '}}</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="row">
				<div class="col-14">
					<div class="tag">SD dispon&iacute;vel (cr&eacute;dito)</div>
				</div>
				<div class="col-10">
					<div class="value">0,00</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="row">
				<div class="col-14">
					<div class="tag">Subtotal</div>
				</div>
				<div class="col-10">
					<div class="value">{{summary.total.amountWithDiscount | currency:' '}}</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="row">
				<div class="col-14">
					<div class="tag">Total do pedido</div>
				</div>
				<div class="col-10">
					<div class="value">{{summary.total.amountWithDiscount | currency:' '}}</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-show="tabs.selected=='new'">			
	<button class="btn btn-ok float-right" type="submit" ng-disabled="!hasItems()" ng-click="selectTab('confirm')">Prosseguir</button>
</div>

<div ng-show="tabs.selected=='confirm'">			
	<button class="btn btn-cancel" type="submit" ng-click="selectTab('new')">Voltar</button>
	<spinner-button class=" new-button-force-payment-confirm-size btn btn-ok float-right" type="submit" spinner-promise="confirm()" ng-disabled="!hasItems()">Confirmar</spinner-button>
</div>