<div class="line-01">
    <span class="title-catalog-1" ng-class="style">{{line.name}}</span>
    <span class="col-left">
        <product-display product="product" color="color" ng-repeat="product in left"></product-display>
    </span>
    <span class="col-right">
        <product-display product="product" color="color" ng-repeat="product in right"></product-display>
    </span>

    <!--<div class="swiper-container product-swiper">-->
        <!--<div class="swiper-wrapper">-->

            <!--<div class="swiper-slide" ng-repeat="product in left">-->
                <!--<product-display product="product" color="color" ></product-display>-->
            <!--</div>-->

            <!--<div class="swiper-slide" ng-repeat="product in right">-->
                <!--<product-display product="product" color="color" ></product-display>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->

</div>
